[2020-09-17 19:16] ligiabernardet commented on #190
@llpcarson do you have a failed chgres cube that we can use to check a) namelist and b) GRIB2 inventory ./chgres.inv?

@uturuncoglu I confirm that we also have a failure of chgres_cube C768 on Orion.
Results from other platforms:
- Jet: C768 passed (only 1 run tested - it takes more than a day in the queue due to reservations, so hard to do many runs)
- Hera: C768 passed (only 1 run tested)
- Orio

[2020-09-17 19:38] llpcarson commented on #190
There's a set of cases on cheyenne
here:  /glade/scratch/carson/ufs/mrw.test/stack/

Fails:  SMS_Lh3_D.C768.GFSv16beta.cheyenne_intel.20200915_090650_qga1v1/run/

Runs:  SMS_Lh3_D.C768.GFSv15p2.cheyenne_intel.20200915_090650_qga1v1/run/

Both chgres.inv files are identical.  Both namelist files are identical.

Laurie

On Thu, Sep 17, 2020 at 1:16 PM ligiabernardet <notifications@github.com>
wrote:

[2020-09-17 19:50] uturuncoglu commented on #190
@ligiabernardet thanks for the update. I am not sure the where the source of problem. While we have also running cases, I am suspecting from chgres and it might have memory leak etc.

[2020-09-17 19:51] ligiabernardet commented on #190
@GeorgeGayno-NOAA @climbfuji @uturuncoglu @arunchawla-NOAA @climbfuji @rsdunlapiv @llpcarson Do we have any other hypothesis or idea of what to try to get chgres_cube to work in CIME consistently?

Cheyenne: Occasional crashes of chgres_cube C768 when reading GRB2 file
Jet: C768 passed (only 1 run tested - it takes more than a day in the queue due to reservations, so hard to do many runs)
Hera: C7

[2020-09-17 20:05] GeorgeGayno-NOAA commented on #190
Is it always failing at the same spot (model_grid.F90 line 640)?  And the failure is random?  Do the RT tests run in sequence or simultaneously?

[2020-09-18 03:32] ligiabernardet opened #198 "Retag UFS Weather Model after fix to CCPP"
Testing for a Docker container revealed that some systems using Python 3 abort during the ccpp_prebuild.py call. A fix was already in the CCPP master branch but will be brought to the release branch (https://github.com/NCAR/ccpp-physics/pull/499). After this, the fv3atm and ufs-weather-model will have to be retagged.

[2020-09-18 13:33] climbfuji commented on #190
@ligiabernardet @GeorgeGayno-NOAA @climbfuji @uturuncoglu @arunchawla-NOAA @jedwards4b @rsdunlapiv @llpcarson

I just got a successful run of all regression tests on Cheyenne with Intel. This is what I did:
- revert back from Intel 19.0.5 to Intel 18.0.5 (because we did not see any problems on hera and jet, which use Intel 18)
- removed a whole bunch of stuff from the CIME UFS config that was ther

[2020-09-18 14:18] climbfuji commented on #190
Ok, here we go ... just got one failure with Intel 18.0.5 on Cheyenne in my second round of tests (when running both Intel and GNU tests with the same command). Super annoying. Will see how the rest works out.

[2020-09-18 14:19] climbfuji commented on #190
@uturuncoglu is there a way to force the tests to run serially, i.e. only one regression test running at a time?

[2020-09-18 14:35] climbfuji commented on #190
@uturuncoglu another question, how do I change the default MPI job size for chgres in cime? I want the regression tests to run on a different number of nodes with a different number of tasks per node, still 36 tasks in total for C768. Thanks ...

[2020-09-18 15:33] ligiabernardet opened #199 "UFS MRW App v1.1 User's Guide ready to review"
The [User's Guide](https://ufs-mrweather-app.readthedocs.io/en/latest/index.html) is complete except for Chapter 6 (regression tests - which will be enhanced in the next few days). Pls report any problems.
@pjpegion @llpcarson @panll @uturuncoglu @rsdunlapiv @mvertens @arunchawla-NOAA

[2020-09-18 15:49] ligiabernardet commented on #164
The GST has been tested by a couple of people (Ligia on Cheyenne and Cecelia on Stampede) and is functioning well with the updated instructions in the wiki to download-build-run the code. In coordination with Henrique Alves (co-chair of the UFS C&O WG) and Donald Long (GST lead working with the UFS C&O WG), it was decided to remove the GST instructions from the wiki and host them in the UFS Portal

[2020-09-18 15:49] #164 closed

[2020-09-18 17:39] climbfuji commented on #190
@jedwards4b Ufuk seems to be out or busy today, can you answer my basic questions in https://github.com/ufs-community/ufs-mrweather-app/issues/190#issuecomment-694896791 and https://github.com/ufs-community/ufs-mrweather-app/issues/190#issuecomment-694906314 by any chance? Thanks ...

[2020-09-18 19:06] mvertens commented on #190
Ufuk will be back this afternoon. He was on PTO this morning.

On Fri, Sep 18, 2020 at 11:40 AM Dom Heinzeller <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-09-18 19:08] jedwards4b commented on #190
Default job size and pelayout are set in  [config_workflow.xml](https://github.com/ESMCI/cime/blob/master/config/ufs/machines/config_workflow.xml#L55)

You can run an individual test by naming that test on the create_test command line, for example:
./create_test SMS_Lh3_D.C768.GFSv15p2.cheyenne_intel --workflow ufs-mrweather_wo_post

[2020-09-18 19:08] uturuncoglu commented on #190
@uturuncoglu i am back. I am not sure about that. They are just building and submitting to the queue. Maybe the submission script can be sourced to create dependency between them but I am not sure it is currently supported and also if one of them fails the dependent jobs also killed. @jedwards4b is there any way to run the test one by one.

[2020-09-18 19:09] uturuncoglu commented on #190
@climbfuji yomu could change number of processor of CHGRES with

./xmlchange task_count=144 --subgroup case.chgres

but don't forget to run ./preview_namelist after it.

[2020-09-18 19:30] uturuncoglu commented on #190
@climbfuji BTW, i don't think the compiler version is the problem. We are seeing similar issue in different platforms. Again, it could be a memory leak or something else in the CHGRES part. Did you have a change to look at it?

[2020-09-18 19:59] climbfuji commented on #190
I am looking, yes. The Intel 18 test is because we don't see any issues on stampede, hera and jet (all Intel 18), but on Orion (Intel 19). I just got another successful pass through the regression tests on Cheyenne with Intel 18, using 3*12 tasks for chgres_cube.exe instead of 6*6. I'll repeat this a few times to check if this is not yet another red herring.

[2020-09-18 20:02] uturuncoglu commented on #190
@climbfuji but if I understand correctly you got error with Intel 18 on Cheyenne also. So, we have still problem in here and it could lead to a failure in MR app. If you need to change from 6*6 to 3*12 it is very easy and I could make the required changes under buildnml.

[2020-09-18 20:03] climbfuji commented on #190
This formatting in GitHub ... I know, I changed buildnml to use 3 times 12 instead of 6 times 6 tasks.

[2020-09-18 22:51] climbfuji commented on #190
Ok, I got one successful pass through all Intel tests with this configuration. Will launch a few more over the weekend with both Intel and GNU.

[2020-09-22 12:07] climbfuji opened #200 "Update externals to address chgres_cube.exe problems on cheyenne and orion (and possibly gaea)"
Downgrading the Intel compiler from 19.x.y to 18.m.n, removing all sorts of unnecessary/incorrect (for the UFS) setttings for Cheyenne in CIME and adjusting the number of nodes and tasks per node for `case.chgres` fixes the segmentation faults of `chgres_cube.exe` that we got on Cheyenne.

This was tested by running the UFS MRWeather App regression test suite five times in a row over the weekend o

[2020-09-22 12:08] climbfuji commented on #200
@ligiabernardet @uturuncoglu @panll @jedwards4b please help me to push the changes that fix the `chgres_cube.exe` problem across the finish line.

[2020-09-22 15:25] uturuncoglu commented on #200
@climbfuji please see my comment on the https://github.com/ESCOMP/FV3GFS_interface/pull/12

[2020-09-22 15:56] ligiabernardet commented on #198
@climbfuji has added this fix to the release/public-v1 branch of ccpp-physics. New tags have been created for ccpp-physics, fv3atm, and the ufs-weather-model.

[2020-09-22 15:56] #198 closed

[2020-09-22 16:12] ligiabernardet commented on #197
This has been done.

[2020-09-22 16:12] #197 closed

[2020-09-22 16:14] ligiabernardet commented on #200
@climbfuji During your tests performed after these updates, did you experience any compilation problems such as the one reported in https://github.com/ufs-community/ufs-mrweather-app/issues/169?

[2020-09-22 16:39] climbfuji commented on #200
No, those were gone after @uturuncoglu reverted to the MRW 1.0 buildlib.

[2020-09-22 16:44] uturuncoglu commented on #200
@climbfuji @ligiabernardet i merged the PR. Do you want me to make a PR for the app?

[2020-09-22 16:44] ligiabernardet commented on #169
This problem stopped happening after @uturuncoglu reverted to the MRW 1.0 buildlib.

[2020-09-22 16:44] #169 closed

[2020-09-22 16:45] climbfuji commented on #200
We need to update CIME as well. Maybe create tags for all submodules = externals that don't have them yet (CIME, fv3gfs_interface, NEMS_interface). Then update `Externals.cfg`?

[2020-09-22 16:47] climbfuji commented on #200
Update 20200922/1: the FV3GFS_Interface was merged, the new hash to use (in form of a tag?) in the MRW App is:
[code]

[2020-09-22 16:48] uturuncoglu commented on #200
@climbfuji do we ready to tag? Lets discuss it in the call today and based on our definition I could make the required changes.

[2020-09-22 16:49] climbfuji commented on #200
Sounds good to me. We can also simply forward the hashes in the app (after merging CIME/creating the branch) and ask others (@panll @llpcarson) to test it before tagging.

[2020-09-22 19:27] ligiabernardet opened #201 "Need to update the URL for CIME Documentation"
Please update the URL that says v1.1.0
http://esmci.github.io/cime/versions/ufs_release_v1.0/html/index.html
@uturuncoglu @jedwards4b

[2020-09-22 19:58] GeorgeGayno-NOAA commented on #190
I was just looking thru model_grid.F90.   I noticed that the call to wgrib2 (grb2_mk_inv) that creates chgres.inv is done on all mpi tasks.  It is possible one task may not finish before another task tries to use chgres.inv at line 640.  A quick test would be to create the chgres.inv on one task, then add a barrer before all tasks try to read it.  Just a wild guess.  But that might explain the ran

[2020-09-22 20:36] climbfuji commented on #200
Update 20200922/2: the CIME PR was merged into branch `ufs_release_v1.1` (forced update). This is the new hash to use:
[code]

[2020-09-22 20:37] uturuncoglu commented on #200
@climbfuji @ligiabernardet I'll update the app and let you know.

[2020-09-22 20:46] uturuncoglu commented on #201
@ligiabernardet I created the new CIME doc. The link is http://esmci.github.io/cime/versions/ufs_release_v1.1/html/index.html

[2020-09-22 20:46] #201 closed

[2020-09-25 15:30] climbfuji commented on #190
Just so that everyone is up to date. After downgrading the compiler, we still got crashes on orion (but not on Cheyenne). I implemented George's fix in UFS_UTILS and this seems to solve the problems on orion. I will test those changes (see https://github.com/NOAA-EMC/NCEPLIBS/pull/118) on other platforms as well before we merge them and roll out a retagged version of NCEPLIBS on all platforms.

I

[2020-09-28 20:42] #195 closed

[2020-09-28 20:43] arunchawla-NOAA commented on #194
should be ok with changes to ufs_utils

[2020-09-28 20:43] #194 closed

[2020-09-28 20:45] arunchawla-NOAA commented on #192
Since it was not a clear test we are going to close this and will open another issue if there is a problem with anaconda python

[2020-09-28 20:45] #192 closed

[2020-09-28 20:46] arunchawla-NOAA commented on #190
this is now fixed

[2020-09-28 20:46] #190 closed

[2020-09-28 20:48] arunchawla-NOAA commented on #179
solved

[2020-09-28 20:48] #179 closed

[2020-09-28 20:55] #166 closed

[2020-09-28 20:56] #200 closed

[2020-09-28 21:04] rsdunlapiv commented on #199
@ligiabernardet

In 3.1  "CIME CSS" should be "CIME Case Control System" or just "CIME"

[2020-09-29 13:04] climbfuji opened #206 "Default walltime too short on Gaea?"
When running a C768 case on gaea, I need issue the following sequence of commands. I believe these are all expected except the adjustment of the walltime for the actual model run. Can we set the default walltime to 1 hour on gaea? The debug queue on gaea has a walltime limit of 1 hour, i.e. no changes required to the queue configuration.
[code]

[2020-09-29 13:20] climbfuji opened #207 "Documentation for how to set --machine still hard to find"
The latest documentation in Section 2.4 reads:

But there is no explanation how to set it / where to find this information. I believe Neil wanted to have a simple, straightforward answer right here. Users shouldn't have to search through the documentation to find this at some point later in Section 5. Either put a link in the paragraph quoted above or duplicate the information, for example

Note t

[2020-09-29 14:36] panll commented on #207
Thanks, Dom! I'll change it.

[2020-09-29 14:41] ligiabernardet commented on #206
@uturuncoglu Can you make this update?

[2020-09-29 15:44] uturuncoglu commented on #206
@ligiabernardet @climbfuji of course we could set a default value for it but it requires CIME PR. You could also adjust them using following commands easily,

[code]

So, if you still need it (and also other changes in CIME side if you need), let me know.

[2020-09-29 15:48] climbfuji commented on #206
I don't know what is better, updating CIME again (it hasn't been tagged yet anyway) or adding more documentation.

[2020-09-29 15:49] uturuncoglu commented on #206
@climbfuji since it is one line command, i think that we could add it to the doc and note but it is up to you.

[2020-09-29 15:58] ligiabernardet commented on #206
OK, we can add it to the documentation. I think a FAQ would work - unless
you have a better idea.

Since we are talking about this, could you explain why two variables are
needed to change the wall clock? What is the difference between
JOB_WALLCLOCK_TIME and USER_REQUESTED_WALLTIME, and under what
circumstances would they have different values?

On Tue, Sep 29, 2020 at 9:49 AM Ufuk Turunçoğlu <not

[2020-09-29 16:41] uturuncoglu commented on #206
@ligiabernardet Sorry for the confusion. We just need to change the `JOB_WALLCLOCK_TIME`.

[2020-09-29 16:46] ligiabernardet commented on #206
@uturuncoglu What is USER_REQUESTED_WALLTIME?

[2020-09-29 16:49] climbfuji opened #208 "Update EMC_post in ufs-mrweather-app Externals.cfg"
We need to update EMC_post in the ufs-mrweather-app `Externals.cfg` to point to the following hash/tag:
[code]

[2020-09-29 17:18] uturuncoglu commented on #206
@ligiabernardet USER_REQUESTED_WALLTIME is an internal value that should not be changed by the user.
it's just used internally to keep track. Sorry for confusion.

[2020-09-29 17:23] ligiabernardet commented on #206
@panll Can you please add this FAQ and remove USER_REQUESTED_WALLTIME from User's Guide?

[2020-09-29 17:29] uturuncoglu commented on #208
We were already point this tag for the app. The current entry in the External.cfg is

[code]

[2020-09-29 17:30] uturuncoglu commented on #208
@climbfuji did you retag it?

[2020-09-29 19:14] climbfuji commented on #208
Yes I did. But since you are pointing to the tag explicitly (I forgot that `manage_externals` can do that, as opposed to Git submodules), we don't need to change anything. I'll close the PR. Thanks for the reminder about how `manage_externals` handles those dependencies.

[2020-09-29 19:15] #208 closed

[2020-09-29 23:12] climbfuji opened #211 "Error creating new case on Redhat and Ubuntu Linux (using AWS)"
On both Redhat 8 and Ubuntu 18, I get
[code]
I am using x2.large instances with four cores.

[2020-09-30 14:41] ligiabernardet commented on #211
@climbfuji Did this use to work with previous code? When did it last work?
@uturuncoglu Can you please take a look at this?

[2020-09-30 14:43] climbfuji commented on #211
Maybe it has to do with the node type I chose this time, it's got four CPUs - in any case the app must be able to handle situations where a user has four CPUs.

[2020-09-30 15:24] uturuncoglu commented on #211
@climbfuji Could you try following? If it works I could make the changes in the interface. BTW, the current default is 8 core for linux and I think we decide like that in 1.0 release. Also, I think there is no way to run the model less than 6 core. What would be the layout combination for it? Anyway, if you want to run with 8 core,

- go to src/model/FV3/cime/cime_config
- edit config_pes.xml
- th

[2020-09-30 15:27] climbfuji commented on #211
Thanks, @uturuncoglu I will try this. Maybe it's got nothing to do with the number of cores on the node after all, but just with this duplicate entry. On macOS, we only have two cores but still run 6 MPI tasks on them. Similar, on Linux, we simply oversubscribe if needed.

[2020-09-30 15:43] climbfuji commented on #211
@uturuncoglu removing the duplicate entry solves this particular problem, I was able to create the case. Now proceeding.

[2020-09-30 15:44] uturuncoglu commented on #211
@climbfuji okay. that is great. I'll push the change to my branch and it will be available in the final PR.

[2020-09-30 15:44] #211 closed

[2020-09-30 15:59] climbfuji opened #212 "CIME model build error on Ubuntu 18"
On my Amazon Ubuntu 18 instance, I can build the release/public-v1 branch of the fus-weather-model successfully using `build.sh` - thus everything is correct. However, the model build fails when done through CIME with:
[code]
CIME seems to add something to the build that shouldn't be there.

[2020-09-30 16:20] uturuncoglu commented on #212
@climbfuji I could be related with the installation of NCEPLIBS but I am not sure. What do you think @jedwards4b?

[2020-09-30 16:21] climbfuji commented on #212
Hmm ... but why does it work with the ufs-weather-model standalone build using `build.sh`?

[2020-09-30 16:26] uturuncoglu commented on #212
I am not sure but we have no control in NCEPLIBS. Maybe there is some external library is missing in CIME side but exist in model. I have no Ubuntu to test these things but you might want to compare the build log and actually compile commands used both system.

[2020-09-30 16:27] climbfuji commented on #212
Ok, will keep looking. Thanks.

[2020-09-30 17:39] climbfuji opened #214 "How to run CIME regression on Stampede?"
I can't successfully run the regression tests on Stampede. If I do:
[code]
all tests fail with the following error messages:
[code]
However, `NCEPLIBS_DIR` is set (and everything else that `source /work/06146/tg854455/stampede2/NCEPLIBS-ufs-v1.1.0/bin/setenv_nceplibs.sh` sets):
[code]

[2020-09-30 17:42] climbfuji commented on #212
Update. If I take the linker command that CIME creates and manually append `-lpthread`, I can compile the executable. I tried to add it to `cime/config/ufs/machines/config_compilers.xml` in the form of
[code]
but that does not work, because it doesn't _append_ `-lpthread`, but _prepends_ it:
[code]

[2020-09-30 17:43] climbfuji commented on #214
I'll be out for a run for an hour or so.

[2020-09-30 17:53] uturuncoglu commented on #214
@climbfuji this is fixed in new version of interface. So, it won't exit anymore. Could you try with `ufs-release-v1.1` branch of FV3 interface.

[2020-09-30 17:56] uturuncoglu commented on #214
A smile command to run test suit (at least part of it) is `./create_test --xml-testlist ../../src/model/FV3/cime/cime_config/testlist.xml --xml-machine stampede2-skx --workflow ufs-mrweather_wo_post -j 4 --walltime 01:00:00 --xml-category prealpha_p1` so you could change category part to `prealpha_p2` and `prealpha_p3` to run other pieces

[2020-09-30 18:52] jedwards4b commented on #212
In the fv3 interface file configure_cime.cmake I see:
set (CMAKE_EXE_LINKER_FLAGS "${LDFLAGS} ${SLIBS}")
try reversing the order:
set (CMAKE_EXE_LINKER_FLAGS "${SLIBS} ${LDFLAGS}")

[2020-09-30 19:01] climbfuji commented on #212
Thanks @jedwards4b, will try.

[2020-09-30 19:13] climbfuji commented on #214
This is what I get with hash
[code]
of the fv3gfs cime interface using your command above:
[code]
I have:
[code]

[2020-09-30 19:25] climbfuji commented on #212
I made that change but `-lpthread` still shows up before all the other options. Here is what I changed:
[code]
and the log messages are:
[code]
I think I have some data points that allow me to keep investigating.

[2020-09-30 19:48] uturuncoglu commented on #214
@climbfuji So, you have NCEPLIBS_DIR defined but you are still getting error. Right?

[2020-09-30 19:52] uturuncoglu commented on #214
@climbfuji could you pull that branch again and test it. I found a typo issue and fix it.

[2020-09-30 19:52] uturuncoglu commented on #214
Sorry, I closed and opened again. Let me know if it fix the problem.

[2020-09-30 21:19] climbfuji commented on #214
Thanks, finally getting around to test this. It looks better, but I'll wait until part 1 finishes before giving green light.

[2020-09-30 21:40] climbfuji commented on #206
Closed via https://github.com/ufs-community/ufs-mrweather-app/pull/213

[2020-09-30 21:40] #206 closed

[2020-09-30 21:44] climbfuji commented on #212
I got it to work with a nasty hack, and besides being nasty I am not sure it works on other platforms.
[code]
I'll look for a better way to do this only for linux.

[2020-09-30 22:10] jedwards4b commented on #212
@climbfuji you said that the non cime build is doing the right thing?  Why is that?  I don't see pthread mentioned in
https://github.com/ufs-community/ufs-weather-model/blob/develop/conf/configure.fv3.linux.gnu at all.

[2020-09-30 22:34] climbfuji commented on #212
You would have to look in https://github.com/ufs-community/ufs-weather-model/blob/release/public-v1/cmake/configure_linux.gnu.cmake (note release/public-v1 instead of develop, and note the cmake config instead of the gnumake config). But you are right, even in those files there is no link to it.

I think I know the correct solution / fix, but I don't know yet why the problem doesn't show up when I

[2020-09-30 22:44] climbfuji commented on #214
Yes, I think this is correct now. Should I close this PR, given that you already updated the branch in the fv3gfs interface?

[2020-09-30 22:48] climbfuji commented on #212
I created a (draft) PR for this, https://github.com/ESCOMP/FV3GFS_interface/pull/15. Will test it on a few platforms to make sure it doesn't break anything (it shouldn't!).

[2020-10-01 01:57] climbfuji commented on #214
Glad I didn't close the PR. The next error is now:
[code]
and, as before, I did set `UFS_INPUT` and `UFS_SCRATCH` as required.
[code]

[2020-10-01 02:29] climbfuji opened #215 "Question (not yet an issue): gfortran-10 flags in CIME?"
For supporting gfortran-10, we had to add the following code in ufs-weather-model's `cmake/GNU.cmake`.
[code]
I don't see these flags anywhere in the CIME config:
[code]
The trouble is that we can't just add them to the GNU flags as default, because these flags are not recognized by gfortran 9.x and earlier.

Question: I believe we need to add them somewhere in the CIME config, and only if gfortra

[2020-10-01 15:02] rsdunlapiv commented on #215
@climbfuji another option here is to list gfortran-10 as an unsupported compiler

[2020-10-01 15:04] jedwards4b commented on #215
@climbfuji we don't have a way to distinguish between compiler versions unless we define a new compiler, we currently define compiler "gnu" we could introduce a new compiler "gnu10".

[2020-10-01 15:21] ligiabernardet commented on #215
I would be glad to add to the documentation to explain how to patch the CIME config_compilers.xml file

[2020-10-01 15:25] ligiabernardet commented on #207
This has been incorporated in documentation and merged in.

[2020-10-01 15:34] jedwards4b commented on #215
I think maybe the lines at 58-60 are what allows those variables to be resolved, can you try moving them to be above
line 33?

[2020-10-01 15:35] climbfuji commented on #215
It works if I make the following change to the top-level CMakeLists.txt in the ufs-weather-model:
[code]
I don't think this code should be committed, because it's totally against the structure of the build system. It should really go into `configure_cime.cmake`, I don't understand why this is parsed differently (twice maybe, and it's the first time that fails because it is not the actual cmake bui

[2020-10-01 15:41] climbfuji commented on #215
Hmm I am confused by your line numbers, hopefully I am looking at the same files. I see the following in the top-level CMakeLists.txt:
[code]
This is line 22. Are you looking at the release/public-v1 code?

This suggests that `CMAKE_Fortran_COMPILER` etc is defined before `configure_cime.cmake` is imported.

[2020-10-01 15:51] uturuncoglu commented on #214
@climbfuji i am not sure why you are getting this error. Could you create a fresh case and try again? If it happens again, please let me know the commands that you use. I could try to reproduce on Stampede.

[2020-10-01 15:51] climbfuji commented on #215
I understand it now. The culprit is right here:
[code]
The `-C` means, according to the `cmake` help, means:
[code]
So this file is parsed before cmake ever looks at the top-level `CMakeLists.txt` (which then parses it again). Why is this done?

[2020-10-01 15:53] jedwards4b commented on #215
Probably a stab in the dark in early development,  try removing it.

[2020-10-01 15:56] climbfuji commented on #215
gfortran-10 support is already in v1.1 of NCEPLIBS-external, NCEPLIBS and ufs-weather-model. Just not yet in CIME. But I think removing the `-C` line in buildlib solves the problem.

[2020-10-01 15:57] climbfuji commented on #215
Remember v2 is for the December UFS Short-Range Weather App v1.0 release.

v1.1 (using the release/public-v1 branches for development, tags ufs-v1.1.0) is for the MRW App release v1.1.

[2020-10-01 17:02] uturuncoglu commented on #215
@climbfuji do you want to close this issue?

[2020-10-01 17:02] uturuncoglu commented on #212
@climbfuji is this also solved by the recent PR in the interface?

[2020-10-01 19:37] climbfuji commented on #215
Closed via https://github.com/ESCOMP/FV3GFS_interface/pull/15 - thanks @uturuncoglu and @jedwards4b for your help.

[2020-10-01 19:37] #215 closed

[2020-10-01 19:38] climbfuji commented on #212
Closed via https://github.com/ESCOMP/FV3GFS_interface/pull/16

[2020-10-01 19:38] #212 closed

[2020-10-01 22:33] climbfuji commented on #214
@uturuncoglu We may not need this anymore (see below), but this is the exact sequence of what I did on stampede, and it is still not working (latest version of the app, additionally I checked out the head of origin/ufs-release-v1.1 in src/model/FV3/cime to make sure I have all the latest code).
[code]
In any case, we decided to give up on running the regression tests on Stampede. Instead, we will

[2020-10-01 22:45] ligiabernardet opened #216 "Remove support for RT capability from Stampede: requires update to doc"
Per discussion at https://github.com/ufs-community/ufs-mrweather-app/issues/214#issuecomment-702432039, @climbfuji and I have discussed removing support from RT on Stampede (since it is not working out-of-the-box and it is a Level 2 platform, so not prime). If others involved in the release thinks this needs additional discussion, please speak up asap. Otherwise we are proceeding with this plan.

[2020-10-02 13:56] climbfuji commented on #214
It turns out that this problem does not only afect the regression tests, but also regular end-to-end runs of the app. I have the following in my environment:
[code]
and while `chgres` works, the model run fails with
[code]
I remember vaguely that there is something in the documentation to add stuff to `.bashrc`. For testing, I added
[code]
to my `.bashrc` and submitted another job. This will take

[2020-10-02 14:22] climbfuji commented on #214
Update. I just realized that chgres also failed (silently), complaining about `NCEPLIBS_DIR` not being set. Of course it is set in my environment. I added it to my `.bashrc` as well and started another round of tests.

[2020-10-02 15:04] ligiabernardet commented on #214
Maybe this helps?
Doc says:

On some systems (Stampede2, for example), you MUST source this file in your
.bashrc or equivalent script in order for compute nodes to find it. For
example, you would add the following to your .bashrc:

$ source $WORK/NCEPLIBS-ufs-v1.1.0/bin/setenv_nceplibs.sh

On Fri, Oct 2, 2020 at 8:22 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-10-02 15:10] climbfuji commented on #214
Ok, when I add
[code]
to my `.bashrc`, I get past chgres and the model run, post is still queued.

This is not how it should be, but I guess we have to live with it for this release.

I strongly oppose this statement in our documentation:
[code]
This is *not* the recommended practice - it is completely against the recommended practice! If every application I am running on an HPC forces me to add j

[2020-10-02 15:16] uturuncoglu commented on #214
@climbfuji @ligiabernardet i am not sure the source of the problem but stampede has lots of restrictions and if you want to remove that part of the documentation, it could be added as known issues. What do you think?

[2020-10-02 15:17] climbfuji commented on #214
I can suggest a rewording of the offending paragraph. I'll also try to find the text that Ligia quoted and add that UFS_INPUT and UFS_SCRATCH are also required in `.bashrc`.

[2020-10-02 19:50] climbfuji commented on #214
Documentation update was merged (https://github.com/ufs-community/ufs-mrweather-app/pull/217), problem solved.

[2020-10-02 19:50] #214 closed

[2020-10-02 20:48] ligiabernardet commented on #216
Problem with running RT on Stampede was figured out.

[2020-10-02 20:48] #216 closed

[2020-10-05 20:28] climbfuji commented on #182
All tags have been created, the last one for the ufs-mrweather app:
[code]

[2020-10-05 20:28] #182 closed

[2020-10-06 16:12] ligiabernardet commented on #199
The UG has been finalized at https://ufs-mrweather-app.readthedocs.io/en/ufs-v1.1.0/

[2020-10-06 16:12] #199 closed

[2020-10-06 16:13] ligiabernardet commented on #180
We have no failures and are proceeding with the release today (10/6/2020).

[2020-10-06 16:13] #180 closed

[2020-10-08 15:19] ligiabernardet commented on #168
Done

[2020-10-08 15:19] #168 closed

[2020-10-08 15:30] ligiabernardet opened #219 "Update Known Bugs (on wiki)"
@climbfuji @uturuncoglu @GeorgeGayno-NOAA @llpcarson @arunchawla-NOAA Are there known bugs in this release? If so, we need to list them at https://github.com/ufs-community/ufs-mrweather-app/wiki/All-Releases:-Release-Notes-and-Known-Bugs

[2020-10-08 15:40] ligiabernardet commented on #167
- The release landing page is at https://ufscommunity.org/science/code/.
- The release description is at https://ufscommunity.org/news/medrangeweatherapp_v1p1/.
- I communicated with Henrique (C&O lead) to put a news item in the UFS portal.
- An announcement was posted on the UFS Forum.
- An email was sent to DTC communications to post a news item on the DTC website.
- An email was set to GSL comm

[2020-10-08 15:40] #167 closed

[2020-10-08 15:46] climbfuji commented on #219
As of now, I am not aware of any.

[2020-10-08 16:04] uturuncoglu commented on #219
me too. I think we addressed all the issues.

[2020-10-13 14:44] climbfuji opened #220 "Clean up branches and update master from release/public-v1"
Do we still need branches `documentation`, `ufs-release-v1.0`, `ufs-release-v1.1` ?

I understand that the release branch for the MRW 1.x.y releases is release/public-v1.

Also, the documentation in release/public-v1 is up to date and must be brought back to master. Should I take care of that?

[2020-10-13 15:27] uturuncoglu commented on #220
@climbfuji I think we don't need them.

[2020-10-13 15:39] climbfuji commented on #220
Thanks. I'll delete `documentation`, `ufs-release-v1.0`, `ufs-release-v1.1`.

I'll also create a PR to update `master` from `release/publicc-v1`.

[2020-10-13 15:56] ligiabernardet commented on #220
Dom, your course of action sounds good to me.

On Tue, Oct 13, 2020 at 9:39 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-10-13 21:22] climbfuji commented on #220
The PR is ready and straightforward: https://github.com/ufs-community/ufs-mrweather-app/pull/221

[2020-10-14 21:51] #220 closed

[2020-10-14 21:51] climbfuji commented on #220
All done.

[2020-12-28 21:26] edwardstrobach opened #223 "sensible heat and latent flux output from satmedmfvdifq.F are out of range after first time step."
Good evening,

I wrote out a diagnostic for the gabls case to examine the heat(i) and evap(i) fields in satmedmfvdifq.F.  I wanted to examine the time evolution of these fields for different experiments since this field is used to calculate the convective velocity scale and buoyancy production.  I'm not sure what's going on with these fields but I'm seeing the following in the output:

array([[  1

[2020-12-28 21:33] edwardstrobach opened #224 "ASTEX LES data"
Hello,

Can someone comment on the "stats" attribute?  The LES output produces profile data at three snapshots (8, 19, and 36).  It's not clear what "stats" is though.  The 3D output has dimensions of (3,3,120)  which translates to (stats,snapshot,height).  Similarly, the 2D time series also contains stats with dimensions (3,40) or (stats,time).

[2021-01-06 20:07] panll opened #225 "missing co2 fixed file for 2021"
There is an error message related to downloading co2 fixed file for 2021 when running MRW APP 1.1 on stampede:

Trying to download file: 'global/fix/fix_am.v20191213/fix_co2_proj/global_co2historicaldata_2021.txt' to path '/scratch/07859/tg871583/inputs/ufs_inputdata/global/fix/fix_am.v20191213/fix_co2_proj/global_co2historicaldata_2021.txt' using FTP protocol.
ERROR from ftp server, trying next s

[2021-01-06 22:32] ligiabernardet commented on #225
@KateFriedman-NOAA @arunchawla-NOAA Can someone from EMC update the ftp site that contains the files needed for the UFS MRW App public release with the content for 2021?

[2021-01-07 14:07] KateFriedman-NOAA commented on #225
@ligiabernardet Certainly! Done:

https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/MRW/fix/fix_am/co2dat_4a/global_co2historicaldata_2019.txt
https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/MRW/fix/fix_am/co2dat_4a/global_co2historicaldata_2020.txt_proj_u
https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/MRW/fix/fix_am/co2dat_4a/global_co2historicaldata_2021.txt_proj
https://ftp.emc

[2021-01-07 16:12] ligiabernardet commented on #225
Thanks!
@panll  Let us know if this solves the problem and the issue can be closed.

[2021-01-07 17:16] panll commented on #225
Thanks! @ligiabernardet
@KateFriedman-NOAA
Is it possible put the co2 2021 file at
https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/fix_co2_proj/

MRW v1.1 uses this directory to download the co2 files in cime.

Thanks!

[2021-01-07 19:02] KateFriedman-NOAA commented on #225
@panll Certainly but I'll mention first that those fix folders have a timestamp attached to them so technically I shouldn't add fix files created after those dates to that set. But since these are entirely new files they won't change existing files so I guess it's ok. Anywho, I'll go ahead and add them to that set too. Will confirm when they are there.

[2021-01-07 19:07] KateFriedman-NOAA commented on #225
@panll The 2021 co2 fix files are now in that set as well:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/co2dat_4a/global_co2historicaldata_2019.txt
https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/co2dat_4a/global_co2historicaldata_2020.txt_proj_u
https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/co2dat_4a/global_co2historicaldata_2021.txt_pro

[2021-01-07 20:01] panll commented on #225
I saw the file. Thanks! @KateFriedman-NOAA
It's tested on Stampede and works fine.
Thanks!

[2021-01-07 20:01] #225 closed

[2021-03-21 15:07] lliu1220 opened #226 "ccpp_physics_init failed at HAFS_v0_gfdlmp_nocpnsstugwd"
I was able to clone and update all modules and compile and test run coupled hafs cdeps:
hafs_couplehycom_cdeps

Then I linked fv3_32bit.exe and module-setup.sh in my experiment director,
I ran into the following error: this is my first run of coupled cdeps, any help is greatly appreciated:
"atmosphere_dynamics: error in ccpp_physics_init for group fast_physics: Invalid suite HAFS_v0_gfdlmp_nocpnss

[2021-03-22 18:59] lliu1220 commented on #226
thank you @uturuncoglu for your help, that was fixed

if any of you know how to resolve this error, please let me know. Looks like I need permission in order to run UFS:

Abort with message Permission denied in file /apps/contrib/NCEP/src/hpc-stack-v1.1.0/pkg/pio-2.5.2/src/clib/pioc_support.c at line 2747

[2021-03-24 20:18] #226 closed

[2021-07-26 07:10] puneet336 opened #227 "NUMERICAL INSTABILITY/OVERFLOW Error IN MPP_REPRODUCING_SUM WITH MULTITHREADED RUN"
Hi,
I am trying to run the mr weather model example with 32 MPI ranks and 4 threads per MPI rank on a machine having 128 cores total. the single node (multithreaded/hybrid) run fails with following error -
[code]

I had used the following in user_nl_ufsatm -
[code]

on the same setup (layout = 2,2  write_groups = 8   write_tasks_per_group = 1) with 32 MPI ranks and  OMP_NUM_THREADS=2 i get  -

[co

[2021-08-04 05:56] #227 closed

[2021-09-07 14:10] fossell opened #229 "EMC_post repository name change to UPP"
The post processing repository has changed the name from EMC_post to UPP to be consistent with other naming conventions across the board.  Need to update the Externals.cfg file to use new naming convention.  Other mods may be needed depending on how the app build works with this external repo.

[code]

[2022-02-02 18:53] fossell commented on #65
This request has been addressed by [UPP Issue 115](https://github.com/NOAA-EMC/UPP/issues/115) and merged into UPP develop branch with [UPP PR 402](https://github.com/NOAA-EMC/UPP/pull/402).  Closing this issue but please let me know if there are additional requests.

[2022-05-19 14:06] jkbk2004 opened #231 "To sync with the updates on NOAA-EMC/global-workflow develop branch"
1. refactored global-workflow build scripts and ufs app options: fv3gfs_build.cfg converted to gfs_build.cfg, etc.
2. need to re-sync and validate with on-going mrw build and test cases: hera/orion/jet

[2022-05-19 17:37] ulmononian opened #232 "Add capability to use other ATM ICs than GEFS Noah LM for coupled experiments"
Currently, GEFS-NoahMP-aerosols-p8a are the default atmospheric ICs for coupled runs and the workflow automatically stages these files when running a coupled experiment (global-workflow/parm/config/config.couple_ic). However, the dates of these ICs are limited (Orion: /work/noaa/global/wkolczyn/noscrub/global-workflow/IC/GEFS-NoahMP-aerosols-p8a/ ; Hera: /scratch2/NCEPDEV/climate/climpara/S2S/IC),

[2022-06-08 19:31] ulmononian opened #235 "Introduce script-based forecast capability"
It may be useful to provide users without access to machines supported by the global-workflow with a simple method to run tests with UFS-WM components (ATM, S2S, S2SW, etc.) within the MRW.

This is motivated by a recent question on the UFS forum (https://forums.ufscommunity.org/threads/using-ufs-mrw-release-newer-version-fv3), wherein a user wanted to utilize an updated FV3 within MRW v1.1. Howev

[2022-06-08 21:29] gspetro-NOAA opened #236 "Read The Docs "latest" does not point to HEAD of master branch"
The MRW App documentation on ReadTheDocs is not pointing to the HEAD of the master branch (and therefore is not showing the changes from my most recent doc PR).
I can fix the problem easily if I'm granted RTD account access. Otherwise, an account administrator needs to go into the MRW App RTD account/project --> Admin --> Advanced Settings. Then, change the Default Version and Default Branch to ma

[2022-06-08 21:36] ligiabernardet commented on #236
I added EPIC-AUS as a maintainer for this project in RTD.

[2022-06-10 14:50] #236 closed