[2019-10-29 15:26] JulieSchramm opened #1 "Add framework for Sphinx User's Guide"
A docs/UsersGuide directory will be added that includes an introduction page with links to other UFS MR Weather App resources.

[2019-10-29 16:24] ligiabernardet commented on #1
While it is a good idea to put links to external documentation (ESMF, FV3, CCPP, etc.) at the GitHub wiki level, we thought the links could also be mentioned in the UFS MR Weather App Users Guide so the guide provides a complete resource to users.

[2019-10-29 17:00] ligiabernardet commented on #1
Agree.

On Tue, Oct 29, 2019 at 10:35 AM ceceliadid <notifications@github.com>
wrote:

[2019-11-25 17:09] arunchawla-NOAA opened #5 "Creating a unified build for NCEPLIBS"

[2019-11-25 20:27] uturuncoglu opened #6 "CHGRES error to process GFS data"
The CHGRES packed with NCEPLIBS (github.com:NOAA-EMC/UFS_UTILS.git, @8b8db58, Nov 11 19:08:52 2019) triggers error when it tries to process GFS data.

[code]

and the error trace is

[code]
The same data and the namelist can be processed with the external CHGRES installation used in the prototype system. This version has last commit from George Gayno on Fri Sep 6 10:29:16 2019 and hash is @947145c

[2019-12-04 22:24] uturuncoglu opened #7 "Installation fails on Cheyenne with GNU+MPT combination"
I am trying to install NCEP LIBS with following module combination on Cheyenne but

1) ncarenv/1.3
2) gnu/9.1.0
3) mpt/2.19
4) netcdf-mpi/4.7.1
5) pnetcdf/1.11.1
6) ncarcompilers/0.5.0
7) esmf-8.0.0-ncdfio-mpt-O
8) cmake/3.14.4

it fails with following error

[code]
the commands that is used to install lib are followings

[code]

[2019-12-04 23:24] uturuncoglu commented on #6
The top level hash for NCEPLIBS is e9131cc in this case

[2019-12-05 16:02] mvertens opened #8 "This is my new issue"
I have an issue.

[2019-12-05 16:07] mvertens commented on #8
@rsdunlapiv

[2019-12-05 20:13] arunchawla-NOAA opened #9 "NCEPLIBS Release branches"
Setting up release branches for all the NCEPLIBS to work with the universal build

[2019-12-05 20:24] arunchawla-NOAA opened #10 "Initial Chgres tests with grib2 data"
Initial tests using chgres and grib2 data to run a forecast model.

Model runs being done in two stages -- stage 1 grib2 atmosphere data with nemsio surface files ; stage 2 grib 2 atmosphere data with grib2 surface files

[2019-12-06 21:58] mvertens opened #11 "Document how to set NCEP lib environment variables in CIME for new platforms and compilers"
These environment variables are set in config_machines.xml and they can be either explicit setting of environment variables or modules that load these environment variables. As examples see the entries cheyenne and hera entries in `$CIMEROOT/config/ufs/machines/config_machines.xml.` @ligiabernardet - we need to determine where to add this documentation and how this documentation will keep up with

[2019-12-06 22:11] mvertens opened #12 "Use CMake from ufs-weather model in CIME build"
Currently this is working on cheyenne and hera.
Currently this is on a fork: https://github.com/ESCOMP/ufs-mrweather-app/tree/jpe_fv3_build
@arunchawla-NOAA @mark-a-potts  -
  - this does not work with GNU is because NCEPLIBS does not compile with gnu on cheyenne - this is dependent on https://github.com/ufs-community/ufs-mrweather-app/issues/7

[2019-12-06 22:16] mvertens opened #13 "Determine set of platforms to test full workflow on"
We need to determine the following:
- the list of platforms where we will be running out of the box tests for the full release workflow.
- the list of compilers and versions for the target platforms
- what tests need to be run (we will be using the CIME testing capability to do this) - for example - exact restart tests, etc.
- the different configurations of the model that we want to have out of t

[2019-12-06 22:17] #8 closed

[2019-12-06 22:22] mvertens opened #14 "Add cime_config directory into FV3 and NEMS"
In order for the UFS weather model to be cime compliant - a top level cime_config/ directory needs to be added. We have this in a separate FV3_interface repositories as externals - but this adds complexity to the system that will cause problems moving forwards. See:
https://github.com/ESCOMP/NEMS_interface and https://github.com/ESCOMP/FV3GFS_interface
There will be two forthcoming PRs for this is

[2019-12-06 22:33] mvertens opened #15 "We need a plan for connecting CIME to the public input data sources"
In order for CIME to be extended to support different forecast initial conditions flexibly, we need to understand the directory structure in the FTP site that will be made available. We need to understand the requirements for CIME to obtain this data and the list of files that will be needed.
A major concern is the potentially large size of some of the files - and we need to determine if they need

[2019-12-06 22:35] mvertens opened #16 "Add documentation to CIME regarding new workflow capabilities"
Need to coordinate this with @ligiabernardet .

[2019-12-08 14:04] arunchawla-NOAA commented on #15
We have an ftp site that was opened up for staging data. Documentation is still weak. Suggest a meeting with Jun Wang and Kate Friedman to bolster this. We should explore using GIT-LFS added to mr-weather-app or to the weather-model to see if the data can be downloaded automatically

[2019-12-08 23:49] ligiabernardet commented on #16
@mvertens @jedwards4b @uturuncoglu Please review the proposed outline for MR Weather App User's Guide at [https://docs.google.com/document/d/15AxwnLl0PJzXLc9F4cylSswwReEWwkhWp0o4YfMGp2w/edit].  DTC will start populating this User's Guide as soon as we have more information about the build system, workflow, and datasets. It is a Google Doc now, later it will Sphinx and ReadtheDocs. Please comment o

[2019-12-09 05:02] climbfuji commented on #5
Aye, will get in touch with Mark Potts & Co asap to have this ready.

[2019-12-09 14:46] jedwards4b commented on #14
To whom should the NEMS and FV3 PR's be assigned?

[2019-12-09 15:11] junwang-noaa commented on #14
The general practice at EMC is not to add workflow related code changes into model source code, workflow required code will stay at the workflow repo because the workflow used in operational could be different from the workflow used for development. Since the public release will not used by operation implementation at this time, it's OK to make pull request to public release branch. To make pull r

[2019-12-09 15:39] junwang-noaa commented on #15
@mvertens, could we have a meeting to discuss this issue? Thanks.

[2019-12-09 16:12] mvertens commented on #16
@ligiabernardet - I would recommend setting up a sphinx top level guide as soon as possible. We can easily switch the order in that doc. But having something to look at sooner rather than later would be great. We also need to sort out details of version control of that doc and other issues. It might be good to have @bertinia give us input as to how we did this for CESM.

[2019-12-09 17:00] ligiabernardet commented on #16
A very barebones Sphinx guide is here
https://github.com/ufs-community/ufs-mrweather-app/tree/documentation/docs/UsersGuide.
Its HTML is displayed here https://ufs-mrapp.readthedocs.io/en/latest/. The
recommendation from the documentation team was to iterate on Google Docs
for faster development, and then convert the files to Sphinx once we have a
first draft. The Google folder with the chapters (

[2019-12-09 19:02] rsdunlapiv commented on #15
I will try to put something on the calendar to discuss.  I am interested in @arunchawla-NOAA  suggestion of GIT-LFS and how that repo could be connected to CIME to download data as needed.  Another question is whether there is a standard directory structure expected on supported platforms, e.g., fixed files, ICs, etc.  - is there a standard structure already used on NOAA systems, e.g., Hera, that

[2019-12-09 19:18] rsdunlapiv commented on #15
Could @KateFriedman-NOAA please provide a list of current input data sources expected to be used by the release? e.g., the FTP site and any others, GIT-LFS, etc.

[2019-12-09 19:26] uturuncoglu commented on #15
In the current ftp site the input files (except static ones) are in tar format and it is hard to access individual files without extracting the file. We need to have a hierachical and standardized folder structure rather than having single tar file for input. It could be also nice to have the input files for different resolution (i.e. C384) and also support for CCPP.

[2019-12-09 19:29] rsdunlapiv commented on #15
Given the large size of many of these files - should we support a compression mechanism?

[2019-12-09 19:32] KateFriedman-NOAA commented on #15
I know of the following on the EMC ftp site:

1) FIX files: https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_*

...which are broken into sub-groups:

- fix_am
- fix_chem
- fix_fv3
- fix_fv3_gmted2010
- fix_gldas
- fix_orog
- fix_sfc_climo
- fix_verif

This is the full collection of FV3GFS fix files as of November 12th. Most likely overkill. Do we need a paired down collection?

2) C96 canned c

[2019-12-09 20:24] rsdunlapiv commented on #15
@KateFriedman-NOAA this is great and already very helpful!  Can you provide (or is there already) a brief description of what's in each of those subdirectories?  Are these subdirs expected to be reproduced as is on all supported platforms?

[2019-12-09 20:54] rsdunlapiv commented on #15
@KateFriedman-NOAA The global/fix directory has the fixed files.  What is the public source for users to retrieve initial conditions and boundary conditions?  Is the plan to host those separately?

[2019-12-10 13:29] DusanJovic-NOAA commented on #14
This directory does not belong to this repository. It's workflow specific and as such should be part of either workflow or app repository.

[2019-12-10 15:11] KateFriedman-NOAA commented on #15
I'm mostly a facilitator of copying these files to our supported platforms so I can't give a detailed description. Is one needed? Here is a very brief description:

- fix_am - atmospheric
- fix_chem - chemistry
- fix_fv3 - fv3
- fix_fv3_gmted2010 - another fv3
- fix_gldas - GLDAS
- fix_orog - orography
- fix_sfc_climo - surface climo
- fix_verif - verification

When we get updated fix files myself

[2019-12-10 16:54] ligiabernardet opened #17 "Need documentation for chgres_cube as part of UFS MR Weather app release"
We are putting together a Users' Guide for the UFS Medium-Range Weather Application that will explain the basics of how to build and run the chgres_cube + model + post using the CIME Workflow. We need additional information about chgres_cube pertaining to the aspects below. Note that the documentation on the various aspects can be combined onto a cohesive document (so not necessarily four separate

[2019-12-10 16:58] ligiabernardet commented on #1
The framework for the Sphinx User's Guide has been committed to https://github.com/ufs-community/ufs-mrweather-app/tree/documentation/docs/UsersGuide. The content is under development and will be committed to this location before the release.

[2019-12-10 16:58] #1 closed

[2019-12-10 17:06] ligiabernardet opened #18 "Need documentation for UPP as part of UFS MR Weather app release"
The UPP team already has a robust document at https://github.com/NOAA-EMC/EMC_post/tree/ufs_public_release. This will need to be finalized for the UFS MR Weather app public release.
@fossell

[2019-12-10 17:17] ligiabernardet opened #19 "Need documentation for NEMS as part of UFS MR Weather app release"
As part of the documentation for the upcoming MR Weather App release, we would like to provide a link to an external documentation describing NEMS (or at least the aspects of NEMS that will be used in this release).  Existing documentation needs to be updated:

- [https://www.emc.ncep.noaa.gov/projects/nems-doc]
- [https://noaa-emc.github.io/NEMS_doc/index.html]

We need additional/updated informa

[2019-12-10 17:24] ligiabernardet opened #20 "Need documentation for stochastic physics as part of UFS MR Weather app release"
As part of the documentation for the upcoming MR Weather App release, we would like to provide a link to an external documentation describing the stochastic physics (or at least the aspects of stochastic physics that will be used in this release).

We need additional/updated information about stochastic physics pertaining to the aspects below. Note that the documentation on the various aspects can

[2019-12-10 17:38] ligiabernardet opened #21 "Finalize CCPP Scientific Documentation for the MR Weather app release"
The CCPP Scientific Documentation is in good shape for the upcoming release [https://github.com/NCAR/ccpp-physics/tree/ufs_public_release/physics/docs]. However, a few finishing touches are needed:

- Update doc for PBL scheme satmedmfvdifq @grantfirl
- Update doc for unified GWD scheme @bluefinweiwei with input from Valery Yudin
- Update doc for suites GFS v15.2 and GFS v16beta, including descrip

[2019-12-10 17:46] ligiabernardet opened #22 "Finalize CCPP Technical Documentation for the MR Weather app release"
The CCPP Technical Documentation is in good shape for the release but will need updates [https://github.com/NCAR/ccpp-doc/tree/master/CCPPtechnical].  In particular, the following aspects need to be updated:

- Reduce/remove information regarding the UFS Weather Model since it will be covered elsewhere for this release
- Update list of parameterizations and suites for release
- Add documentation a

[2019-12-10 18:29] ligiabernardet commented on #19
We need documentation on input file model_configure and how users can manipulate it.

[2019-12-10 18:38] ligiabernardet commented on #15
The list of fix files needed for the runs supported in this release is in
the draft UFS WM User's Guide. Work is in progress by @lpcarson to add
one-line descriptions for each fix file This is in Google Doc
https://docs.google.com/document/d/1D7aupwMAjIdv_8eHiRtdkyad_o_f_eGmpGFIvBeZXcg/edit#.
It will later be converted to Sphinx. @KateFriedman-NOAA
<https://github.com/KateFriedman-NOAA> if you can

[2019-12-10 19:11] ligiabernardet opened #23 "Need to finalize the UFS Weather Model User's Guide"
The UFS Weather Model User's Guide is being developed as a set of Google Docs in folder [https://drive.google.com/drive/folders/1l1wQORiL8jhJPHUqQOdfeFdWNeD-gqIj]. This will be transitioned to Sphinx once it is more fleshed out - the Sphinx framework is here [https://github.com/ufs-community/ufs-weather-model/tree/documentation/doc/UsersGuide].

The UFS Weather Model User's Guide is a component of

[2019-12-10 21:36] pjpegion commented on #20
Hi ligia,
  I am making small progress:
https://stochastic-physics.readthedocs.io/en/ufs_public_release/

I am going to need help trying to figure out how to merge the doxygen generated documents with this.

[2019-12-10 22:44] mvertens commented on #14
Closing this issue for now. We will proceed with using interface repositories.

[2019-12-10 22:44] #14 closed

[2019-12-10 23:01] ligiabernardet commented on #20
Phil, the documentation looks GREAT!
Regarding merging Sphinx and Doxygen, the connector seems to be Breathe ([https://breathe.readthedocs.io/en/latest/]). I have not tried it yet.

[2019-12-10 23:07] mvertens commented on #15
@arunchawla-NOAA @KateFriedman-NOAA @ligiabernardet -

@rsdunlapiv @jedwards4b and @mvertens propose the following structure for managing and hosting input data for the release:
- **fixed files:**
   - The structure of the FTP repository for fixed files should have a date string in the directory name for those fixed files along with a README documenting the date. That way when these files are down

[2019-12-10 23:18] ligiabernardet commented on #15
The proposal about fix files seems good to me.

The proposal for initial files is fine along as it is extensible. It is my understanding that the Data Prep release team is working on having the capability for the MR Weather App to run from GFS GRIB2 files available through public archives (such as NOAA NOMADS and NCAR). This is very important for the community to use this app for research. It woul

[2019-12-10 23:24] jedwards4b commented on #15
@ligiabernardet Can you provide an example of files from these public archives that would allow us to run the model?  Thanks

[2019-12-10 23:30] ligiabernardet commented on #15
No, I cannot. The current model I have access to does not work from GFS GRIB2 files available in public archives. The UFS release data prep team was doing enhancements to allow this capability. @LarissaReames-NOAA Do you have any update on this?

[2019-12-10 23:32] jedwards4b opened #24 "Understanding fv3gfs output files"
@arunchawla-NOAA @ligiabernardet

The model as currently configured provides a number of output files, some are configured using the FMS diag_table and others are configured using the model_configure file.   Which of these files should be used to create model baselines for testing?

The cime baseline mechanism expects a time stamp in the file name and I have added this to diag_table in the past us

[2019-12-11 01:56] junwang-noaa commented on #24
ufs-weather-model uses write grid component to output history files and fms to output GFDL diagnostic fields and restart files. The model_configuration is used to control the history file output frequency and output file names (atmf* and sfc*), the workflow script is using softlink to link real file with names required by operational standards to these atmf and sfcf files. Operationally we only ou

[2019-12-11 03:16] jedwards4b commented on #24
@junwang-noaa what workflow script are you referring to?

 It sounds like we should concentrate on the files generated by model_configuration and not worry about the gfdl files except for restarts.  The time stamp is the time of the first record in the file.  The files I see are dyn and phys not atmf and sfcf - are we working with different model_configuration files?

Is there an existing mechanis

[2019-12-11 03:57] climbfuji commented on #24
Hi Jim,

dynf and physf files are usually created when quilting is set to .true. in model_configure and the appropriate settings are made. This is from one of the regression tests, in model_configure (just as an example):
[code]
I can explain those options to you when we meet tomorrow. The important ones regarding output frequency are `nfhout` (standard output frequency), `nfhmax_hf` and `nfhout_h

[2019-12-11 04:00] junwang-noaa commented on #24
I am talking about operational workflow.

The history file names are defined in model_configure, can be "dyn"/"phy" or "atmf"/"sfcf" (atmf/sfcf is operational GFSv14 output file names, so GFSv15 operational workflow is using same names). But our regression test is using "dyn"/"phy".
Model put forecast time attached to  the file name (f???). In our operational workflow, we have directory structure

[2019-12-11 17:43] LarissaReames-NOAA commented on #15
@ligiabernardet @jedwards4b The files that we have been testing against are located on [NCEP's http server](https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod) of the form gfs.tCCz.pgrb2.0p25.fFFF or gfs.tCCz.pgrb2.0p50.fFFF. We're also looking to support older archived files on [NCDC's nomads server](https://nomads.ncdc.noaa.gov/data/gfsanl/).  [This](https://nomads.ncdc.noaa.gov/data/gfsanl

[2019-12-11 17:52] jedwards4b commented on #15
@LarissaReames-NOAA Do you have a timeline of when I could expect to be able to run the ufs_mrweather_app using files from nomads?

[2019-12-11 18:34] LarissaReames-NOAA commented on #15
@jedwards4b We fixed one last bug in implementing the surface parameter processing code yesterday, so we'll be able to start testing that soon.  @arunchawla-NOAA might have more information on how long he thinks that might take.

[2019-12-11 19:59] jwolff-ncar opened #25 "Determine a layout for the UFS user support forum page"
- [Draft document on Drive](https://docs.google.com/document/d/1WC3RRfwDsTwCaEIeVHT67pXQPNAQ85CTL5AGxcW0y4I/edit)

[2019-12-11 20:11] arunchawla-NOAA commented on #6
@climbfuji and @mark-a-potts this seems to be an issue with wrong nceplibs being ported. Can you confirm that when nceplibs super project is used to build on Cheyyenne that chgres and ncep post still works ?

[2019-12-11 20:12] arunchawla-NOAA commented on #6
@uturuncoglu can you provide the files that you are using on Cheyyenne to @climbfuji and @mark-a-potts

[2019-12-11 20:23] GeorgeGayno-NOAA commented on #6
I was able to reproduce the error on Hera using _chgres_cube_ from the spack-build branch at commit ea4bf9c.  When I swap out the nemsio library associated with the branch with the 'official' Hera version, _chgres_cube_ runs without error.   So the nemsio library is the likely culprit.

[2019-12-11 20:25] uturuncoglu commented on #6
This is my config file,

&config
  atm_files_input_grid = "gfs.t00z.atmanl.nemsio"
  convert_atm = .true.
  convert_nst = .true.
  convert_sfc = .true.
  cycle_day = 9
  cycle_hour = 0
  cycle_mon = 9
  data_dir_input_grid = "/glade/scratch/turuncu/fv3gfs/chgres/gfs.20190909"
  fix_dir_target_grid = "/glade/scratch/turuncu/fv3gfs/chgres/fix_sfc"
  input_type = "gaussian"
  mosaic_file_target_grid

[2019-12-11 20:25] jwolff-ncar commented on #25
For reference:
CESM forum: https://xenforo.cgd.ucar.edu/cesm/
WRF forum: http://wrfforum.com/index.php

[2019-12-11 20:34] uturuncoglu commented on #6
@GeorgeGayno-NOAA That was fast. It is good to know that you could reproduce the error. I have also problem with NCEP Post and that could be also related with this. What do you think? I'll create another issue related with that but maybe it is better to wait until this issue is fixed.

[2019-12-11 20:41] GeorgeGayno-NOAA commented on #6
I don't know anything about NCEP post.

[2019-12-11 20:44] jwolff-ncar opened #26 "Determine subdomain address for the UFS support forum page"
Forums will be Drupal-based hosted on RAL server or Pantheon
UFS portal (ufscommunity.org) will be WordPress hosted on Pantheon

Given this, we need to create the Drupal forums as a subdomain and decide on an address, such as:
support.ufscommunity.org

[2019-12-11 22:51] mvertens commented on #13
Here is a strawman that @climbfuji and @mvertens are suggesting:
Should also see https://github.com/ufs-community/ufs-weather-model/wiki/Platform-and-Compiler-Support

- Release Supported Machines must have the following:
   - NCEPLibs has been built
   - ESMF has been built
   - CIME supports this machine out of the box for the build
   - The fixed files have been downloaded on disk
   - At least

[2019-12-11 23:53] ligiabernardet commented on #13
Also on the list of configurations to test: with/without stochastic
processes.

On Wed, Dec 11, 2019 at 3:51 PM mvertens <notifications@github.com> wrote:

[2019-12-12 05:04] uturuncoglu commented on #15
@LarissaReames-NOAA is it possible to extract [fv3_gfdlmprad.tar](https://ftp.emc.ncep.noaa.gov/EIB/UFS/RT/fv3_gfdlmprad.tar) under /EIB/UFS/RT directory in the ftp side. By this way, CIME could access individual required files in it.

[2019-12-12 14:13] KateFriedman-NOAA commented on #15
@uturuncoglu I put that tarball up on our ftp server and have access  to it. @arunchawla-NOAA @junwang-noaa Any objections if I unpack the tarball on our ftp server?

[2019-12-12 14:32] arunchawla-NOAA commented on #15
No it is just a stand alone benchmark test case that people can download
and run. However you want to store it.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
-----------------------

[2019-12-12 14:42] KateFriedman-NOAA commented on #15
I have unpacked the tarball:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/RT/fv3_gfdlmprad/

The tarball itself is still there under the ../RT folder alongside the unpacked folder.

[2019-12-12 16:00] rsdunlapiv commented on #15
Just so we don't lose this, I wanted to document here that on the call yesterday we decided to version fixed file directories (not per-file versioning, for now) and that @KateFriedman-NOAA would set up the initial versioned structure and pass it along to the CIME team to integrate with its input data mechanism.

[2019-12-12 17:46] climbfuji opened #27 "NCEPlibs superproject needs to point to UPP ufs_public_release branch"

[2019-12-12 18:42] DomHeinzeller opened #28 "Build team to write a simple run-a-test script for ufs-weather-model (w/o mr weather app)"

[2019-12-12 22:46] climbfuji commented on #7
Is anyone working on this? Otherwise I'll take a look.

[2019-12-12 23:38] ceceliadid opened #29 "Add description of capabilities to pre-processing section of release two-pager"
@LarissaReames-NOAA

Hi Larissa, could you please add information to the Input Files and Pre-Processing section of the release description here:
https://docs.google.com/document/d/1e9XaF2snfV1j_HBDCQ9T2TNVNWY0uWFr-R8r6jCm_bE/edit#
along with any information you have about what case studies or examples will be included?

Thanks,
Cecelia

cc
@ligiabernardet
@rsdunlapiv

[2019-12-13 16:31] KateFriedman-NOAA commented on #15
Fix files will be pruned to support these resolutions: C96, C192, C384, C768

Fanglin Yang will prune fix files for just those resolutions. Fix files will be frozen as of December 13th 2019 for the UFS set. I will add versioning to folders in new set and upload it to replace the current set on ftp server when ready (most likely early next week).

[2019-12-13 16:31] KateFriedman-NOAA commented on #15
Fix files will be pruned to support these resolutions: C96, C192, C384, C768

Fanglin Yang will prune fix files for just those resolutions. Fix files will be frozen as of December 13th 2019 for the UFS set. I will add versioning to folders in new set and upload it to replace the current set on ftp server when ready (most likely early next week).

[2019-12-13 16:42] yangfanglin commented on #15
Do you need the following fix directories ?
 fix_chem   fix_gldas  fix_orog  fix_sfc_climo  fix_verif

To my opinion, you do not need them if you are not going to 1) run GFS with the chemistry-transport moudle, 2) run GLDAS module, 3) create your own new FV3 tile grid, 4) support SAR FV3 and/or generate new fixed land fields, 5) run METplux verification

[2019-12-13 17:00] arunchawla-NOAA commented on #15
Fanglin

Does it make sense to keep a central place for fix files for both develop
and release branches here?
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
-------------------------

[2019-12-13 17:02] uturuncoglu commented on #15
@KateFriedman-NOAA @yangfanglin

- It could be also nice to have input directory for other resolutions C192, C384, C768. Currently we have only one fv3_gfdlmprad/. Then we could test CIME with other resolutions.

- We will also provide an example checksum file that is used by CIME to check the hashes of the retrieved files with the file in FTP to ensure file is retrieved successfully. So, when you

[2019-12-13 17:17] yangfanglin commented on #15
Arun,

Some of the fix directories such as   fix_orog  and fix_sfc_climo of very
large size.  We kept them for development purposes.

I fUFS release is looking for a trimmed down fix directory, I do not think
we can keep one development and release version.

We'd like even still keep those "old" files to support the GSM (SL and
Eulerain options).

Fanglin

On Fri, Dec 13, 2019 at 12:12 PM arun cha

[2019-12-13 17:47] climbfuji commented on #13
To follow up: we also need to decide about the versions of the software stack to support/preconfigure on which machine (mostly which compiler versions, but also which library versions).

**Intel:** I brought the question up at today's Intel Developer telecon. There was an overall notion that the latest Intel 19.0.5 is favored over Intel 18.x.y, because (a) this version fixes several bugs that Inte

[2019-12-13 19:52] arunchawla-NOAA commented on #15
Agreed Fanglin

I am not suggesting that everything be kept all together but that we have a
hierarchical directory structure for different things .
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx:

[2019-12-13 19:54] arunchawla-NOAA commented on #13
Dom this sounds reasonable to me. Please confer with the build team and
update the platform support document accordingly.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
-------------

[2019-12-16 21:08] mark-a-potts commented on #27
Put in a pull request to get cmake build files into ufs_public_release branch from my ufs_release_v1.0 branch.

[2019-12-16 21:09] mark-a-potts commented on #9
All submodules under NCEPLIBS superproject branch ufs_release_v1.0 are now also pointing to branches called ufs_release_v1.0.

[2019-12-16 21:12] uturuncoglu commented on #9
Thanks @mark-a-potts i'll try this version and let you know.

[2019-12-16 21:16] Hang-Lei-NOAA commented on #9
Hi, Mark

Could you please add the NCEPLIBS repo to the nceplibs group?

Other members are interested and want to access/use it .

Thanks
Hang

On Mon, Dec 16, 2019 at 4:12 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2019-12-16 21:18] mark-a-potts commented on #9
I just added the NCEPLIBS group to the repo. If you need more people
added, just let me know.

-M

On 12/16/19 4:16 PM, Hang-Lei-NOAA wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2019-12-16 21:20] Hang-Lei-NOAA commented on #9
Thanks Mark!

On Mon, Dec 16, 2019 at 4:18 PM Mark Potts <notifications@github.com> wrote:

[2019-12-16 22:18] mark-a-potts commented on #7
I just looked at this and I think it is because the mpi.mod module under mpt is not compatible with gnu 9.1.0.  I was able to get the project to build using openmpi and gnu 9.1.0 instead of mpt, however.

[2019-12-16 22:25] uturuncoglu commented on #7
@mark-a-potts  We are using MPT on Cheyenne as a default MPI. Do you think that it still fails with MPT?

[2019-12-16 22:38] climbfuji commented on #7
@uturuncoglu @mark-a-potts We have been building and testing the UFS successfully with GNU 8.3.0 and MPT - do you want to try if this works? Note also the discussion about compiler versions in issue https://github.com/ufs-community/ufs-mrweather-app/issues/13.

[2019-12-16 22:48] uturuncoglu opened #30 "CCPP physics_init step failed"
@ligiabernardet I am getting following error when i try to run the model with CCPP (by default the model builds with CCPP FV3_GFS_v15)

[code]

The full log is in

 /glade/scratch/turuncu/ufs-mrweather-app-master/run/ufs.log.9506878.chadmin1.ib0.cheyenne.ucar.edu.191216-144606

Following commands can be used to reproduce the error,

[code]

I just wonder is there any flag to debug CCPP and get mor

[2019-12-17 00:02] uturuncoglu commented on #9
I tested it but it still fails with the error explained in the following issue https://github.com/ufs-community/ufs-mrweather-app/issues/6

[2019-12-17 00:03] uturuncoglu commented on #6
It is still failing when i try to process the data with chgres build with NCEPLIBS that points the ufs_release_v1.0

[2019-12-17 00:07] rsdunlapiv commented on #15
@KateFriedman-NOAA can you please provide an update on when the fixed file versioned directories will be available on the FTP site?

For everyone, we were discussing today how to handle the initial conditions that are input to chgres (that will come from NCEP http or potentially NOMADS) and how to hook that into CIME.  A simple approach we are considering now is to require the user to manually pop

[2019-12-17 00:23] mark-a-potts commented on #6
I updated NCEPLIBS-nemsio today to something that will hopefully fix this problem. Did you pull the latest version (with submodules) of ufs_release_v1.0 before you tested today?

[2019-12-17 02:46] mark-a-potts commented on #7
I was in the midst of testing MPT with gnu 8.3.0 when I got booted off
of Cheyenne for taking up too much of the head node. I think that the
problem is with the MPT module on Cheyenne not being compatible with gnu
9.1.0, though.

-Mark

On 12/16/19 5:25 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@no

[2019-12-17 03:09] mvertens commented on #7
@mark-a-potts - you need to use *qcmd* on cheyenne in order not to be
booted off. See
https://dailyb.cisl.ucar.edu/bulletins/cisl-adds-qcmd-script-launching-resource-intensive-compilation-jobs
.

On Mon, Dec 16, 2019 at 7:46 PM Mark Potts <notifications@github.com> wrote:

[2019-12-17 03:58] arunchawla-NOAA commented on #6
Ufuk

If the library has already been built then this is probably not building again. Can you purge all your nceplibs builds and ensure that everything gets built again?

Sent from my iPhone

[2019-12-17 14:38] KateFriedman-NOAA commented on #15
I'm waiting to get a pruned copy of the fix files from Fanglin and then I can put the versioning on them and push them up to the ftp server.

@yangfanglin Any update on the pruned fix file set? Thanks!

[2019-12-17 16:07] ligiabernardet commented on #30
Ufuk, I would like to suggest that you repeat the run with the updated code in ufs_public_release https://github.com/ufs-community/ufs-weather-model/pull/15.

This code will support the two physics suite for the release: GFSv15p2 and GFSv16beta. You will find those SDFs in https://github.com/NOAA-EMC/fv3atm/tree/ufs_public_release/ccpp/suites (all other SDFs have been removed since they are not su

[2019-12-17 16:19] arunchawla-NOAA commented on #17
George will work with Larissa to create a google doc version. We will work on  converting that to rst form once it reaches a level of maturity

[2019-12-17 16:33] jedwards4b commented on #30
@ufuk I am updating the cime build to work with the latest ufs_weather_model release code now, should have something for you later today.

[2019-12-17 16:34] jwolff-ncar commented on #26
Team decided on: forums.ufscommunity.org
We will also have a page on ufscommunity.org/support that would include a description and point to other locations to access support

[2019-12-17 16:34] #26 closed

[2019-12-17 16:35] jedwards4b opened #31 "CIME compset names for release"
Currently we have a single compset: UFS_Weather which uses the ccppv15 physics

We need to come up with names for two compsets - one for ccppv15 and one for ccppv16 and we need to think about a naming convention that will extend to other physics configurations.
I also think UFS_Weather is too long for an alias name.
How about:
FV3ccpp15
FV3ccpp16

[2019-12-17 16:40] climbfuji commented on #31
In my opinion, the "ccpp" part of it is not important, because we are not providing ways to run the "ipd" version. Instead, I would prefer to have FV3v15p2 (or FV3GFSv15p2) and FV3v16beta (or FV3GFSv16beta). But the documentation team should also have a say here.

[2019-12-17 16:43] ligiabernardet commented on #31
Please use GFSv15p2 and GFSv16beta to refer to the suites. It is important
not to use "GFS v16" because what we have today may not be what is
implemented operationally in GFS v16 in 2021.

Will the on/off of stochastic physics be configured through compsets? Or
will that be just instructions to users to change the namelist values?

On Tue, Dec 17, 2019 at 9:40 AM Dom Heinzeller <notifications@gith

[2019-12-17 16:50] ligiabernardet commented on #30
@mzhangw @julieschramm @llpcarson Pls refer to these SDFs and namelists for documentation

[2019-12-17 16:56] jedwards4b commented on #31
Which physics we use as well as whether we use stochastic physics can be toggled in a particular case.  Including them in a compset name is just a convenience for the user and for testing.  We could just have a single compset name and then the user would switch options in the case with
xmlchange commands.   Or we can have a new compset name for each combination of physics options (4 total at this

[2019-12-17 17:05] mark-a-potts commented on #7
Okay, I think I have figured out the fix/workaround. To get the right
includes, the build needs to use the mpif90 wrapper from mpt rather than
gfortran. So, if you set the following environment variables before
running the cmake command, things seem to work (for gnu 8.3.0, at least)--

export FC=mpif90
export CC=mpicc
export CXX=mpicxx

cmake -DMPITYPE=mpt -DCMAKE_INSTALL_PREFIX=$PWD/install ..

m

[2019-12-17 17:10] ligiabernardet commented on #31
@pjpegion Do you have any preference/input on how the stochastic is turned on (via CompSet or not) and the names proposed by @jedwards4b?

[2019-12-17 17:15] uturuncoglu commented on #30
@jedwards4b okay that is great. BTW, I have some update in CIME side and I'll make a PR for it. There is no major changes and I just updated input data directory. So, if we merge it with CIME master then we could also update it and point original CIME repository.

[2019-12-17 17:32] uturuncoglu commented on #30
@ligiabernardet Thanks for your help. @jedwards4b will update the model source and I could try again.

[2019-12-17 17:35] uturuncoglu commented on #6
@mark-a-potts yes, I updated the code. I am checking out origin/full-stack branch and the hash that I used is d2fab36

@arunchawla-NOAA I did a fresh install in this case

@GeorgeGayno-NOAA was able to reproduce the issue. @GeorgeGayno-NOAA did you test it with the latest version? Is it working in your case.

[2019-12-17 18:26] arunchawla-NOAA commented on #28
this will become difficult to maintain long term. Suggest we close it

[2019-12-17 18:45] mvertens commented on #28
Closing this issue - since we will not take this on for the release.

[2019-12-17 18:45] #28 closed

[2019-12-17 19:00] uturuncoglu commented on #30
@ligiabernardet if i compare both nml files i could see some difference as following,

[code]
while we are creating entire namelist automatically using CIME. I need to decide which parameter is resolution and CCPP dependent and which one is the common. So, i could define CIME xml namelist file based on this information and we just need to define the modifications for specific case. Do you have any

[2019-12-17 19:27] uturuncoglu commented on #30
I might miss something but i noticed that there is no option as interp_method in interpolator_nml (under FMS)

[code]
Are these namelists are up-to-date with code? Any idea?

[2019-12-17 21:22] ligiabernardet commented on #30
Ufuk,
To my knowledge the namelists are up to date with the code. Jack Kain and
Fanglin gave DTC the namelists via Google Doc, which Dom committed to the
repository with minor changes to run C96. We tested them and they run fine.

The two namelists provided reflect how EMC runs the configurations of the
GFS (operational v15.2 and developmental v16). As you noted, there are
differences in the physi

[2019-12-17 21:30] climbfuji commented on #30
I can only say that in the regression tests some of the dynamics/physics parameters vary with resolution (which makes sense), but I do not know which values are the "correct" ones to use for which resolution (and for which version of the suite).

[2019-12-17 21:50] jedwards4b commented on #31
@ligiabernardet is the toggle on/off of stochastic physics just a namelist change or is there also a build change involved?

[2019-12-17 22:01] ligiabernardet commented on #31
It is a set of namelist changes. No build changes.

On Tue, Dec 17, 2019 at 2:50 PM jedwards4b <notifications@github.com> wrote:

[2019-12-17 22:04] jedwards4b commented on #31
In that case I propose that we have only two compsets and provide instructions to the user on how to toggle stochastic physics - should the default be on or off?

[2019-12-17 22:10] uturuncoglu commented on #30
@ligiabernardet It is fine! we will use those two namelist for the release.

[2019-12-17 22:15] uturuncoglu commented on #30
@ligiabernardet @climbfuji @KateFriedman-NOAA @yangfanglin We also found some inconsistencies in the input files especially for global_o3prdlos.f77.  The file which is found in the FTP site

https://ftp.emc.ncep.noaa.gov/EIB/UFS/RT/fv3_gfdlmprad/global_o3prdlos.f77

is not compatible with CCPP and the latest version of the model gives following error when we use the file from the FTP

[code]

Whil

[2019-12-17 22:22] ligiabernardet commented on #30
This has been a confusion point all along when configuring/using this
model, and I am glad CIME is here to help. You need to use
the  global_o3prdlos.f77 we provided because it is compatible with the
version of NRL ozone parameterization that is used in those suites (NRL
2016). There is an older version of this parameterization (NRL 2005) that
uses a different (smaller) file by the same name. Can

[2019-12-17 22:25] uturuncoglu commented on #30
@ligiabernardet okay thanks for the clarification. It is hard to decide which input file is correct which one is old without any data stamp on the files. @KateFriedman-NOAA @yangfanglin is it possible to put those directories to the FTP site? By this way, we could still use FTP site.

[2019-12-17 22:27] ligiabernardet commented on #30
NRL 2006 parameterization is not supported in this release. Only NRL 2015
is supported. So we only need one global_o3prdlos.f77 in the ftp site (the
bigger one).

On Tue, Dec 17, 2019 at 3:26 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2019-12-17 22:30] yangfanglin commented on #30
In our ftp archive we have the following two files

global_o3prdlos.f77
ozprdlos_2015_new_sbuvO3_tclm15_nuchem.f77

In our forecast script  exglobal_fcst_nemsfv3gfs.sh you can find

if [ ${new_o3forc:-YES} = YES ]; then

    O3FORC=ozprdlos_2015_new_sbuvO3_tclm15_nuchem.f77
else
    O3FORC=global_o3prdlos.f77
fi

So there is no confusion had users been using our system (the workflow), or
the other

[2019-12-17 22:32] uturuncoglu commented on #30
@yangfanglin Do we have those both file in the FTP? I think we have only one of them and the file that we need is missing. If we have both file then i could make the required changes in the CIME side.

[2019-12-17 22:34] yangfanglin commented on #30
I am working on putting together a trimmed down version of the fix
directory for UFS.  It will have these two files included.

Fanglin

On Tue, Dec 17, 2019 at 5:32 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.ncep.noaa.gov

[2019-12-18 13:55] KateFriedman-NOAA commented on #15
Thanks @yangfanglin for making the trimmed down version.

All, I have replaced the fix directory on our ftp server with the trimmed down version:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/

[code]

The version (v20191213) corresponds to our latest set on WCOSS from which this set was made.

[2019-12-18 13:57] KateFriedman-NOAA commented on #30
Thanks @yangfanglin for making the trimmed down version.

All, I have replaced the fix directory on our ftp server with the trimmed down version:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/

[code]

The version (v20191213) corresponds to our latest set on WCOSS from which this set was made.

The two O3FORC files are here:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/gl

[2019-12-18 14:45] arunchawla-NOAA commented on #27
@WenMeng-NOAA what is the status of this PR ?

[2019-12-18 14:49] arunchawla-NOAA commented on #12
@jedwards4b Any update on this ? The nceplibs should build with gnu now. Adding @climbfuji and @mark-a-potts to comment

[2019-12-18 14:52] arunchawla-NOAA commented on #9
Can this issue be closed now (@mark-a-potts, @Hang-Lei-NOAA ) that the release branches have been created. We can review the failures issues on the other ticket.

[2019-12-18 14:53] fossell commented on #27
@arunchawla-NOAA @WenMeng-NOAA  The DTC has just finished up testing of the community build modifications and will be merge those into ufs_public_release branch likely today.  Then we will look at the cmake PR from @mark-a-potts and merge that as well. So should be ready to point to that branch and start testing UPP within the app by end of the week.  It's my understanding that these cmake mods ar

[2019-12-18 14:56] Hang-Lei-NOAA commented on #9
This issue can be closed. The issue 6 can be solved by fixing of cmake
version of nemsio. I will update the cmake version of nemsio today to solve
the issue #6.

On Wed, Dec 18, 2019 at 9:52 AM arun chawla <notifications@github.com>
wrote:

[2019-12-18 14:56] WenMeng-NOAA commented on #27
@fossell For my understanding, the PR is enable the NCEPLIBS superproject build, not for in-line post.

[2019-12-18 15:03] arunchawla-NOAA commented on #27
That is right. This is not for in line post but to use with nceplibs super
project which uses the cmake build. Thanks !
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
---------------

[2019-12-18 15:05] fossell commented on #27
@arunchawla-NOAA @WenMeng-NOAA Thanks for the clarification. I will update this thread when the cmake PR changes from @mark-a-potts are merged into ufs_public_release so this PR can be resolved and superproject can point to that branch.

[2019-12-18 15:07] jedwards4b commented on #12
@arunchawla-NOAA I am at a conference today and then off until after christmas.

[2019-12-18 15:13] climbfuji commented on #12
I am still working through a few issues building on macOS with GNU. I am testing different scenarios, a build that finds nothing but compiler and mpi library (i.e. builds the entire software stack), versus builds that find several to all of the required 3rd party libraries and build only what is missing.

[2019-12-18 15:42] pjpegion commented on #31
@jedwards4b @ligiabernardet I suggest instructions on how to modify the namelist for stochastic physics, not a separate compset, and the default should be off.

[2019-12-18 16:13] Hang-Lei-NOAA commented on #6
I further match the script and code of ufs_release_v1.0.  It has fully match the official version installed on WCOSS and Hera. I tested with cmake building.
May use this https://github.com/NOAA-EMC/NCEPLIBS-nemsio/tree/ufs_release_v1.0 to solve the problem.

[2019-12-18 17:59] ligiabernardet commented on #30
@Laurie Carson <carson@ucar.edu> @juliescharmm Please make sure these files
have a 1-line of documentation in the UG

On Wed, Dec 18, 2019 at 6:57 AM Kate Friedman <notifications@github.com>
wrote:

[2019-12-18 18:14] uturuncoglu commented on #6
I am installing the NCEPLIBS with following commands

[code]

@mark-a-potts @GeorgeGayno-NOAA do you think that by this way i could install libraries to solve the CHGRES issue? I'll wait for your response before trying again.

[2019-12-18 18:27] uturuncoglu commented on #30
@yangfanglin BTW, i could not find the new_o3forc if statement that you mentioned in the model code. i just checked

release/v0/scripts/exglobal_fcst_nemsfv3gfs.sh

the top level hash for the mrweather-model is 7a4a7f3d in the following repository
https://github.com/ufs-community/ufs-weather-model/

and this version of code just has following copy command

$NLN $FIX_AM/global_o3prdlos.f77

[2019-12-18 18:28] #9 closed

[2019-12-18 18:30] arunchawla-NOAA commented on #6
@GeorgeGayno-NOAA commented to me that this works for him. George can you confirm ?

[2019-12-18 18:32] arunchawla-NOAA commented on #7
Hello

Has this workaround been tested ? If this is documented then can we close this ticket?

[2019-12-18 18:33] arunchawla-NOAA commented on #5
@climbfuji @mark-a-potts . Can this ticket be closed as the issues are being addressed in other tickets?

[2019-12-18 18:35] climbfuji commented on #5
Ok with me!

[2019-12-18 18:35] arunchawla-NOAA commented on #10
Hi. Can you provide a status of this ticket?

[2019-12-18 18:36] Hang-Lei-NOAA commented on #6
You have to checkout the branch
ufs_release-v1.0
to get the update.

Or you have to change the nemsio library to the source on
https://github.com/NOAA-EMC/NCEPLIBS-nemsio/tree/ufs_release_v1.0

In the develop, it still point to the old one. I do not have to right to
change this repo. I will ask Mark to give me the write to make this change
for develop.

On Wed, Dec 18, 2019 at 1:14 PM Ufuk Turunço

[2019-12-18 18:38] uturuncoglu commented on #6
@Hang-Lei-NOAA Thanks for the information. That is great to know that it works for @GeorgeGayno-NOAA. So, i'll try and let you know about it.

[2019-12-18 18:41] LarissaReames-NOAA commented on #10
We believe that we have the last of the loose bugs tied up and fixed. We're implementing one more change that addresses some of the earlier bugs more efficiently and effectively. The code should be ready for testing within a couple of days.

[2019-12-18 18:41] arunchawla-NOAA commented on #11
@ligiabernardet @rsdunlapiv what is the status ?

[2019-12-18 18:42] #5 closed

[2019-12-18 18:43] GeorgeGayno-NOAA commented on #6
I tried Mark's branch (b76f56a) on Hera using my canned case.  It works.

[2019-12-18 18:58] uturuncoglu commented on #6
I am getting following error when i try to use ufs_release_v1.0 branch

[code]
I could provide an external HDF5 and NETCDF modules but this was working before and you might want to look at the issue.

[2019-12-18 19:27] arunchawla-NOAA commented on #30
@uturuncoglu @KateFriedman-NOAA

Has the new input fix directories solved this?

[2019-12-18 19:27] yangfanglin commented on #30
You need to use the new script from our workflow

On Wed, Dec 18, 2019 at 1:27 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
http://www.emc.ncep.noaa.gov/gmb/STATS_vsdb/

[2019-12-18 19:41] arunchawla-NOAA commented on #29
@LarissaReames-NOAA can you provide some information to this document. I know the information will not be final.

[2019-12-18 19:50] uturuncoglu commented on #30
@arunchawla-NOAA I am trying to modify the CIME scripts because folders in FTP changed. Then, i'll test with new file.

@yangfanglin If you don't mind, could you point me the place of the new script from your workflow? Thanks for your help.

[2019-12-18 20:38] yangfanglin commented on #30
Please see   https://github.com/NOAA-EMC/global-workflow/tree/feature/gfsv16

The forecast script is
https://github.com/NOAA-EMC/global-workflow/blob/feature/gfsv16/scripts/exglobal_fcst_nemsfv3gfs.sh

On Wed, Dec 18, 2019 at 2:50 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Predicti

[2019-12-18 20:41] yangfanglin commented on #30
Correction
https://github.com/NOAA-EMC/global-workflow/tree/feature/gfsv16b
https://github.com/NOAA-EMC/global-workflow/blob/feature/gfsv16b/scripts/exglobal_fcst_nemsfv3gfs.sh

On Wed, Dec 18, 2019 at 3:36 PM Fanglin Yang - NOAA Federal <
fanglin.yang@noaa.gov> wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722

[2019-12-18 20:42] mark-a-potts commented on #6
Hi Ufuk,

What modules did you have loaded when you ran the cmake command, and
what was that command?

-M

On 12/18/19 1:58 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2019-12-18 21:02] uturuncoglu commented on #6
I used following commands to load the modules

[code]

to use external ESMF installation

[code]
and use following cmake command to install,

[code]

[2019-12-18 21:57] uturuncoglu commented on #15
@KateFriedman-NOAA following file is missing under FTP

under FIX_AM - global_co2historicaldata_glob.txt

PS: I am trying to mimic https://github.com/NOAA-EMC/global-workflow/blob/feature/gfsv16b/scripts/exglobal_fcst_nemsfv3gfs.sh under CIME.

[2019-12-18 22:19] yangfanglin commented on #15
Indeed   global_co2historicaldata_glob.txt is missing. Sorry for the
overlook.

Kate, please copy this one over from the original fix directory.

On Wed, Dec 18, 2019 at 4:57 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.nce

[2019-12-18 23:11] ligiabernardet commented on #11
My understanding is that this information can go on the MR Weather App Users Guide. Regarding how it gets updated, my thought is that we will have a "frozen" documentation to accompanied the release. As we continue to develop the UFS toward future releases, we will continue to maintain and update documentation in the repository.

[2019-12-18 23:23] uturuncoglu commented on #15
I am not sure about following files but they might be also missing in the FTP

global/fix/fix_am.v20191213/global_soilmgldas.statsgo.t190.384.192.grb

I am trying to generate files based on the resolution given and maybe we need to use highest resolution file for it as it implemented in exglobal_fcst_nemsfv3gfs.sh

[2019-12-18 23:58] arunchawla-NOAA commented on #11
Aah this is interesting. Should this documentation sit with CIME or the app? I can see it both ways. Maybe because it is the way CIME interacts with UFS then it can be in the app

Sent from my iPhone

[2019-12-19 00:43] mvertens commented on #11
@Arun Chawla - NOAA Federal <arun.chawla@noaa.gov> - this documentation
should sit with the app - since the CIME documentation itself should be
model agnostic to the greatest extent possible.

On Wed, Dec 18, 2019 at 4:58 PM arun chawla <notifications@github.com>
wrote:

[2019-12-19 02:25] yangfanglin commented on #15
Ufuk,
All the  fix fields will be read in by the model and then projected onto the tile grid.  Ideally, the input data should have a  much higher resolution than the T(2*CASE-2) Gaussian grid  resolution. We did not have all the fields at all Gaussian grid resolutions prepared either.  These are the reasons why in the forecast script the fields at the T1543 resolution are used if their data at the

[2019-12-19 03:32] arunchawla-NOAA commented on #13
Do we have clarity on testing plans now? Suggest coordinate with @pjpegion and the testing team and then close issue

[2019-12-19 04:46] ceceliadid opened #32 "Some pre-release communication with university/external users about examples"
@arunchawla-NOAA @LarissaReames-NOAA @ligiabernardet The C&O team would like to gather some pre-release input on the kinds of examples most valuable to university/external users. We can provide a draft of that communication.

[2019-12-19 04:48] ceceliadid opened #33 "Complete Getting Started and GST pages on MRW app wiki"
@arunchawla-NOAA This needs to wait until the code base and documentation is ready, and a test is defined.

[2019-12-19 04:49] ceceliadid opened #34 "Complete WM and NCEPLIBS wiki instructions and ftp materials for the weather model GST"
@arunchawla-NOAA This can be simple. It may be useful to exercise the umbrella build for the prerequisites.

[2019-12-19 04:51] ceceliadid opened #35 "Write a two page description of the release"
@arunchawla-NOAA Write a two-pager describing the release. This should be useful for both internal and external release team communication.

[2019-12-19 04:53] ceceliadid opened #36 "Create a public schedule with major milestones for the release"
The schedule can be posted on the Portal. There are already milestones here that are important to acknowledge. Draft is here: https://drive.google.com/open?id=1bbT8kcxgagkTu4xmsU0zLLr64R561Do8B93VCnBJWWU

[2019-12-19 04:55] ceceliadid commented on #35
Here is the draft: https://docs.google.com/document/d/1e9XaF2snfV1j_HBDCQ9T2TNVNWY0uWFr-R8r6jCm_bE/edit#

[2019-12-19 14:21] KateFriedman-NOAA commented on #15
@uturuncoglu @yangfanglin The missing file has been copied to the ftp server:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/global_co2historicaldata_glob.txt

[2019-12-19 14:25] KateFriedman-NOAA commented on #15
I noticed a set of broken symlinks as I was going to rsync the files to the ftp server the other day and copied in the files that the symlinks were missing from the main set of fix files. Apologies if that was wrong...let me know if those symlinks should be removed and replaced with other files. I can make the edits and update the ftp set as needed.

[2019-12-19 15:33] rsdunlapiv commented on #16
Documentation is being assembled on this branch:
https://github.com/ufs-community/ufs-mrweather-app/tree/documentation/docs/UsersGuide

[2019-12-19 15:36] rsdunlapiv commented on #11
Yes, as @ligiabernardet said, it is important that at the time of the release, the documentation itself is tagged with the release and is frozen in time and always accessible.  Future releases will include a future version of the docs.  You should always be able to go back to prior versions of the documentation.  This will be critical since different users will be working with different release ve

[2019-12-19 15:55] rsdunlapiv opened #37 "Extend the CIME workflow to support user-specified initial conditions flexibly"
A clear mechanism is needed in CIME for how the user should handle specifying which initial conditions to use (e.g., a forecast starting date and a set of input file to chgres) and ensuring overall consistency of the IC settings across the workflow.

This is something we expect the user to change frequently and potentially at different times during the workflow (e.g., the weather model has been bu

[2019-12-19 16:07] arunchawla-NOAA commented on #36
We will make the first attempt at this and document it here

[2019-12-19 16:18] ligiabernardet opened #38 "Need documentation for NCEP Libs SuperProject"
We need to create documentation about how get the code and build it.
I suggest this is a standalone documentation and not part of the MR Weather User's Guide because it will be used by other apps.

[2019-12-19 16:23] mvertens commented on #16
Actually the documentation is being assembled in the ESCOMP fork of the app:
https://github.com/ESCOMP/ufs-mrweather-app.git
When the documentation is done on the fork a PR will be done to the branch
you listed.

On Thu, Dec 19, 2019 at 8:33 AM Rocky Dunlap <notifications@github.com>
wrote:

[2019-12-19 16:49] uturuncoglu commented on #15
@KateFriedman-NOAA Thanks for your help and also information.

[2019-12-19 17:29] uturuncoglu commented on #15
@KateFriedman-NOAA @yangfanglin Do we need following files?

post_tag_gfs${LEVS}
postxconfig-NT-GFS-TWO.txt
postxconfig-NT-GFS-F00-TWO.txt
params_grib2_tbl_new

They are required for inline post and also ncep_post (?) but i could not find them in the FTP. I also look at model source directory under param and some of them are in this directory but not all of them. It might be good to have them in a

[2019-12-19 17:38] yangfanglin commented on #15
They belong to the UPP package.

On Thu, Dec 19, 2019 at 12:29 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
http://www.emc.ncep.noaa.gov/gmb/STATS_vsdb/

[2019-12-19 18:16] mvertens commented on #38
Here is my recommendation:
- getting the code should be in the quick start guide.
- building it on supported platforms should also be in the quick start
guide.
- porting it should be a pointer to the CIME documentation or another MR
Weather App specific documentation describing how to port and validate.
The CIME build is going to be used by the S2S app if they go with CIME -
but not by other apps.

[2019-12-19 18:25] ligiabernardet opened #39 "Need documentation for file model_configure"
@RatkoVasic-NOAA @DusanJovic-NOAA Would you be able to point us to existing documentation (or provide us with documentation) on file _model_configure_?

[2019-12-19 19:00] pjpegion commented on #13
@mvertens I see you have a suggest list of machines above,  is this a list of platforms that the build team and workflow teams have access so they can do internal testing?  I have additional platforms in my test team recommendations documentation, but I think those platforms will be tested after this initial list of platforms have been tested.

[2019-12-19 19:09] mvertens commented on #13
@Philip Pegion <philip.pegion@noaa.gov> - I think you are raising a
definite problem area. The workflow team has access to cheyenne, stampede
and for just one of us - hera. I know that Dom has access to cheyenne - but
am not sure who else. What is the best way to determine the access to those
platforms for everyone that will require the access?

On Thu, Dec 19, 2019 at 12:00 PM Phil Pegion <notifi

[2019-12-19 19:45] climbfuji commented on #13
I have access to all machines (orion account is still in the making) and I am willing to fill in for testing on the platforms that others cannot access.

[2019-12-19 19:57] pjpegion commented on #13
@mvertens I just created a [google document](https://docs.google.com/spreadsheets/d/122uasMhD8aF_s6jUpy7t_Io5JSNGYOmBddtT6kh0dSQ/edit#gid=0) that has a list of platforms,  we need to get people from the build team and test team to fill it out (I will add the test team column)

[2019-12-19 20:39] kgerheiser commented on #38
I have created an initial Wiki page that describes how to build NCEPLIBS here: https://github.com/NOAA-EMC/NCEPLIBS/wiki/Cloning-and-Compiling-NCEPLIBS

[2019-12-19 22:14] uturuncoglu commented on #30
I implemented almost all the logic for cold start and and CCPP v15p2 and try to run the model but i am getting following error in microphysics,

[code]

The initial conditions are coming from https://ftp.emc.ncep.noaa.gov/EIB/UFS/RT/fv3_gfdlmprad/INPUT/ and all input namelist files are generated automatically by CIME (it seems that they are identical with https://github.com/ufs-community/ufs-weath

[2019-12-19 22:49] pjpegion commented on #30
I'm not 100% sure, but if it is no there, how are you telling the model where it is?  @ligiabernardet would know for sure.

[2019-12-19 22:50] uturuncoglu commented on #30
Okay, to test it i copied to my run directory manually. So, i'll let you know about it. It is still in the queue.

[2019-12-19 22:52] climbfuji commented on #30
The SDF does not have to be copied to the run directory.

CCPP is compiled in static mode, which means that the SDF needs to be present only during build time. The name of the suites presented at compile time (in the xml attribute name="...") are compiled into the executable, and the value obtained from CCPP_suite=... in input.nml will be used to run a certain suite.

[2019-12-19 22:56] pjpegion commented on #30
@climbfuji thanks for clarifying.  @uturuncoglu can you point me to your SDF, I want to see if it consistent with the namelist.
 Thanks,-Phil

[2019-12-19 23:06] uturuncoglu commented on #30
@climbfuji Thanks for the clarification. I also tested by copying to the run directory and it fails with the same way. The only difference seems that i am using different resolution for the static files. So, i'll try with the lower resolutions again.

@yangfanglin There is no file called seaice_newland.grb in the global/fix/fix_am.v20191213. Actually this is used by fv3_gfs_v15p2_repro_ccpp/input.

[2019-12-19 23:08] uturuncoglu commented on #30
@pjpegion it is in /glade/scratch/turuncu/ufs-mrweather-app/run/suite_FV3_GFS_v15p2.xml and i copied from my source /glade/u/home/turuncu/EMC/ufs-mrweather-app.dec17/src/model/FV3/ccpp/suites/suite_FV3_GFS_v15p2.xml

[2019-12-19 23:34] uturuncoglu commented on #30
I tested following configurations;

* Using exactly same resolution files from successful runs that @ligiabernardet pointed. This test is failed with the same error

* Using same input.nml from successful runs that @ligiabernardet pointed. **This runs without any problem.** So, it seems that it is an issue related with the input.nml. I am not sure why but i need to check the default values with th

[2019-12-19 23:51] uturuncoglu commented on #30
@ligiabernardet @climbfuji  @yangfanglin  @pjpegion When i set   h2o_phys = .true. (it was .false.) the model runs without any problem. I had also found problem with d_ext option, it was in its default value. So, now it seems it is working. I'll also test with CCPP v16beta. Thanks again for your great help.

[2019-12-20 14:11] mark-a-potts commented on #6
I think this was happening because the cmake submodule was not pointing
to the latest version. I have updated it in the ufs_release_v1.0 branch
of NCEPLIBS, which is the branch we will be using for the release and it
builds for me with the modules and environment variables you were using.

-Mark

On 12/18/19 4:02 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLin

[2019-12-20 15:48] arunchawla-NOAA commented on #38
Thank you for this! Can we add a list of all the libraries that are being built here ?

[2019-12-20 15:56] arunchawla-NOAA commented on #38
@mvertens just to clear up any confusion, this documentation is for all the libraries builds

[2019-12-20 16:01] ligiabernardet commented on #39
Thank you @DusanJovic-NOAA A trove of information!
@llpcarson @julieschramm

[2019-12-20 16:10] climbfuji commented on #38
Have a look, please, and correct as needed: https://github.com/NOAA-EMC/NCEPLIBS/wiki/Cloning-and-Compiling-NCEPLIBS

[2019-12-20 16:23] arunchawla-NOAA commented on #32
@ceceliadid will this be different from the two pager?

[2019-12-20 16:26] arunchawla-NOAA commented on #31
I second @ligiabernardet suggestion of GFSv15 and GFSv16BETA as the two names (FV3 is only the dycore we are removing FV3GFS name where we can)

[2019-12-20 16:33] arunchawla-NOAA commented on #30
@uturuncoglu is this resolved now? Can this issue be closed?

[2019-12-20 16:44] arunchawla-NOAA commented on #15
@uturuncoglu is your testing complete ? Can this issue now be closed as the ftp site is up and running?

[2019-12-20 16:49] arunchawla-NOAA commented on #27
@fossell and @WenMeng-NOAA what is the status of this PR from @mark-a-potts . Please tag up with @climbfuji and @kgerheiser so that they can update the NCEPLIBS super project to point to the UPP release branch at that point

[2019-12-20 16:51] arunchawla-NOAA commented on #24
@jedwards4b are there any outstanding issues ? Can we close this ticket now?

[2019-12-20 17:58] uturuncoglu commented on #30
@arunchawla-NOAA Yes, the issue can be closed now. I could able to run the model without any problem using both CCPP v15p2 and v16beta suites. In this case, all namelist files are automatically generated by CIME.

[2019-12-20 19:09] uturuncoglu commented on #6
@mark-a-potts i could able to install without any problem. I'll test chgres with this version and get back to you soon.

[2019-12-20 20:06] uturuncoglu commented on #15
@KateFriedman-NOAA @yangfanglin @arunchawla-NOAA Is the FTP directory structure changed? I could not see RT directory anymore. There is a simple-test-case/ directory but it is a tar file. We were using RT directory to get some files such as tables etc.

[2019-12-20 20:17] ligiabernardet commented on #39
Here is what Dusan sent (for those that have access to VLab):
https://vlab.ncep.noaa.gov/redmine/projects/comfv3/wiki/_parameters_in_model_configure_

[2019-12-20 20:19] arunchawla-NOAA commented on #15
why are you using RT? That is a snapshot of one of the regression test cases. What files are you needing ? I am adding @junwang-noaa and @DusanJovic-NOAA

[2019-12-20 20:23] uturuncoglu commented on #15
The list of files that are retrieved from RT is

data_table
diag_table
field_table
nems.configure -> i could create it with script for mrweather
gfs_ctrl.nc
sfc_data.tile*.nc
gfs_data.tile*.nc

The nc files are required for the example test case, that will be default for the application. The table files can be retrieved from the source directory but i am not sure.

[2019-12-20 20:24] ceceliadid commented on #32
Yes.

[2019-12-20 20:25] arunchawla-NOAA commented on #15
the simple test case has many of the files you need
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
------------------------------------------------------------

On Fri, Dec 20, 2019

[2019-12-20 20:25] uturuncoglu commented on #15
I think that it would be nice to have sample set of ICs that could be used to run the model without chgres. I also did not implement restart capability yet. We might need some files for it. BTW, is there any documentation that has information about restarting the standalone FV3.

[2019-12-20 20:26] uturuncoglu commented on #15
@arunchawla-NOAA Then, we need to extract it just as we did before for fv3_gfdlmprad.

[2019-12-20 20:31] uturuncoglu commented on #6
If i use https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_fv3_gmted2010.v20191213/C96/C96_mosaic.nc as a input to CHGRES, i am getting following error

[code]

[2019-12-20 20:33] uturuncoglu commented on #6
In this case i am linking C96_mosaic.nc as grid_spec.nc in the INPUT directory

[2019-12-20 20:45] GeorgeGayno-NOAA commented on #6
The code assumes the name of the mosaic file is:  CXX_mosaic.nc

[2019-12-20 20:49] uturuncoglu commented on #6
@GeorgeGayno-NOAA Thanks. Okay i'll try to test it with that way but the mosaic file is defined in the **mosaic_file_target_grid** namelist option and i think that there is no ned to have same file in the INPUT directory with different name (C96_mosaic.nc and grid_spec.nc)

[2019-12-20 20:57] fossell commented on #27
@arunchawla-NOAA @climbfuji @mark-a-potts @kgerheiser  DTC will have a branch and status update very soon.

[2019-12-20 22:27] rsdunlapiv opened #40 "Set up CIME for all four supported resolutions"
- Need to update config_grids.xml for UFS - it should not be CESM specific. Need to be able to support these four resolutions out of the box in config_grids.xml:   C96, C192, C384, C768
- CIME should ensure the model resolution and chgres output resolution are consistent based on the case resolution.

[2019-12-20 22:32] rsdunlapiv opened #41 "Implement workflow error checking when user runs only part of the workflow"
CIME has been extended to run only part of the workflow by either choosing a starting task in the middle of the workflow or by running only a single job.  This may lead the user into an inconsistent state, for example, if the user chooses to only run the forecast job, but chgres has not yet been run to produce initial conditions.

Explore how the CIME workflow XML can be extended to support specia

[2019-12-20 22:35] rsdunlapiv opened #42 "Extend CIME with user-friendly workflow status information"
Here is an example of rocoto status output.  CIME should have some support for listing basic status information of the entire workflow.

[code]

[2019-12-20 22:39] uturuncoglu commented on #15
@arunchawla-NOAA @GeorgeGayno-NOAA How we handle required fixed resolution dependent input files for CHGRES? So, following files needed for each supported resolution and need to be placed under FTP

C96.facsf.*.nc
C96.maximum_snow_albedo.*.nc
C96.slope_type.*.nc
C96.snowfree_albedo.*.nc
C96.soil_type.*.nc
C96.substrate_temperature.*.nc
C96.vegetation_greenness.*.nc
C96.vegetation_type.*.nc

[2019-12-20 22:40] rsdunlapiv opened #43 "Implement model regression tests with CIME"
A basic "smoke test" has been implemented with CIME - this is a kind of sanity check to ensure that the model builds and runs for a short time.  We need to identify what additional regression tests would be most beneficial for the release and implement them.

- We need to identify where the pre-processed initial conditions will come from for the regression tests.  (The model regression tests shoul

[2019-12-20 22:41] uturuncoglu commented on #15
Currently, i am getting them from the directory that i used for the prototype version of workflow.

[2019-12-20 22:42] rsdunlapiv opened #44 "Ensure CIME supports duplicate namelist variables"
CIME must support duplicate namelist variables in XML since the same variable name can be used in different namelist groups.  @mvertens said that this is already done in CIME with an @notation in the XML file.  This needs to be verified before closing this issue.

[2019-12-20 22:43] uturuncoglu commented on #40
I think that config_machine.xml also need to be cleaned. We need to keep only supported platforms for UFS.

[2019-12-20 22:45] uturuncoglu commented on #44
I tested it and it is working.

[2019-12-20 22:51] mvertens commented on #44
@Ufuk Turuncoglu <turuncu@ucar.edu> - can this issue be closed?

On Fri, Dec 20, 2019 at 3:45 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2019-12-20 22:52] uturuncoglu commented on #44
@mvertens yes. i am closing it.

[2019-12-20 22:52] #44 closed

[2019-12-20 22:57] uturuncoglu commented on #6
@GeorgeGayno-NOAA @arunchawla-NOAA The chgres is working without any problem but we need to find a way to maintain its required input files on FTP.

https://github.com/ufs-community/ufs-mrweather-app/issues/15#issuecomment-568113841

[2019-12-20 22:59] uturuncoglu commented on #15
CHGRES also required to

[code]

So, maybe it could be good to create POST and PRE directories and place required fixed input files there. Any idea?

[2019-12-20 23:45] ligiabernardet commented on #21
Just a reminder to us all that the ufs_public_release of ccpp_physics still needs to be updates with these changes

[2019-12-20 23:49] ligiabernardet opened #45 "fv3atm ufs_public_release branch needs to reflect latest CCPP release number"
A non-answer-changing fix needs to be applied to two files:
https://github.com/NOAA-EMC/fv3atm/blob/ufs_public_release/ccpp/suites/suite_FV3_GFS_v15p2.xml
and
https://github.com/NOAA-EMC/fv3atm/blob/ufs_public_release/ccpp/suites/suite_FV3_GFS_v16beta.xml
to reflect the number of the public release (v4)
ver="3" needs to become ver="4"

[2019-12-21 00:07] climbfuji commented on #45
While we are going to disable the dynamic CCPP build for the release, we should also update the version numbers in the various scripts in ufs-weather-model at the same time.

[2019-12-23 15:35] climbfuji commented on #13
I added a "working document" section to https://github.com/ufs-community/ufs-mrweather-app/wiki/MR-Weather-App-Platform-and-Compiler-Support

[2019-12-23 16:05] mvertens commented on #13
@Dominikus Heinzeller - NOAA <dom.heinzeller@noaa.gov> - thank you! This is
great.

On Mon, Dec 23, 2019 at 8:35 AM Dom Heinzeller <notifications@github.com>
wrote:

[2019-12-23 16:55] climbfuji opened #46 "Remove inline post code from ufs-weather-model public release branches"
The inline post code in the UFS public release branches needs to be removed (together with the inline post stub code), otherwise we need to set the necessary preprocessor macros to use the stub code for all platforms.

Follow-up cleanup work:
- remove preprocessor macros for inline post stub code from platform configuration files
- remove NCEPlibs-post library build (just build the executable)

[2019-12-23 16:58] climbfuji opened #47 "NCEPLIBS: cleanup work"
We need to clean up the NCEPLIBS build (individual NCEPLIBS-* repositories) to
- remove old gmake build scripts and any other unnecessary configuration/documentation that may lead to confusion
- check for build procedures (preprocessing .F90->.f90, ...) and file names that are incompatible with the case-preserving but not case-sensitive filesystem on macOS

[2019-12-23 17:08] climbfuji opened #48 "NCEPLIBS: consistency of environment variables with UFS weather model"
We need to ensure consistency between the NCEPLIBS and the UFS weather model wrt environment variables used to detect/configure prerequisites and the libraries themselves.

Examples (please use the discussion below to add to the list):

**ESMF**

`ESMFMKFILE` is used for configuring the ESMF installation. The ESMF source code contains a file `cmake/findESMF.cmake` that parses this `esmf.mk` file a

[2019-12-23 18:00] arunchawla-NOAA commented on #39
@ligiabernardet do you have someone to assign this to ?

[2019-12-23 18:11] ligiabernardet commented on #13
@climbfuji This is very helpful. Can we define what "maintained" means for
the purposes of the public release? For example (please modify as
necessary): "Code has been tested prior to the release and patches will be
provided if needed in case of system upgrades".

Note that for the MR Weather app User's Guide we are already working with
two concepts: 1) Supported platform (users can expect the app

[2019-12-23 18:12] junwang-noaa commented on #45
Dom,

Do you have the changes ready? Would you please create a pull request to ufs-weather-model ufs_public_release branch for this issue? We can start the commit process then.

[2019-12-23 18:16] ligiabernardet commented on #39
@Dusan Jovic - NOAA Affiliate <dusan.jovic@noaa.gov> has provided
information.
@llpcarson Do we have all we need? If so, please close this issue.

On Mon, Dec 23, 2019 at 11:00 AM arun chawla <notifications@github.com>
wrote:

[2019-12-23 18:24] climbfuji commented on #45
No, I haven't done that yet. I can create the branch and include the removal of the inline post if you think this makes sense?

[2019-12-23 18:26] climbfuji commented on #13
@ligiabernardet The concept fits nicely with the two tables I created, everything in the first table falls under 2), pre-configured platform, everything in the second/lower table falls into 1) - except the possible AWS image (which would be a pre-configured platform as well). I will add a statement regarding the meaning of "maintained" as you suggested.

[2019-12-23 19:22] #30 closed

[2019-12-23 19:27] arunchawla-NOAA commented on #21
@ligiabernardet Are there any assignees for this task ?

[2019-12-23 19:30] arunchawla-NOAA commented on #18
@ligiabernardet who all are working on this?

[2019-12-23 19:30] ligiabernardet commented on #21
They are all DTC people listed on the first message when the ticket was created. This activity is advanced and no problem anticipated.

[2019-12-23 19:31] arunchawla-NOAA commented on #17
@GeorgeGayno-NOAA and @LarissaReames-NOAA we wish to have some form of documentation ready for an external test by the end of January.

[2019-12-23 19:32] ligiabernardet commented on #18
@fossell and Hui-ya Chuang

[2019-12-23 19:36] arunchawla-NOAA commented on #15
@GeorgeGayno-NOAA and @LarissaReames-NOAA

Kate set up an ftp server with all the fix files needed for the model. Can you check to see if all the files needed for chgres are also there? If not can you let Kate know where to add them for, or alternatively place them in a directory there? Location of ftp server below

https://ftp.emc.ncep.noaa.gov/EIB/UFS/

[2019-12-23 19:38] #13 closed

[2019-12-23 19:41] arunchawla-NOAA commented on #10
@GeorgeGayno-NOAA @LarissaReames-NOAA @BinLiu-NOAA Can you provide a status update?

[2019-12-23 19:42] arunchawla-NOAA commented on #7
@climbfuji Can this ticket be closed?

[2019-12-23 19:43] #6 closed

[2019-12-23 19:50] GeorgeGayno-NOAA commented on #15
The files needed for chgres are there.

[2019-12-23 20:05] arunchawla-NOAA commented on #36
An initial attempt at milestones has been created. These milestones have been connected to the different issues

[2019-12-23 20:05] climbfuji commented on #7
I haven't tested this myself yet.

[2019-12-23 20:14] uturuncoglu commented on #15
I think we need to open this again. Following issues are not solved yet.

1 - We need to extract the tar file under
https://ftp.emc.ncep.noaa.gov/EIB/UFS/simple-test-case/

2 - global_hyblev.l65.txt is in
https://ftp.emc.ncep.noaa.gov/EIB/UFS/global/fix/fix_am.v20191213/
that is fine but we don't have following files and those are resolution dependent

C96.facsf.*.nc
C96.maximum_snow_albedo.*.nc
C

[2019-12-23 20:16] junwang-noaa commented on #45
Dom,

I am talking about the issue Ligia created: changing ccpp version number in the two GFS suite files. I am not sure how inline post will be related to this issue, my understanding is that the public release will be build with "NO_INLINE_POST", we don't need to remove is from the source code.

[2019-12-23 20:16] GeorgeGayno-NOAA commented on #15
The above files are under the ./fix_sfc subdirectory.

[2019-12-23 20:21] uturuncoglu commented on #15
Okay. I could see them now. Thanks @GeorgeGayno-NOAA. We still need to extract the tar file.

[2019-12-23 20:23] climbfuji commented on #45
The build team had a discussion about this today (and Arun was on the call, too) and from our point of view we should remove the inline post code. I can live with both options, but I am in favor of removing it for the public release. @arunchawla-NOAA @GeorgeGayno-NOAA

[2019-12-23 20:25] mvertens commented on #36
@Arun Chawla - NOAA Federal <arun.chawla@noaa.gov> @Louisa Nance
<nance@ucar.edu> - Thanks! This looks good to me.

On Mon, Dec 23, 2019 at 1:05 PM arun chawla <notifications@github.com>
wrote:

[2019-12-23 21:02] junwang-noaa commented on #45
Dom,

I talked to Arun. He agrees that we do not need change source code for
inline post. I do not know what are the issues with building the public
release compile the code, especially you knew we can compile "
NO_INLINE_POST" as a compile option. With that, you do not need POST
library and g2tmpl. Since the public release do not run with WW3, you do
not need the following lib either :

module lo

[2019-12-23 21:05] climbfuji commented on #45
That's totally fine with me. In this case I suggest to add the -DNO_INLINE_POST option to all configuration files for all platforms. But please talk with @GeorgeGayno-NOAA to make sure that the three of you are on the same page. Thank you!

[2019-12-23 21:07] arunchawla-NOAA commented on #45
I think you meant George Vandenberghe
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
------------------------------------------------------------

On Mon, Dec 23, 2019 at 4:05 PM Dom

[2019-12-23 21:08] climbfuji commented on #45
Regarding the NCEPlibs: I think that the pre and post utilities (UFS_UTILS: chgres_cube, NCEPlibs-post: standalone post) require more than the libraries you listed (I know that the ones you listed are required for the ufs-weather-model). The NCEPlibs umbrella build will take care of this. But you are correct in that we should remove the module load statements from the ufs-weather-model configurati

[2019-12-23 21:09] climbfuji commented on #45
@arunchawla-NOAA Oh yes! I am sorry. This @username-autocomplete service is letting me down. Apologies to both Georges for messing this up.

[2019-12-23 21:11] climbfuji commented on #46
Following the discussion in https://github.com/ufs-community/ufs-mrweather-app/issues/45, it was agreed to not remove the post code. Instead, we will add the -DNO_INLINE_POST option for all platforms (which compiles the stub inline post code that exits with an error if the inline post option is turned on), and remove the "module load" statements for the inline post NCEPlibs in ufs-weather-model.

[2019-12-23 21:11] #46 closed

[2019-12-23 21:34] GeorgeGayno-NOAA commented on #10
We have run chgres using grib2 data from GFS v14, v15.1, v15.2 and v16 (Russ' current parallel).  We don't see any obvious errors in any of the surface fields.  However, I just ran the regression tests on Hera and they failed.  Looking at the branch code, the soil moisture rescaling code (for soil type differences) was turned off.  That is likely why the tests failed.  We can't rescale the soil mo

[2019-12-23 23:21] ligiabernardet commented on #39
@Dusan Jovic - NOAA Affiliate <dusan.jovic@noaa.gov>
We reviewed the documentation you provided about file model_configure. It
was very informative, but I am wondering if we can an extra step.
The documentation describes an example of model_configure but does not
describe all the options available.
For example, for variable output_grid, only one option is listed
(gaussian_grid). Are there other op

[2019-12-24 18:43] uturuncoglu commented on #12
@jedwards4b Couple of observations about the build that might create an issue,

- When i try to use existing build directory during creating a new case, the case.build command compiles everything from scratch.
- In this case, CCPP suit v15p2 is the default and if the existing build directory is compiled with v16beta we need to change the CCPP_SUITES option and namelist accordingly.

[2019-12-24 19:50] uturuncoglu commented on #37
@jedwards4b @rsdunlapiv when workflow is activated the case.run triggers buildnml and buildnml overwrites the files produced by chgres. i am not sure this was the case for the prototype that we had before. i think that case.submit must run the buildnml not case.run. there is no need to run buildnml in every task in the workflow. of course, we could modify the buildnml not to overwrite files produc

[2019-12-24 20:00] uturuncoglu commented on #37
@rsdunlapiv i added **IC_DIR** environment variable to the machine.xml file to point the initial condition directory. The directory must follow the standard indicated as below,

- the data directory need to be named as $DIN_LOC_ROOT/IC/XXX.YYYYMMDD/HH
   - XXX is the prefix that defines the source of the data, it is not used by the CIME and it is just for documentation. it could be gfs etc.
   - Y

[2019-12-24 21:42] uturuncoglu commented on #37
Post-processing is also implemented. Now, we have initial version of end to end workflow. We still need followings
- need extensive testing to find possible bugs/problems, preferably external testers
- buildnml need little more tweak because of the changed FTP directory structure but at least you could play with it on Cheyyene. We have an open issue about it https://github.com/ufs-community/ufs-mr

[2019-12-26 20:20] uturuncoglu commented on #37
I could run the whole workflow with different initial condition successfully with minor modifications in buildnml. I'll update app after testing different combinations and resolutions.

/glade/p/cesmdata/cseg/ufs_inputdata/IC/gfs.20191224/12

[2019-12-26 20:37] mvertens commented on #37
@Ufuk Turuncoglu <turuncu@ucar.edu> - that's really good news and great
progress!

On Thu, Dec 26, 2019 at 1:20 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2019-12-26 21:15] uturuncoglu commented on #40
@arunchawla-NOAA @ligiabernardet @GeorgeGayno-NOAA I am trying to run and test the model with different resolutions and i need following information

- Used number of processor for each case. I know C96 uses 150 by default but what about others.
- Namelist changes (input.nml, model_configure, pre- and post- also if there are) based on the resolutions.

In this case, i could use chgres to create in

[2019-12-26 22:26] ligiabernardet commented on #40
I do not have this information. I hope others can chime in.

On Thu, Dec 26, 2019 at 2:15 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2019-12-26 22:31] uturuncoglu commented on #40
@ligiabernardet Thanks. I found some information in the following file for C768

https://github.com/NOAA-EMC/fv3gfs/blob/master/scripts/exglobal_fcst_nemsfv3gfs.sh

i am not sure those are valid for the current version of FV3 or not. Anyway, i'll try those options but it would be nice to have information related with the namelist changes (number of io task, dt, other physics options etc.) to test

[2019-12-27 19:33] fossell commented on #18
@ligiabernardet @valbonakunkel-noaa @arunchawla-NOAA - DTC has updated documentation in ufs_public_release branch of EMC_post, it's beginning to take shape but will require some tweaking as things move forward.  We have pinged EMC contributors to begin making modifications as well.  We welcome any input from UFS teams to address missing content, organization, etc.

[2019-12-27 22:03] uturuncoglu commented on #43
@rsdunlapiv @jedwards4b The model now supports warm restart through use of xmlchange (**CONTINUE_RUN=TRUE**). All changes are pushed to the app.

We need to discuss following,

- In the current implementation, following done by the buildnml
   - Files are copied from RESTART to INPUT
   - Following namelist options are modified in the input.nml
[code]
- Do we need to modify **RUN_REFDATE** and **R

[2019-12-30 15:11] KateFriedman-NOAA commented on #15
I have unpacked the tarball:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/simple-test-case/

I also moved the gzipped tarball up one level so it wasn't within the unpacked folder. Let me know if I should put it back down within the simple-test-case folder. The path to that tarball is now:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/simple-test-case.tar.gz

[code]

[2019-12-30 15:48] DusanJovic-NOAA commented on #15
Why do we need this tar file unpacked? It's only purpose is to be used as a canned case for testing the ufs-weather-model executable. Nothing else. It should be not used as a source of any configuration or input data.

[2019-12-30 16:53] uturuncoglu commented on #15
@KateFriedman-NOAA thanks. @DusanJovic-NOAA Actually, we are copying *_table files, nems.configure and also default initial conditions but i'll include *_table files and nems.configure to FV3 CIME interface. The initial condition is also generated by the chgres and if we don't have any objections we could always use cghres to produce data from GFS in a desired resolution. Then, we will remove the

[2019-12-30 18:29] uturuncoglu commented on #40
@arunchawla-NOAA @climbfuji @DusanJovic-NOAA @junwang-noaa The model is failed with the options that i found in exglobal_fcst_nemsfv3gfs.sh. It would be great if we have a list of namelist options for different resolutions and CCPP v15p2 and v16beta combinations. Currently, i could not test the model for different resolutions.

[2019-12-30 19:13] uturuncoglu commented on #7
@mark-a-potts I am plaining to test the model another platform but i am getting following error, when i try to install NCEPLIBS on Stampede2.

[code]

I think that it is related with the entry in the **.gitmodules** file. The **netcdf** is configured to use ssh but others are fine and used https.

[code]

So, i think that netcdf also need to use https to allow cloning without Git ssh setup.

[2019-12-30 19:18] uturuncoglu commented on #7
@mark-a-potts NCEPLIBS-bufr also gives following error. The hash might be wrong.

[code]

[2019-12-30 19:24] mark-a-potts commented on #7
We should decide on using either ssh or https for the submodules (I
prefer ssh), but you should be able to pull the submodule if you upload
your id_rsa.pub key from $HOME/.ssh on stampede to your github account.
Alternatively, you can change the url in .gitmodules to use the https://
nomenclature instead of ssh.

-M

On 12/30/19 2:13 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Soft

[2019-12-30 19:25] mark-a-potts commented on #7
Try running "git remote update" from NCEPLIBS-bufr. I just pushed that
commit up to github earlier today, so it is probably not in your local repo.

-M

On 12/30/19 2:18 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2019-12-30 19:26] Hang-Lei-NOAA commented on #7
For all libraries, you can use the ufs release branch rather than a single
head.
I suggest that you directly checkout the ufs_release_v1.0 branch under
the NCEPLIBS-bufr
repo.
Kyle has recently checked that all ufs_release branches under each NCEPLIBS
repo is working identical with the latest operational updates.

On Mon, Dec 30, 2019 at 2:24 PM Mark Potts <notifications@github.com> wrote:

[2019-12-30 19:34] uturuncoglu commented on #7
@mark-a-potts NCEPLIBS-bufr seems to use develop branch. Do i need to use update_ufs_release_1p0_macos_gnu?

* develop
  remotes/origin/HEAD -> origin/develop
  remotes/origin/develop
  remotes/origin/macos_gnu_build
  remotes/origin/master
  remotes/origin/spack-build
  remotes/origin/update_ufs_release_1p0_macos_gnu

[2019-12-30 19:36] uturuncoglu commented on #7
Last commit for develop is

[code]

[2019-12-30 19:40] llpcarson commented on #7
Mark - My recommendation would be to use the https access, so that
anonymous users can clone the submodules without requiring a GitHub
account.  Makes it much simpler to teach beginning students, as well!

Laurie

On Mon, Dec 30, 2019 at 12:24 PM Mark Potts <notifications@github.com>
wrote:

[2019-12-30 19:42] uturuncoglu commented on #7
yes, i am agree with @llpcarson.

[2019-12-30 20:10] mark-a-potts commented on #7
Okay, I figured out what is going on. I pushed up changes that included
Dom's submodule links. I have reverted those changes, so you should be
able to clone again. I will push my changes (correctly) later today or
tomorrow. Sorry for the confusion.

-M

On 12/30/19 2:36 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9

[2019-12-30 20:20] climbfuji commented on #7
Hi Mark & everyone else,

a couple of things:

(1) When PRs are created, the creator must temporarily modify .gitmodules to point to his/her fork and branch if updates are required for submodules.

(2) Merging code from PRs with submodules requires coordination with the person making the PRs. From the "innermost" nested PR up to the top-level PR, the PRs need to be merged as-is. After each merge,

[2019-12-30 20:36] uturuncoglu commented on #7
@mark-a-potts I tried with fresh install but i am still getting following error

[code]

Do i need to issue git update?

[2019-12-30 20:39] climbfuji commented on #7
I would wait until the merge of my PR has been reverted properly and then check out the code as I wrote above.

[2019-12-30 22:04] uturuncoglu commented on #7
@climbfuji Ok. Let me know when it is ready and i could test it.

[2019-12-30 23:21] mark-a-potts commented on #7
Okay, I think I have the submodule pointers back to Kyle's commit of Dec
16. I am sorry for all the confusion. I'll make sure not to rush my
changes next time.

-M

On 12/30/19 3:39 PM, Dom Heinzeller wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2019-12-31 16:30] climbfuji commented on #7
Thanks @mark-a-potts. @uturuncoglu did you have a chance to test my versions of NCEPlibs on Cheyenne? If they work for you, we can proceed with merging the PRs into the ufs_release_1.0 branches for the submodules NCEPLIBS-*, and do the final commit to the umbrella repository.

None of the changes I made/propose to the submodules will be effective until the last commit is made (because checking out

[2019-12-31 17:11] uturuncoglu commented on #7
@climbfuji do i need to use following command yo test your version

[code]

what is the **BRANCHNAME**

[2019-12-31 17:24] climbfuji commented on #7
No, please just point directly to the installation directories that I listed above, do not build the code.

This seems to be a general misunderstanding anyway. I was under the impression that we do *not* want CIME to build the NCEPlibs. This is something the user should do following the user's guide. But maybe I am wrong.

[2019-12-31 17:31] mvertens commented on #7
@climbfui @Ufuk Turuncoglu <turuncu@ucar.edu> - we definitely do not want
CIME to build the NCEP libs.

On Tue, Dec 31, 2019 at 10:24 AM Dom Heinzeller <notifications@github.com>
wrote:

[2019-12-31 18:12] uturuncoglu commented on #7
@climbfuji You mean pointing NCEPLIBS installation directories on Cheyenne. Right? It is little bit confusing for me because i am trying to install NCEPLIBS on Stampede and test it over there. Do you want me to test the model build with your NCEPLIBS installation? BTW, i could not find the directories in the previous posts.

[2019-12-31 19:43] fossell commented on #27
@arunchawla-NOAA @climbfuji @mark-a-potts @kgerheiser -- UPP branch has been updated to incorporate cmake mods requested for ufs.  Note that there are now two branches in EMC_post repo for ufs due to previous overlap in efforts.  They are called ufs_release_v1.0 and ufs_public_release. Those branches are now mostly identical with deltas only due to extra documentation rst files that DTC has been w

[2019-12-31 20:31] climbfuji commented on #27
@fossell For all other NCEPLIBS-* submodules of the NCEPLIBS umbrella build, the branch is called ufs_release_v1.0 - would be good to use the same for consistency. When you say

you mean the `ufs_release_v1.0` or `ufs_public_release` branch? I understand that the differences are only documentation (which should be merged from `ufs_public_release` into `ufs_release_v1.0` if the latter will be used)

[2020-01-02 14:35] fossell commented on #27
Thanks @climbfuji.  We will use ufs_release_v1.0 branch then.  I will merge documentation files into that branch.  When I said:

I meant either ufs_release_v1.0 or ufs_public_release, whatever was decided to be the authoritative name.  So from here on out we will just use ufs_release_v1.0.

[2020-01-02 16:23] jwolff-ncar commented on #25
To start, the following subforums will be created:

**Announcements**
 - Check here for announcements regarding upcoming releases, tutorials, workshops, meetings, or relevant conferences
**Getting Started**
 - Check here for links to other documentation and Github wikis. For user support, please post your question to the most appropriate forum topic below.
**Medium-range Weather Application**
 - T

[2020-01-02 16:26] mvertens commented on #25
@Jamie Wolff <jwolff@ucar.edu> - thanks this is really helpful to put it in
the issues.

On Thu, Jan 2, 2020 at 9:23 AM jwolff-ncar <notifications@github.com> wrote:

[2020-01-02 17:04] arunchawla-NOAA commented on #15
I am closing this issue as most things seem to be resolved here

[2020-01-02 17:04] #15 closed

[2020-01-03 16:35] ceceliadid commented on #27
Just to note, I don't think the term UFS release v1.0 is going to be used anywhere else in referring to the release. My understanding is that there was a decision to not use this in any announcements and to only call the release the medium range application v1.

[2020-01-03 20:57] uturuncoglu commented on #7
@climbfuji @mark-a-potts I have successfully install the NCEPLIBS on stampede2 but when i run the chgres, i am getting error as following

[code]

I look for the error and it seems that chgres is failing in the following call

[code]

The files that are used in this call are in the right place and they seems correct. In this case, i am using both netCDF and ESMF installations from NCEP_LIBS and i

[2020-01-03 21:23] uturuncoglu commented on #7
I think i found the problem. The ESMF that is shipped with NCEPLIBS is not compiled with netCDF support. If i look at esmf.mk file in my installation, it looks as follows,

[code]
and there is no **ESMF_NETCDF** definition. Also, if you look at the ESMF documentation

http://www.earthsystemmodeling.org/esmf_releases/public/last/ESMF_refdoc/node9.html#SECTION09030000000000000000

The error code **4

[2020-01-03 21:44] jedwards4b opened #49 "consistancy of fortran string lengths"
I ran into a problem with the filename_base string setting in fv3 model_configure:
The length of this string as declared in io/module_fv3_io_def.F90 is 255, however in testing
we have found the length to be limited to 80 characters.   It is very difficult to pinpoint exactly where this restriction is introduced as there is no consistency in the declaration of string lengths in fv3 - in this partic

[2020-01-03 22:36] uturuncoglu commented on #7
More update about the issue:

I try to install ESMF with the netCDF shipped with NCEPLIBS externally. When i set the environment variable **ESMF_NETCDF** it gives error like following,

[code]

This is because ESMF try to use **nf-config --prefix** command to get information about the Fortran installation but this command also gives following error

[code]

So, nf_config command which is required

[2020-01-03 22:45] mark-a-potts commented on #7
Thanks Ufuk.

I think we can get that put into the top level CMakeLists.txt file so
that everything gets picked up correctly. I'll take a look at it on Monday.

-M

On 1/3/20 5:36 PM, Ufuk Turunçoğlu wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2020-01-04 15:39] arunchawla-NOAA commented on #35
Can we close this issue?

[2020-01-04 15:41] arunchawla-NOAA commented on #24
@jedwards4b @rsdunlapiv Can this ticket be closed now?

[2020-01-04 19:30] #36 closed

[2020-01-04 19:33] arunchawla-NOAA commented on #27
@climbfuji and @mark-a-potts once you have confirmed that NCEPLIBS super project points to the correct branch for UPP release and builds please close this ticket

[2020-01-06 16:46] uturuncoglu commented on #7
Thanks @mark-a-potts. Let me know if you ned help, i could also test it on Stampede

[2020-01-06 16:55] climbfuji commented on #7
@uturuncoglu I will have something for you to test later today, which includes a fix for the issue you reported.

[2020-01-06 16:55] uturuncoglu commented on #7
@climbfuji Thanks.

[2020-01-06 18:25] uturuncoglu commented on #7
@mark-a-potts @climbfuji Just for your information, i was trying to build NCEPLIBS with external ESMF installation to continue my development until this issue is solved but NCEPLIBS gives following error in chgres step. BTW, i did fresh checkout today.

[code]

[2020-01-06 18:27] uturuncoglu commented on #7
Sorry this is my fault, i set ESMF_INC wrongly. I'll test again.

[2020-01-06 18:52] rsdunlapiv commented on #49
@junwang-noaa can you please comment on this

[2020-01-06 19:50] arunchawla-NOAA commented on #45
@junwang-noaa can we close this ticket?

[2020-01-06 19:54] ligiabernardet commented on #20
@pjpegion Hi Phil, can you let us know the status of the stochastic physics documentation? Would it be realistic to finalize it in the next couple of weeks?
As soon as possible, can you please provide us information on how the stochastic settings should vary with resolution? It would be fine to just reply to this issue with this information. Tks

[2020-01-06 19:58] arunchawla-NOAA commented on #40
@KateFriedman-NOAA can you provide the namelist options that we use (input.nml, model_configure) for the different grid resolutions in the global workflow
@GeorgeGayno-NOAA and @WenMeng-NOAA are there namelist options for chgres and UPP that change with resolution? If yes then can you provide examples to @rsdunlapiv @uturuncoglu and @jedwards4b so that they can set it up for CIME

[2020-01-06 19:59] arunchawla-NOAA commented on #35
@ceceliadid if this is resolved to satisfaction then can we close this issue?

[2020-01-06 20:01] arunchawla-NOAA commented on #32
@ceceliadid what is the action item for this issue?

[2020-01-06 20:04] ceceliadid commented on #35
@arunchawla-NOAA yes it can be closed now thanks.

[2020-01-06 20:05] #35 closed

[2020-01-06 20:08] ligiabernardet commented on #19
@arunchawla-NOAA @RatkoVasic-NOAA

Arun and Ratko, can you please let me know whether you plan to provide NEMS documentation to go along with the upcoming MRW app release? This would be helpful, but it is not a show stopper because for this release only a small part of NEMS is used.

My understanding is that NEMS owns the main program and the driver.  For this release, the NEMS documentation can b

[2020-01-06 20:08] uturuncoglu commented on #7
No, after i fixed the environment variable, i am still getting same error. This was working before but it seems broken now. I am seeing following weird entry in the **UFS_UTILS-build/CMakeCache.txt**

[code]
The ESMF environment variables defined in this case as following,

[code]

It seems that ESMF_INC is fixed as following in the top level **CMakeLists.txt**

[code]
So, it is better also to sup

[2020-01-06 20:13] ceceliadid commented on #32
@arunchawla-NOAA @LarissaReames-NOAA @ligiabernardet 1) understand what kinds of examples or case studies are currently planned to go out with the release; 2) finalize a questionnaire for some external folks about what is most useful to them example-wise  and distribute and 3) provide responses as feedback to the release team.  This week is mainly getting ready for AMS so I'm thinking of picking t

[2020-01-06 20:13] uturuncoglu commented on #7
BTW, it was defined as

[code]

before.

[2020-01-06 20:17] arunchawla-NOAA commented on #19
@ligiabernardet

NEMS documentation was moved to a separate repository

https://github.com/NOAA-EMC/NEMS-doc

because it contains a lot of image files that was making the cloning of the repo really slow. I am not a fan of documentation sitting separately from the repo but with png files this was the solution. Do you have an alternative solution ?

Here is the relevant html page

https://noaa-emc.g

[2020-01-06 20:17] climbfuji commented on #7
Please wait ... a fix for this was discussed last week and merged into the ufs_release_1.0, but the submodule pointers were reverted back. Just wait until you get the clear-to-go from one of us, please, we don't want to waste your time.

[2020-01-06 20:19] uturuncoglu commented on #7
@climbfuji Sure. Thanks.

[2020-01-06 20:21] ligiabernardet commented on #40
We also need to know how the stochastic options vary with resolution. Tks

On Mon, Jan 6, 2020 at 12:58 PM arun chawla <notifications@github.com>
wrote:

[2020-01-06 20:24] uturuncoglu commented on #40
@ligiabernardet Do we need to keep stochastic seed options constant when we restart the model? How does are handled by the model? What are the option to enable or disable stochastic physics?

[2020-01-06 20:24] ceceliadid opened #50 "Take down obsolete documentation/sites before this release to avoid confusion"
@arunchawla-NOAA @ligiabernardet @junwang-noaa @KateFriedman-NOAA
There are a bunch of sites that should be scrubbed of out of date/misleading documentation before this release:
- the FV3GFS site on Vlab
- the main EMC website
- the UFS community site on Vlab
- the NGGPS community site
I can start identifying issues. If anyone else wants to start cleaning this up that's good too.

[2020-01-06 20:25] junwang-noaa commented on #45
Dom,

So we can disable the dynamic CCPP build by using the -DNO-INLINE_POST. Now let's go back to the original request Ligia posted, do you have the CCPP  code change ready that updates CCPP version from 3 to 4 in ufs-weather-model public release branch? Thanks.

Jun

[2020-01-06 20:39] ligiabernardet commented on #45
Hi Jun and Dom, pls also note we are nearly done with the
Scientific Documentation updates and will propose those for commit soon to
ccpp-physics. Ligia

On Mon, Jan 6, 2020 at 1:25 PM junwang-noaa <notifications@github.com>
wrote:

[2020-01-06 20:42] rsdunlapiv opened #51 "Should model name be "FV3" or "FV3GFS" in CIME? Proposed "UFSATM""
CIME has a short name for every model component and it is used in several places visible to the user.  The name is currently "FV3GFS".  There was discussion about whether it should be "FV3" although that does not seem accurate since FV3 is just the dycore.

[2020-01-06 20:44] climbfuji commented on #45
I am almost finished with the v3 to v4 update, this will include the bug fixes for the two regression tests v15p2 and v16 (those were crashing in DEBUG mode) and for the failure to detect them.

[2020-01-06 20:46] ligiabernardet commented on #40
Pls direct stochastic questions to @pjpegion, but keep me in the loop so I can write the documentation. I am not familiar with the details of restarting with stochastic physics. Phil's draft documentation is at [https://stochastic-physics.readthedocs.io/en/ufs_public_release/].  My understanding is that it can be disabled with:
do_sppt        = .F.
do_shum        = .F.
do_skeb        = .F.
do_sfcp

[2020-01-06 20:48] ligiabernardet commented on #51
We have been using "UFS Atmosphere" to refer to the atmospheric component
of the UFS (dycore, physics, infrastructure).

On Mon, Jan 6, 2020 at 1:42 PM Rocky Dunlap <notifications@github.com>
wrote:

[2020-01-06 20:49] rsdunlapiv commented on #51
@ligiabernardet this is a short name used in CIME, usually only several letters like MOM, POP, CAM, etc.

[2020-01-06 20:51] junwang-noaa commented on #49
Rocky,

I do not know how the testing is done. But from the code, it looks to me the fieldname_base is defined in   io/module_fv3_io_def.F90 as 255 character string:

character(255),dimension(:),allocatable :: filename_base

And it gets its value from ESMF calls in fv3_cap.F90, does not change value since then:

  use module_fv3_io_def,      only: num_pes_fcst,write_groups,app_domain,    &

[2020-01-06 20:54] ligiabernardet commented on #51
In this case I suggest UFSATM.
FV3 is not so good since it is only the dycore and not the entire model.
FV3GFS is not good either since GFS is a particular operational
implementation. The GFS could be a coupled model in the future, so it is
not a good name to represent the atmospheric component.

On Mon, Jan 6, 2020 at 1:49 PM Rocky Dunlap <notifications@github.com>
wrote:

[2020-01-06 21:36] GeorgeGayno-NOAA commented on #40
For chgres, the target or FV3 grid is set by these namelist options:

- _fix_dir_target_grid_ - path to the tiled FV3 surface climatological files (such as albedo).
- _mosaic_file_target_grid_ - path and name of the FV3 mosaic file.
- _orog_dir_target_grid_ - directory containing the tiled FV3 orography and grid files.
- _orog_files_target_grid_ - names of the six tiled FV3 orography files, separa

[2020-01-06 21:48] rsdunlapiv commented on #43
Planned CIME tests for the release:

1. smoke test - performs a single run, compare to locally stored baselines (new platforms require generating baselines the first time via a CIME create_test option).  This is complete.
2. restart test - perform a run of n timesteps writing a restart file at time (n/2)+1.  Restart from that point and compare history files at time n - they should be identical.  T

[2020-01-06 21:52] pjpegion commented on #40
@uturuncoglu there are no specific changes needed for stochastic physics when changing resolutions.  If you want a bitewise reproducible restart of forecast that includes stochastic physics, then you need to set FHSTOCH to the desired time (in forecast hours) that you want to write out the stochastic physics restart (There is an update in master that allows for the stochastic physics restart to be

[2020-01-06 21:56] rsdunlapiv commented on #51
@arunchawla-NOAA any objection to using "UFSATM" within CIME to describe the atmosphere model? This will mainly be used by people who are making changes to CIME.  The user namelist file will be called user_nl_ufsatm.

[2020-01-06 22:00] rsdunlapiv commented on #31
@uturuncoglu needs to turn off stochastic physics as the default for all resolutions.

[2020-01-06 22:07] rsdunlapiv commented on #40
@KateFriedman-NOAA we still need stable input.nml and model_configure files for each of the supported resolutions and physics combinations.

[2020-01-06 22:09] rsdunlapiv commented on #42
CIME does not support an output like this, but the current workflows are relatively simple.  Users must look at their batch queue status to see which jobs have run.

[2020-01-06 22:12] rsdunlapiv commented on #41
If user decides to explicitly run forecast without chgres, this is considered a user error.  The model should give an error that the input files are not there.

[2020-01-06 22:27] rsdunlapiv commented on #37
@uturuncoglu needs to remove the IC_DIR environment variable and implement access to NOMADS server to download raw input files for chgres.  This will only support the datasets currently available in NOMADS - the user is responsible for pulling in their own input files for dates not available in NOMADS.

We need to add a DIN_IC_ROOT to env_run.xml.  If DIN_IC_ROOT is not set, it will default to $DI

[2020-01-07 00:43] climbfuji commented on #7
@uturuncoglu @mark-a-potts @kgerheiser @DusanJovic-NOAA @Hang-Lei-NOAA and everyone else. Have a look at https://github.com/NOAA-EMC/NCEPLIBS/pull/12. I didn't mark it as open for review yet, because I only tested it on my Mac thus far (for two scenarios, building everything except the compiler and the mpi library, and only building ESMF and the NCEPlibs). If you want to check out the code and tes

[2020-01-07 14:42] KateFriedman-NOAA commented on #40
Questions to help me prep the namelist files:
1) Current operational namelist settings? Or current dev GFSv16 settings?
2) Where to post them? Here?

I will start assembling the ops namelists and adjust if v16 is needed.

[2020-01-07 16:09] ligiabernardet commented on #41
What about if the user previously ran chgres, and now he/she just wants to
run the model over and over? That should not be considered an error.
What about if the user got the (chgres-generated) ICs from a colleague
and he/she just wants to run the model? This is a realistic use case (if we
cannot support it this release, put it in the wish list).

On Mon, Jan 6, 2020 at 3:12 PM Rocky Dunlap <notif

[2020-01-07 16:14] ligiabernardet commented on #40
Fanglin provided DTC with namelists for GFSv15p2 and GFSv16beta for the
C768L64 configuration (those are the supported suites for this release).
This is what we have been documenting and testing so far, and what we
handed to CIME folks. The main question is whether/how they should be
changed with with resolution.
https://docs.google.com/document/d/1K-n25HickouGz1wya6b4XeYUzJzQV6EMpEfiPF8Er5w/edit

[2020-01-07 16:20] jedwards4b commented on #41
@ligiabernardet This is supported, we will need to provide documentation on the expected location and names of input files for the model.

[2020-01-07 16:28] KateFriedman-NOAA commented on #40
Gotcha, I can provide the changes for resolution based on those provided namelists from Fanglin, thanks! I can note them in those two docs if you like (would need edit permissions). I'll collect them separately for now.

[2020-01-07 17:18] uturuncoglu commented on #7
@climbfuji Is this address the issue that i raised yesterday related with building NCEPLIBS with external ESMF installation? I am not sure because it still looks following directory

[code]
Anyway, i'll test it and let you know.

[2020-01-07 17:19] climbfuji commented on #7
Yes, this issue is addressed. However I just found that the ESMF netCDF support is still not correct. I will push an update in a few minutes. Hold on.

[2020-01-07 17:19] uturuncoglu commented on #7
Okay. I am waiting for your changes.

[2020-01-07 19:31] uturuncoglu commented on #37
@rsdunlapiv IC_DIR environment variable is removed and access to NOMADS server to download raw input files for chgres is implemented. The model looks the specific location in $DIN_IC_ROOT/prod and try to find desired input folder which is a sub-directory under prod/ as **gfs.YYYYMMDD/HH**. If it could not find the folder and files that are suitable for model start time, then it goes to **nomads.nc

[2020-01-07 20:05] junwang-noaa commented on #43
Rocky,

We usually don't do the regression test inside workflow as the workflow actually contains many components and each component has its own regression test. If our goal is to build an end to end system in the future, merging the regression test from components to the workflow will complicate the workflow especially when the  DA and other coupled components and downstream jobs are added. It wi

[2020-01-07 20:12] uturuncoglu commented on #43
@junwang-noaa Just to be sure, if i understand correctly, we need to set start time in model_configure when we are restarting the model. Right? My observation is that if we keep it as the initial run start time the model crashes with following error,

[code]

[2020-01-07 20:13] uturuncoglu commented on #43
we could also implement a check to be multiple of **fhzero** when we are setting **restart_interval** in model_configure.

[2020-01-07 20:15] KateFriedman-NOAA commented on #40
I made copies of those two docs (links below) and added values for the variables that change with resolution (as seen in the FV3GFS configs and scripts). Any variable that has a different value based on resolution is labeled like this:

`A [B] [C] [D]`

...where A is the C768 value (in black), B is the C384 value (in pink), C is the C192 value (in purple), and D is the C96 value (in orange). Also,

[2020-01-07 20:20] uturuncoglu commented on #40
I could access original documents shared by @ligiabernardet but not the ones of @KateFriedman-NOAA.

[2020-01-07 20:23] junwang-noaa commented on #43
Ufuk,

NO, for restart, you don't need to change the start time, it should be the
same time from the initial run. Model will pick up the current time from
coupled.res and start from there. It seems something is wrong in your test.
Also, please refer the following wiki page for restart:

https://vlab.ncep.noaa.gov/redmine/projects/comfv3/wiki/_set_up_restart_run_for_FV3GFS_

Jun

On Tue, Jan 7, 202

[2020-01-07 20:24] KateFriedman-NOAA commented on #40
@uturuncoglu Do these work?

https://docs.google.com/document/d/1EKc2mAld5VsrNjTRgqUcTVG1ZcEIkllA-NrAKUs4DWI/edit?usp=sharing
https://docs.google.com/document/d/1bLbVdWgEIknDQZgTuOZ6IPVEGv5jUgOrCm4GrR96oBU/edit?usp=sharing

[2020-01-07 20:28] uturuncoglu commented on #43
@junwang-noaa Thanks for the information. I am using same document to change the namelist options but as i told before, if i not set start time in model configure, the model fails with the error message that i mention in my previous post. I think that model looks for coupler.res file under INPUT directory and try to set the values based on it. Right? Somehow it is not working in my case properly.

[2020-01-07 20:29] uturuncoglu commented on #40
@KateFriedman-NOAA Thanks, now i could access them.

[2020-01-07 20:35] KateFriedman-NOAA commented on #40
Sweet, I have updated the earlier links.

[2020-01-07 20:35] uturuncoglu commented on #40
BTW, why layout changes between CCPP versions for same resolution?

[2020-01-07 21:56] uturuncoglu commented on #31
@rsdunlapiv I changed the default value of following options to **FALSE** to turn off stochastic physics but we still need to do [this](https://github.com/ufs-community/ufs-mrweather-app/issues/40#issuecomment-571330959) modification in buildnml in case of using stochastic physics and restart together.

[2020-01-07 22:23] pjpegion commented on #20
Hi Ligia,
  I can finish it up by next week, and I think I answered the resolution
question on the other issue via github
Phil

On Mon, Jan 6, 2020 at 12:54 PM ligiabernardet <notifications@github.com>
wrote:

--
Philip Pegion
NOAA/ESRL/PSD-CIRES
(303) 497-7897
philip.pegion@noaa.gov

[2020-01-07 22:25] ligiabernardet commented on #20
Yes, thanks.

On Tue, Jan 7, 2020 at 3:23 PM Phil Pegion <notifications@github.com> wrote:

[2020-01-08 15:57] jedwards4b commented on #43
This is a problem for cime testing since it compares history files.  If the files are not double precision, then we are not fully testing the system.

[2020-01-08 17:01] junwang-noaa commented on #43
I am curious, so CIME compares history files with what? The operational FV3
model itself is running with 32BIT=Y, it takes too much space to save all
the history files in double precision. If the history files in single
precision from two runs compared, they should be identical if they expected
to.

Jun

On Wed, Jan 8, 2020 at 10:57 AM jedwards4b <notifications@github.com> wrote:

[2020-01-08 17:06] jedwards4b commented on #43
CIME testing compares history files to baseline history files from previous runs or a test may do two runs and compare results from one run to the results from another - of course we can do this with single precision files but in this case the test may miss roundoff level differences in fields.    We do not need to implement double precision history for default output, we would only like to have a

[2020-01-08 17:35] junwang-noaa commented on #43
Fv3GFS model reproduces with all the tests you listed. The model restart
files are written out in real(8) for all the runs (32BIT=Y or 32BIT=N), so
the history files always reproduce. You have to change model code to write
out real(8) history files, and my understanding is that downstream jobs
such as currently NCEP POST can not run with real(8).

On Wed, Jan 8, 2020 at 12:06 PM jedwards4b <notifi

[2020-01-08 17:36] uturuncoglu commented on #43
@junwang-noaa actually there is no need to run NCEP POST for tests. Just chgres and model.

[2020-01-08 17:39] jedwards4b commented on #43
I propose that for the release we test with 32B history files.   But that we consider a new input option to write 64B history files in a later update.

[2020-01-08 17:56] uturuncoglu commented on #40
@pjpegion > (There is an update in master that allows for the stochastic physics restart to be written out each time the atmospheric model's restart is written out).
Is this available in the current version of FV3 ufs_release branch.

[2020-01-08 18:52] pjpegion commented on #40
Not yet. I can merge it in tomorrow.

Sent from my iPhone

[2020-01-08 19:42] uturuncoglu commented on #7
@climbfuji I could install your branch successfully but i could not test it yet with the model. I'll test it and let you know.

[2020-01-08 20:17] uturuncoglu commented on #40
@KateFriedman-NOAA I got mail related with the global-workflow: updates for GFSv15.2.7. If you don't mind could you also put input files for 2020 (i.e. global_co2historicaldata_2020.txt) to the FTP.

[2020-01-08 20:40] KateFriedman-NOAA commented on #40
@uturuncoglu sure...just the 2020 file? These files were updated in the year-end CO2 file updates:

.../fix_am/co2dat_4a/global_co2historicaldata_2018.txt
.../fix_am/co2dat_4a/global_co2historicaldata_2019.txt_proj_u
.../fix_am/co2dat_4a/global_co2historicaldata_2020.txt_proj
.../fix_am/fix_co2_proj/global_co2historicaldata_2020.txt
.../fix_am/fix_co2_update/global_co2historicaldata_2019.txt

I se

[2020-01-08 20:56] uturuncoglu commented on #40
Yes. I think that i have others. I am getting global_co2historicaldata_*.txt files from **global/fix/fix_am.v20191213/fix_co2_proj** and rest of them are from **global/fix/fix_am.v20191213/**. If any file updated, please put them to the FTP and we would have a consistent set of files. BTW, i am not sure about the versioning of the folders. Do you need to create another folder with different date t

[2020-01-08 21:46] uturuncoglu commented on #43
@junwang-noaa i check again and if i don't change start time, the model fails with the error that i mentioned before. In this case, do wee need to set **RUN_CONTINUE** to **TRUE** besides changes in input.nml

[2020-01-08 21:49] uturuncoglu commented on #43
In this case, the log shows following,

[code]

So, i think that it reads **INPUT/coupler.res** correctly and picks the date but i am not sure about the clock error.

[2020-01-08 21:52] uturuncoglu commented on #43
It is complaining about **timeStep equals zero.** which is the **earthStep**.

[code]

[2020-01-08 21:55] uturuncoglu commented on #43
I think i found it, i need to increase the nhours_fcst. Right? For example, if i did 36 hours run and if i want to do another 4 hour. I have to set nhours_fcst to 40. Am i right?

[2020-01-08 22:08] ceceliadid commented on #50
As part of this task, make sure that any relevant material under documentation from the FV3GFS Vlab site is moved to current wiki or UG documentation.

[2020-01-08 22:25] ceceliadid commented on #29
@arunchawla-NOAA @LarissaReames-NOAA This task is complete as far as the two-pager goes, so I am closing. Since there is still ambiuity about what examples will be included in the release I will open another ticket for that.

[2020-01-08 22:26] #29 closed

[2020-01-08 22:27] ceceliadid opened #52 "Finalize and communicate the file outputs that will be supported for the release."
@fossell @mvertens @arunchawla-NOAA @rsdunlapiv  @jedwards4b @ligiabernardet   It is unclear what file outputs will be supported to users with this release. There are a few different aspects of this: horizontal grid, vertical grid, and file format (NetCDF or GRIB2).

It appears that at least the following will be supported:
- NetCDF, Gaussian horizontal grid, model levels in the vertical - as outp

[2020-01-08 23:17] ceceliadid opened #53 "List of differences between release and code in operations"
@arunchawla-NOAA @junwang-noaa @ligiabernardet During preparation of the two-pager Ricky Rood requested a list of differences between the release code and code in operations, presumably for both the physics updates and non-physics updates.

[2020-01-08 23:25] uturuncoglu opened #54 "NCEP Post and its possible usage examples"
Currently, the NCEP Post script that is defined under CIME runs over 12, 24, 36 cycles. I just wonder about the possible workflows to extend the current implementation. My specific questions are the followings,

- Do we need to run the NCEP Post for different cycles?
- What about restarting model and running NCEP Post again. I think we need to change the dates in the namelist file and also we need

[2020-01-09 02:05] junwang-noaa commented on #54
Please ask post group, Hui-ya.chuang@noaa.gov and Wen.meng@noaa.gov, for help.

[2020-01-09 02:06] junwang-noaa commented on #43
Yes, that is correct.

On Wed, Jan 8, 2020 at 4:55 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-01-09 04:39] climbfuji commented on #27
With PR https://github.com/NOAA-EMC/NCEPLIBS/pull/12 to the NCEPLIBS umbrella build, all repositories use the branch names ufs_release_1.0 (except UFS_UTILS, which uses release/ufs_release_1.0; see https://github.com/NOAA-EMC/UFS_UTILS/issues/42), and the umbrella build points to the correct branches for all submodules.

[2020-01-09 04:39] #27 closed

[2020-01-09 04:42] climbfuji commented on #48
Update: with https://github.com/NOAA-EMC/NCEPLIBS/pull/12, the NCEPLIBS umbrella build is looking for environment variables `NETCDF` and `ESMFMKFILE`, consistent with what the ufs-weather-model expects. I don't want to close the ticket at this point, because we may want to check a few more things (especially on NOAA machines that set the netCDF environment variables differently).

[2020-01-09 14:51] KateFriedman-NOAA commented on #40
Ok I should have reread my emails from mid-December earlier...these new CO2 files are already in the set on the ftp server and are up-to-date. We got these files in early December and I copied them into our main FIX_DIR set right before Fanglin made that v20191213 set for the UFS release. I did some quick diffs to double check, they are indeed already up-to-date.

[2020-01-09 15:44] rsdunlapiv commented on #40
@uturuncoglu could you please post an update as to whether the namelist changed for each resolution provided by @KateFriedman-NOAA are working for you in CIME?

@KateFriedman-NOAA there was a question from @uturuncoglu about whether the atmosphere layout should change between v15.2 and v16 versions of physics.  Can you please confirm that this should be the case?

[2020-01-09 15:49] KateFriedman-NOAA commented on #40
I am not familiar with CCPP (haven't worked with it yet) so this is a question for Fanglin Yang and Judy Henderson (I can't tag them in here for some reason).

[2020-01-09 15:50] rsdunlapiv commented on #54
I asked Hui-ya and Wen to send their GitHub IDs so we can keep this discussion here.

[2020-01-09 16:01] WenMeng-NOAA commented on #54
Wen's githubid: WenMeng-NOAA.
Huiya's githubid: HuiyaChuang-NOAA.

[2020-01-09 16:04] rsdunlapiv commented on #24
@jedwards4b will need to say if he was able to get the output filenames he needs for regression testing.

[2020-01-09 16:11] rsdunlapiv commented on #31
@uturuncoglu what do you mean by "update the model source?"  Update the version, or make code changes?

@jedwards4b have the compset names been finalized?

[2020-01-09 16:21] arunchawla-NOAA commented on #45
what is the status of this ? @climbfuji

[2020-01-09 16:32] HuiyaChuang-NOAA commented on #54
Rocky, I'm a bit confused about your questions.  Feel free to call me and we can discuss:
301-683-3716

I do have several meetings this afternoon.  My available time:
3-3:30 pm
4-5 pm

[2020-01-09 16:55] climbfuji commented on #45
This needs to be merged first: https://github.com/ufs-community/ufs-weather-model/pull/22, then I need to update my PRs (https://github.com/ufs-community/ufs-weather-model/pull/25). Once this is in, we can merge the scidoc update (https://github.com/NCAR/ccpp-physics/pull/376).

[2020-01-09 17:03] uturuncoglu commented on #7
@climbfuji i tested your branch and i confirmed that i could run both chgres and ncep post without any problem. Thanks for your help. BTW, did you merge those changes to main repository.

[2020-01-09 17:07] climbfuji commented on #7
Yes, this is now in ufs_release_v1.0. I will close this issue. We will need to make sure that the documentation contains using the MPI wrappers as compilers (this is a good thing anyway, not only for cheyenne).

[2020-01-09 17:16] uturuncoglu commented on #40
@uturuncoglu I am still working on CIME side to make restart working properly for regular runs and also test. I could not find time to test other resolution yet but i have already modified namelist XML file and fins suitable layout, write group etc. configuration for Cheyenne which has 36 core in each node.

[2020-01-09 17:20] uturuncoglu commented on #31
@rsdunlapiv we need to update the model source but those changes are not the ufs_release branch yet. I am waiting for @pjpegion to merge those changes with ufs_release branch .

[2020-01-09 17:53] ligiabernardet opened #55 "Doc must explain two types of RT (CIME-based and rt.sh)"
The ufs-weather-model code management depends on rt.sh, which executes the regression tests (RTs) in Tier 1 and Tier 2 platforms (currently NOAA machines and NCAR Cheyenne). Those are executed on latest development up-to-date with main development branches prior to commits. With the public release, CIME will have RTs for all release supported platforms, but limited to the supported configurations.

[2020-01-09 18:07] WenMeng-NOAA commented on #54
@uturuncoglu looks your NCEP post configuration is for processing model output in nemsio, right?

[2020-01-09 18:45] pjpegion commented on #40
@uturuncoglu I just merged the stochastic_physics master into ufs_public_release.  The stochastic physics random patterns needed for restarting the model should now be written out each restart time.  What you need to do at the namelist level is set FHSTOCH to the restart interval.

[2020-01-09 18:46] climbfuji commented on #40
I will update the submodule pointer to stochastic_physics in my upcoming PR to the ufs_public_release branch of the ufs-weather-model.

[2020-01-09 19:07] uturuncoglu commented on #54
@WenMeng-NOAA Yes, it uses nemsio by default. it also supports netcdf based on the **output_file** namelist option defined in model_configure. I just wonder that do we nned to support different cycles other than 12, 24 and 36. This part of the script is still hard coded. There might a possibility to have also more than 3 cycles but i am not sure about it is the case of regular workflow. So, i am j

[2020-01-09 19:24] WenMeng-NOAA commented on #54
@uturuncoglu and @rsdunlapiv  I just talked with Jun. Here are some clarification for NCEP post:
1) right now, NCEP POST (executable) has only capability for processing fv3 global model at gaussian grid and output GRIB2 file at gaussian grid.
2) The grib2 file generated in 1) can be regridded into lat-lon grid via utility wgrib2. The wgrib2 is portable utility can be downloaded at https://www.cpc.

[2020-01-09 19:29] uturuncoglu commented on #54
@WenMeng-NOAA Thanks for the clarification. If i remember correctly i could also process netCDF output but i am not sure and i need to double check. So, because of it, i add support for different output formats. I think that converting NCEP Post output to different format is not the part of the UFS Release workflow but it would be nice to double check.

[2020-01-09 19:35] WenMeng-NOAA commented on #54
@uturuncoglu Yes, NCEP POST can process model output in netcdf.  The configuration of itaga would be different for netcdf. You may change "binarynemsiompiio" into "netcdf" for processing netcdf.

[2020-01-09 19:44] ligiabernardet opened #56 "Finalize FV3 dycore documentation"
The FV3 dycore documentation must be finalized and committed to https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/tree/ufs_public_release/docs

By looking at HTML available at [https://noaa-emc.github.io/FV3_Dycore/html/index.html], it seems a few namelist variables are not described (see list below). If possible, please add documentation for all relevant variables. It also seems that some namel

[2020-01-09 19:52] jedwards4b commented on #49
For reasons that are not clear to me the field bundle names are associated with filename_base,
in fv3cap.F90 variable fcstItemNameList is declared with length 80 and used to set these names, it is in the cap, not in esmf where the restriction to 80 characters occurs.

[2020-01-09 20:08] junwang-noaa commented on #49
In this issue, it's said the fieldname_base does not have 255 characters,
so it actually does have 255 characters? Would you please check how the
fcstItemNameList is changing the fieldname_base? I am confused what is the
problem/bug in the issue. It seems you are checking the length of output
file name? not the length of fieldname_base?

On Thu, Jan 9, 2020 at 2:52 PM jedwards4b <notifications@git

[2020-01-09 20:59] arunchawla-NOAA commented on #56
@bensonr can we get some help here?

[2020-01-09 21:05] jedwards4b commented on #49
fcstItemNameList is not changing fieldname_base, on the contrary fieldname_base (with length 255) is used in the creation of fcstItemNameList (length 80) which presents a practical limit of 80 on the length of fieldname_base - if it is any longer you get an error due to the truncation of strings in  fcstItemNameList.

[2020-01-09 21:36] junwang-noaa commented on #49
So, if I understand correctly, you are trying to get 255 character fcstItemNameList, is it correct? If that is the case, please be aware that the fieldname_base is combined with strings for interpolation method to mark the field bundle name. In other words, setting fcstItemNameList string names to 255 won't guarantee you can set 255 characters in filename_base since the 255 fieldname_base may mess

[2020-01-09 21:54] jedwards4b commented on #49
I opened the issue to point out a general problem - because there is no consistency in character string lengths the model is prone to errors of this nature that are very difficult to track down.   The case of fieldname_base and  fcstItemNameList is intended as an illustration of this more general issue.

[2020-01-10 14:51] arunchawla-NOAA commented on #54
@uturuncoglu and @rsdunlapiv Just checking to see if your questions have been answered

[2020-01-10 16:57] bensonr commented on #56
Sure.  Please have the extended documentation team look at the doxygen documentation in the source file model/fv_arrays.F90.  I believe most, if not all, entries are defined there.

[2020-01-10 17:04] valbonakunkel-noaa commented on #56
I have this response from Lucas.

Some of these variables are undocumented and unsupported features and are not recommended for general use. The only ones that are recommended are those for the regional model (regional, bc_update_interval), and the read_increment which handles the DA interface. do_sat_adj enables the fast component of the GFDL microphysics; it must have the same value as fast_sat_

[2020-01-10 18:25] uturuncoglu commented on #54
@arunchawla-NOAA I have some idea but in case of having more question let's keep it open. i am plaining to make cycle count and their interval dynamic and user could change them.

[2020-01-10 18:48] uturuncoglu commented on #43
@junwang-noaa @ligiabernardet @arunchawla-NOAA I tested restating model and i could not reproduce the results when i restart the model. I setup two different runs as follow,

**ufs-mrweather-app-workflow.c96.base**
5 hour run with cold start

**ufs-mrweather-app-workflow.c96.rest**
3 hour run with cold start
2 hour run with warm start start from the files have prefix 20190909.030000.* (those are c

[2020-01-10 18:52] arunchawla-NOAA commented on #43
Use a 6 hour restart file. Precip buckets get flushed every 6 hours. As Jun
pointed to me in a different discussion :)
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Ph: 301-683-3740
Fx: 301-683-3703
----------------

[2020-01-10 19:26] uturuncoglu commented on #43
@arunchawla-NOAA Okay. Thanks. I'll try it and let you know.

[2020-01-10 19:43] uturuncoglu commented on #43
@arunchawla-NOAA I tried with 6 hour interval but there are still difference.

[2020-01-10 20:25] uturuncoglu commented on #40
@KateFriedman-NOAA I tested different resolutions on Cheyenne and i made some changes in the processor count to fit the run on 36 core nodes. The results are follows,

|      | layout | write_groups | write_tasks_per_group | total pe | result  |
|------|--------|--------------|-----------------------|----------|---------|
| C96  | 4x4    | 1            | 12                    | 108      | working

[2020-01-10 20:30] uturuncoglu commented on #40
@KateFriedman-NOAA @ligiabernardet @pjpegion Now i am trying to increase IO pool from 3x36 to 7x36. Then, if it fails, i'll double number of processor used.

[2020-01-10 20:43] uturuncoglu commented on #7
@climbfuji When i try to build NCEPLIB with external ESMF installation on Chayyene, i am getting following error.

[code]

In this case, there is no *.cmake file in the ESMF installation directory.

[code]

I defined following environment variables but those do not help

[code]

[2020-01-10 21:29] climbfuji commented on #7
@uturuncoglu this is not an error but a misleading warning imo. The compilation and installation should proceed just fine. The only thing you need to set is ESMFMKFILE. And the installation needs to be compatible with the standard install on the NOAA platforms, i.e. instead of having lib/libO/Linux.intel.64.mpt.default, mod/modO/Linux.intel.64.mpt.default and bin/binO/Linux.intel.64.mpt.default, y

[2020-01-10 21:37] uturuncoglu commented on #7
@climbfuji with this configuration. i am getting error in chgres installation. it seems that it could not find the correct ESMF installation or its module files.

[code]

That could be related with my previous concern of mod directory. In this case, if i look at **CMakeFiles/UFS_UTILS.dir/build.make ** the ESMF_LIB is fine but ESMF_INC is wrong. The file points to **/glade/work/turuncu/PROGS/esmf/

[2020-01-10 21:41] uturuncoglu commented on #7
I could also try with following options

[code]

but this is not the way that we follow generally and it requires to reinstall all the ESMF modules from scratch.

[code]

[2020-01-10 21:43] climbfuji commented on #7
@uturuncoglu we could try to build in some mechanism that searches for mod directories underneath the ESMF top-level installation directory, or make use of the other cmake variables that are set by ESMF's own FindESMF.cmake module. Do you want me to try that?

It is unfortunate that the default installation paths for ESMF have all these nested directories with compiler and library name in it inste

[2020-01-10 21:44] climbfuji commented on #7
Add-on: the only variable that is and needs to be set is ESMFMKFILE. This file is picked up and searched by ESMF's FindESMF.cmake macro. No other variable should be set or searched, because ESMFMKFILE is the standard recommended by the ESMF team and is also what is used by the UFS weather model.

[2020-01-10 21:48] uturuncoglu commented on #7
If i look at the ESMFMKFILE, the ESMF_F90COMPILEPATHS variables shows correct path of ESMF modules.

[code]

Is it possible to query this variable and set ESMF_INC? That would probably fix the issue and would be more generic solution without having special ESMF installation by setting environment variables.

[2020-01-10 21:49] uturuncoglu commented on #7
It is also possible to pass **ESMF_F90COMPILEPATHS** variable as **ESMF_INC** but i am not sure.

[2020-01-10 21:52] climbfuji commented on #7
Let me try - I will use /glade/work/turuncu/PROGS/esmf/8.0.0/mpt/2.19/intel/19.0.2/lib/libg/Linux.intel.64.mpt.default/esmf.mk because your lib0 directory is empty.

[2020-01-10 21:56] uturuncoglu commented on #7
Thanks. Let me know, if you need help. BTW, I could see the files in

/glade/work/turuncu/PROGS/esmf/8.0.0/mpt/2.19/intel/19.0.2/lib/libO/Linux.intel.64.mpt.default/

[code]

[2020-01-10 22:02] uturuncoglu commented on #43
As i mentioned before, the experiment that i try to run as follows

**ufs-mrweather-app-workflow.c96.base**
5 hour run with cold start

**ufs-mrweather-app-workflow.c96.rest**
3 hour run with cold start
2 hour run with warm start (start from the files that is produced by 3 hour run and have prefix 20190909.030000.*  and those files are copied to INPUT without time prefix)

In this case, i am tryin

[2020-01-10 22:42] #42 closed

[2020-01-10 22:42] #41 closed

[2020-01-10 22:48] rsdunlapiv commented on #31
The compset naming convention is complete.  The issue here about stochastic physics restarts is a separate issue that will not be addressed now.

[2020-01-10 22:49] #24 closed

[2020-01-10 22:50] rsdunlapiv commented on #51
This is complete.  Waiting for PR.

[2020-01-10 22:55] rsdunlapiv commented on #37
@uturuncoglu to send request to @KateFriedman-NOAA to place default raw inputs to the FTP server that will be used as the default start date.  ```prod/gfs.20190909/00```

We also need additional testing of the NOMADS retrieval.

[2020-01-10 23:12] rsdunlapiv commented on #54
@uturuncoglu to update workflow post processing script to call ncep_post on ALL output files, instead of looking for certain cycles.

[2020-01-12 04:47] uturuncoglu commented on #43
The result is also same if i set restart_interval to 6 and design experiment like following

**ufs-mrweather-app-workflow.c96.base**
9 hour run with cold start

ufs-mrweather-app-workflow.c96.rest
6 hour run with cold start
3 hour run with warm start (start from the files that is produced by 6 hour run and have prefix 20190909.060000.* and those files are copied to INPUT without time prefix)

I'll

[2020-01-12 04:56] uturuncoglu commented on #37
@KateFriedman-NOAA Do you have access to Cheyenne or Stampede2? The data is in following directories,

**Cheyenne:**
/glade/p/cesmdata/cseg/ufs_inputdata/prod/gfs.20190909

**Stampede2:**
/work/01118/tg803972/stampede2/UFS/ufs_inputdata/IC/gfs.20190909

The data need to be placed as **prod/gfs.20190909/00**. @rsdunlapiv could also copy files to NOAA Hera machine if you don't have access to any of

[2020-01-12 11:38] climbfuji commented on #43
I'd say we should test this first "manually" or as part of the ufs-weather-model regression tests run on hera/cheyenne. The code "should" be b4b identical through restarts, but I haven't tested it (there are several restart tests in the develop branch which test various bits and pieces of the physics contained in these suites. v15p2 or v16?

[2020-01-12 16:04] arunchawla-NOAA commented on #43
Get the testing group with Phil Pegion involved

Sent from my iPhone

[2020-01-13 13:40] KateFriedman-NOAA commented on #37
@uturuncoglu I don't have access to Cheyenne or Stampede2 unfortunately. If @rsdunlapiv could put the files on Hera I can grab them from there, thanks!

[2020-01-13 17:50] rsdunlapiv commented on #37
@KateFriedman-NOAA and @uturuncoglu I started the copy to Hera.  It looks like it's going to take a while.  I'll update you when it's complete.

[2020-01-13 18:41] uturuncoglu commented on #40
I could run C768 with threading support. It seems it was related with memory issue. Following configuration works fine for Cheyenne,

[code]

[2020-01-13 18:45] uturuncoglu commented on #7
I could able to install NCEPLIBS on Stampede2. I did not test it with the model yet but i'll do it today and let you know.

[2020-01-13 20:56] rsdunlapiv commented on #37
@KateFriedman-NOAA the files are on Hera:
```/scratch1/NCEPDEV/nems/Rocky.Dunlap/kate/gfs.20190909```

There are two files:
```00/gfs.t00z.atmanl.nemsio```
```00/gfs.t00z.sfcanl.nemsio```

[2020-01-13 22:09] rsdunlapiv commented on #43
All SMS tests are implemented on Cheyenne/intel.
@uturuncoglu to change iseed_* to a constant to fix NLCOMP failures
@jedwards4b is working on RUN failures in debug mode likely due to threading issue with CCPP

[2020-01-13 22:16] rsdunlapiv commented on #43
@pjpegion do you have an account on Cheyenne?  That could be the first testing target for you.

[2020-01-13 22:26] rsdunlapiv opened #58 "UFSATM failure with Intel with debug flags"
We received the following error running UFSATM with Intel 19/MPT on Cheyenne with physics GFSv15p2.  We are running in debug mode and a SIGFPE was caught inside the physics (see stack trace below).

CIME test:
`SMS_D.C96.GFSv15p2.cheyenne_intel`

Modules:
[code]

Hash of UFS weather model:
https://github.com/ufs-community/ufs-weather-model/commit/bde62f9116cc9bdebaae0c6057090fe468eae917

We can pr

[2020-01-13 22:32] pjpegion commented on #58
@rsdunlapiv I believe that is just the place where an un-physical temperature triggers the array index to go out of bounds (it is associated with the calculation of the saturation specific humidity.)

[2020-01-13 22:47] rsdunlapiv commented on #40
All four resolutions are now running.  C768 requires threading.
@uturuncoglu will clean up logic in buildnml to set PE counts based only on the resolution.  Error checking needs to be added to ensure that total PE count for the atmosphere is consistent with layout + write task settings in user_nl_ufsatm.

@climbfuji what resolutions are expected to work on a Mac laptop?

[2020-01-13 22:51] pjpegion commented on #43
@rsdunlapiv yes I do.  Do I just checkout ufs-mrweather-app and follow directions? I'm not familiar with CIME.

[2020-01-13 22:53] rsdunlapiv commented on #31
Merged with https://github.com/ufs-community/ufs-mrweather-app/pull/57

[2020-01-13 22:53] #31 closed

[2020-01-13 22:54] rsdunlapiv commented on #51
Closed via https://github.com/ufs-community/ufs-mrweather-app/pull/57

[2020-01-13 22:54] #51 closed

[2020-01-13 22:55] rsdunlapiv commented on #54
Post-processing script was updated to process all output files.  This still needs to be merged in by @uturuncoglu.

[2020-01-13 23:08] jedwards4b commented on #43
@pjpegion We aren't quite ready yet - we need to push one more update to the ufs-mrweather-app and will provide quick start guide.

[2020-01-13 23:16] climbfuji commented on #58
Dusan merged an update to the ufs_public_release earlier today, part of the update was to address regression test failures in debug mode and to enable those tests for both 15p2 and 16beta as standard regression tests. These tests passed on Cheyenne with Intel and GNU and on Hera with Intel; they are based on the C96 configurations. See https://github.com/ufs-community/ufs-weather-model/pull/25 and

[2020-01-13 23:19] climbfuji commented on #40
On a Mac, I would only want to run C96. I've tried running two C96 setups in parallel, and this drained the resources on my 16GB RAM machine, which makes me assume that C192 won't work. But users owning a Mac Pro (the development power station) will be able to run C192 for sure.

[2020-01-13 23:20] climbfuji commented on #40
BTW I don't understand why C768 works only with threading turned on on Cheyenne, this seems to be suspicious to me.

[2020-01-14 00:06] jedwards4b commented on #40
I suspect that it runs out of memory, threading reduces the memory required
per node.  I can run additional tests to confirm.

On Mon, Jan 13, 2020, 16:20 Dom Heinzeller <notifications@github.com> wrote:

[2020-01-14 00:12] climbfuji commented on #40
Got it, this makes sense.

[2020-01-14 12:31] climbfuji commented on #7
@uturuncoglu The fix in https://github.com/NOAA-EMC/NCEPLIBS/pull/19 should work for you on Cheyenne. Please test. Thanks!

[2020-01-14 15:04] #21 closed

[2020-01-14 15:06] #38 closed

[2020-01-14 15:11] ligiabernardet commented on #56
Thank you @valbonakunkel-noaa and @bensonr

@valbonakunkel-noaa, could you please add documentation for the variables recommended by Lucas (regional, bc_update_interval, read_increment, and do_sat_adj. You can refer to the source code mentioned by Rusty for information.

@valbonakunkel-noaa My understanding is that this documentation is 95% ready. Can you please commit it to  https://github.com/NO

[2020-01-14 15:41] KateFriedman-NOAA commented on #37
@rsdunlapiv Thanks, once Hera is back from today's maintenance I'll copy the files from there to our ftp server. Stay tuned...

[2020-01-14 18:38] uturuncoglu commented on #37
@KateFriedman-NOAA I was copying following files from the model source before but the new version of the model does not have those files under pram/ folder. So, we need to place them also in the FTP

postxconfig-NT.txt
params_grib2_tbl_new

If it is possible could you also put them to FTP or i could put them inside of CIME interface of FV3 (like i did for *_table files) but i am not sure those fil

[2020-01-14 20:54] jedwards4b commented on #58
Some of these questions are answered in the cime test name: SMS_D.C96.GFSv15p2.cheyenne_intel
The resolution is C96
The CCPP is v15p2
Machine is cheyenne
Compiler is intel

Initial conditions are 2019-09-09 00
Case directory is /glade/scratch/jedwards/SMS_D.C96.GFSv15p2.cheyenne_intel.G.grp
Run directory is /glade/scratch/jedwards/SMS_D.C96.GFSv15p2.cheyenne_intel.G.grp/run

[2020-01-14 20:56] jedwards4b commented on #58
I am using
commit bde62f9116cc9bdebaae0c6057090fe468eae917
Author: Dom Heinzeller <climbfuji@ymail.com>
Date:   Mon Jan 13 06:46:37 2020 -0700

Which is the latest available.

[2020-01-14 20:58] jedwards4b commented on #58
I get a similar error on stampede using v16beta at C96 resolution:
forrtl: error (65): floating invalid
Image              PC                Routine            Line        Source
ufs.exe            0000000004DC4E6F  Unknown               Unknown  Unknown
libpthread-2.17.s  00002AD70FCA05D0  Unknown               Unknown  Unknown
ufs.exe            0000000002C9304B  Unknown               Unknown  U

[2020-01-14 21:00] jedwards4b commented on #58
On stampede using v15p2 at C96:
 floating divide by zero
Image              PC                Routine            Line        Source
ufs.exe            0000000004DBBC8F  Unknown               Unknown  Unknown
libpthread-2.17.s  00002AFB84DDD5D0  Unknown               Unknown  Unknown
ufs.exe            0000000002CCDE5E  Unknown               Unknown  Unknown
ufs.exe            0000000002C22E39  Unk

[2020-01-15 01:13] arunchawla-NOAA commented on #49
Is this a long term issue that can be addressed at a later date or needs to be tackled now for the release? I ask because of the limited time that we have

[2020-01-15 01:19] arunchawla-NOAA commented on #45
@climbfuji looks like @DusanJovic-NOAA has merged the two ufs-weather-model PRs. Are we close to closing this ticket?

[2020-01-15 01:27] arunchawla-NOAA commented on #12
@jedwards4b @mvertens @rsdunlapiv Is this still an issue? Are you able to build the model through CIME?

[2020-01-15 01:33] climbfuji commented on #58
I am at AMS this week and don't have much time to look into this. The easiest way forward imo is to compare the run directory (input files, namelist, ...) of your CIME setup to the ufs-weather-model regression test setup (which uses rt.sh to run and which completes successfully) on Cheyenne using the Intel compiler. I can point you to a directory containing a successful run if that helps.

[2020-01-15 01:33] arunchawla-NOAA commented on #7
@uturuncoglu and @climbfuji once confirmed that this is working can we close this ticket?

[2020-01-15 01:34] climbfuji commented on #45
Yes, because my PR #25 contained the scidoc update. Will close.

[2020-01-15 01:34] #45 closed

[2020-01-15 01:42] jedwards4b commented on #12
This issue has been resolved.

[2020-01-15 01:42] #12 closed

[2020-01-15 01:44] jedwards4b commented on #58
Please point me to a successful run with debug flags enabled and I will compare.

[2020-01-15 01:46] jedwards4b commented on #49
The general problem does not need to be addressed prior to the release.  However it would be very helpful if the [PR ](https://github.com/NOAA-EMC/fv3atm/pull/43) that I have submitted to fv3atm were accepted into the ufs_release branch.

[2020-01-15 03:10] climbfuji commented on #58
Jim, see
[code]
These are C96 test cases as in your CIME setup, and both run to completion for a 6h forecast when the model is compiled with `DEBUG=Y`.

[2020-01-15 12:32] jedwards4b commented on #58
@pjpegion I am ready to enlist your help.   Instructions for running the tests on cheyenne are here:
https://docs.google.com/document/d/13nvpIS_q87ttjjHwB9f8OFXX7YI00DM5O9V-gk04yAY/edit?usp=sharing

[2020-01-15 12:43] ligiabernardet commented on #58
@llpcarson @julieschramm Let's run this test on Cheyenne and use it to review (and update, if needed) the Weather Model User's Guide on the directory structure and lists of input/output files. Keep in mind that this run uses CIME, the WM UG should be relevant to those using CIME, as well as to those running the model in other ways.

[2020-01-15 13:31] climbfuji commented on #58
Did the comparison with the run directories that I gave @jedwards4b lead to any insight? I am not sure it makes sense to have more people try to run and debug this unless we understand why the regression tests in the ufs-weather-model run to completion in DEBUG mode while the CIME runs don't.

[2020-01-15 13:44] arunchawla-NOAA commented on #10
@GeorgeGayno-NOAA @LarissaReames-NOAA @BinLiu-NOAA  can you provide a status for chgres using grib2? Do we have some initial results that we can look at? At this moment we can only hope to have a few results. If you have sample grib2 and nemsio files that you are using for testing please provide them to @KateFriedman-NOAA so we can put them in the ftp directory

[2020-01-15 13:50] jedwards4b commented on #58
I found a couple of differences that I didn't understand and tried changing my values to yours - it didn't make any difference.   It could just be due to the different initial conditions.   Or it could be due to different build flags - but I didn't see any build output in the directory you pointed me to.

I think that it does make sense to have @pjpegion and @ligiabernardet and others become famil

[2020-01-15 13:53] climbfuji commented on #58
Ok, thanks or the info. I am happy to take a look as well.

[2020-01-15 14:50] KateFriedman-NOAA commented on #37
@rsdunlapiv I'm in the process of copying the sample inputs over to WCOSS from Hera and then up to our ftp server. The atmanl file is huge so it's taking a while...

@uturuncoglu Those two files are post parm files:

1) The postxconfig-NT.txt file is a copy of one of the postxconfig-NT*.txt files in the post/UPP parm folder, set as PostFlatFile in the post scripts. Depending on some conditions you

[2020-01-15 15:07] KateFriedman-NOAA commented on #37
@rsdunlapiv The sample input files are now on the ftp server:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/inputdata/prod/gfs.20190909/00/

[2020-01-15 15:29] BinLiu-NOAA commented on #10
@arunchawla-NOAA  and All,

I got instructions from @LarissaReames-NOAA and @GeorgeGayno-NOAA last Friday that the chgres code (in the feature/chgres_cube_grib2_release branch) was ready for conducting tests of producing both atm and sfc initial conditions by using GFS grib2 files. So far, I have successfully compiled the latest version of the code on Hera, and generated the atm and sfc IC files b

[2020-01-15 16:37] pjpegion commented on #58
@jedwards4b I'm following your instructions and I ran into two problems so far.
1-  had to add --project <project id> to ./create_test lime
2- Now I get an error
       Case dir: /glade/scratch/pegion/SMS_D_Lh5.C96.GFSv15p2.cheyenne_intel.try
    Errors were:
        Building test for SMS in directory /glade/scratch/pegion/SMS_D_Lh5.C96.GFSv15p2.cheyenne_intel.try
        ERROR: /glade/work/pegion

[2020-01-15 16:38] uturuncoglu commented on #7
It is tested and works on Stampede. I did not install it to Cheyenne yet.

[2020-01-15 16:41] jedwards4b commented on #58
@pjpegion This looks like a python version issue - what python are you using?

[2020-01-15 16:44] jedwards4b commented on #58
I think that @uturuncoglu is using 2.7.13 and hasn't tested with python3 yet.   I will fix, but if you could please try with default python on cheyenne.

[2020-01-15 16:45] pjpegion commented on #58
I see my python is defaulting to /glade/u/home/pegion/miniconda3/bin/python
I will change that and try again.
Thanks.

[2020-01-15 16:50] climbfuji commented on #58
This release is only compatible with Python 2.7.x (also because CCPP works only with those versions).

[2020-01-15 16:51] arunchawla-NOAA commented on #58
Python 2.7 is getting deprecated this year. Does it make sense to limit to
an unsupported version of Python? We are moving to Python 3 everywhere.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
M

[2020-01-15 16:54] climbfuji commented on #58
For the next anticipated release of the ufs (with SAR etc) later this year we will hopefully be able to support Python 3. I don't see a chance to rewrite the code to work with Python 3, and what is more it will probably take years for Python 2.7 to completely disappear from HPCs and standard OS installations.

[2020-01-15 16:54] jedwards4b commented on #58
CIME is fully compatible with and tested with python 3.6 as well as python 2.7.   The fv3_interface issue should be easy to fix.

[2020-01-15 17:27] pjpegion commented on #58
@jedwards4b The model nows builds and the run starts.  But the model crashes in initialization, log file is
/glade/scratch/pegion/SMS_D_Lh5.C96.GFSv15p2.cheyenne_intel.try/run/ufs.log.238590.chadmin1.ib0.cheyenne.ucar.edu.200115-095701

[2020-01-15 17:36] climbfuji commented on #58
Can someone point me to the job submission script for this job, please? Thanks ...

[2020-01-15 17:44] pjpegion commented on #58
@climbfuji I am running out of /glade/work/pegion/UFS/ufs-mrweather-app/cime/scripts
command is ./create_test SMS_D_Lh5.C96.GFSv15p2 --workflow ufs-mrweather_wo_post --test-id try --project P93300042

[2020-01-15 17:49] climbfuji commented on #58
Thanks, but I don't know how to find the actual job submission script (the file that contains the #PBS configuration entries and the mpiexec_mpt calls) from there. Maybe the CIME folks can help? We should always write/copy this job submission script into the run directory using a filename like job_card, because many developers who are used to rerun some of the stuff manually will want this. And it

[2020-01-15 17:53] jedwards4b commented on #58
@pjpegion Now we are in the same place - I am trying to understand and fix this failure.
[code]

[2020-01-15 17:56] climbfuji commented on #58
I I had to guess I would say initial conditions. It's the first time it is calling the saturation adjustment as part of the dynamics before doing any physics, i.e. right after reading the initial conditions. I am downloading the run dirs for my rt.sh run and your cime run to my laptop to take a closer look at the diffs.

[2020-01-15 17:57] jedwards4b commented on #58
@climbfuji The job submission script is in the case directory:
./case.submit

If you want to see what the script will submit you would run
./preview_run

By default we will submit the chgres and then the model - if you only want to submit the model use
./case.submit --job case.test

[2020-01-15 17:58] jedwards4b commented on #58
@climbfuji please point me to your build log - I want to confirm that we are using the same flags to build ccpp.

[2020-01-15 18:00] climbfuji commented on #58
/glade/work/heinzell/fv3/ufs-weather-model/ufs-weather-model-public-release-20200114/tests/log_cheyenne.intel/compile_2.log

is the log for the debug tests (compile step)

[2020-01-15 19:54] arunchawla-NOAA commented on #53
@ceceliadid this was asked in the two pager. Is this still needed as part of communication and / or part of documentation?

[2020-01-15 23:12] jedwards4b opened #59 "case.build is calling fv3 buildnml twice"
[code]

[2020-01-16 00:00] jedwards4b commented on #58
I did find a problem with the build and am working on it, but I don't think that it is related to this run failure and agree that there seems to be a problem with initial conditions.

[2020-01-16 01:28] jedwards4b commented on #58
It turns out that correcting the issue with build flags changed the error - it's making it past initialization now and crashing a little further into the run.   The error is now in file [moninedmf.f](https://github.com/NCAR/ccpp-physics/blob/39981891a5b84e0f08acdf4d9e72d31c0c07aa82/physics/moninedmf.f#L412) where the value of stress is < 0 in a couple of places:
TASKID   FILE             LINE

[2020-01-16 15:11] arunchawla-NOAA opened #60 "Adding cmake build to NCEP Libs unified build"
The NCEPLIBS unified build requires a recent version of cmake. This can be a problem in systems where there is an older version of cmake. To ensure a clean build of the model and the libraries, cmake distribution will need to be added to the nceplibs distribution

[2020-01-16 15:52] jedwards4b commented on #58
I was able to run to completion by using the initial conditions in
/glade/work/heinzell/fv3/debug_tests_for_cime_20200114/fv3_ccpp_gfs_v15p2_debug_prod/INPUT

This points to a problem in chgres or in the initial condition files themselves.  I'm not sure where to go from here.  @uturuncoglu @climbfuji

[2020-01-16 16:10] jedwards4b opened #61 "Problem with chgres_cube"
In #58 we found that the problem appears to be in the initial condition.
We are using the nemsio files found in
ftp.emc.ncep.noaa.gov:/EIB/UFS/inputdata/prod/gfs.20190909/00
We need someone to determine if there is a problem in these initial conditions or
if there is a problem in chgres_cube.

[2020-01-16 16:24] #58 closed

[2020-01-16 16:29] jedwards4b opened #62 "Test ERS_Lh11.C96.GFSv15p2.cheyenne_intel FAILS in restart comparison"
This test indicates that restarts are not producing bfb results under cime testing.

The file comparisons show:
run/ERS_Lh11.C96.GFSv15p2.cheyenne_intel.20200116_085748_nk2uyu.ufsatm.atm.f011.nc.base.cprnc.out:          of which     14 had non-zero differences
run/ERS_Lh11.C96.GFSv15p2.cheyenne_intel.20200116_085748_nk2uyu.ufsatm.sfc.f011.nc.base.cprnc.out:          of which    125 had non-zero di

[2020-01-16 16:41] arunchawla-NOAA commented on #61
@jedwards4b

Can you point to the exact chgres you used? There have been some bug fixes to chgres.

[2020-01-16 16:45] uturuncoglu commented on #61
@arunchawla-NOAA On Cheyyene: The last commit on superbuild is following

[code]

I'll try to install the latest version of the super build (ufs_release branch) and test with it also. What do you think?

[2020-01-16 16:46] uturuncoglu commented on #61
Is NCEPLIBS (particularly chgres_cube) tested outside in CIME using regular workflow in NOAA/EMC side to prove it is working.

[2020-01-16 16:48] climbfuji commented on #62
I am currently working on getting the restart tests into the rt.sh regression test system, also because this was reported independently in https://github.com/NOAA-EMC/fv3atm/issues/42. It would make sense to wait for the rt.sh based tests to be implemented before spending more time on this.

[2020-01-16 17:11] uturuncoglu commented on #54
@rsdunlapiv It is done!

[2020-01-16 17:17] uturuncoglu commented on #37
@KateFriedman-NOAA

1. I could find postxconfig-* files under ```./NCEPLIBS-post/parm/```
2. I also checked **params_grib2_tbl_new** file and it seems that it is included into NCEPLIBS too.

So, i could copy the files from NCEPLIBS but NCEPLIBS installation could change the based on the used platform and i prefer to include those files to CIME. At this point, i just wonder that are those files cha

[2020-01-16 17:30] GeorgeGayno-NOAA commented on #58
Dusan had the same error a couple months ago.  It was traced to ice concentrations greater than 1.0 (such as 1.0000000000004) in the initial surface file from chgres.  A fix was added.   Can you merge the latest chgres from 'develop' to your branch?

[2020-01-16 17:33] KateFriedman-NOAA commented on #37
@uturuncoglu I can't speak to the params_grib2_tbl_new file but the post postxconfig-*txt files do change from time to time when new fields are added. If the release is a frozen set it's not a concern but if you're setting up something that can evolve with time I recommend not copying the files into CIME but rather establishing links/references like we do in global-workflow.

For the params_grib2_

[2020-01-16 17:46] jedwards4b commented on #58
@arunchawla-NOAA I have opened issue https://github.com/NOAA-EMC/NCEPLIBS/issues/21 but I am not sure who to assign.

[2020-01-16 17:58] uturuncoglu commented on #37
@KateFriedman-NOAA which postxconfig-NT-* file in NCEPLIBS-post/parm/ directory was in the model source param/ directory before? I was copying **postxconfig-NT.txt** in that time. I think i just need to copy that file because the workflow only post-process FV3 output.

[2020-01-16 18:07] KateFriedman-NOAA commented on #37
@uturuncoglu What do you mean when you say "model source param/ directory"? Which path are you talking about specifically?

The postxconfig-NT-GFS.txt file is what should be used for all forecast hours except for the anl and f000 files. The postxconfig-NT-GFS-ANL.txt file is for processing the anl file and the postxconfig-NT-GFS-F00.txt file is for processing the f000 file.

[2020-01-16 18:32] pjpegion commented on #62
@climbfuji Please let me know if you want me to do anything.

[2020-01-16 18:33] uturuncoglu commented on #37
@KateFriedman-NOAA

Thanks for your help. Sorry i am little bit confused. I was using following files for post

https://github.com/ufs-community/ufs-weather-model/blob/3bc41ffde579516773549079fa00929f802b218a/parm/postxconfig-NT.txt
https://github.com/ufs-community/ufs-weather-model/blob/3bc41ffde579516773549079fa00929f802b218a/parm/params_grib2_tbl_new

and those files were included into ufs-weat

[2020-01-16 18:33] uturuncoglu commented on #37
BTW, there is no ANL file when you run the model.

[2020-01-16 18:44] arunchawla-NOAA commented on #61
@GeorgeGayno-NOAA

Can we update the release/ufs_release_v1.0 to sync up with develop so the latest bug fixes can be included. I believe the NCEPLIBS super build is using this branch

@kgerheiser and @Hang-Lei-NOAA can confirm. We can then test with that.

[2020-01-16 18:55] KateFriedman-NOAA commented on #37
@uturuncoglu Ah I see, ok so in the post scripts there are if conditions that determine which postxconfig-NT*.txt file to grab and it ends up with the name "postxconfig-NT.txt" after being copied, which is what you're seeing. So you want the postxconfig-NT-GFS.txt file for f001+ and the postxconfig-NT-GFS-F00.txt file for f000.

I do not know if the new inline post differentiates between f000 and

[2020-01-16 19:17] KateFriedman-NOAA commented on #37
@uturuncoglu Scratch my comment about inline post, we aren't including inline post in this release.

@arunchawla-NOAA @junwang-noaa Does the post for the UFS release differentiate between f000 and the other forecast hours when setting the postxconfig-NT.txt file? Can someone point me to the copy of the post being included in this release? I can check what the scripts are doing. Thanks!

[2020-01-16 19:30] uturuncoglu commented on #61
BTW, the chgres does not create **sfc_ctrl.nc** file. This file exists in some directories of regression tests (it think). Is it possible to create that file because it includes date information (idate variable). The main problem is that the files generated by chgres has no any attributes even global one to indicate the source of the files and dates.

[2020-01-16 20:07] uturuncoglu opened #63 "CHGRES and missing metadata information in the output ..."
@arunchawla-NOAA I am not sure about who needs to be assigned to this issue but i realized that the files generated by chgres_cube does not have any metadata (variables names, units, dates etc.) in variable and file level. This prevent us to check the integrity of the entire workflow and need to be addressed somehow before the release. Additionally, it might be good to have a namelist option that

[2020-01-16 20:07] uturuncoglu commented on #61
I'll create another new issue related with it https://github.com/ufs-community/ufs-mrweather-app/issues/63

[2020-01-16 20:09] uturuncoglu commented on #37
@KateFriedman-NOAA Thanks. That is really valuable information for the person outside of NOAA. I was using single file before. If you don't mind could you put those files to FTP with some kind of versioning. If i try to get them from NCEPLIBS-post/parm/ directory it would break the workflow if someone install the library and delete the source or having some kind of custom installation. It is bette

[2020-01-16 20:30] uturuncoglu commented on #63
Currently i am proposing following convention for the prefix of CHGRES output file name

RES.YYYY.MM.DD_HH

So this will be something like following,

C96.2019-09-09_00*

And then we could link them without prefix to the INPUT directory that FV3 expects. Let me know what do you think? BTW, is there any way to change the input file names for FV3. If not i could open an issue about them to make them

[2020-01-17 02:45] junwang-noaa commented on #37
Current POST allows users to use different post control file by setting the
post control file name in the post configuration file: itag.

On Thu, Jan 16, 2020 at 2:17 PM Kate Friedman <notifications@github.com>
wrote:

[2020-01-17 03:17] climbfuji commented on #62
I can confirm that with the namelist settings in the ufs_public_release branches for the GFS_v15p2 tests the restarts do not work. I am now trying to fix this, I've got a few ideas what may be the difference to the tests that we know are b4b reproducible in restart runs.

[2020-01-17 13:58] KateFriedman-NOAA commented on #37
@uturuncoglu I have created a parm folder on the ftp server and placed the two postxconfig-NT-GFS*.txt files there:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/parm/postxconfig-NT-GFS.txt
https://ftp.emc.ncep.noaa.gov/EIB/UFS/parm/postxconfig-NT-GFS-F00.txt

[2020-01-17 16:10] climbfuji commented on #62
@jedwards4b @mcgibbon I have a solution for this (tested on my Mac for GFSv15p2 thus far). The default namelist settings for both GFSv15p2 and GFSv16beta in the ufs_public_release branch of the ufs-weather-model repository turn on skep, shum and sppt. The stochastic physics do not reproduce in restart runs, because the logic for dealing with restarts hasn't been implemented in the stochastic_physi

[2020-01-17 16:43] jedwards4b commented on #62
I believe that we have already made this change for cime tests and it still
fails.

On Fri, Jan 17, 2020, 09:10 Dom Heinzeller <notifications@github.com> wrote:

[2020-01-17 16:49] climbfuji opened #64 "Heads-up: Cheyenne outage for system updates February 25-29"
CISL is planning an extended outage of Cheyenne Feb 25-29, see announcement here: https://dailyb.cisl.ucar.edu/bulletins/cheyenne-maintenance-downtime-scheduled-february-25-29

The outage will include "system software updates". In the past, this has often led to significant changes, updates of compiler versions, ..., that required recompiling the dependent software stack.

Unless we shift the ufs-

[2020-01-17 16:54] uturuncoglu commented on #37
@KateFriedman-NOAA Thanks. Is it possible also put params_grib2_tbl_new to new folder.

[2020-01-17 16:55] ligiabernardet commented on #62
The default configurations for this release are with all stochastic processes turned off.
@climbfuji: can you produce b4b restarts with stochastics off?

[2020-01-17 16:58] uturuncoglu commented on #62
@jedwards4b Yes, i confirm that. We turned off stochastic physics but it was still not b4b.

[2020-01-17 16:58] climbfuji commented on #62
On my Mac, I am getting b4b identical results w/o stochastic physics. Now testing on Cheyenne with Intel.

[2020-01-17 17:02] climbfuji commented on #62
Just to make sure that you are modifying the nstf_name namelist entry as well for the restart runs? The usual regression tests for ufs-weather-model use 2,1,1,0,5 for coldstarts. When restarting, one needs to set the second 1 to 0 (that is the NSST spinup flag, one of the "hidden features" - don't blame me). The input.nml we got from EMC uses 2,1,0,0,0 for coldstarts. I am testing now if 2,0,0,0,0

[2020-01-17 17:06] junwang-noaa commented on #62
Dom,

This feature is not  hidden, please see the document:

https://vlab.ncep.noaa.gov/redmine/projects/comfv3/wiki/_set_up_restart_run_for_FV3GFS_

On Fri, Jan 17, 2020 at 12:02 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-01-17 17:07] climbfuji commented on #62
I agree, Jun, it is not hidden to people who have access to Vlab. I am not sure if it is in the ufs-weather-model documentation for the release (I am lost wrt documentation) and I am not sure if the CIME folks know about it ... let's wait to hear from them!

[2020-01-17 17:10] KateFriedman-NOAA commented on #37
@uturuncoglu Done:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/parm/params_grib2_tbl_new

That is the file from g2tmpl v1.5.0.

[2020-01-17 17:12] uturuncoglu commented on #62
@climbfuji I have already did it. My previous tests are on

**Base run:**
/glade/scratch/turuncu/ufs-mrweather-app-workflow.c96.base/run
nstf_name = 2, 1, 0, 0, 0

**Restart run:**
/glade/scratch/turuncu/ufs-mrweather-app-workflow.c96.rest/run
  nstf_name = 2, 0, 0, 0, 0

By default, stochastic physics is off.

[2020-01-17 17:13] climbfuji commented on #62
That's good to know, thanks. if that fails I will test the default 2,1,1,0,5 settings. Just wait, please.

[2020-01-17 17:16] uturuncoglu commented on #37
@KateFriedman-NOAA Thank you for your kindly help. Do we need to put a versioning to those files at this point?

[2020-01-17 17:16] jedwards4b commented on #37
Yes!

On Fri, Jan 17, 2020 at 10:16 AM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-01-17 17:21] uturuncoglu commented on #37
post control file name in the post configuration file: itag.
@junwang-noaa which parameter that could be used to set post control file name? Is it introduced recently? I defined all namelist options in the CIME side using XML file but i could not see any option for it. If you let me know the exact name of the parameter that would be great!

[2020-01-17 17:25] KateFriedman-NOAA commented on #37
@uturuncoglu I created a lib folder and mimicked the the structure of the g2tmpl library on WCOSS. You can now find that parm file here with a version folder included:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/lib/g2tmpl/v1.5.0/src/params_grib2_tbl_new

Is the g2tmpl library not included in this release package somewhere with NCEPLIBS?

[2020-01-17 17:31] uturuncoglu commented on #37
It is included as NCEPLIBS-g2tmpl and it has a params_grib2_tbl_new.

[2020-01-17 17:37] uturuncoglu commented on #37
@junwang-noaa I think i found it, it seems it is fileNameFlat and read from stdin

[2020-01-17 17:48] KateFriedman-NOAA commented on #37
Cool, can CIME get that parm file from there then? I'm anxious about maintaining copies outside of the packaged libraries.

[2020-01-17 17:57] uturuncoglu commented on #37
@KateFriedman-NOAA I am totally agree with your concern about keeping parm files outside of the source such as FTP but this particular case, i would like to get them from FTP because it is not easy (or possible) to reach the source directory of library installations all the time. So, FTP will be better solution at this point.

[2020-01-17 18:02] KateFriedman-NOAA commented on #37
@uturuncoglu Understood, I'll stand down from my concerns. Thanks!

@WenMeng-NOAA @HuiyaChuang-NOAA What is the version number of the post being included in the UFS release? Thanks!

[2020-01-17 18:04] uturuncoglu opened #65 "NCEP Post and way of handling namelist file"
The current version of the NCEP Post namelist file (itag) is a combination of parameters that are read from standard input (stdin) and from namelist group called as nampgb. The problem is that the order of stdin ones are changing based on the selected options in the namelist file and this makes hard to manage the namelist file under CIME. As you already know, all namelist files (chgres, model and

[2020-01-17 18:21] ligiabernardet commented on #65
@fossell  Any concerns?

[2020-01-17 18:26] junwang-noaa commented on #65
@WenMeng-NOAA, please see comments on itag from uturuncoglu

[2020-01-17 19:10] WenMeng-NOAA commented on #65
DTC UPP team has been mainly working on UPP for ufs public release. It is okay for me if @fossell  has no concerns and the change will be added in UPP branch for ufs public release only.

[2020-01-17 19:29] WenMeng-NOAA commented on #37
@KateFriedman-NOAA The UPP branch "ufs_public_release" is for the UFS release.

[2020-01-17 19:32] uturuncoglu commented on #65
@WenMeng-NOAA @junwang-noaa @fossell I have a workaround for it but it is not stable and if user make a change in some parameter it might fail. So, please let me know when you have those changes and i'll make the modification in CIME side.

[2020-01-17 19:38] KateFriedman-NOAA commented on #37
@WenMeng-NOAA Thanks for the branch name but is there a version # I can attach to it (v#.#.#)? Perhaps the associated operational version # that best matches the postxconfig-NT*.txt files in that branch? It has been requested that everything we put on the ftp server for the release include version numbers. I am posting copies of the postxconfig-NT*.txt files. Thanks!

[2020-01-17 19:40] mcgibbon commented on #62
@climbfuji when you get things working, could you attach an `input.nml` which is working locally for you? I'd like to test it on my system. I would just ask which options disable skep, shum, and sppt but I can see those are disabled in my log file. I'd like to glance at whatever else might be different in my set-up.

[2020-01-17 19:44] WenMeng-NOAA commented on #37
@KateFriedman-NOAA As I know so far, there is no version number created. The DTC UPP team has been working on UPP for the UFS release. I include @fossell. She might provide you further information.

[2020-01-17 19:47] KateFriedman-NOAA commented on #37
Thanks @WenMeng-NOAA !

[2020-01-18 03:08] climbfuji commented on #62
Sure. But note everyone that I will be taking this weekend off (definitely Sunday and Monday), so please don't expect any answers before Tuesday. Thanks ...

[2020-01-18 18:04] llpcarson commented on #64
I checked with NCAR/CISL, and they are still finalizing the software stack for the upgrade.  It will likely include at least a new MPT version.

CISL has agreed to give our team access to their test system ahead of the upgrade.  I will provide usernames once the test system is ready - Dom, Ufuk, Mike K.,  myself, others?

[2020-01-19 02:53] climbfuji commented on #62
Everyone, please see here https://github.com/NOAA-EMC/fv3atm/issues/42 for the solution/namelists/... Thanks!

[2020-01-19 18:48] jedwards4b commented on #62
@climbfuji I tried the cime test with these changes, it still fails.
I am using settings:
nstf_name = 2, 1, 1, 0, 5
for the initial run and
nstf_name = 2, 0, 1, 0, 5
for the restart run.   I also updated the stochastic physics source.
My source tree is /glade/u/home/jedwards/sandboxes/ufs-mrweather-app
and the test is in /glade/scratch/jedwards/ERS_Lh11.C96.GFSv15p2.cheyenne_intel.20200119_103112_

[2020-01-21 15:03] climbfuji commented on #62
I don't think I have the time to look at the differences between your runs and mine today. Here is a copy of all the directories you need on Cheyenne:
[code]
You will be interested in the following directories:
[code]

[2020-01-21 15:34] climbfuji commented on #62
I am beginning to wonder if this is related to the debug-run problems you have been seeing, i.e. the missing update to the ufs_release_v1.0 branch for chgres_cube from George Gayno and the missing compiler flags for the GNU compiler for this executable.

[2020-01-21 15:50] jedwards4b commented on #62
This test is using the Intel compiler so I'm not sure what GNU would have to do with it.  The biggest difference I see is that you are using the cubed_sphere_grid for output_grid and I am using gaussian_grid .   I'm looking into this now.

[2020-01-21 16:51] climbfuji commented on #62
The same tests passed with the GNU compilers as well. They are identical except the modules.fv3 files. I can rerun the tests on Cheyenne with GNU and keep the rundirs, but as I said the differences will be in modules.fv3 and in the actual model output.

[2020-01-21 17:22] fossell commented on #65
@uturuncoglu Apologies for the delay, I was out of the office for a few days.  Can we discuss the changes you are proposing?  I'm not clear on exactly what you want changed.  Our team is not yet familiar with the CIME workflow or how post is run with this app, and our community release differs from operations in how the namelist file is generated, so it would be helpful to me if we could discuss o

[2020-01-21 17:40] uturuncoglu commented on #65
@fossell No worries. It is not so urgent. Actually, the issue is not related with the CIME but the way of definition of namelist parameters that makes it hard to manage in a sustainable way.

I think that rather than using a namelist that includes both parameters read in stdin and fortran namelist together in the same file, it might be good to move all namelist options that are read in stdin to a

[2020-01-21 20:15] uturuncoglu commented on #62
@jedwards4b i tested with changing ```output_grid = 'cubed_sphere_grid'``` but the restart still fails. I'll try to find other differences between namelist files.

[2020-01-21 22:57] uturuncoglu commented on #62
@climbfuji I tested your input.nml with CIME build model for v15p2 and we have still difference in the restart. So, at least the problem is not related with input.nml. I'll continue to dig but let me know if you have any other idea. The runs are in

[code]

[2020-01-21 22:59] climbfuji commented on #62
I can think of
-  differences in the compiler flags
- differences in the NCEPLIBS (unlikely imo)
- differences in the initial conditions (unlikely imo)

I need to get this cime setup run by myself. Will try tomorrow.

[2020-01-21 23:02] uturuncoglu commented on #62
The initial documentation is in

https://ufs-mrapp.readthedocs.io/en/latest/index.html#

I am still working on but i could find lots of information especially in quick start guide.

[2020-01-21 23:29] ceceliadid commented on #34
@mark-a-potts @climbfuji @arunchawla-NOAA @rsdunlapiv @jedwards4b @ligiabernardet @mvertens To start graduate student testing at the end of this month, we would like to have Cheyenne, Stampede2, and Hera preconfigured with library dependencies built. Is anyone planning to build the dependencies on Stampede2? Could someone do that if not?

[2020-01-21 23:32] uturuncoglu commented on #34
@ceceliadid I already did it on Stampede2 and we tested with @jedwards4b but I'll check it again tomorrow.

[2020-01-21 23:34] ceceliadid commented on #34
@uturuncoglu Thanks Ufuk, that's fantastic. I will add Stampede2 to the list of pre-configured platforms on the weather model "Getting Started" wiki.

[2020-01-21 23:58] ceceliadid commented on #34
@mark-a-potts @climbfuji @arunchawla-NOAA @rsdunlapiv @jedwards4b @ligiabernardet @danrosen25 @uturuncoglu @pjpegion This is mainly to Mark, but also for documentation & testing folks. To start graduate student testing at the end of the month, it will be important to have up-to-date documentation on how to build the dependencies if you are not on a pre-configured platform. Does the Getting Started

[2020-01-22 00:13] ligiabernardet commented on #34
Some documentation is here:
https://github.com/NOAA-EMC/NCEPLIBS/wiki/Cloning-and-Compiling-NCEPLIBS
A chapter is also planned for the MR Weather App User's Guide. Pls help
identify what else needs to be explained beyond this existing document.

On Tue, Jan 21, 2020 at 4:58 PM ceceliadid <notifications@github.com> wrote:

[2020-01-22 00:53] mark-a-potts commented on #34
Kyle and I are going to make a push to have a refactored version of both
NCEPLIBS and the build for the model by this Friday. I'll make sure to
get the documentation up to date as well.

-Mark

On 1/21/20 7:14 PM, ligiabernardet wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2020-01-22 01:16] ceceliadid commented on #34
@ligiabernardet @climbfuji Some thoughts about documentation organization and gaps:
- It would be good to have this dependency build documentation in as few places as possible. Currently it is in at least three:
1) the WM UG, 2) the NCEPLIBS github wiki, and 3) the WM github wiki. It seems fine to me to have the WM wiki just point to the NCEPLIBs wiki and reduce the number of places by one!
- I th

[2020-01-22 01:49] arunchawla-NOAA commented on #34
I agree that we let the NCEPLIBS be the place where libraries build are
documented and let the other guides point to this. We can clean this up in
early February as soon as the finalized builds are done.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Res

[2020-01-22 01:51] jedwards4b commented on #62
@climbfuji I ran the cime restart test with your executable and it passed.  This points to a difference in the build, perhaps in the build flags, but I also noticed that you were not using the latest model version: 6a93463

[2020-01-22 03:08] ceceliadid commented on #34
@arunchawla-NOAA  @ligiabernardet @climbfuji Could we please agree to have one place (say the NCEPLIBS github wiki) that will have the requested additions to the documentation on this dependency build by the end of this month? That seems doable, almost all of it is already there. It would also be helpful before the end of the month to get the question answered about whether there will be a version

[2020-01-22 03:20] climbfuji commented on #62
Yes, the code I had used for the testing didn't include the last PR. But the current PR I have and for which I reran the restart tests does (https://github.com/ufs-community/ufs-weather-model/pull/33).

[2020-01-22 03:25] jedwards4b commented on #62
I built using src/model/tests/compile_cmake.sh and it also passed the restart test - I've been studying the build since and still cannot pinpoint the difference.

[2020-01-22 03:27] climbfuji commented on #62
If you send me build logs (cmake and make; may have to add VERBOSE=1 to the make calls) then I can take a look. Maybe something comes to my mind wrt which files to look at when I stare at this long enough. Thanks ...

[2020-01-22 03:48] jedwards4b commented on #62
[code]

[2020-01-22 16:44] ligiabernardet commented on #34
It is okay with me to have the NCEPLIbs wiki be the place where users can
find an overview and instructions for build. The other documents can point
to that wiki.
Regarding the timeline to have this documentation ready, I defer to the
build team.

On Tue, Jan 21, 2020 at 8:08 PM ceceliadid <notifications@github.com> wrote:

[2020-01-22 17:04] ceceliadid commented on #34
@ligiabernardet  I'm really not explaining the question that I have very well, or maybe its a dumb question. This is the issue: Dusan put a lot of effort into identifying and documenting the versions of dependent libraries that are needed for the upcoming release version of the code on the WM wiki. This is presumably going to change for each release. This kind of information seems like it belongs

[2020-01-22 17:16] ligiabernardet commented on #43
@jedwards4b @uturuncoglu Can you please provide an update on the readiness of the ufs-mrweather-app and associated CIME quick-start visible at https://ufs-mrapp.readthedocs.io/en/latest/index.html? Are the basics ready for the documentation/test folks to run and see how it works?

[2020-01-22 17:17] arunchawla-NOAA commented on #40
@rsdunlapiv can this ticket be closed?

[2020-01-22 17:20] arunchawla-NOAA commented on #54
@rsdunlapiv and @uturuncoglu can this ticket be closed

[2020-01-22 17:22] ceceliadid commented on #33
@mvertens @rsdunlapiv @uturuncoglu On the WM GitHub wiki we have a Getting Started section that enables users to run a simple test. Is there a similar Getting Started page or guide that someone is already working on for the MR weather app, and if so is it somewhere where it can be looked at?

[2020-01-22 17:23] ligiabernardet commented on #33
Under development:
https://ufs-mrapp.readthedocs.io/en/latest/quickstart/index.html

On Wed, Jan 22, 2020 at 10:22 AM ceceliadid <notifications@github.com>
wrote:

[2020-01-22 17:33] ceceliadid commented on #33
Thanks @ligiabernardet So for the app there will be no Getting Started documentation on the wiki, it is all in the UG, is that right?
For the initial app graduate student test, if we are going to do the CCN concentration change test to start, would it make sense to set up a C96 run for 24 hours with the 15p2 physics by just pointing people to the getting started MRW app documentation? Or would it

[2020-01-22 17:51] arunchawla-NOAA commented on #52
The model can only do Gaussian or regular grid not both. If we do regular grid output then the UPP will fail.

Our decision is to only support Gaussian grid netcdf output on model levels from the model and gaussian grid grib2 output on isobaric levels through UPP. Note UPP also provides additional diagnostic outputs.

[2020-01-22 17:58] ligiabernardet commented on #55
The UFS WM UG now includes the following explanation: _It should be noted that the regression tests described here are mandatory for committing code back to the ufs-weather-model authoritative code repository. These regressions tests differ from those distributed with the workflows for UFS applications, which are intended for application users and developers to assess the quality of their installa

[2020-01-22 18:23] ligiabernardet commented on #23
The WM UG is in good shape. Source code is at https://github.com/ufs-community/ufs-weather-model/blob/documentation/doc/UsersGuide and the display is at https://ufs-mr-weather-app.readthedocs.io/projects/ufs-weather-model/en/latest/index.html. Still to do:

- Decide how versioning of NCEP Libraries and the UFS WM will be described.
- Add chapters on "contributing development" and "regression tests

[2020-01-22 18:30] ligiabernardet commented on #17
@GeorgeGayno-NOAA and @LarissaReames-NOAA Can you pls provide a brief update on the status of the chgres_cube documentation? Can we meet the end-of-January deadline proposed by @arunchawla-NOAA? Do you need anything from us?

[2020-01-22 18:35] ligiabernardet commented on #16
@mvertens Can you please clarify the nature of this issue. Title says _Add documentation to CIME_. Does anything need to be added to CIME itself? Or does this refer to adding CIME-related information to the UFS MR W App UG? The later is under development at https://github.com/ufs-community/ufs-mrweather-app/tree/documentation/docs/UsersGuide with display at https://ufs-mrapp.readthedocs.io/en/late

[2020-01-22 18:38] ligiabernardet commented on #11
@mvertens @climbfuji @rsdunlapiv @jedwards4b I believe the method to pass NCEP Lib environment variables to CIME has been settled. Can we close this issue? If not, what is yet to be done?

[2020-01-22 18:40] ligiabernardet commented on #39
Documentation for file model_configure has been added to the UFS WM User's Guide.

[2020-01-22 18:40] #39 closed

[2020-01-22 18:41] rsdunlapiv opened #66 "Does the release support a port validation procedure?"
Will the release have any tool or process for validating a port of the code to a new platform?  If so, is that procedure documented anywhere?

[2020-01-22 18:44] climbfuji commented on #11
No, this is still under development. There will be two supported versions, as discussed in yesterday's build team meeting, depending on how the NCEPLIBS have been installed on the system:

1. Set one or two environment variables for each of the NCEPLIBS (this will work with the existing installations on NOAA RDHPCS platforms)
2. Pass a single NCEPLIBS install dir environment variable (this will wo

[2020-01-22 18:46] BinLiu-NOAA commented on #10
Dear All,

Just another update that the tests using both atm and sfc IC files generated by chgres using grib2 format GFS input files have went through successfully for the C96/C192/C384/C768 configurations for the 2019082900 forecast cycle on Hera.

BTW, Keqin is working on producing some simple figures comparing the results from the three C768 runs.

Bin

[2020-01-22 19:02] ligiabernardet commented on #19
@arunchawla-NOAA @RatkoVasic-NOAA I do not have a solution for how to house image files without slowing down the cloning. But I have a question: why are so many images needed in the documentation? They do not seem to be displayed with the HTML (https://noaa-emc.github.io/NEMS_doc/documentation.html). Do we really need the images?

There is very valuable information at https://noaa-emc.github.io/NE

[2020-01-22 19:12] ligiabernardet commented on #20
Hi @pjpegion, can you pls provide an update on how the documentation is coming along? Tks

[2020-01-22 19:29] pjpegion commented on #20
Hi Ligia,
 Yes,  merged in my documentation with the NOAA-PSD fork, added more
content.

https://stochastic-physics.readthedocs.io/en/ufs_public_release/

and also moved all of the documentation (sphinx and doxygen) to
https://noaa-psd.github.io/stochastic_physics/

Please let me know if you are looking for more content.
-Phil

On Wed, Jan 22, 2020 at 12:12 PM ligiabernardet <notifications@github.

[2020-01-22 19:59] jedwards4b commented on #11
Currently on cheyenne I have an NCEPLIBS module that sets the following variables -
[code]
@climbfuji are you cleaning up the cmake build so that I only need to set NCEP_LIBS?  That would be great.

[2020-01-22 20:07] mark-a-potts commented on #11
That is the plan. I am getting ready to push changes that will allow a
user to build with a command like "cmake
-DNCEPLIBS_INSTALL_DIR=path-to-install path-to-ufs-src". It should also
be smart enough to work in the old way using the build.sh script and the
modulefiles that are already there.

-Mark

On 1/22/20 2:59 PM, jedwards4b wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine P

[2020-01-23 02:10] jedwards4b commented on #62
This problem is fixed. The build flags to libfv3core.a were different.

[2020-01-23 02:10] #62 closed

[2020-01-23 02:12] jedwards4b commented on #61
chgres ufs_release_v1.0 branch was updated to latest develop.  This fixed the problem with initial files in debug runs.

[2020-01-23 02:12] #61 closed

[2020-01-23 02:12] jedwards4b commented on #59
This is actually a feature needed for some tests - this only happens in cime tests.

[2020-01-23 02:12] #59 closed

[2020-01-23 02:17] jedwards4b commented on #37
I think that this issue is resolved.  A new xml variable DIN_LOC_IC was introduced which is the local location of input files to the chgres program.  The user sets RUN_STARTDATE in the case.  Cime will check the DIN_LOC_IC directory for inputs for that date, if they are not found cime will check the NOMAD server for that date and download the files if available.

[2020-01-23 02:19] jedwards4b commented on #40
Done

[2020-01-23 02:19] #40 closed

[2020-01-23 02:57] climbfuji commented on #62
Yeah! Thanks for figuring this out, I was struggling all day to find time to look at your compile logs.

[2020-01-23 04:32] uturuncoglu commented on #54
We are processing all the output file now. I am closing this.

[2020-01-23 04:32] #54 closed

[2020-01-23 16:05] arunchawla-NOAA commented on #64
We have raised this issue with UFS leadership. Stay tuned

[2020-01-23 16:46] climbfuji opened #67 "List of supported platforms for the release"
Here is a link to a spreadsheet that lists the supported platforms/compilers and who has access to these:

https://docs.google.com/spreadsheets/d/122uasMhD8aF_s6jUpy7t_Io5JSNGYOmBddtT6kh0dSQ/edit#gid=0

Please use this spreadsheet to indicate the readiness for testing and who is testing on which platform (maybe also indicate success/failures - this has not been set up yet in the spreadsheet). We c

[2020-01-23 17:43] uturuncoglu commented on #7
@climbfuji I have a problem with GNU on Cheyenne with the latest version of the library (hash for superbuild is 2458bc2),

[code]

This is my environment,

[code]

[2020-01-23 18:05] uturuncoglu commented on #7
@climbfuji I think i solved it. I just need to use following,

[code]

[2020-01-23 18:06] climbfuji commented on #7
Yes, I think this was the solution/conclusion we came up with when the initial build failed on Cheyenne. Should be part of the documentation (do we have a place for machine-specific instructions)?

[2020-01-23 18:07] uturuncoglu commented on #7
You mean, in the application or NCEPLIBS documentation?

[2020-01-23 18:08] climbfuji commented on #7
I think NCEPLIBS - there should be general instructions followed by some machine-specific instructions. We will work on that.

[2020-01-23 18:11] kgerheiser commented on #7
What is the problem? Compiling using the regular compiler and not `mpicc/mpif90`? nemsio includes `MPI_Frotran_INCLUDE_DIRS` so it seems strange that it doesn't find the module.

[2020-01-23 18:11] uturuncoglu commented on #7
Yes, that would be great. Thanks for your help!

[2020-01-23 18:14] climbfuji commented on #7
On Cheyenne, CISL use their own in-house MPI wrappers around MPT and other MPI implementations. I am not exactly sure why they are doing this (maybe because their MPT installation requires them to fix issues similar to what Ufuk was reporting), but definitely there is something weird with the system.