[2020-03-04 16:12] pjpegion commented on #123
@ligiabernardet I cannot open it from the link abover, but in the e-mail version that I get from github, I can open it.  There are some junk characters in the end of the url.  Try this: https://docs.google.com/document/d/1e9XaF2snfV1j_HBDCQ9T2TNVNWY0uWFr-R8r6jCm_bE/edit

[2020-03-04 17:16] ceceliadid commented on #110
@ligiabernardet @arunchawla-NOAA @rsdunlapiv @mvertens @lbnance Here is the google document with the text changes for the Portal for review:
https://docs.google.com/document/d/1hAjadW3KkTBJU6WKztX1Fq8JCEJNFfdiJ-gJQ7b_P1Y/edit?usp=sharing

[2020-03-04 17:39] ceceliadid commented on #109
@arunchawla-NOAA @rsdunlapiv @mvertens How do you want to deal with getting release notes and known bugs together and reviewed?

[2020-03-04 17:42] llpcarson commented on #105
The following documentation pages need to be configured to point to the static (non-updating) release tag in readthedocs.

https://ufs-mrweather-app.readthedocs.io/en/ufs-v1.0.0
https://ufs-utils.readthedocs.io/en/ufs-v1.0.0
https://ufs-weather-model.readthedocs.io/en/ufs-v1.0.0
 https://ccpp-techdoc.readthedocs.io/en/v4.0.0
https://stochastic-physics.readthedocs.io/en/ufs-v1.0.0
https://upp.readt

[2020-03-04 17:58] fossell commented on #105
UPP tag ufs-v1.0.0  has been built and is available (https://upp.readthedocs.io/en/ufs-v1.0.0/)

[2020-03-04 18:00] ceceliadid commented on #105
@llpcarson my proposal was that we put ufs-latest-release on ufs weather model, ufs medium range weather app, and nceplibs/nceplib-external and make sure the practice is useful and working well. We can always expand the usage later if we want. @arunchawla-NOAA are you okay wth that?

[2020-03-04 18:30] #16 closed

[2020-03-04 19:05] rsdunlapiv commented on #109
@ceceliadid can you please create a blank "known bugs" Google Doc that we can circulate to collect a list?  (unless you already have this?)  Also, can this be added to the agenda for the Friday call?

[2020-03-04 19:55] llpcarson commented on #105
Sounds good to me - since the NCEPLIBS (and -externals) docs are all on the
github wikis and in README's, there isn't a readthedocs version needed (but
a repository tag)

Laurie

On Wed, Mar 4, 2020 at 11:00 AM ceceliadid <notifications@github.com> wrote:

[2020-03-04 21:26] pjpegion commented on #107
@ligiabernardet @rsdunlapiv  I have some feedback from a non-developer user.  This person is running on hera, which is a pre-configured machine, and doesn't know what to set UFS_INPUT to.  Since this is a pre-configured machine,  the "fix" files should already be there, so how would a user know what to properly set this but still have the ability to run any date they want (I managed to do this by

[2020-03-04 21:43] llpcarson commented on #107
Phil - Good question - here is the placeholder for how to set these envars
on pre-configured platforms.  I don't know if/where the fixed files are
staged on hera, but can update this if that info is available.

Rocky - did you stage this on hera?  Should we stage it somewhere?

https://ufs-mrweather-app.readthedocs.io/en/latest/quickstart.html#setup-the-environment

Laurie

On Wed, Mar 4, 2020 at

[2020-03-04 21:45] ceceliadid commented on #109
https://docs.google.com/document/d/1A_NOEHVYqtzS6iKoWd758h_rpk7QmlN2VtRcY-Vc_qU/edit?usp=sharing

I don't think it makes sense to try to collect RNs and KBs during the Friday call, that call is more about release communications and will have comms people on it. I would suggest setting up a separate call to work through the KBs, probably with more of the build team on it.

[2020-03-04 21:45] jedwards4b commented on #107
@pjpegion Also if you want to use the fix files already on the system but stage your own initial condition files you want to change DIN_LOC_IC - that is documented here https://ufs-mrweather-app.readthedocs.io/en/latest/inputs_outputs.html#downloading-and-staging-input-data

[2020-03-04 22:08] rsdunlapiv commented on #107
@pjpegion and @llpcarson I am using this directory on Hera for `UFS_INPUT`:
`/scratch1/NCEPDEV/stmp2/CIME_UFS`

Should we update the docs to point to that one on Hera?  Maybe the student could test it?

@arunchawla-NOAA it really would be most appropriate for a Hera manager to assign this location.  If no one really cares, then let's just the use the one above.

[2020-03-04 22:33] pjpegion commented on #107
@rsdunlapiv I passed this info along to my tester, and I will let you know how things progress. Thanks.

[2020-03-04 23:21] rsdunlapiv commented on #106
Cecelia provided a place to collect known bugs.  If you are aware of any please go ahead and add it to the document now, then we can review and consolidate @climbfuji @jedwards4b @uturuncoglu @arunchawla-NOAA @llpcarson @pjpegion @ligiabernardet @mark-a-potts

https://docs.google.com/document/d/1A_NOEHVYqtzS6iKoWd758h_rpk7QmlN2VtRcY-Vc_qU/edit?usp=sharing

[2020-03-04 23:21] rsdunlapiv commented on #109
@ceceliadid thank you - I circulated this so we can start collecting

[2020-03-04 23:24] rsdunlapiv commented on #92
@jedwards4b what do we need to do to test the C768 on Cheyenne?

[2020-03-04 23:33] lbnance commented on #92
might want to check with phil since based on test spreadsheet https://docs.google.com/spreadsheets/d/1eD5pnPf8g_-atyR7r2hlKyHSyhOC95M28qKU8Jls_-c/edit#gid=0
 it looks like he has run some tests on cheyenne for this configuration?

[2020-03-05 00:13] jedwards4b commented on #92
We are marking it as a known problem on cheyenne - if you want to use C768
you should download nemsio data or manual set chgres to run on a high
memory node.

On Wed, Mar 4, 2020 at 4:24 PM Rocky Dunlap <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-05 02:09] arunchawla-NOAA commented on #96
module files have been updated in weather model by @climbfuji to point to the final libraries on the configured platforms

[2020-03-05 02:09] #96 closed

[2020-03-05 04:52] ligiabernardet commented on #105
I believe we also need to settle on the final URLs for the NEMS and FV3 dycore documentation.
NEMS is currently at https://noaa-emc.github.io/NEMS_doc/index.html. Should this be https://noaa-emc.github.io/NEMS_doc_ufs-v1.0.0/index.html?
FV3 is at https://noaa-emc.github.io/FV3_Dycore_v1.0/html/index.html. Should this be
https://noaa-emc.github.io/FV3_Dycore_ufs-v1.0.0/html/index.html?

[2020-03-05 05:10] ligiabernardet commented on #53
The following text was added to the Weather Model User's Guide:
Even when using physics suite GFS_v15p2, the UFS WM v1 differs from the operational GFS v15.2 in a few ways. First, the public release code reflects the state of development as of the fall of 2019, and therefore the parameterizations contain innovations beyond what is in GFSv15.2 operations. For example, the GFDL microphysics distribu

[2020-03-05 05:16] ligiabernardet commented on #34
I believe this is complete and this issue can be closed.

[2020-03-05 05:27] ligiabernardet commented on #23
There is an open PR for the UFS WM User's Guide. It incorporates all feedback received so far. This User's Guide is ready for a final review.

[2020-03-05 06:25] ceceliadid commented on #34
The tags are not updated yet on the wiki documentation.

[2020-03-05 10:39] arunchawla-NOAA commented on #53
This works for me. @junwang-noaa anything else you want to add?

[2020-03-05 10:41] arunchawla-NOAA commented on #105
@MinsukJi-NOAA and @valbonakunkel-noaa can we move the NEMS_doc and the FV3_dycore docs in these places? We should do it by hand so that this version gets frozen and the automatic update then goes to the regular place.

[2020-03-05 14:29] junwang-noaa commented on #53
The description looks good to me.

On Thu, Mar 5, 2020 at 5:39 AM arun chawla <notifications@github.com> wrote:

[2020-03-05 14:42] MinsukJi-NOAA commented on #105
NEMS_doc_ufs-v1.0.0 folder was created:
https://noaa-emc.github.io/NEMS_doc_ufs-v1.0.0/index.html

[2020-03-05 14:57] ceceliadid commented on #50
I am done. I took down some old NEMS and architecture pages on the EMC community site on Vlab.

[2020-03-05 14:57] #50 closed

[2020-03-05 15:44] pjpegion commented on #107
@rsdunlapiv My successful runs at C768 were on hera, not cheyenne.

[2020-03-05 15:53] pjpegion commented on #92
@lbnance My successful run at C768 was on hera, not cheyenne.

[2020-03-05 16:38] ligiabernardet commented on #95
@climbfuji Do you have any advice on how to address this problem reported by the user?

[2020-03-05 17:30] ligiabernardet opened #124 "URL for FV3 dycore documentation needs to change"
@valbonakunkel-noaa
Please change the URL from
https://noaa-emc.github.io/FV3_Dycore_v1.0/html/index.html
to
https://noaa-emc.github.io/FV3_Dycore_ufs-v1.0.0/html/index.html
Thanks!

[2020-03-05 17:32] pjpegion commented on #124
@valbonakunkel-noaa and please let me know how to do this so I can do the same for the stochastic_physics.

[2020-03-05 18:07] ligiabernardet opened #125 "Location of CIME Documentation"
Need final location of CIME documentation for inclusion in MR W App doc by midday tomorrow (3/6). Will it point to a specific tag or release to identify that it is tied to this app release?
@mvertens welcome back!

[2020-03-05 18:30] valbonakunkel-noaa commented on #124
I changed the folder name in my branch, and i did 'git add file' with a new name and 'git commit'.

[2020-03-05 18:58] ligiabernardet commented on #124
Thanks!

On Thu, Mar 5, 2020 at 11:30 AM valbonakunkel-noaa <notifications@github.com>
wrote:

[2020-03-05 18:58] #124 closed

[2020-03-06 04:01] climbfuji opened #127 "Final check of CIME machine configs against NCEPLIBS-external instructions"
The CIME machine configs contain module load commands that need to match the instructions for preconfigured/supported platforms in NCEPLIBS-external/doc/. We need to conduct a final check that these match.

[2020-03-06 17:04] jedwards4b commented on #127
I have cross-checked all level1 and level2 systems.

[2020-03-06 17:07] jedwards4b commented on #105
Any objections to creating the ufs-v1.0.0 tag on ufs-mrweather-app now?

[2020-03-06 17:08] climbfuji commented on #127
Awesome! Thanks very much.

[2020-03-06 17:08] #127 closed

[2020-03-06 17:10] climbfuji commented on #105
I have not seen any reports of testing on a wide range different platforms other than the work I did (C96 GFSv15p2 only). Can folks please populate https://docs.google.com/document/d/1V86BetD4is9SF-p9C_KMcchGli1moH3BPCTlVyJXMAM/edit?ts=5e60da6f <https://docs.google.com/document/d/1V86BetD4is9SF-p9C_KMcchGli1moH3BPCTlVyJXMAM/edit?ts=5e60da6f> ? Seems like I have been testing most across platforms.

[2020-03-06 17:13] arunchawla-NOAA commented on #34
@ceceliadid I updated one tag there. Can you check please. Also I think instructions for checking out a specific tag is different in git (I need someone to confirm though)

[2020-03-06 17:14] #23 closed

[2020-03-06 17:14] ligiabernardet commented on #105
DTC is working on app documentation and will do a commit later this
afternoon with what could be the final version. However, it would be great
if CIME folks and all could take a look at this documentation over the next
few days because we always need another set of eyes.

On Fri, Mar 6, 2020 at 10:10 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-03-06 17:14] #53 closed

[2020-03-06 17:15] #92 closed

[2020-03-06 17:16] arunchawla-NOAA commented on #94
@ceceliadid @llpcarson @ligiabernardet . Are we satisfied? Can this be closed now?

[2020-03-06 17:17] jedwards4b commented on #105
@ligiabernardet It's not entirely clear to me how that works since the ufs-weather-model tag ufs-v1.0.0 has already been created.

[2020-03-06 17:19] ligiabernardet commented on #94
I am satisfied with the user's guides.
Ligia

On Fri, Mar 6, 2020 at 10:17 AM arun chawla <notifications@github.com>
wrote:

[2020-03-06 17:27] ligiabernardet commented on #105
We already finalized the ufs-weather-model documentation.
We are currently finalizing the app documentation at
https://github.com/ufs-community/ufs-mrweather-app/tree/documentation. We
are working on branch documentation. But thi sbranch will have to be merged
in before the final tag is created.
We will have a stable doc later this afternoon.

On Fri, Mar 6, 2020 at 10:17 AM jedwards4b <notificati

[2020-03-06 17:29] jedwards4b commented on #105
@ligiabernardet thanks for clarifying

[2020-03-06 18:00] mvertens commented on #125
@ligiabernardet - the final location of the CIME documentation is here: http://esmci.github.io/cime/versions/ufs_release_v1.0/html/index.html - please have a look and let me know if things look okay to you.

[2020-03-06 18:00] #125 closed

[2020-03-06 18:02] ligiabernardet commented on #125
Looks good to me. Tks

On Fri, Mar 6, 2020 at 11:01 AM mvertens <notifications@github.com> wrote:

[2020-03-06 18:19] ceceliadid commented on #94
Okay for me if it's okay for @ligiabernardet .

[2020-03-06 19:42] climbfuji opened #131 "xmlquery error on generic linux"
[code]
This seems to be a problem on systems that do not have batch systems configured.

[2020-03-06 19:54] rsdunlapiv commented on #131
If this is indeed an issue, then we will need to list it as a known bug.

[2020-03-06 19:58] jedwards4b commented on #131
It works fine on macos, I'm trying to find a difference that would cause it to fail on linux.

[2020-03-06 20:03] climbfuji opened #132 "Cannot change charge account?"
Not sure if this is a software bug or a user error.
[code]

[2020-03-06 20:08] ceceliadid commented on #110
Just had this review.

[2020-03-06 20:08] #110 closed

[2020-03-06 20:11] jedwards4b commented on #132
If PROJECT or CHARGE_ACCOUNT is set in the environment this will take precedence over the setting in the xml file.   If PROJECT and CHARGE_ACCOUNT are both set in xml PROJECT gets precedent.

[2020-03-06 20:20] ceceliadid commented on #105
@ligiabernardet @rsdunlapiv @jedwards4b Could you please send what will be the final URLS for the app code and app UG?
What time do you all think these will be ready today?

[2020-03-06 20:27] ligiabernardet commented on #105
Ligia and @llpcarson will have their changes committed by 3 PM. @jedwards4b has additional changes coming in. Then someone need to merge branch documentation onto the main branch. Will @jedwards4b do the merge? It would be great for others to look the documentation before creating the tag. Does @ceceliadid have bandwidth?
Code for doc will be in https://github.com/ufs-community/ufs-mrweather-app (

[2020-03-06 20:30] jedwards4b commented on #131
I have a fix, it's in the latest update to ufs_release_v1.0 - I can include it when I make the release tag.

[2020-03-06 20:34] jedwards4b commented on #105
@ligiabernardet I can do the merge.  Should I plan to make the tag on Monday to give folks the weekend to review the docs?

[2020-03-06 20:37] climbfuji commented on #131
Thanks! I'll try it when it the final tag is created.

[2020-03-06 20:38] ceceliadid commented on #105
Thank you, I will start propagating that tag even if the links are broken. I don't think I should spend much time checking docs before the tag, it's probaly best to focus on changes to the website while Bhavana is still around this week.
Could someone ( @jedwards ?) please confirm final app code tag?

[2020-03-06 20:38] climbfuji commented on #132
[code]

[2020-03-06 20:41] climbfuji commented on #132
I see. This doesn't fit with what is written in the FAQ https://ufs-mrweather-app.readthedocs.io/en/latest/faq.html#how-can-i-change-the-project-account-that-will-be-used-to-submit-jobs

I could change PROJECT to something else (which isn't a valid account, but that's a different problem). I wonder if we should replace all <PROJECT> settings in the UFS machine config file with <CHARGE_ACCOUNT> so

[2020-03-06 20:44] ceceliadid commented on #105
Sorry, did not mean to close that. @jedwards4b my vote is to please put the tag on this week so we can make changes to the Portal/wikis and check them. For complicated reasons it gets hard to make corrections esp. to the Portal after Monday morning.

[2020-03-06 20:51] jedwards4b commented on #132
@ligiabernardet can we fix the FAQ on this.  The correct way to change charge account in a case  is
./xmlchange PROJECT=<account project>

[2020-03-06 20:53] ligiabernardet commented on #132
Is this correct? Pls confirm and I'll make the change.

cd $CASEROOT./xmlchange PROJECT=[PROJECT ID] --subgroup case.chgres

On Fri, Mar 6, 2020 at 1:51 PM jedwards4b <notifications@github.com> wrote:

[2020-03-06 20:54] jedwards4b commented on #105
I need to make the tag before the docs are finalized but the docs must be finalized before I make the tag?  @ceceliadid @ligiabernardet please clarify.  The tag name will be ufs-release-v1.0.0

[2020-03-06 20:55] climbfuji commented on #132
Looks good to me, but wait for confirmation from the CIME team.

Do we need to add a section to the known bugs/limitations describing this confusion between PROJECT and CHARGE_ACCOUNT? It seems the latter is completely unnecessary, given that PROJECT can be set and overrides CHARGE_ACCOUNT.

[2020-03-06 20:57] climbfuji commented on #105
Chicken and egg problem! The documentation must be finalized, anticipating a tag named `ufs-release-v1.0.0` or whatever the correct name is, and then the tag can be created.

[2020-03-06 20:59] jedwards4b commented on #132
You don't need subgroup - just
cd $CASEROOT./xmlchange PROJECT=[PROJECT ID]

On gaea CHARGE_ACCOUNT is used because the env variable PROJECT is used for something else - this is the only system that sets or requires the CHARGE_ACCOUNT variable.

[2020-03-06 21:06] arunchawla-NOAA commented on #105
Jim

Just create the tag. If there are documentation updates we can force the tag creating again. Just to be on the safe side do it just before leaving for the day so we have all the changes in. If we need to address further changes then we will deal with it on Monday.

Sent from my iPhone

[2020-03-06 21:10] climbfuji commented on #132
If I understand correctly, people can still use PROJECT on gaea to overwrite CHARGE_ACCOUNT, right? They don't need to set the environment variable, because they can change it with ./xmlchange PROJECT=... and this will override CHARGE_ACCOUNT. If my understanding is correct, then the suggested change to the FAQ will work on all systems.

[2020-03-06 21:16] ceceliadid commented on #105
@jedwards4b  the tag convention is ufs-v1.0.0
not
ufs-release-v1.0.0

Please confirm. The full URL for the tagged app code will be:
https://github.com/ufs-community/ufs-mrweather-app/tree/ufs-v1.0.0

Correct?

[2020-03-06 21:18] jedwards4b commented on #132
Unfortunately no because on gaea the PROJECT environment variable takes precedent over a PROJECT xml variable set in the case.

[2020-03-06 21:22] climbfuji commented on #132
omg what a mess. Then let's do this: change the gaea cime config to use PROJECT instead of CHARGE_ACCOUNT. And add to the documentation that users need to unset PROJECT environment variables if set.

[2020-03-06 21:30] jedwards4b commented on #105
sure

[2020-03-06 21:32] jedwards4b commented on #132
@climbfuji NO I don't think that would be acceptable to gaia users - here is how I changed the faq:
[code]

[2020-03-06 21:34] climbfuji opened #135 "Inconsistent names for DIN_LOC_ROOT"
All platforms have

    <DIN_LOC_ROOT>$ENV{UFS_INPUT}/ufs_inputdata</DIN_LOC_ROOT>

except macos and linux, which have

    <DIN_LOC_ROOT>$ENV{UFS_INPUT}/ufs-inputdata</DIN_LOC_ROOT>

It seems that the former is correct, i.e. in line with the documentation and with other naming conventions, e.g. <BASELINE_ROOT>$ENV{UFS_INPUT}/ufs_baselines</BASELINE_ROOT>

[2020-03-06 21:35] climbfuji commented on #132
As a matter of fact, I believe that PROJECT is something a group of people have decided to use on gaea, not something the admins have imposed. Should the group of people (including myself) just change their behavior? This could happen on any other machine, too.

[2020-03-06 21:37] climbfuji commented on #132
I will make this change back to PROJECT, and it would be good to change the FAQ to mention that any existing PROJECT variable will interfere with the workflow and must be unset. Sorry for the back and forth, but we should make it as easy as possible for the users.

[2020-03-06 21:40] climbfuji commented on #132
Note that the machine is called gaea and not gaia (guess how many times I spelled it wrong).

[2020-03-06 22:12] climbfuji opened #137 "CIME issues on Stampede"
git clone https://github.com/ufs-community/ufs-mrweather-app ufs-mrweather-app-20200306
cd ufs-mrweather-app-20200306
./manage_externals/checkout_externals
export UFS_INPUT=$PWD/projects
export UFS_SCRATCH=$PWD/projects/scratch
mkdir -p $UFS_SCRATCH
mkdir -p $UFS_INPUT/ufs_inputdata
export PROJECT=TG-MCA95C006
. $WORK/NCEPLIBS-ufs-v1.0.0/bin/setenv_nceplibs.sh
./cime/scripts/create_newcase --case

[2020-03-06 22:13] climbfuji commented on #135
Fixed in https://github.com/ESMCI/cime/pull/3438

[2020-03-06 22:13] #135 closed

[2020-03-06 22:14] climbfuji commented on #132
CIME config changes made in https://github.com/ESMCI/cime/pull/3438, need to wait for updated documentation to close this issue.

[2020-03-06 22:14] uturuncoglu commented on #137
Which machine is this?

[2020-03-06 22:15] climbfuji commented on #137
Stampede, obviously I am doing something wrong, but I am doing the same thing as I do on all other supported platforms.

[2020-03-06 22:15] uturuncoglu commented on #137
I am testing on Stampede and it works without any problem. I'll test with the head again.

[2020-03-06 22:15] climbfuji commented on #137
Thanks, appreciate it!

[2020-03-06 22:16] uturuncoglu commented on #137
BTW, couple of minutes ago I got following error on Stampede, just to be sure, could you try again.

[code]

[2020-03-06 22:17] climbfuji commented on #137
I did, the error of an undefined variable has nothing to do with the kernel crash (this one kicked me out as well).

[2020-03-06 22:18] uturuncoglu commented on #137
Okay. i have just clone it and let you know soon about it.

[2020-03-06 22:21] uturuncoglu commented on #137
I know your problem. You have to set those environment variables in your .bashrc. This is a restriction for TACC systems. Please look at Section 7.1 in the doc

https://ufs-mrweather-app.readthedocs.io/en/latest/faq.html#how-can-i-set-required-environment-variables

[2020-03-06 22:23] uturuncoglu commented on #137
Sorry, I mean quick start guide

https://ufs-mrweather-app.readthedocs.io/en/latest/quickstart.html

There is a "Important" note there.

[2020-03-06 22:33] MuayScience opened #138 "Error in documentation: $WORK/NCEPLIBS-ufs-v1.0.0.beta04/bin/setenv_nceplibs.sh"
On the getting started page:
https://github.com/ufs-community/ufs-mrweather-app/wiki/Getting-Started

In the Prepare to Build section the documentation says:
source $WORK/NCEPLIBS-ufs-v1.0.0.beta04/bin/setenv_nceplibs.sh

It should be: $WORK/NCEPLIBS-ufs-v1.0.0/bin/setenv_nceplibs.sh

[2020-03-06 22:41] climbfuji commented on #137
Thanks very much for the info. This is crazy. How can we expect users to do and know all this? And the support folks watching the UFS forums. There should be really only one way to do things on all platforms. Wishful thinking. I know it's not at your end, but this is concerning. I'll close the issue and stop worrying about Stampede, because I do not want to pollute my clean standard environment.

[2020-03-06 22:41] #137 closed

[2020-03-06 22:46] ligiabernardet commented on #105
All, I am fine with creating the tag.
W should all know that there will be typos/issues to be found as the people start looking more at the documentation and exercising the code. Just being realistic.

[2020-03-06 22:47] climbfuji commented on #132
I see that the FAQ contains the correct information in https://ufs-mrweather-app.readthedocs.io/en/latest/faq.html#how-can-i-change-the-project-account-that-will-be-used-to-submit-jobs, including the note, and does not mention gaea/gaia or CHARGE_ACCOUNT anymore. Thanks!

[2020-03-06 22:47] #132 closed

[2020-03-06 22:51] arunchawla-NOAA commented on #138
Got it! Thanks!! Fixed

[2020-03-06 22:51] #138 closed

[2020-03-06 22:52] arunchawla-NOAA commented on #22
@ligiabernardet status of this?

[2020-03-06 22:54] arunchawla-NOAA commented on #68
@ceceliadid how did we want these tags to look? And should we just tag the weather app as the model is called from it? Are the library builds mentioned there?

[2020-03-06 22:56] arunchawla-NOAA commented on #95
this may be some strange way her environment is set up. I do not know if there is any action item here. If the student is no longer engaged can we close this in anticipation that we will have more engagement from other students? This for @ceceliadid and @ligiabernardet

[2020-03-06 22:57] jedwards4b commented on #105
Ladies and gentlemen - the ufs-v1.0.0 tag of the ufs-mrweather-app has been created.
Have a nice weekend.

[2020-03-06 22:57] #105 closed

[2020-03-06 23:01] rsdunlapiv commented on #105
Drops mic.

[2020-03-06 23:09] ligiabernardet commented on #22
It is on my Sunday to-do list.

On Fri, Mar 6, 2020 at 3:52 PM arun chawla <notifications@github.com> wrote:

[2020-03-06 23:23] ceceliadid commented on #95
Yeah, I don't know. I think it's fine to close it.

[2020-03-06 23:24] climbfuji commented on #95
I concur.

[2020-03-06 23:26] #95 closed

[2020-03-06 23:34] climbfuji commented on #131
Yay, ./xmlquery --listall now works on my Linux Amazon instance. Thanks!

[2020-03-06 23:34] #131 closed

[2020-03-06 23:49] #94 closed

[2020-03-06 23:58] ligiabernardet opened #139 "Documentation in MR W App tag seems outdated"
It appears to me that several updates made earlier today to the MR Weather App User's Guide (in branch documentation) do not show up in the ufs-v1.0.0 tag.

For example, file https://github.com/ufs-community/ufs-mrweather-app/blob/ufs-v1.0.0/docs/UsersGuide/source/cime_overview.rst contains "todo" lists that do not show up on the head of the documentation branch (https://github.com/ufs-community/u

[2020-03-07 00:18] jedwards4b commented on #139
Yes - my mistake, I will recreate.

On Fri, Mar 6, 2020 at 4:58 PM ligiabernardet <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-07 00:37] jedwards4b commented on #139
@ligiabernardet I recreated the tag so that the links above to the rst files are now pointing to the correct ones - but the html still looks wrong,  how long does it take for readthedocs to update?

[2020-03-07 00:55] jedwards4b commented on #139
I think that readthedocs didn't update the tag location when I updated the tag - not sure what to do next.

[2020-03-07 01:02] arunchawla-NOAA commented on #107
@pjpegion is this activity still occurring? Any feedback?

[2020-03-07 01:05] arunchawla-NOAA commented on #33
@ceceliadid are we happy with this?

[2020-03-07 01:10] arunchawla-NOAA commented on #33
@ceceliadid just went to the GST and the figure at the end is a broken link

https://github.com/ufs-community/ufs-mrweather-app/wiki/Graduate-Student-Test%3A-MR-Weather-App-CCN-Experiment

[2020-03-07 01:24] jedwards4b commented on #139
Good news - it now looks like the release docs are correct.

[2020-03-07 01:24] #139 closed

[2020-03-07 01:25] MuayScience commented on #107
As an FYI, I'm working through the Get Started instructions on Stampede2.

[2020-03-07 01:28] ligiabernardet commented on #139
Thanks Jim for fixing the tag.
Just so everybody and @pjpegion knows: It appears that ReadTheDocs does not automatically refresh when we update a tag. It keeps pointing to the hash associated with the previous version of the tag. To make RTD refresh, I disconnected it from the tag, and then connected it again. That worked.

[2020-03-07 01:31] MuayScience opened #140 "Missing step in https://github.com/NOAA-EMC/NCEPLIBS-external/blob/master/doc/README_stampede_intel.txt ?"
In working through the README for stampede2 it seems like there is a missing step between the nceplibs and model section. In the "How to Build the Model" section you eventually run ./build.sh, but there is nothing to tell youbuild.sh is in $WORK/my_ufs_sandbox/src/model. Or if it is it is well-hidden; I had to use find to track it down.

There should be some step in README_stampede_intel.txt to pu

[2020-03-07 02:08] MuayScience opened #141 "Runs fail to start on stampede2"
I was able to run through the instructions to build and submit on stampede2, but my jobs failed to run because they could not find certain NCEPLIBS_DIR and UFS_INPUT. So far as I can tell they are set correctly - output is below:

login1(1182)$ cat chgres.DORIAN_C96_GFSv15p2
NCEPLIBS_DIR needs to be set! Exiting ...
login1(1183)$ echo $NCEPLIBS_DIR
/work/02441/bcash/stampede2/NCEPLIBS-ufs-v1.0.0
l

[2020-03-07 02:24] MuayScience commented on #141
Update: I just saw #137 which explains this problem, but I am going to leave this open as (at least) a documentation issue since if I hadn't happened to look at that closed issue I don't think I would have been likely to stumble across it.

[2020-03-07 02:54] ceceliadid commented on #33
@arunchawla-NOAA The app GST pages won't be ready until Monday. Had trouble getting image files off Stampede2 and just managed to do that this afternoon. Seems like kind of a weirdly configured machine. So both app viz sections, in Getting Started and GST, don't have those done yet.

[2020-03-07 03:03] ceceliadid commented on #141
@MuayScience the Getting Started does say you need to source that script in your .bashrc or equiv and gives you the line to put in there, but I can make it more noticeable.

[2020-03-07 03:12] ceceliadid commented on #141
@MuayScience do you think the bold makes it visible enough?

[2020-03-07 03:13] MuayScience commented on #141
@ceceliadid - That's much better, thanks!

[2020-03-07 03:13] #141 closed

[2020-03-07 03:16] uturuncoglu commented on #141
Hi Ben,

You need to set those environment variables as well as source command for nceplibs in your .bashrc. It is know problem related with TACC systems. You could find information in QuickStart guide in app documentation.

—Ufuk

[2020-03-07 05:23] ceceliadid commented on #106
I removed the google doc.

Known bugs for the app are here:
https://github.com/ufs-community/ufs-mrweather-app/wiki/All-Releases:-Release-Notes-and-Known-Bugs

Known bugs for nceplibs & nceplibs-external are here:
https://github.com/NOAA-EMC/NCEPLIBS-external/wiki/All-Releases%3A-Release-Notes-and-Known-Bugs

The app KBs point to the lib KBs.

Please put additional bugs on these pages. Write if wa

[2020-03-07 11:32] arunchawla-NOAA opened #142 "Broken links"
I found broken links for the UFS weather model when linking to read the docs manual page. I fixed those that I could find but there may be more broken links as we navigate the pages. Need to check those

[2020-03-07 17:21] pjpegion commented on #107
Here was the feedback (note this person was running on hera).
"The directions were great and very clear.  The only problem I had was getting the
initial conditions, which you helped with."
The documentation has been updated with the initial condition information.

[2020-03-07 18:46] ceceliadid opened #143 "checking out v1.0.0"
@jedwards4b @ligiabernardet @arunchawla-NOAA So this is confusing me. While updating the wikis for the new tag I noticed that nothing in the app 1.0.0 UG quickstart actually references the tag.
It's clone the repo:
git clone https://github.com/ufs-community/ufs-mrweather-app.git my_ufs_sandbox
cd my_ufs_sandbox
and then
./manage_externals/checkout_externals

 Is this really the latest version of t

[2020-03-07 19:40] jedwards4b commented on #143
No, it's really 1.0.0 - apparently we missed that.  Currently the head of master and the tag point to the same place so there is no immediate consequence, but we should figure out how we want to fix that.

[2020-03-07 21:17] junwang-noaa commented on #106
So far I haven't heard any known bugs from the model side. I prefer to set
up a WM wiki page once we know there are some bugs in the model.

On Sat, Mar 7, 2020 at 12:23 AM ceceliadid <notifications@github.com> wrote:

[2020-03-07 22:23] ceceliadid commented on #143
Okay, thanks. That seems like it should get fixed before it goes out.

[2020-03-07 22:32] ceceliadid opened #144 "WM UG missing directions to get WM code?"
@ligiabernardet @arunchawla-NOAA As far as I can tell, there is nowhere in the WM UG that tells you how to get the 1.0.0 release before you get to the instructions for building it, or has a link to the 1.0.0 repo. When I rewrote section 3 I think I probably expecting that to have been in a prior section. To me this would be a good candidate for making a change on Monday as well.

I don't love the

[2020-03-07 23:06] ceceliadid commented on #106
Thanks @junwang-noaa I think this ticket can be closed then. @jwolff-ncar the links you would reference for KB pages are earlier in this ticket. I don't think the communication/coordination and maintenance questions surrounding the wikis & forums are all answered but this ticket is probably not going to answer them.

[2020-03-07 23:06] #106 closed

[2020-03-07 23:24] jedwards4b commented on #143
@ligiabernardet is there any way to decouple the documentation from the code?  I think that we need to be able to make minor fixes in the docs more easily.

[2020-03-07 23:44] ceceliadid commented on #143
Makes sense in the longer term but for this release maybe we just accept that bc of the chicken and egg issue there will be a little iteration over a couple days post-tagging to get the docs squared away?

[2020-03-07 23:48] ligiabernardet commented on #143
For the documentation to auto-update in RTD, we need to have RTD point to a
branch and not a tag. Then we can keep updating it.
*Currently*: If we put updates to documentation in branch "documentation",
it will appear in RTD under the "latest" tab.
*Can be setup*: create a branch called whatever (e.g., ufs-v1.0.0), it will
appear in the RTD under the "whatever (e.g., ufs-v1.0.0)" tab. That seems
l

[2020-03-07 23:50] ligiabernardet commented on #142
Thanks. How did you fix that? Did you update the tag?

On Sat, Mar 7, 2020 at 4:32 AM arun chawla <notifications@github.com> wrote:

[2020-03-07 23:51] ligiabernardet commented on #144
OK, we can add the tag for WM on Monday.

On Sat, Mar 7, 2020 at 3:32 PM ceceliadid <notifications@github.com> wrote:

[2020-03-07 23:54] ceceliadid opened #145 "Ambiguity in UG create a case section"
In section 5.2:

If running on a supported machine, that machine will normally be recognized automatically and therefore it is not required to specify the --machine argument to create_newcase.

We don't have a definition for "supported." This sentence should be stated in terms of pre-configured, configurable, etc. as defined here:
https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-C

[2020-03-08 00:18] jedwards4b commented on #143
The branch is called ufs-release-v1.0, can we have the release documentation point to that?

[2020-03-08 00:38] ceceliadid commented on #143
@ligiabernardet @jedwards Please do not change the URL to the app documentation now.

Since this is the first release, I think this is the very hardest that it will be to get the documentation together and it will get easier after this.

Once the couple major things are taken care of with the doc v1.0.0 tag, like people are pointed to the right download, the other minor updates could go on the hea

[2020-03-08 00:44] ceceliadid commented on #143
@ligiabernardet @jedwards4b ... bc I bet a code patch v1.0.1 will be needed for something or other in the next couple months.

[2020-03-08 00:47] jedwards4b commented on #143
@ligiabernardet I've corrected the doc and moved the tag - please do the rtd thing.

[2020-03-08 01:04] ceceliadid commented on #143
I think before changing the strategy for just the app doc tag there should be more discussion and some thinking about the implications. Presumably you would want all the components (like the WM) to agree to the same doc strategy. If you create a v1.0.0 branch for the docs, the docs for 1.0.0 and 1.0.21 could be distinguished. If you instead point to something like the 1.0 release branch, the disti

[2020-03-08 01:06] ceceliadid commented on #143
Post-release.

[2020-03-08 02:09] arunchawla-NOAA commented on #142
It was in the wiki so I fixed there. No tag with the wiki.

Sent from my iPhone

[2020-03-08 06:47] ceceliadid commented on #33
This is done now.

[2020-03-08 06:47] #33 closed

[2020-03-08 15:48] ceceliadid commented on #34
@arunchawla-NOAA This is done and I checked the build with the tag. The instructions for getting the specific tag work okay. Let me know if you see anything weird.

[2020-03-08 15:48] #34 closed

[2020-03-08 15:50] ceceliadid commented on #109
@arunchawla-NOAA I think this is done as much as it is going to be done w/o talking about future roles & responsibilities for wikis and forums.

[2020-03-08 15:50] #109 closed

[2020-03-08 16:02] ceceliadid commented on #68
@arunchawla-NOAA @llpcarson @ligiabernardet I would suggest seeing if v1.0.0 tags are going to be moved in the UGs for anything else and deal w/this on Monday. I see places where it would be useful to have this, but at this point it's probably better to wait for the first patch releases. I don't want to change the wikis or Portal for this now. The proposal was ufs-latest-release or latest-release

[2020-03-08 21:23] ligiabernardet commented on #68
Should we close this issue for now then?

On Sun, Mar 8, 2020 at 10:02 AM ceceliadid <notifications@github.com> wrote:

[2020-03-08 21:37] ligiabernardet commented on #143
The RTD is now pointing to the revised ufs-v1.0.0 tag and the cloning instructions are clear.
No further action needed here until a) more issues are found with doc, or b) we start on post-release work. Can we close this issue?

[2020-03-08 21:39] #75 closed

[2020-03-08 22:44] ceceliadid commented on #68
My preference would be to keep it open so it can be done before it gets forgotten. I put a post release tag on it - it seems like a good time to start identifying some of those issues.  It should be pretty quick and easy.

[2020-03-08 22:47] ceceliadid commented on #144
@ligiabernardet Would you like me to write up the change for the build & run section? I feel like it's my bad. If the tag for this gets moved on Monday that shouldn't change the app tag at all, right?

[2020-03-08 22:50] ceceliadid commented on #143
It seems okay to me. Moving the WM tag for the build & run doc change shouldn't affect this app tag, right?

[2020-03-08 22:52] ligiabernardet commented on #144
Do not worry about blame, everyone is working hard here! If you can write
this, it would be awesome.
Then we someone will have to re-tag the WM (Jun?).
I think we can leave the App tag as is.

On Sun, Mar 8, 2020 at 4:47 PM ceceliadid <notifications@github.com> wrote:

[2020-03-08 22:54] ligiabernardet commented on #143
The app tag is pointing to a hash of the WM. Once we retag the WM, if
someone downloads the app, they will get the previous version of the WM
documentation. It does not seem like a big deal, because if they will use
the app they do not need the stand alone clone and build for the WM.

On Sun, Mar 8, 2020 at 4:50 PM ceceliadid <notifications@github.com> wrote:

[2020-03-08 22:57] ceceliadid commented on #142
I do see a broken link in the app UG, in 1.2: "A User’s Guide for the UFS Weather Model is here" is not working.

The wikis should be okay now.

[2020-03-08 23:05] llpcarson commented on #143
I just checked this same thing, Ligia, and see that the app tag is using a
WM tag in Externals.cfg.  So, this should work OK, as long as WM submodules
are not involved.

Laurie

On Sun, Mar 8, 2020 at 4:54 PM ligiabernardet <notifications@github.com>
wrote:

[2020-03-08 23:23] ceceliadid commented on #143
@ligiabernardet I've cleared cache but I still don't see the change in the live 1.0.0 UG?

[2020-03-08 23:38] ligiabernardet commented on #143
Hmm... I reconnected RTD to the tag again. Pls try now. Looks okay here.
Make sure you are looking at the documentation version for ufs-v1.0.0 (not
latest).

On Sun, Mar 8, 2020 at 5:23 PM ceceliadid <notifications@github.com> wrote:

[2020-03-08 23:44] ligiabernardet commented on #142
I fixed this link in app branch ufs-release-v1 but I did not recreate the
tag. Waiting for more fixes to come in.

On Sun, Mar 8, 2020 at 4:57 PM ceceliadid <notifications@github.com> wrote:

[2020-03-08 23:45] ceceliadid commented on #143
That did it, thanks. Will close.

[2020-03-08 23:45] #143 closed

[2020-03-09 00:03] ceceliadid opened #146 "Figure out how to maintain release notes, known bugs, & announcements in a coordinated way across wikis, forums, Portal and issue trackers."

[2020-03-09 00:19] ligiabernardet opened #147 "Re-create app tag"
We are still receiving feedback on the app UG. One fix has gone into https://github.com/ufs-community/ufs-mrweather-app/tree/ufs-release-v1.0. More fixes may go in. Once this settles down, need to recreate the ufs-v1.0.0 tag.

[2020-03-09 00:41] ceceliadid commented on #144
@ligiabernardet @llpcarson Here are the changes, with yellow sections to be added:
https://docs.google.com/document/d/1rmzzdSdHyEY0rhgEldJSte-O9nJ39FIOZ6lwWP-GtpQ/edit?usp=sharing

[2020-03-09 00:43] ligiabernardet commented on #22
The CCPP TechDoc has been finalized and a PR has been submitted (https://github.com/NCAR/ccpp-doc/pull/18). Awaiting review and plan to merge on Monday 3/9.

[2020-03-09 00:46] ceceliadid commented on #145
I think it would be correct to change this sentence to:

**If running on a preconfigured or configurable machine, that machine will normally be recognized automatically and therefore it is not required to specify the --machine argument to create_newcase.**

Maybe @jedwards4b or @uturuncoglu could confirm?

[2020-03-09 01:08] ligiabernardet commented on #144
A PR was submitted.

On Sun, Mar 8, 2020 at 6:43 PM ceceliadid <notifications@github.com> wrote:

[2020-03-09 12:33] climbfuji commented on #140
Thanks for your report. This is not a mistake, but maybe it could be explained better in the documentation. The `build.sh` script is only used when compiling the ufs-weather-model standalone, i.e. when not using the ufs-mrweather-app. In the latter, the CIME workflow builds the model as part of the "case".

[2020-03-09 12:41] jedwards4b commented on #145
Yes, that would be more accurate.

[2020-03-09 13:28] climbfuji commented on #140
I tried to clarify this, see here: https://github.com/NOAA-EMC/NCEPLIBS-external/pull/42

[2020-03-09 15:22] climbfuji commented on #140
@MuayScience addressed in https://github.com/NOAA-EMC/NCEPLIBS-external/pull/42, if satisfied please close the issue. Thanks!

[2020-03-09 15:28] arunchawla-NOAA commented on #22
@ligiabernardet status? Are we satisfied?

[2020-03-09 15:34] ceceliadid commented on #144
@ligiabernardet I think there was another change in that doc that was missed toward the end of the page, under the Building the Model secction. It basically just tells you to go into the ufs-weather-model directory that you created in the download commands to run ./build.sh

[2020-03-09 15:34] MuayScience commented on #142
Broken link:
https://ufs-weather-model.readthedocs.io/en/release-public-v1/InputsOutputs.html

[2020-03-09 15:38] ligiabernardet commented on #22
The PR has been reviewed/accepted. I will update the RTD next.

On Mon, Mar 9, 2020 at 9:28 AM arun chawla <notifications@github.com> wrote:

[2020-03-09 15:39] MuayScience commented on #107
I ran into a couple of issues that I documented, but I can confirm I was able to run the Dorian test case on Stampede2. :)

[2020-03-09 15:40] ceceliadid commented on #142
@MuayScience Where is this reference?

[2020-03-09 15:44] MuayScience commented on #142
@ceceliadid It is on this page:
https://ufs-mrweather-app.readthedocs.io/en/ufs-v1.0.0/inputs_outputs.html#output-files

In this section:
4.2.2. UFS Weather Model
The output files for the UFS Weather Model are described in the Users Guide.

[2020-03-09 15:45] ligiabernardet commented on #144
OK, I will create a PR for this.

On Mon, Mar 9, 2020 at 9:34 AM ceceliadid <notifications@github.com> wrote:

[2020-03-09 15:51] MuayScience commented on #140
I think that takes care of it, thanks!

[2020-03-09 15:51] #140 closed

[2020-03-09 15:58] ligiabernardet commented on #144
https://github.com/ufs-community/ufs-weather-model/pull/81

[2020-03-09 16:02] ligiabernardet commented on #22
The documentation is in place now at https://ccpp-techdoc.readthedocs.io/en/v4.0/.

[2020-03-09 16:02] #22 closed

[2020-03-09 16:11] ligiabernardet commented on #142
I have corrected this broken link but have not recreated the tag.

On Mon, Mar 9, 2020 at 9:44 AM Benjamin A Cash <notifications@github.com>
wrote:

[2020-03-09 16:13] ligiabernardet commented on #145
I will make this change.

On Mon, Mar 9, 2020 at 6:41 AM jedwards4b <notifications@github.com> wrote:

[2020-03-09 16:13] jedwards4b commented on #145
@ligiabernardet - I already made it, but haven't updated the tag.

[2020-03-09 16:15] ligiabernardet commented on #145
Got it, tks.

On Mon, Mar 9, 2020 at 10:14 AM jedwards4b <notifications@github.com> wrote:

[2020-03-09 16:22] MuayScience commented on #142
It still comes up as page does not exist for me - will that only change when the tag is recreated?

[2020-03-09 16:31] ceceliadid commented on #145
This is a small thing, but along the same lines - at the beginning of the quick start, it should probably be:

**The following quick start guide is applicable to versions of the UFS Medium-Range Weather Application that are on preconfigured or configurable machines as listed here.**

Instead of just preconfigured, since there are special instructions for Stampede2.

[2020-03-09 16:57] ligiabernardet commented on #142
Yes

On Mon, Mar 9, 2020 at 10:22 AM Benjamin A Cash <notifications@github.com>
wrote:

[2020-03-09 17:00] ligiabernardet commented on #145
I have made this change but did not recreate the tag

On Mon, Mar 9, 2020 at 10:31 AM ceceliadid <notifications@github.com> wrote:

[2020-03-09 17:12] MuayScience commented on #142
Is it possible to reach that page some other way in the interim? I actually had a different documentation question I was trying to answer using that link when I found that it was broken.

[2020-03-09 17:32] ligiabernardet commented on #142
https://ufs-weather-model.readthedocs.io/en/ufs-v1.0.0/InputsOutputs.html

On Mon, Mar 9, 2020 at 11:13 AM Benjamin A Cash <notifications@github.com>
wrote:

[2020-03-09 18:04] arunchawla-NOAA commented on #123
@ceceliadid and @ligiabernardet I reviewed the document. This looks good

[2020-03-09 18:07] arunchawla-NOAA commented on #144
@ligiabernardet and @ceceliadid , @junwang-noaa merged these pull requests in. Can we confirm we are seeing this in the weather model guide. Are we ready to create a new tag?

[2020-03-09 18:09] arunchawla-NOAA commented on #107
@ligiabernardet, Can we close this now?

[2020-03-09 18:12] ligiabernardet commented on #144
Wait a sec. I need to update the RTD to point to the new tag.

On Mon, Mar 9, 2020 at 12:08 PM arun chawla <notifications@github.com>
wrote:

[2020-03-09 18:15] #107 closed

[2020-03-09 18:19] ligiabernardet commented on #144
RTD is working now. All looks good to me.
https://ufs-weather-model.readthedocs.io/en/ufs-v1.0.0/

On Mon, Mar 9, 2020 at 12:12 PM Ligia Bernardet - NOAA Federal <
ligia.bernardet@noaa.gov> wrote:

[2020-03-09 18:34] ceceliadid commented on #123
@arunchawla-NOAA @ligiabernardet There was a clarification to the wording from Ligia that Bhavana is putting in today. I can close this after that.

[2020-03-09 19:21] ligiabernardet commented on #147
@arunchawla-NOAA
I have not received any new reports of problems with the tag.
When/who will this tag be re-created?

[2020-03-09 19:25] arunchawla-NOAA commented on #147
@ligiabernardet once the new tag is created how much time do you need to set RTD to the correct place? @jedwards4b and/or @rsdunlapiv can create the tag again but want to give enough time for you to be able to point RTD to the right place so we can do more testing tonight.

[2020-03-09 19:28] ligiabernardet commented on #147
About 10 minutes to redo RTD. I have a few meetings this afternoon, so it
also depends when I get to it. For example, I could do this at 3:45 MT
today.

On Mon, Mar 9, 2020 at 1:26 PM arun chawla <notifications@github.com> wrote:

[2020-03-09 19:29] jedwards4b commented on #147
@ligiabernardet do you want me to wait until 3:30 to move the tag?

[2020-03-09 19:57] ligiabernardet commented on #147
Sounds good to wait until 3:30 to create the tag in case any last
minute fixes come in. Tks.

On Mon, Mar 9, 2020 at 1:29 PM jedwards4b <notifications@github.com> wrote:

[2020-03-09 20:08] ceceliadid commented on #144
@ligiabernardet Looks good to me too. Close?

[2020-03-09 20:14] #144 closed

[2020-03-09 21:48] ligiabernardet commented on #147
@jedwards4b Let me know when the tag is ready. Tks

[2020-03-09 21:59] jedwards4b commented on #147
Done now, sorry for the delay

On Mon, Mar 9, 2020 at 3:48 PM ligiabernardet <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-09 22:11] ligiabernardet commented on #147
RTD is now linked to the new tag.
https://ufs-mrweather-app.readthedocs.io/en/ufs-v1.0.0/

On Mon, Mar 9, 2020 at 3:59 PM jedwards4b <notifications@github.com> wrote:

[2020-03-09 22:29] ceceliadid commented on #147
Hi @ligiabernardet If you changed this before the tag:
The following quick start guide is applicable to versions of the UFS Medium-Range Weather Application that are on preconfigured **and configurable **machines as listed here.

I don't see this yet, even if I'm on a different browser. If you didn't put this change in, no problem...

[2020-03-09 22:50] ligiabernardet commented on #147
Yes, I put this change earlier today.
I recreated the tag - > link one more time and I see the sentence in the
HTML display now.

On Mon, Mar 9, 2020 at 4:30 PM ceceliadid <notifications@github.com> wrote:

[2020-03-09 23:28] ceceliadid commented on #147
@ligiabernardet Maybe I'm doing something wrong, but with this URL:
https://ufs-mrweather-app.readthedocs.io/en/ufs-v1.0.0/

I don't see the most recent changes in either browser I look at. The link to the WM doc is still broken in section 1.2, the two places changed to say preconfigured and configured are not there in quickstart ...

I've cleared cache too -

[2020-03-09 23:38] jedwards4b commented on #147
@ligiabernardet @ceceliadid I thought I had moved the tag, but it's still pointing to the old hash, trying again.

[2020-03-09 23:41] ligiabernardet commented on #147
I am not sure what could be happening. I re-did the t ag-> RTD connection
in any case. I see the updates.

[image: Screen Shot 2020-03-09 at 5.37.34 PM.png]

On Mon, Mar 9, 2020 at 5:28 PM ceceliadid <notifications@github.com> wrote:

[2020-03-09 23:44] jedwards4b commented on #147
@ligiabernardet I redid the tag again, the tagged commit is ddec8a6ad

[2020-03-09 23:45] jedwards4b commented on #147
looks correct now.

[2020-03-10 00:01] ceceliadid commented on #147
Yay! Now the changes are there for me too. Closing this.

[2020-03-10 00:01] #147 closed

[2020-03-10 00:02] ceceliadid commented on #145
Closing this too.

[2020-03-10 00:02] #145 closed

[2020-03-10 13:33] arunchawla-NOAA commented on #142
@ligiabernardet
@ceceliadid

Do we have anymore broken links? If people have checked and feel comfortable then we can close this. I have not tested since the weekend.

[2020-03-10 13:56] ligiabernardet commented on #142
No known problems.

On March 10, 2020 7:33:11 AM MDT, arun chawla <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-03-10 14:32] ceceliadid commented on #142
@arunchawla-NOAA @ligiabernardet  went through the App UG - broken links below. Prob good to at least fix the forum link. Have not gone through the WM UG.
1.2 (CCPP; described here)
1.6  forum-based online support system
3.1 The UFS MR Weather Model is itself an umbrella repository and contains a number of sub-repositories used by the model as documented here.
4.2.2 The output files for the UFS We

[2020-03-10 14:34] ligiabernardet commented on #142
+Laurie Carson <carson@rap.ucar.edu> Can you take care of  any doc bug
reports today while I am in this all-day retreat?

On Tue, Mar 10, 2020 at 8:32 AM ceceliadid <notifications@github.com> wrote:

[2020-03-10 14:42] arunchawla-NOAA commented on #142
oh we need to fix these. @ceceliadid nicely done in finding these. I hope we can check these for the model UG as well..

[2020-03-10 14:43] ceceliadid commented on #142
Just went through the WM UG, it looks okay.

[2020-03-10 14:47] llpcarson commented on #142
I will fix these this morning.

Laurie

On Tue, Mar 10, 2020 at 8:34 AM ligiabernardet <notifications@github.com>
wrote:

[2020-03-10 14:49] MuayScience commented on #142
@ceceliadid, @llpcarson  : About
4.2.2 The output files for the UFS Weather Model are described in the Users Guide.

This is the link I found that was supposed to be fixed when the tag was recreated. Did that not happen? Is it possible some of these have also been found and fixed but just aren't showing up yet?

[2020-03-10 14:55] arunchawla-NOAA commented on #142
@junwang-noaa and @llpcarson in the UFS WM UG we have a link to utilities. Why specific to pyprodutil? Should jsut refer to NCEP libraries in general

https://ufs-weather-model.readthedocs.io/en/ufs-v1.0.0/CodeOverview.html#codeoverview

[2020-03-10 15:22] junwang-noaa commented on #142
Arun,

The pyprodutil is a subcomponent under NEMS, we have
https://github.com/NOAA-EMC/NCEPLIBS-pyprodutil  listed in .gotmodules in
NEMS. No other nceplibs utility is used as submodules in ufs-weather-model.
Please let me know if you want to change the document to:

Infrastructure: Utilities

https://github.com/NOAA-EMC/NCEPLIBS
<https://github.com/NOAA-EMC/NCEPLIBS-pyprodutil>

Thanks.

Jun

On

[2020-03-10 15:27] arunchawla-NOAA commented on #142
No need. This makes sense.

[2020-03-10 15:32] llpcarson commented on #142
I've corrected the links Cecelia noted, moved the ufs-v1.0.0 tag, and recreated the Users Guide pages.  Depending on your browser, you may need to "reload" to get the updated pages.

https://ufs-mrweather-app.readthedocs.io/en/ufs-v1.0.0/index.html

Thanks, everyone, for reviewing so carefully!

[2020-03-10 16:06] ceceliadid commented on #142
Laurie, thanks, changes look good - when you did this one you got rid of one side of a parenthesis, if it's easy to change might want to go ahead and do that.

1.2 (CCPP; described here)

[2020-03-10 16:19] ceceliadid commented on #142
@llpcarson The only other thing I see that might be changed in the docs is in the WM UG. It's not a broken link, just something that's probably going to cause problems:
In 3.1:
A list of the bundled libraries tested with this WM release is in the top-level README of the NCEPLIBS repository (be sure to look at the tag in that repository that matches the tag on this WM release).

When you go to the

[2020-03-10 16:48] llpcarson commented on #142
I agree that this wording (and the link) is confusing, and if there are
other changes needed in the WM doc, we could try to clarify this.  Or, we
could wait and see what user questions (and answers) come in, and then make
an update later once we have some additional "outsider" perspective?

Let me know - I do not have permissions to update/retag in the WM repo, so
would only be able to submit a PR

[2020-03-10 16:56] ceceliadid commented on #142
I'm fine either way. I don't have other changes in the WM UG besides this, and I don't think it's too bad as it is. @arunchawla-NOAA want to make the call?

[2020-03-10 17:04] arunchawla-NOAA commented on #142
Yes change the link for the nceplibs. Do the tag for ncepllibs-external as well so that if things change it does not mess things up. @junwang-noaa there will be a new PR coming to the WM UG, please accept and create new tag.

Thanks!

[2020-03-10 18:05] junwang-noaa commented on #142
The PR was merged, a new tag was created.

On Tue, Mar 10, 2020 at 1:04 PM arun chawla <notifications@github.com>
wrote:

[2020-03-10 18:11] llpcarson commented on #142
Thanks, Jun.  ReadTheDocs is rebuilding now, should be done in a couple of
minutes (remember to refresh/reload)

On Tue, Mar 10, 2020 at 12:05 PM Jun Wang <notifications@github.com> wrote:

[2020-03-10 19:02] ceceliadid commented on #142
@llpcarson are you going to fix the parenthesis typo in the app UG? is the wm UG ready? We're going live with the release on the website shortly, prob good to get this squared away...

[2020-03-10 20:05] arunchawla-NOAA commented on #142
I am closing this

[2020-03-10 20:05] #142 closed

[2020-03-10 20:06] ceceliadid commented on #123
Bhavana put this in, we can close this.

[2020-03-10 20:06] #123 closed

[2020-03-26 14:57] ligiabernardet opened #149 "Need plan for upcoming releases"
We need to create a plan for upcoming releases of the MR W App, both for fixes 1.0.x and for upgrades, 1.x. @arunchawla-NOAA @mvertens @lbnance @junwang-noaa @ceceliadid

Must decide which branches will be used for the release (some offline emails indicate it will be the same release branches already used for the 1.0.0 release because the main development branches have too many new capabilities).

[2020-03-26 14:58] ligiabernardet commented on #149
@jedwards4b

[2020-03-26 15:02] jedwards4b commented on #149
@ligiabernardet Thanks!

[2020-03-27 03:49] arunchawla-NOAA commented on #149
@ligiabernardet  there is also the update that needs to come to chgres_cube to change from using nemsio files to nc files. These files will replace the nemsio files when gfsv16 goes into operations. Because of the amount of testing involved I want to be careful about the number of upgrades we do

[2020-03-27 15:13] ligiabernardet commented on #149
I agree that we need to be careful about the number of upgrades we do because of limited staffing. Mostly we need to create a plan. If we have agreement that the innovations for 1.1 should go to existing public release branches, that is a good start. We can issue this issue to collect a list of the desired upgrades. Updated list below.

- CCPP Framework: now works with Python 3 (therefore the whol

[2020-03-27 15:22] ligiabernardet commented on #149
Updated list by request from @climbfuji.

- CCPP Framework: now works with Python 3 (therefore the whole App can be said to work with Python 3 - need testing); PR for ufs-weather-model: ufs-community/ufs-weather-model#92; also documentation updates (https://github.com/NCAR/ccpp-framework/pull/274)
- ufs-utils/chgres: Patch to account for bad temperature data and upgrade to ingest NetCDF files (iin

[2020-04-20 17:42] ligiabernardet commented on #149
@climbfuji You mentioned we should consider an upgrade to the build system. Would you be able to explain what that entails, and which code repositories that would affect?

[2020-04-20 17:44] mvertens commented on #149
It would be helpful to also describe how these upgrades would interact with
the CIME build system in the release.

On Mon, Apr 20, 2020 at 11:43 AM ligiabernardet <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-04-20 17:46] ligiabernardet commented on #149
Updated list of potential updates

- CCPP Framework: now works with Python 3 (therefore the whole App can be said to work with Python 3 - need testing); PR for ufs-weather-model: ufs-community/ufs-weather-model#92; also documentation updates (NCAR/ccpp-framework#274)
- ufs-utils/chgres: Patch to account for bad temperature data and upgrade to ingest NetCDF files (iin addition to NEMSIO and GRIB2 f

[2020-06-01 18:12] ceceliadid opened #150 "Improve viz scripts associated with the GST"
At least remove warnings.

[2020-06-01 19:11] ligiabernardet commented on #149
- App doc: Add info about how one can see the entire namelist before they make a change.
- Documentation displays (ReadtheDocs etc.) for v1.0 and new releases will not point to tags but instead to head of release branches

[2020-06-02 15:34] ligiabernardet opened #151 "Need to commit documentation to master"
The UFS MRW App v1.0 User's Guide is located at: a) branch ufs-release-v1.0, b) tag ufs-v1.0.0, c) branch documentation (branch of master). Can the documentation be committed to the master branch so it is part of the main code? Are there any concerns about that? Should I submitted a PR?
And for continued development of documentation, I suggest we continue to use branch documentation (and commit to

[2020-06-12 14:20] ligiabernardet opened #152 "Website for raw ICs has been down for a couple weeks"
The MRW App relies on raw initial conditions that can be auto-downloaded by CIME or pre-staged by the user. In both cases, the raw ICs come from https://nomads.ncdc.noaa.gov/. However, this site has been down for the last couple of weeks (except for a few brief moments) making it impossible to run the App (except for the single case served via ftp or for those with access to NOAA HPSS).
Does anybo

[2020-06-15 16:22] arunchawla-NOAA commented on #149
- Getting initial condition files. The nemsio files will not be available once the gfs v16 goes into operations and will be replaced by NetCDF files. Need to determine how CIME will handle this change. Also NCDC website has been giving problems

[2020-06-15 18:21] ceceliadid opened #153 "See if documentation needs to be improved with respect to changes to input.nml"
There were numerous comments about how the approach to changing the input.nml seemed un-intuitive from the GST respondents.

[2020-06-15 18:22] arunchawla-NOAA commented on #149
- See if we can add this

https://github.com/NOAA-EMC/UFS_UTILS/issues/97

[2020-06-15 18:23] ligiabernardet commented on #149
Add metadata to chgres output https://github.com/NOAA-EMC/UFS_UTILS/issues/97

[2020-06-15 18:28] ligiabernardet commented on #153
@ceceliadid Can you pls share the GST results again? I think you shared before but I can't find it now.

[2020-06-15 18:32] ceceliadid commented on #153
On the website, ufscommunity.org, go to Research-Operations tab, go to GST
page.

On Mon, Jun 15, 2020 at 12:28 PM ligiabernardet <notifications@github.com>
wrote:

[2020-06-15 18:34] fossell commented on #149
UPP had bug fix merged into branch v1.0, details here in [EMC_post Issue 129 ](https://github.com/NOAA-EMC/EMC_post/issues/129).   Should confirm this was tested and/or test again. @aerorahul contributed this bug fix.

[2020-06-15 20:20] climbfuji commented on #149
Also: need update for jet (filesystem changes)

[2020-06-15 23:33] ligiabernardet commented on #146
Is work still needed in this issue? How does it relate to the UFS MRW App v1.1 release?

[2020-06-15 23:34] ligiabernardet commented on #151
@arunchawla-NOAA @mvertens @lbnance

[2020-06-16 13:35] jwolff-ncar commented on #146
Somewhat related to this: https://docs.google.com/document/d/19TsFWNo01YKIq-Jb1-KmbXZ35qTszhRAlsutwdaWEcQ/edit#heading=h.id0fiyg7ta3l

We can discuss this more at our meeting on Thrs 8am MT.

I do not think this is specific to v1.1 release. It is a general practice that we need to establish for all UFS releases.

[2020-06-16 19:51] climbfuji commented on #149
I started collecting changes to the ufs-weather-model and submodules, see https://github.com/ufs-community/ufs-weather-model/pull/149 and associated PRs (currently in draft status).

[2020-06-19 02:22] fossell commented on #149
Is there a time line for when component repos (e.g. UPP) should be creating v1.1 branch (from public-v1 branch as discussed)? Should this be created now so testing can use that v1.1 branch and any necessary fixes go into that new branch? Or wait until closer to release, and while waiting any new features/fixes go into branch public-v1?

[2020-06-19 02:26] climbfuji commented on #149
Bad time to ask this question. I wasted hours today figuring this out. See https://github.com/ufs-community/ufs-weather-model/pull/149.

[2020-06-19 02:33] fossell commented on #149
@climbfuji Yikes! Ok, I'll wait until this is hashed out. No rush on UPP side, just wanted to stay informed of process.

[2020-06-26 13:16] arunchawla-NOAA commented on #151
All documentation and release updates should go back to the develop repos after the release. We should confirm that for all the repos

[2020-06-26 13:21] arunchawla-NOAA opened #154 "chgres update"
chgres update for

   ---providing a fix for extreme ocean temperatures

  ---new input files from gfs that are coming with the v 16 implementation (exact date these files will be available in operations is still not clear)

[2020-06-26 13:30] arunchawla-NOAA commented on #152
The https link is no longer available. See here

https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-data-assimilation-system-gdas

[2020-06-26 14:38] jedwards4b opened #155 "CIME update for pre-configured machines with module changes (including Orion)"
Recent system changes on Orion require an update to the modules section of config_machines.xml in cime

[2020-06-26 15:02] ligiabernardet opened #156 "FTP site needs to be updated with sample GFSv16 NetCDF data"
This website (https://ftp.emc.ncep.noaa.gov/EIB/UFS/) needs to be updated with sample GFSv16 NetCDF data https://ftp.emc.ncep.noaa.gov/EIB/UFS/ so we can develop and test the v1.1 App, as well as point the users to this sample dataset if they want to experiment with this new capability.
@KateFriedman-NOAA I think you prepared the ftp site for the v1.0 release, would you also be doing this for the

[2020-06-26 15:06] ligiabernardet commented on #151
For this App. is there a code manager to update the

[2020-06-26 15:08] ligiabernardet commented on #151
Closed by mistake. Apologies. Meant to say that we will submit a PR to develop to commit the v1.0 documentation.

[2020-06-26 15:13] GeorgeGayno-NOAA commented on #154
Both updates were tested and merged to 'develop'.

For details about the ocean temperature fix, see: https://github.com/NOAA-EMC/UFS_UTILS/issues/59

For details on the capability to ingest GFS v16 gaussian netcdf files (which replace the v15 nemsio files), see: https://github.com/NOAA-EMC/UFS_UTILS/issues/38

[2020-06-26 15:27] KateFriedman-NOAA commented on #156
@ligiabernardet I would assume so, although this is the first mention of v1.1 to me so I haven't been tasked yet. @arunchawla-NOAA

Happy to assist though!

[2020-06-26 15:32] ligiabernardet commented on #154
Thanks, @GeorgeGayno-NOAA for these upgrades. Would be able to update the documentation for the release at https://github.com/NOAA-EMC/UFS_UTILS/tree/release/public-v1?

[2020-06-26 15:44] GeorgeGayno-NOAA commented on #154
Yes, I can update the documentation.  However, I am not familiar with the "rst" format.

[2020-06-26 15:52] climbfuji opened #157 "Build system improvements for release v1.1"
We need to update the NCEPLIBS-external build system to address some issues users have reported when building netCDF or using existing netCDF installations. Possibly/optionally also update NCEPLIBS itself, although the latter may not be required (if the NCEPLIBS-external update is done correctly).

[2020-06-26 15:53] climbfuji opened #158 "Python 3 compatibility for release v1.1"
The CCPP framework (ccpp_prebuild.py et al.) needs to be updated to be compatible with Python 2.7 and Python 3.x.

[2020-06-26 15:55] climbfuji commented on #158
This issue was created for documentation purposes. The last changes required were merged with PR https://github.com/ufs-community/ufs-weather-model/pull/149.

[2020-06-26 15:55] #158 closed

[2020-06-26 16:20] ligiabernardet commented on #154
Mostly you should be able to update the rst documentation following what is there already. Julie Schramm at DTC is an expert on Sphinx that can support you. The Sphinx page is at https://www.sphinx-doc.org/. A very basic example of how to compile the documentation and generate the HTML can be seen in the README at https://github.com/NCAR/ccpp-doc. Once you have updates, we can also see how they ar

[2020-06-26 17:53] ligiabernardet commented on #157
Do you know if documentation updates will be needed to accompany this change?

[2020-06-26 17:57] climbfuji commented on #157
Not entirely sure. Ideally, no - changes are under the hood only. And as far as I know, you don't include machine-specific instructions (which are in NCEPLIBS-externa/doc) or other information that is in NCEPLIBS-external README.md and/or NCEPLIBS README.md, or?

[2020-06-26 18:05] ligiabernardet commented on #157
If updates are needed, can you and the build team update README.md and the machine-specific files in NCEPLIBS-external/doc? Then let me know so we can review it.

[2020-06-26 18:07] climbfuji commented on #157
Sure, this will be part of the development and testing.

[2020-07-12 19:16] ligiabernardet commented on #157
@climbfuji Do you have a timeline for this build update to be complete?

[2020-07-12 19:19] ligiabernardet commented on #156
@arunchawla-NOAA We need to update ftp site (https://ftp.emc.ncep.noaa.gov/EIB/UFS/) with sample GFSv16 **NetCDF** data so we can develop and test the v1.1 App, as well as point the users to this sample dataset if they want to experiment with this new capability. Do you know if @KateFriedman-NOAA will helping in this capacity? Or is there someone else at EMC that has access to the NetCDF files?

[2020-07-12 19:21] ligiabernardet commented on #154
@GeorgeGayno-NOAA When do you anticipate putting the upgrades in the release/public-v1 branch so we can test for the release?
Also, How is it going with the documentation? Let us know if you need any help.

[2020-07-12 19:22] ligiabernardet commented on #153
We have upgraded the App documentation in this respect. There will be a PR soon with multiple App documentation updates.

[2020-07-12 19:26] ligiabernardet commented on #152
From Arun: Long and short is that the data can be accessed from here: https://www.ncei.noaa.gov/data/global-forecast-system/access/. Their is the current archive and the historical archive, that separation seems to be based on the day when the transfer was done. There were some gaps that have been taken care off. The only issue is that it does not go far back enough. It will stay here for the next

[2020-07-12 19:34] ligiabernardet opened #159 "Working with raw ICs with different file names in CIME Workflow"
In the [MRW App v1.1 documentation](https://123456789.readthedocs.io/en/latest/inputs_outputs.html#initial-conditions-naming-convention
), we tell users that the way to use raw ICs with file names that differ from the default is to edit user_nl_ufsatm, for example,
**grib2_file_input_grid = gfs_3_20190829_0000_000.grb2**
However, this is not working. Instead, the only way to use files with differe

[2020-07-13 14:13] climbfuji commented on #157
We are making good progress, yes!

[2020-07-13 15:55] GeorgeGayno-NOAA commented on #154
Has anyone created a branch for this update?

[2020-07-13 16:26] uturuncoglu commented on #159
@ligiabernardet I am not sure about the correct implementation in the CIME interface at this point but I'll look at it. @jedwards4b is looking for changing data server list to match for the app update. In the mean time, if you could provide me a reproducer or just steps to reproduce the issue, that would be great

[2020-07-13 16:28] climbfuji commented on #154
Updates for release 1.1 will be made to the existing release/public-v1 branches.

[2020-07-14 15:52] ligiabernardet commented on #159
@uturuncoglu  I have the case setup on Hera but I think you do not have access to it. So I will provide you with the steps.

- First you do a regular plain vanilla run with the App, for example  using the default date and raw ICs (GRIB2 0.5 degree), which will access a file called gfs_4_YYYYMMDD_00HH_000.grb2.

- Then you obtain GRIB2 1.0 degree from the data server (which is called gfs_3_YYYYMMDD

[2020-07-16 17:09] ligiabernardet opened #161 "Need to confirm solution for acquiring raw ICs"
Can the release leads please confirm if this is the solution we will use?
@arunchawla-NOAA @mvertens @lbnance

**GRIB2**
_Manual and auto downloads of GRIB2 0.5 degree. Manual download of GRIB2 1.0 degree_.
https://www.ncei.noaa.gov/thredds/model/gfs.html
This data server has two locations -- historical and current data
https://www.ncei.noaa.gov/thredds/catalog/model-gfs-004-files-old/catalog.html

[2020-07-16 20:02] uturuncoglu commented on #159
@ligiabernardet could you also send me the link that I could use to download gfs_3 data.

[2020-07-16 21:06] ligiabernardet commented on #159
My understanding is that it is
https://www.ncei.noaa.gov/thredds/model/gfs.html

Also see https://github.com/ufs-community/ufs-mrweather-app/issues/161

On Thu, Jul 16, 2020 at 2:03 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-07-21 20:58] GeorgeGayno-NOAA commented on #154
@ligiabernardet I updated the chgres_cube code and documentation in the release branch in my fork.

I did not try running the chgres_cube program.  I can't figure out how to compile the release branch on Hera.

I don't know the details of where the GFS v16 NetCDF history files will reside on NOMADS.  So, I left that section of the documentation blank for now.

[2020-07-21 22:23] ligiabernardet commented on #154
@GeorgeGayno-NOAA I was able to run the UFS MRW v1.0 on Hera today by following the instructions provided by Linlin in this forum post https://forums.ufscommunity.org/threads/module-files-loading-problem-hera-and-jet. It involves a change to file modulefiles/hera.intel/fv3.

Would you be able to provide us with a sample of NetCDF file(s) on Hera?

[2020-07-22 15:22] GeorgeGayno-NOAA commented on #154
Some sample GFS v16 NetCDF data is here: /scratch1/NCEPDEV/da/George.Gayno/noscrub/chgres.gfsv16/gfs.20200202/00

A sample chgres_cube namelist to convert this v16 data is here: /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/gfsv16/config.ligia.nml

Note: "input_type" must be set to "gaussian_netcdf"

[2020-07-22 17:13] ligiabernardet commented on #154
Thanks, George.
@rsdunlapiv Perhaps you can get this sample to @uturuncoglu and @jedwards4b so they can try it with the App?

[2020-07-30 22:56] ligiabernardet commented on #154
@GeorgeGayno-NOAA Have you been able to get the updated chgres_cube into the release branch (existing release/public-v1 branch)?

[2020-07-31 13:50] GeorgeGayno-NOAA commented on #154
The updates are still in my fork (https://github.com/GeorgeGayno-NOAA/UFS_UTILS/tree/release/public-v1).  I am hoping others could run a quick test to verify it is working.  I can assist with any testing.

[2020-07-31 13:55] climbfuji commented on #154
@pjpegion you were in charge of the testing team for the UFS MRW App v1.0, I am in charge for the UFS SRW App v1.0. How can we make sure that these changes get tested (together with updates to the build system - NCEPLIBS-external) in the next week so that we can roll out this release by mid-to-end of August?

@arunchawla-NOAA @lbnance @mvertens

[2020-08-04 15:08] pjpegion commented on #154
@climbfuji I'm not sure how to do this.  Are there regression tests for the mr-weather-app like there is for the model?

[2020-08-04 15:26] climbfuji commented on #154
@pjpegion @jedwards4b @uturuncoglu Yes, I think there are tests for the entire app - our NCAR CIME colleagues ran those prior to the release in March.

[2020-08-07 16:08] climbfuji commented on #154
@GeorgeGayno-NOAA I pulled your release/public-v1 branch into the NOAA-EMC NCEPLIBS release/public-v1 for testing (not committed, of course). If this builds on my mac, I will build it on hera so that @ligiabernardet can test it with the netCDF input data.

[2020-08-07 16:40] ligiabernardet commented on #154
@GeorgeGayno-NOAA @climbfuji For the netCDF ICs provided by George ( /scratch1/NCEPDEV/da/George.Gayno/noscrub/chgres.gfsv16/gfs.20200202/00)

[2020-08-07 18:02] climbfuji commented on #154
@GeorgeGayno-NOAA the compilation of this UFS_UTILS fails on hera with Intel-18.0.4:
[code]
On macOS with clang-9.0.0+gfortran-9.2.0 / gcc-9.2.0+gfortran -9.2.0:
[code]

When you make those changes in your UFS_UTILS branch, can you also please update the CMakeModules submodule to point to the following hash?
[code]
Commands:
[code]

[2020-08-07 19:34] GeorgeGayno-NOAA commented on #154
@climbfuji  Try to build chgres_cube now.

[2020-08-10 01:56] climbfuji commented on #154
@GeorgeGayno-NOAA thanks, I am getting past this error, but now the linker step fails (wgrib2api). I'll work on this tomorrow Monday.

[2020-08-10 13:57] GeorgeGayno-NOAA commented on #154
Sorry.  I am unable to figure out how to compile the release branch on Hera.  So I am flying somewhat blind.

[2020-08-10 14:19] arunchawla-NOAA commented on #161
@rsdunlapiv

Need help from CIME team to confirm the update to using the different server for grabbing 0.5 deg GRIB files. There is a cut off date that switches between historical and current (the date has been set to the time when they moved this)

[2020-08-10 14:25] arunchawla-NOAA commented on #159
@GeorgeGayno-NOAA

How is the name of the input grib2 file provided to chgres_cube?

[2020-08-10 14:30] ligiabernardet commented on #152
I am closing this issue since it has been superseded by https://github.com/ufs-community/ufs-mrweather-app/issues/161.

[2020-08-10 14:30] #152 closed

[2020-08-10 14:30] arunchawla-NOAA commented on #156
@KateFriedman-NOAA can you work with Fanglin and confirm with @GeorgeGayno-NOAA and get a sample set of NETCDF files that can be used. I think George has already tested that this works with chgres_cube (though we will need to confirm that it works with the release branch version). Will the 127 levels create a problem ?

[2020-08-10 14:33] ligiabernardet commented on #157
@climbfuji Can you please provide an update?

[2020-08-10 14:35] GeorgeGayno-NOAA commented on #159
Through a namelist entry.

[2020-08-10 14:49] GeorgeGayno-NOAA commented on #156
I have a sample dataset on Hera: /scratch1/NCEPDEV/da/George.Gayno/noscrub/chgres.gfsv16/gfs.20200202/00.  I don't recall which parallel I got this data from.  You may want data from a more recent parallel.  Yes, it has 127 levels.  But chgres_cube will handle 127 levels.

[2020-08-10 15:03] arunchawla-NOAA commented on #151
I will assign a code manager for this app

[2020-08-10 15:05] arunchawla-NOAA commented on #155
@rsdunlapiv who would you assign to do and test this ?

[2020-08-10 15:10] arunchawla-NOAA commented on #154
@GeorgeGayno-NOAA and @climbfuji were you able to get this to build on Mac/Hera? If not then I will see if we can get additional help from Kyle here.

[2020-08-10 15:12] climbfuji commented on #154
It's a simple linker flag that is missing ... will have it done in a bit.

[2020-08-10 15:16] jedwards4b commented on #155
@arunchawla-NOAA I will do it.  I was waiting for all the pieces to be updated first.

[2020-08-10 15:35] arunchawla-NOAA opened #162 "CIME update"
CIME needs to be updated to account for a new namelist option for chgres_cube. With the option of using netcdf files the input_type should now have a third option "gaussian_netcdf"

[2020-08-10 15:37] ligiabernardet commented on #162
CIME must also recognize the netCDF file names, which are of the form
gfs.tHHz.atmf000.nc
gfs.tHHz.sfcf000.nc

Examples on Hera at
/scratch1/NCEPDEV/da/George.Gayno/noscrub/chgres.gfsv16/gfs.20200202/00

[2020-08-10 15:39] arunchawla-NOAA commented on #162
Also we need to update FV3 namelist options for damping coefficients. These were erroneously set for 127 level configuration. Need to be for 64 levels. See this thread for details

https://forums.ufscommunity.org/threads/strength-second-order-damping-top-layers

[2020-08-10 15:41] #153 closed

[2020-08-10 15:42] uturuncoglu commented on #162
@arunchawla-NOAA sure. @rsdunlapiv could you move those files to Cheyenne or Orion? Thanks.

[2020-08-10 15:43] arunchawla-NOAA opened #163 "Documentation updates"
Confirm that documentation matches with all suggested changes

Example

Suggestion from Neil via @climbfuji: I think in Section 2.1 (quick start) there needs to be a note and link to section 5.2 regarding what to add/do when trying this on a supported-but-not-preconfigured platform.

[2020-08-10 16:03] ligiabernardet opened #164 "Review the Graduate Student Test for the Release"
Review the GST and determine if any updates are needed for this release.

[2020-08-10 16:04] rsdunlapiv commented on #162
@uturuncoglu Yes I can move the files.  I have to have my hera certificate resigned, so it said it could be a day or two.  Will try again tomorrow.

[2020-08-10 16:18] climbfuji commented on #162
Usually the certificate only takes an hour or so, even though they say 1-2 days.

[2020-08-10 16:20] rsdunlapiv commented on #162
@climbfuji Execellent, I will try again shortly.

[2020-08-10 16:29] climbfuji commented on #157
Here is the link to the ongoing discussion: https://github.com/ufs-community/ufs-mrweather-app/issues/154

[2020-08-10 18:12] KateFriedman-NOAA commented on #156
@arunchawla-NOAA @yangfanglin Sure thing...do folks want a newer data set than the February 2nd 2020 George has provided? If not, I will copy what George has on Hera to the ftp server.

@ligiabernardet Where would you like the data to land? A new folder in the ["inputdata" folder](https://ftp.emc.ncep.noaa.gov/EIB/UFS/inputdata/)? Or I can make a new folder under UFS for test data. Or do we want t

[2020-08-11 02:45] climbfuji commented on #154
I have a bunch of PRs out, including one for NOAA-EMC UFS_UTILS, branch release/public-v1. This PR contains all of @GeorgeGayno-NOAA's changes (with his original ownerships on those commits, of course) and a few small updates for the build system. With those, I can build NCEPLIBS-external with the new NCEPLIBS-wgrib2, and afterwards the entire NCEPLIBS release/public-v1 on hera.intel, cheyenne.int

[2020-08-11 02:47] climbfuji commented on #157
Someone could test these new libraries on here with the netCDF data. How to load the modules and compile the ufs-weather-model (branch release/public-v1):
[code]
Or the CIME config needs to be updated manually to load these NCEPLIBS instead of the default NCEPLIBS/1.0.0.

Please let me know if someone wants to test this installation. Thanks!

[2020-08-11 13:07] GeorgeGayno-NOAA commented on #154
The UFS_UTILS pull request associated with this issue: https://github.com/NOAA-EMC/UFS_UTILS/pull/130

[2020-08-11 15:03] climbfuji commented on #154
Most of the PRs have been merged, remaining one is the EMC_post PR. Once this is in, I will create the follow-up PRs for NCEPLIBS-external and NCEPLIBS umbrella. A beta01 version of the libraries is installed on hera so that somebody can test the netCDF ingest.

[2020-08-11 15:32] ligiabernardet commented on #154
@climbfuji Where do I find the  NCEPLIBS-external and NCEPLIBS on Hera?

[2020-08-11 16:08] climbfuji commented on #154
Please see the note I posted in the build system improvement issue https://github.com/ufs-community/ufs-mrweather-app/issues/157: https://github.com/ufs-community/ufs-mrweather-app/issues/157#issuecomment-671692724

[2020-08-11 18:38] rsdunlapiv commented on #162
@uturuncoglu I moved to files to Cheyenne: /glade/scratch/dunlap/ufs_xfer

[2020-08-11 18:42] ligiabernardet commented on #157
When trying to build the branch release/public-v1 of the ufs-weather-model, I am getting a failure in the ccpp_prebuild.
`ccpp_prebuild.py: error: unrecognized arguments: --static`
Does the build.sh in the branch release/public-v1 of the ufs-weather-model need to be updated?

[2020-08-11 19:55] uturuncoglu commented on #162
Okay. Thanks @rsdunlapiv.

[2020-08-11 21:00] climbfuji commented on #157
I tried the following successfully on hera:
[code]
Is it possible that you checked out the default branches of ufs-weather-model and switched to release/public-v1 in the top-level repo only, but not in the submodules?

[2020-08-11 21:07] ligiabernardet commented on #157
Yes, that is what I did. I will checkout with the  -b release/public-v1 and make sure I am using release/public-v1 for all components.

[2020-08-11 21:25] ligiabernardet commented on #157
I was able to build the ufs-weather-model on Hera with the new libraries. No surprise since I am basically repeating the steps performed by @climbfuji. But it was good to confirm.

[2020-08-12 14:28] ligiabernardet opened #165 "Fix calculation of STOP_OPTION in buildnml (CIME)"
@rsdunlapiv This is listed as a known bug of the UFS MRW App v1.0 in https://github.com/ufs-community/ufs-mrweather-app/wiki/All-Releases%3A-Release-Notes-and-Known-Bugs. Will it be fixed for v1.1 or do we carry it forward as a known bug?

If a user sets STOP_OPTION as “nseconds” using xmlchange command, the stop time of the simulation is calculated incorrectly. Actually, it is a bug in buildnml a

[2020-08-12 14:31] ligiabernardet opened #166 "Review wikis"
The wikis for all components needs to be reviewed to see if updates are needed for the v1.1 release.

[2020-08-12 14:33] ligiabernardet opened #167 "Release announcement and distribution"
Write a release announcement and plan how it be rolled out (e.g., news in UFS Community and DTC websites, mailing lists, etc.)

[2020-08-12 14:46] climbfuji commented on #166
I reviewed and updated the NCEPLIBS-external and NCEPLIBS wikis today.

[2020-08-12 15:01] climbfuji commented on #166
There is also an issue for documentation updates, which may overlap with this issue: https://github.com/ufs-community/ufs-mrweather-app/issues/163

[2020-08-12 15:06] climbfuji commented on #157
NCEPLIBS-external and its submodules are ready, in particular the ones we control. Tags ufs-v1.1.0 have been created for:

https://github.com/NOAA-EMC/CMakeModules
https://github.com/NOAA-EMC/NCEPLIBS-wgrib2
https://github.com/NOAA-EMC/NCEPLIBS-external

Note that NCEPLIBS-external will be retagged with documentation-only updates (`README.md` and `doc/README_*.txt`) after the libraries have been i

[2020-08-12 15:12] ligiabernardet commented on #157
I am hoping to run chgres_cube standalone today with GRIB2 and netCDF on
Hera. The input datasets are staged on Hera if others want to try it.

/scratch1/BMC/gmtb/Ligia.Bernardet/myUFS_INPUT/ufs_inputdata/icfiles/202002/20200202/

On Wed, Aug 12, 2020 at 9:07 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-08-12 15:22] climbfuji commented on #157
Great, please let me know if I can help (and learn how to run `chgres_cube.exe` standalone). We also need to set up a run directory for testing those initial conditions, I guess.

[2020-08-12 15:30] jwolff-ncar opened #168 "Update Getting Started and Announcement forums"
UFS forums: https://forums.ufscommunity.org/
The Getting Started forum links (https://forums.ufscommunity.org/forum/getting-started) need to be updated for v1.1.0. We can keep the v1.0.0 links and just add another one for the v1.1.0 release (and so on for future releases).

An Announcement needs to be added to that forum (https://forums.ufscommunity.org/forum/announcements) for v1.1.0.

[2020-08-12 15:31] climbfuji commented on #166
How do we handle https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-Compilers for different releases? Version numbers and a few other details differ between MRW v1.0.0 and v1.1.0.

[2020-08-12 15:36] uturuncoglu commented on #165
@ligiabernardet @rsdunlapiv this is fixed as apart of unification of UFSATM CIME interface and it will be available in the v1.1.

[2020-08-12 15:37] ligiabernardet commented on #157
I have never run chgres_cube standalone either. But this User's Guide
should help!
https://ufs-utils.readthedocs.io/en/ufs-v1.0.0/

On Wed, Aug 12, 2020 at 9:23 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-08-12 15:46] uturuncoglu commented on #162
@climbfuji @ligiabernardet i think we need to update NCEPLIBS to handle netCDF files (especially CHGRES). If you don't mind could you point me the instructions as well as hashes that needs to be used to test the netCDF input? If you all provide a example CHGRES script that would be great. BTW, is there any change in the post-processing side?

[2020-08-12 16:16] ligiabernardet commented on #156
@Kate Friedman - NOAA Federal <kate.howard@noaa.gov> In my opinion, the
02/02/2020 date provided is fine.

A new folder under https://ftp.emc.ncep.noaa.gov/EIB/UFS/inputdata/ makes
sense to me.

I looked through https://ftp.emc.ncep.noaa.gov/EIB/UFS and I think there is
no need to make any changes except for a) adding the netCDF input data and
b) updating file https://ftp.emc.ncep.noaa.gov/EIB/UFS

[2020-08-12 17:16] ligiabernardet commented on #165
Great, thanks.

[2020-08-12 17:16] #165 closed

[2020-08-12 17:26] climbfuji commented on #162
I have NCEPLIBS ufs-v1.1.0 installed on almost all the platforms by now. For testing those with CIME, can you use hera or cheyenne? The new modulefiles are
[code]
I believe none of the prerequisite modules (compiler, ...) has changed for those, but I am not sure. For other systems such as gaea, the definitely changed. Can you please make sure for every system that you are testing/configuring for M

[2020-08-12 17:30] uturuncoglu commented on #162
@climbfuji That is really great! Thanks. I could use cheyenne.intel for the tests. I'll keep you posted about the progress.

[2020-08-12 21:21] climbfuji commented on #157
Update on the NCEPLIBS. I rolled out NCEPLIBS v1.1.0 on all preconfigured platforms (level 1) and created the modules, and compiled it successfully on all supported platforms (level 2/3). I also compiled the ufs-weather-model release/public-v1 branch on all of these platforms using `build.sh`:

hera.intel, cheyenne.intel, cheyenne.gnu, gaea.intel, jet.intel, orion.intel, stampede.intel, macosx.gnu

[2020-08-12 21:22] climbfuji commented on #166
Regarding this page, should we configure orion as level-2 platform, and remove Redhat 7 from the level-3 platforms? We definitely need to update some of the compiler versions on this page for release 1.1.

[2020-08-12 22:14] ligiabernardet commented on #154
@GeorgeGayno-NOAA I was able to run the C96 chgres_cube standalone on Hera using GRIB2 and netCDF for 02/02/2020. The results of the run using netCDF look earth-like in the troposphere. I noticed substantial differences between the two results in the highest model levels (levels 0, 1, 2). For example T differences are greater than 40 K in certain places at Level 0. Is that because the GRIB2 files

[2020-08-12 22:26] ligiabernardet commented on #162
@Ufuk Turuncoglu <turuncu@ucar.edu> I was able to run the C96 chgres_cube
standalone with the netCDF input on Hera. I have placed the script along
with two namelists (one for GRIB2 input and one for netCDF input) on
Cheyenne for you at /glade/u/home/bernarde/chgres_test.
The updated chgres_cube documentation, describing the namelist entries for
netCDF output, is at
https://ufs-utils.readthedocs.io

[2020-08-12 23:01] climbfuji commented on #166
@ligiabernardet please see https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-Compilers for an update for release v1.1 and the link to the previous version.

[2020-08-13 13:18] climbfuji commented on #157
Tags ufs-v1.0.0 have been created for NCEPLIBS-*, NCEPLIBS-external and NCEPLIBS. Rolled out on all level 1 systems and tested on all level-2 and level-3 systems as listed on the updated page https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-Compilers. I think this issue can be closed.

[2020-08-13 13:37] GeorgeGayno-NOAA commented on #154
@ligiabernardet  I agree with your assessment.  The GRIB2 data has information up to 1 mb.  The 127 level netCDF files have information up to about 1 Pa.  So depending on your model top, I would expect differences.  chgres_cube is not very sophisticated.  It will simply persist the 1 mb values upward to the model top.

[2020-08-13 16:25] ligiabernardet commented on #166
@climbfuji Looks great, thanks for his update. I made a small change for more clear words in the status (no change in content).

[2020-08-13 22:41] uturuncoglu opened #169 "Error building CCPP file radiation_aerosols.f with cime."
@ligiabernardet @climbfuji We are getting following error when we try to build UFS MR Weather App under CIME. I am not sure it is a know issue or not.

[code]

In this case, i am using release/public-v1 branch for the model and last commit is

[code]

If you could also create a case on Cheyenne using UFS MR Weather Model  (or I could do it if you provide me the instructions) that could help to com

[2020-08-13 22:45] climbfuji commented on #169
Interesting ...

When I ran the regression tests yesterday for the ufs-weather-model release/public-v1 branch, everything worked on Cheyenne. See https://github.com/ufs-community/ufs-weather-model/pull/186.

Are you using the correct versions of the compiler? This is the modulefile for cheyenne.intel: https://github.com/ufs-community/ufs-weather-model/blob/develop/modulefiles/cheyenne.intel/fv3
[c

[2020-08-14 15:55] KateFriedman-NOAA commented on #156
@ligiabernardet I've copied George's test data to the inputdata folder:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/inputdata/202002/gfs.20200202/00/

@ligiabernardet @GeorgeGayno-NOAA Please provide the additional blurb (or updated README) for a new netcdf description in the release_README:

- inputdata/ -- This directory contains sample input data for the 00z cycle (note that the GFS model in operati

[2020-08-14 17:14] uturuncoglu commented on #169
@climbfuji CIME is using intel/19.0.5 and mpt/2.19. We did not change anything particular in the build system but it might be nice to check again build options. If you don't mind and if you have, please let me know the run and build directories on Cheyenne and I could use them to compare the configurations.

[2020-08-14 17:52] ligiabernardet commented on #169
@Ufuk Turuncoglu - NOAA Affiliate <ufuk.turuncoglu@noaa.gov> Dom is on
leave for 10 days.
My understanding is that you need to use this module file for
cheyenne/intel:
https://github.com/ufs-community/ufs-weather-model/blob/release/public-v1/modulefiles/cheyenne.intel/fv3.
Note that this is from the *release/public-v1 *branch. In Dom's last
comment he pointed you to the file from the develop branc

[2020-08-14 17:55] uturuncoglu commented on #169
@ligiabernardet it is fine. I'll try to run the model outside the CIME and find the differences. I'll keep you posted about the progress and if I need any help.

[2020-08-14 18:12] #154 closed

[2020-08-14 18:14] KateFriedman-NOAA commented on #156
@ligiabernardet George provided updated text for the README via email. Have updated release_README to include the netcdf blurb. Thanks @GeorgeGayno-NOAA !

[2020-08-14 18:15] rsdunlapiv commented on #155
This applies to all pre-configured platforms.  This needs to be confirmed before the release.

[2020-08-14 18:42] rsdunlapiv commented on #155
CIME should be referencing the precofnigured machine modulefiles than @climbfuji is setting up for each platform, e.g.:
`https://github.com/ufs-community/ufs-weather-model/blob/release/public-v1/modulefiles/hera.intel/fv3`

[2020-08-14 19:35] rsdunlapiv commented on #155
@jedwards4b and @uturuncoglu - is there any reason not to reference the modulefiles that @climbfuji has set up for each preconfigured platform within the config_machines.xml for each machine?
`https://github.com/ufs-community/ufs-weather-model/blob/release/public-v1/modulefiles`
It seems that if we do this, we would never have to update `config_machines.xml` moving forwards as it would stay up to

[2020-08-14 19:45] uturuncoglu commented on #155
@rsdunlapiv actually we were pointing @climbfuji NCEPLIBS installation for release. I think that the modules files were also same but I am not fully sure about that and needs @jedwards4b input.

BTW, this could be little bit problematic for us in the future because UFS HAFS application will need newer version of ESMF (>8.1.0 beta snapshot 24) . Currently, we are not supporting Intel+IntelMPI combi

[2020-08-14 19:54] arunchawla-NOAA commented on #155
If you use the module files with the model repositories then that should take care of it. In any case when the final release of esmf 8.1.0 comes out then we do update all our models to that.

[2020-08-14 19:56] rsdunlapiv commented on #155
@uturuncoglu Does pointing to the NCEPLIBS installation include *all* modules, such as the compiler and mpi?  I didn't think so - so it seems we are duplicating that information in the CIME config_machines.xml.  This is why I am advocating using the modulefiles inside the ufs-weather-model repository.

Regarding different versions of ESMF (and other libs) - there is a very high likelihood that dif

[2020-08-14 20:06] uturuncoglu commented on #155
@rsdunlapiv not it just point ESMF, model related libraries and tools that are used for pre- and post-processing. The CIME also looks to environment variables that are defined by NCEPLIBS provided special script (setenv_nceplibs.sh, needs to be source before run). The rest of the module files need to be define in the machine.xml file and needs to be consistent with NCEPLIBS installation.

I am not

[2020-08-14 20:06] arunchawla-NOAA commented on #155
these modules have to be determined at the model build level and the information is provided there. CIME should just use that

[2020-08-14 20:14] uturuncoglu commented on #155
@arunchawla-NOAA even if we use build level information (modules, compiler options etc.) coming from model itself, I think we have to map some of those build variables to CIME internal ones. Currently we are using configure_cime.cmake file in the UFSATM interface to map CIME internal compiler flags to model's one. If we need to support different combinations and configurations for each app then we

[2020-08-14 21:11] rsdunlapiv commented on #155
@uturuncoglu to keep things as simple as possible for this specific release, is the only dependency requiring the updated ESMF library CDEPS?  Since CDEPS is not used in the release, can it be removed as a dependency?

If we need application-based config_machine.xml files, should we introduce separate CIME_MODEL directories - so instead of only "UFS" we would have UFS_MR, UFS_HAFS, and UFS_S2S?

[2020-08-14 21:17] rsdunlapiv commented on #162
@uturuncoglu this is one of the main items that we need to take care of before the release.  Please keep us posted as you try the modules provided by @climbfuji.

[2020-08-14 21:35] rsdunlapiv commented on #156
@uturuncoglu
Where do the ICs come from when you run the CIME regression test suite for the MR Weather app?
Is it from the sample data provided here:
`ftp.emc.ncep.noaa.gov/EIB/UFS/`
or the now defunct FTP site? 
`ftp://nomads.ncdc.noaa.gov`

I am trying to see whether we need to fix the FTP site issue before anyone can run the regression test suite or if having the files on the sample data server

[2020-08-14 21:40] uturuncoglu commented on #155
@rsdunlapiv Currently we implemented a way to get rid of CDEPS dependency by setting an environment variable. Yes, having different config directories under CIME for each UFS application could simplify the implementation but it also results lots of duplications and supporting of those applications could be problematic in the future.

[2020-08-14 21:44] ligiabernardet commented on #156
Thank you @KateFriedman-NOAA and @GeorgeGayno-NOAA  for the update to the ftp site (https://ftp.emc.ncep.noaa.gov/EIB/UFS). It looks good to me.

[2020-08-14 21:47] uturuncoglu commented on #162
@ligiabernardet that is great! I'll look at them. Currently, I have problem related with the unification of UFSATM CIME interface and updating the model. The updated model can not be built with existing interface (more information in https://github.com/ufs-community/ufs-mrweather-app/issues/169) and needs to be handled first.  Then, I could start to the initial implementation of supporting new dat

[2020-08-14 22:00] uturuncoglu commented on #156
@rsdunlapiv it depends on the order of the servers defined under CIME and their availability. The current order,

1. ftp.emc.ncep.noaa.gov/EIB/UFS/
2. https://nomads.ncdc.noaa.gov
3. ftp://nomads.ncdc.noaa.gov

So, the test data is coming from ftp.emc.ncep.noaa.gov/EIB/UFS/ because it is the first server that file available.

[2020-08-17 16:23] uturuncoglu commented on #169
@ligiabernardet I just wonder that how can i clean existing build?

[2020-08-17 17:41] ligiabernardet commented on #169
@Laurie Carson <carson@ucar.edu> Can you help answer this question?

On Mon, Aug 17, 2020 at 10:24 AM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-17 20:16] uturuncoglu commented on #169
@climbfuji @ligiabernardet it seems that the error is gone whan I update the model to the latest. I am still testing it and I'll double check.

[2020-08-17 20:32] panll commented on #169
Hi, ufuk,
you can use following command to do the compiling under the test directory :
./compile_cmake.sh $PWD/.. cheyenne.intel 'CCPP=Y' Yes Yes

the option "Yes" is to set the clean up before and after the build.

@uturuncoglu

[2020-08-17 20:40] uturuncoglu commented on #159
@GeorgeGayno-NOAA how do we have distinction between 0.5 deg. gfs-004 files and 1.0 deg gfs-003 files in chgres_cube?

[2020-08-17 20:42] GeorgeGayno-NOAA commented on #159
chgres_cube will automatically determine whether it is the 0.5-degree or 1.0-degree data.

[2020-08-17 20:47] uturuncoglu commented on #159
@GeorgeGayno-NOAA Thanks for the information. @ligiabernardet Under CIME we were using input_type to have distinction between NEMSIO and GRIB2 but there is no way to tell CIME to use 1.0 or 0.5 deg. data. For example, if the input directory have both of them and if user want to use a 1.0 deg. data it would be hard to use it. We might need to introduce new namelist variable just by used internally

[2020-08-17 20:54] rsdunlapiv commented on #159
@uturuncoglu does this affect both the automatic download and the input to chgres?  This seems like something the user would definitely want to be able to control.  Alternatively, CIME could always default to 1.0deg and we could document how the user would manually stage the 0.5deg data and update the chgres namelist.

If you were to add a new CIME variable, what would it be called?

[2020-08-17 20:55] jedwards4b commented on #159
@uturuncoglu I think we set a default and let the user know how to change it in user_nl_ufsatm.   We don't need a new variable.

[2020-08-17 21:01] uturuncoglu commented on #159
@rsdunlapiv Then we could only support for example automatic download for 1.0 deg. data. Is it fine for you @ligiabernardet? Currently there is no way to change it via user_nl_ufsatm unless we introduce new variable because the prefix of the file will change based on its resolution. This could be an option stored in env_run.xml or others. Do you have any suggestion @jedwards4b?

[2020-08-17 21:01] rsdunlapiv commented on #161
@uturuncoglu @jedwards4b in order to handle the two different FTP sites (historical and current) is this as simple as listing both of them in the config_inputdata.xml?  i.e., if a particular date is not found in the "current" FTP site, it would then try the "historical" site that is next in the list?

[2020-08-17 21:04] ligiabernardet commented on #159
IMHO, auto-download for the 0.5 deg (gfs_4*) files, as is currently done,
is sufficient. I don't we need to auto-download 1 deg files.
My understanding is that chgres_cube will detect the resolution of the
GRIB2 file and process accordingly. The way a user can control which file
is used is by the name of the file. In chgres_cube, the variable
grib2_file_input_grid describes the name of the file to

[2020-08-17 21:08] uturuncoglu commented on #159
@ligiabernardet okay. let me work on the implementation that supports automatic download of both 0.5 and 1.0 deg. files. I could make 0.5 deg. as default and user might modify **resolution_for_grib2** variable through the use of user_nl_ufsatm to use 1.0 deg. files and download them. What do you think?

[2020-08-17 21:17] ligiabernardet commented on #159
@Ufuk Turuncoglu <turuncu@ucar.edu> It is fine with me if you want to
proceed this way. For the v1.0.0 we did not have auto-downloads of 1.0 deg
data, and that was not a problem. So, I don't think it is a requirement for
this release. But of course it is nice to have.
Question: what about 0.25 deg GRIB2 files? The App UG introduction mentions
support for 0.25 degrees data. I have never used that.

[2020-08-17 21:20] jedwards4b commented on #161
Yes, as long as the files within the two sites have the same naming convention that would work.

[2020-08-17 21:33] uturuncoglu commented on #161
Yes, I already defined them. I'll testing them after implementation of setting that defines the file prefix based on selected resolution (1.0 and 0.5 deg.).

[2020-08-17 21:47] rsdunlapiv commented on #161
Okay, great - thanks @uturuncoglu !

[2020-08-17 22:11] uturuncoglu commented on #159
@ligiabernardet it is done now. CIME could handle both 0.5 and 1.0 deg. files and it could also retrieve them from the server. I never try to use 0.25 deg. data. If we know the remote location and if chgres supports it we could also support it under CIME. Just by adding resolution_for_grib2 = "1.0" or resolution_for_grib2 = "0.5" you could have different file prefix gfs4 or gfs3. The resolution_fo

[2020-08-17 22:13] uturuncoglu commented on #169
Okay. Thanks @panll.

[2020-08-17 22:27] ligiabernardet commented on #159
Great, thanks.

[2020-08-18 18:32] ligiabernardet opened #172 "NEMS repository: need tag and update of github.io doc display"
A release tag, called ufs-v1.1.0, needs to be created in repository https://github.com/NOAA-EMC/NEMS, branch release/public-v1.  A documentation website called https://noaa-emc.github.io/NEMS_doc_ufs-v1.1.0 needs to be created.
@arunchawla-NOAA Do you have someone at EMC that can do this?

[2020-08-18 18:47] ligiabernardet opened #173 "GFDL_atmos_cubed_sphere repo: need doc update and tag"
A release tag, called ufs-v1.1.0, needs to be created in repository https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere, branch release/public-v1. Before making this tag, make sure that the documentation is in order and ready to be uploaded to https://noaa-emc.github.io/FV3_Dycore_ufs-v1.1.0/html/index.html. I suggest we only make minor updates to have the version number show up properly in the H

[2020-08-19 18:22] uturuncoglu commented on #162
@ligiabernardet what is the last three digit in the file - gfs.tHHz.atmf000.nc. I think it is forecast hour of input data but I am asking to be sure. Do we need only support 000? i.e. analysis. Is there any use case that user might need to start some other time, for example gfs.tHHz.atmf003.nc

[2020-08-19 18:32] uturuncoglu commented on #162
@ligiabernardet BTW, *tHHz* part could change also?

[2020-08-19 18:55] ligiabernardet commented on #162
tHH: This is the time of GFS initialization, and could change to be 00, 06,
12, 18. No other options, as the model only starts 4 times a day.
f000: 000 is the forecast time, that is, 000 is the initial time. In
my opinion, all we need is 000 (not 003 etc.)

On Wed, Aug 19, 2020 at 12:32 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-19 20:23] uturuncoglu commented on #162
@ligiabernardet Thanks for the information. That is really helpful and simply the CIME interface. I have already implemented gaussian_netcdf option and I am testing it now. I'll let you know when I have successful run with NetCDF files.

[2020-08-19 20:55] uturuncoglu commented on #169
Hi all, it seems that I was wrong and I am getting same error with updated code. If I try to create a new case and try to do a fresh build, it fails with

`Building atm with output to /glade/scratch/turuncu/ufs-mrweather-app-workflow.c96v2/bld/atm.bldlog.200819-142748
/glade/scratch/turuncu/ufs-mrweather-app-workflow.c96v2/bld/atm/obj/FV3/ccpp/physics/physics/radiation_aerosols.f(4840): error #508

[2020-08-19 21:02] ligiabernardet commented on #169
Hi Ufuk, Unfortunately I do not know what could be causing this problem. My
understanding is that the model is building fineas a standalone (outside of
CIME). Have you built the model as standalone successfully? - if so, then
you could look at any differences. If you need DTC to build it on Cheyenne
for you, let me know.

On Wed, Aug 19, 2020 at 2:55 PM Ufuk Turunçoğlu <notifications@github.com>
w

[2020-08-19 21:03] uturuncoglu commented on #162
@ligiabernardet @climbfuji I run the CHGRES with netCDF input and it is failing without giving any error messages. I am using C96 resolution to test and grib2 works without any problem in same number of processor. I just wonder do we need to allocate more processor, if we are processing netCDF input in CHGRES? Here is my config.nml

[code]

You could reach full CHGRES log from here,

`/glade/scrat

[2020-08-19 21:10] uturuncoglu commented on #169
Yes, I could build standalone model outside of CIME without any problem. @jedwards4b is also looking for the possible differences now.

[2020-08-19 21:17] ligiabernardet commented on #162
Ufuk, To my knowledge there is no change in global_hyblev.l65.txt etc.
Regarding the number of processors, the documentation
<https://ufs-utils.readthedocs.io/en/latest/chgres_cube.html#chgres-cube-namelist-options>
says
it should be a multiple of 6. I used 6 in my test for C96. My run of the
C96 chgres_cube standalone with the netCDF input on Hera. I have placed the
script along with two namelist

[2020-08-19 21:21] uturuncoglu commented on #162
@ligiabernardet Thanks for the information. I doubled the number of processor from 36 to 72 for C96 and it seems it process the data and produce the inputs. I did not test the model yet with this input but it seems that "gaussian_netcdf" requires more resource in terms of memory. It would be nice to document it in somewhere. Maybe it could be optimized in CHGRES side. I am not sure.

[2020-08-19 21:23] uturuncoglu commented on #162
@ligiabernardet varmap is not a requirement for netCDF if I look at the link. It is just for GRIB2.

[2020-08-19 21:23] ligiabernardet commented on #162
Great to know.
BTW, I looked again at the documentation and you should not need varmap for
netCDF.

On Wed, Aug 19, 2020 at 3:21 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-20 15:57] uturuncoglu commented on #162
@ligiabernardet @arunchawla-NOAA @rsdunlapiv @climbfuji i have successful run with netCDF input. I also updated app. So, if you want to test it here is the instructions:

[code]

BTW, if you want to test gfs3 and gfs4 input, you just need to add resolution_for_grib2 = "1.0" or resolution_for_grib2 = "0.5" to user_nl_ufsatm. If you don't add anything gfs4 is the default unless if you have netcdf fi

[2020-08-20 16:52] fossell opened #174 "Customizing UPP output"
UPP team now has procedures for adding/modifying the requested output fields from UPP within the MRW app.  @hertneky is leading this effort and plans to present this information in the upcoming training for MRW this fall. As such, we'd like to include this info in the v1.1 documentation.

The content itself for app documentation will be minimal since the bulk of the procedures are in the general U

[2020-08-20 22:07] hertneky commented on #174
I think section 4.2.3 would be a good spot for this type of information. I have only tested modifying the UPP parameter files for use in MRW on a pre-configured machine. These are the instruction that I have put together. This is done manually and does not have a handy command/script within cime to perform this change.

1. If on a pre-configured machine, where EMC_post is in a pre-built, centraliz

[2020-08-21 03:46] ligiabernardet commented on #174
@arunchawla-NOAA @mvertens Pls review this proposed enhancement. With this addition the user will be able to customize output files (which  was feedback we received via Graduate Student Test). The only con is that modifications are outside of CIME and, in preconfigured platforms, require that the user clone the post cone.

[2020-08-21 04:10] ligiabernardet commented on #162
@Ufuk Turuncoglu - NOAA Affiliate <ufuk.turuncoglu@noaa.gov> I believe this
commit went to the wrong branch. We are using release/public-v1. This is
the naming convention that was agreed upon. It is a copy of the branch that
was used for the last release. We are simply adding to the same branch that
was used for the last release. Could you please direct your commit to that
branch? Sorry for the co

[2020-08-21 04:20] uturuncoglu commented on #162
@ligiabernardet i am not sure. I did it intentionally becuase we were using ufs-release-v1.0 branch for development and then it became publicly available as release/public-v1. I did not want to push modifications that are not fully tested on all supported platforms to release/public-v1. We still need to run full test suite on Cheyenne, Stampede, Orion etc. Anyway, if you want me to update release/

[2020-08-21 04:22] uturuncoglu commented on #162
@ligiabernardet i have no access to Hera and i don't know it works or not in there. We also need to update NCEPLIBS module for all platforms that are supported in release 1.0. So, my understanding is that we are not ready yet to go public.

[2020-08-21 04:27] ligiabernardet commented on #162
Ufuk, okay, we can use the branch you proposed (ufs-release-v1.1) for the
test. Once we have something we are more confident on, it should go to
release/public-v1.
Dom has already rolled out the NCEPLIBS module in all supported platforms.
Please see https://github.com/ufs-community/ufs-mrweather-app/issues/157.
Is anything missing?

On Thu, Aug 20, 2020 at 10:22 PM Ufuk Turunçoğlu <notifications@g

[2020-08-21 04:31] uturuncoglu commented on #162
@ligiabernardet That is great. I'll check the platforms and make modifications in the CIME side accordingly. I could test the model on Cheyenne, Stampede and maybe Orion but other platforms need to be tested also.

[2020-08-21 04:38] ligiabernardet commented on #162
@Ufuk Turuncoglu <turuncu@ucar.edu> Would it be possible for you to
update config_machines.xml based on
https://github.com/ufs-community/ufs-weather-model/blob/release/public-v1/modulefiles
for Hera/Intel? That way I can also test on Hera.

On Thu, Aug 20, 2020 at 10:31 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-21 04:42] uturuncoglu commented on #162
@ligiabernardet sure. I'll do it tomorrow first thing and let you know.

[2020-08-21 19:33] ligiabernardet opened #175 "Namelist options for CompSet GFSv16beta need to be updated"
These values should be used in input.nml for CompSet GFSv16beta: d2_bg_k1=0.15, d2_bg_k2=0.02.
Details in https://forums.ufscommunity.org/threads/strength-second-order-damping-top-layers

[2020-08-24 16:26] ligiabernardet commented on #169
@climbfuji Do you have any idea what can cause this problem that Jim and Ufuk reported? They cannot compile the code, but at a second attempt it works. Linlin and I were not able to reproduce the problem using the updated CIME on Hera or Cheyenne.

[2020-08-24 16:28] climbfuji commented on #169
Not sure. Maybe some default libraries loaded in the user environment? Always a bad idea. We usually do "module purge" before we build anything.

[2020-08-24 16:34] uturuncoglu commented on #169
@climbfuji module purge also exist in the CIME interface. I also compared that specific source file with old version of model that was used in 1.0 and it seems that source file is same and did not change since last release. It is strange but it gives error sometimes.

[2020-08-24 16:40] climbfuji commented on #169
Can I check out the latest version using branch release/public-v1 of the ufs-mrweather-app and then use the manage externals utility?

[2020-08-24 16:57] uturuncoglu commented on #169
@climbfuji yes you could test it with latest version of app but you need to use ufs_fix branch for CIME. This will be merged with CIME later. Here is the instructions to test,

[code]

[2020-08-24 16:59] uturuncoglu commented on #169
BTW, currently I am running full CIME test suite again. I also did it at the weekend and only two test failed with the compile error even with sequential build (make -j 1). So, the error is not consistent.

[code]

[2020-08-24 19:24] ligiabernardet commented on #175
@uturuncoglu has let us know this is complete.

[2020-08-24 19:24] #175 closed

[2020-08-24 19:48] climbfuji commented on #169
Don't think it matters but are you using tcsh or bash on cheyenne?

[2020-08-24 19:50] arunchawla-NOAA commented on #174
@hertneky can EMC-Post read the xml file as an input file (I understand that it is slower) but for public release speed is not that major a concern so instead of following this convolutes step to create flat files, it may be better to just be able to use the xml files

[2020-08-24 19:53] uturuncoglu commented on #169
I am using BASH shell.

[2020-08-24 19:59] climbfuji commented on #169
As a first step, I just built the model as follows:
[code]
This worked for both Intel and GNU. I will now try checking out the ups_fix CIME branch and build the model through CIME.

[2020-08-24 20:05] ligiabernardet commented on #173
Today there was a meeting with @bensonr, @arunchawla-NOAA , Lauren Chilutti and myself. We decided that the we will do some documentation updates by submitting PRs to  https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere, branch release/public-v1. Once updates are ready and a tag is created, EMC will upload the HTML to https://noaa-emc.github.io/FV3_Dycore_ufs-v1.1.0/html/index.html.  The list of

[2020-08-24 20:10] ligiabernardet opened #176 "CIME needs to recognize standardized names for raw ICS"
For v1.1 the user will have to stage the raw ICs on disk by themselves - autodownloads will not be supported.
The user will stage their raw IC with file name atm.input.ic.grb2 or atm.input.ic.nemsio or  atm.input.ic.nc according to the file format (GRIB2, NEMSIO, or netCDF, respectively). CIME will prepare the input for chgres_cube accordingly.

[2020-08-24 20:10] ligiabernardet commented on #161
It was decided that we will NOT have autodownloads for release v1.1 due to the naming inconsistencies in the NCEI website. This topic has moved to https://github.com/ufs-community/ufs-mrweather-app/issues/176.

[2020-08-24 20:10] #161 closed

[2020-08-24 20:49] climbfuji commented on #169
Ok, here is what I did:
[code]
This worked for both Intel and GNU.

[2020-08-24 20:51] uturuncoglu commented on #169
@climbfuji Okay. Strange. I am not sure what we will do with this. I'll try to use app v1.0 to see same error in there or not.

[2020-08-24 21:04] fossell commented on #174
@arunchawla-NOAA - It's not that simple, the read routines has been reconfigured to read in the flat text file.  I don't think the xml read routine has been kept up to date. Actually I don't think it even exists in the code anymore.  So unfortunately we're stuck with the convoluted steps to create flat files. Though, once you pull the EMC_post repo and have the scripts and are familiar, it is rela

[2020-08-24 21:04] climbfuji commented on #169
In https://github.com/ufs-community/ufs-mrweather-app/issues/169#issuecomment-678485639 you are running the build on a compute node using qcmd. Are you always doing that? I think @ligiabernardet, @panll and myself compiled on the login node.

[2020-08-24 21:14] uturuncoglu commented on #176
The files need to be named as follows;

* NEMSIO - atm.input.ic.nemsio and sfc.input.ic.nemsio
* GRIB2 - atm.input.ic.grb2
* NETCDF - atm.input.ic.nc and sfc.input.ic.nc

[2020-08-24 21:30] uturuncoglu commented on #169
@climbfuji No. I tested both of them. To run the test suite, i am using compute node but creating standalone new case I am using login node.

[2020-08-24 22:18] ligiabernardet commented on #176
@uturuncoglu Just to confirm. We are also turning off the autodownload of raw ICs from the ftp site, correct? So, even for the default date for the App, users will do the manual staging of data. Pls confirm.

[2020-08-24 22:32] uturuncoglu commented on #176
@ligiabernardet yes, i have just implemented it and i am testing now. So, user need to download IC manually (even for the default date) but other static files can be still retrieved automatically by CIME

[2020-08-24 22:38] llpcarson commented on #176
But, for pre-configured platforms, the default case is already staged,
correct?  i.e. cheyenne at $CESMDATAROOT/ufs_inputdata/icfiles/?

Or is that changing with this change?  The Getting-Started and GST doc may
need to be updated, too, in that case.

Laurie

On Mon, Aug 24, 2020 at 4:19 PM ligiabernardet <notifications@github.com>
wrote:

[2020-08-25 14:36] laurenchilutti commented on #173
Can you confirm that the **Parameters List** is the specific documentation you are requesting to be updated?

- the html Parameters List:  https://noaa-emc.github.io/FV3_Dycore_ufs-v1.0.0/html/group__Parameters__List.html

- the FV3 doxygen code producing the html: https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/blob/ufs-release/public-v1/model/fv_control.F90#L650

And I have a few clarifying

[2020-08-25 15:31] uturuncoglu commented on #176
@llpcarson yes, that is correct and the default initial conditions must be in those platforms. But, when we decide not to get files automatically from server and assign them a static name like atm.input.ic.grb2, the existing files will not work anymore unless we link the IC files using new name convention.

[2020-08-25 15:46] ligiabernardet commented on #173
Yes, I confirm that we want to update the HTML Parameter list. I believe you are correct that it originates from  https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/blob/ufs-release/public-v1/model/fv_control.F90#L650. It would be good for you to run Doxygen and confirm. We also need an update of the version number that appears on the GitHub.io page. The current page (https://noaa-emc.github.io/

[2020-08-25 17:50] uturuncoglu commented on #174
@ligiabernardet @arunchawla-NOAA i implemented a way in CIME interface to use user custom generated flat files in the post. Simply, user need to place his/her custom flat files (postxconfig-NT-GFS-F00.txt , postxconfig-NT-GFS.txt) to CaseDocs directory under CIME case directory. CIME will look those files and if they exist, it will comply to run directory rather than linking files form NCEPLIBS. I

[2020-08-25 18:12] ligiabernardet commented on #174
Works for me.
I assume the flat file in CaseDocs directory can be a link to somewhere
else where the user has the actual file.

On Tue, Aug 25, 2020 at 11:50 AM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-25 18:30] hertneky commented on #174
This will work as well. Just to be clear, this method requires the user to have created the case workflow. Then they would place the new parm file in the CaseDocs dir in the workflow directory. Then the user would setup/build/run the case as usual and it would use that new parm file? Correct?

[2020-08-25 19:47] uturuncoglu commented on #174
@ligiabernardet I did not test with link but in theory it must work. It just copy the file to the run directory.

@hertneky yes, the CIME case need to be defined by including post step (--workflow ufs-mrweather). Then, user could use the regular steps to build and submit the case. If the flat file is okay, then post will use the custom flat files and create desired output.

Once, the app is ready,

[2020-08-25 20:10] hertneky commented on #174
@uturuncoglu thanks. Assuming the user would need to keep the name of the files the same (postxconfig-NT-GFS-F00.txt and postxconfig-NT-GF.txt) and that if they altered the names, it would then grab these from the pre-installed library location? Is this of any concern? Is there a place in a log file stating path of the parm files used.
It was also clear to me when I was testing this that, dependin

[2020-08-25 20:16] uturuncoglu commented on #174
@hertneky yes, you need to use same convention. So, you need to name files as postxconfig-NT-GFS-F00.txt and postxconfig-NT-GF.txt. I could add the log to CIME side and when you build or submit the case, you could see the files that are placed in the run directory. Yes, in run directory the used file is lined as postxconfig-NT.txt. This is a part of post script implemented in CIME workflow. So, ju

[2020-08-25 20:24] hertneky commented on #174
@uturuncoglu thanks for the confirmation - this all sounds good. I think a simple statement in the log stating the path of the config being used is good to have, that way the user can confirm it is getting their modified config.

[2020-08-25 20:27] uturuncoglu commented on #174
@hertneky sure, I'll add the log.

[2020-08-25 22:06] uturuncoglu commented on #169
@ligiabernardet @climbfuji we are trying to update CIME to use model's internal module files. So, I tried to update the model (release/public-v1) but I could not see the Orion module files. It seems it is exist in develop,

https://github.com/ufs-community/ufs-weather-model/blob/develop/modulefiles/orion.intel/fv3

is there any plan to bring Orion module file to release/public-v1 branch?

[2020-08-26 19:18] hertneky commented on #174
@uturuncoglu Quick question for clarification. When CIME looks for the new flat text files, does it look for both the postxconfig-NT-GFS.txt AND postxconfig-NT-GFS-F00.txt at the same time at the beginning or does it look individually for the appropriate one, based on forecast lead time, over the course of the run.
For example, do both need to be present in CaseDocs in order for this to work prope

[2020-08-26 19:49] uturuncoglu commented on #174
@hertneky CIME looks them and replaces with the default one. In theory, you could use the default one for postxconfig-NT-GFS-F00.txt and custom one for postxconfig-NT-GFS.txt or vice versa but I did not try by myself.  The post template script handles which one will be used for the current time step. So, the first time step uses the one with F00 suffix.

[2020-08-27 03:29] ligiabernardet commented on #169
@uturuncoglu I talked to @climbfuji who let me know that most modules (apart from Hera and Cheyenne) in the release/public-v1 are not up to date because the App was not previously using those. He said he'd update those modules soon.

[2020-08-27 03:49] ligiabernardet opened #177 "App needs to run with Python 3"
One of the upgrades for this release is the CCPP capability to use Python 3 (implemented by @climbfuji , which was requested by users. The standalone UFS Weather Model has been successfully tested with Python 3.  However, @pjpegion has reported that the he was not able to run the App with Python 3.
[code]
It appears xrange is Python 2.x; may need to switch to range.
Attn: @uturuncoglu

[2020-08-27 03:53] ligiabernardet commented on #173
@laurenchilutti Variable gfs_phil in namelist fv_core_nml is not used in the public release or top of develop branch. Therefore you could document it by saying something like "Obsolete - will be deleted".

[2020-08-27 12:30] laurenchilutti commented on #173
@ligiabernardet I have reached out to the FV3 team at GFDL for clarification on variable ```d2_bg_k2```.  According to them,:  ```d2_bg_k2``` is a damping parameter controlling second order diffusion for only the second model layer from the top (k=2).  The only difference when ```d2_bg_k2``` is set to 0 is that the second-order diffusion is applied to only the top-most layer (k=1) rather than to b

[2020-08-27 13:26] fossell commented on #174
@uturuncoglu Thanks for the clarification. I think we can test some of this just to see what the behavior is.  As long as there is log output somewhere to know exactly which path/file was used for each forecast hour (or at least one output for F00 and one for the others), then that will help the user and our team to troubleshoot when things go wrong or the user fails to put their new custom files

[2020-08-27 19:12] uturuncoglu commented on #174
@fossell sure. I am waiting for @climbfuji to update the modules in the model and I just want to test one more thing. Then, I'll update the app and you could try to test it.

[2020-08-27 19:17] uturuncoglu commented on #177
@ligiabernardet i fix the issue and replace all xrange statements with range. It is in ufs_update_11 branch of UFSATM interface now. Once the module files are updated in the model side, I'll update the app and let you know to test.

[2020-08-27 19:18] uturuncoglu commented on #169
@ligiabernardet That is great. Please let me know when it is ready.

[2020-08-28 06:12] uturuncoglu commented on #174
@ligiabernardet @fossell @hertneky We decided to change the directory for custom flat files. It was CaseDocs before but that is for output files for case not input and now we are using SourceMods/src.ufsatm for this purpose. Please let me know what do you think?

[2020-08-28 13:17] climbfuji commented on #169
The PRs is here: https://github.com/ufs-community/ufs-weather-model/pull/192 - we should be able to merge this today.

[2020-08-28 13:18] climbfuji commented on #169
Why is this issue called "Error building CCPP" - this is not a CCPP error.

[2020-08-28 14:50] ligiabernardet commented on #174
Sounds good to me.

On Fri, Aug 28, 2020 at 12:13 AM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-28 14:53] ligiabernardet commented on #169
It is historical - that is what was believed at the time. I will change the
subject.

On Fri, Aug 28, 2020 at 7:19 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-08-28 15:22] uturuncoglu commented on #169
@climbfuji Thanks.

[2020-08-28 16:26] climbfuji commented on #169
See the following PRs: https://github.com/NOAA-EMC/NCEPLIBS-external/pull/67 https://github.com/ufs-community/ufs-weather-model/pull/192

[2020-08-28 17:08] hertneky commented on #174
Seems okay to me as well - I will change it in the documentation.

[2020-08-28 19:00] climbfuji commented on #169
All these PRs were merged, should be ready to test.

[2020-08-28 19:02] climbfuji commented on #169
And I can confirm that `ncep_post` no longer depends on libsz on hera and jet (these were the only "bad" machines).

[2020-08-28 19:44] uturuncoglu commented on #169
@climbfuji okay, i am updating the app. I'll let you know when it is ready

[2020-08-28 21:14] uturuncoglu commented on #169
@climbfuji @ligiabernardet @fossell @hertneky Here is the instruction to test the updated app. I tested on Cheyenne and it seems working

export UFS_DRIVER=nems
git clone https://github.com/ufs-community/ufs-mrweather-app.git
cd ufs-mrweather-app
git checkout ufs-release-v1.1
./manage_externals/checkout_externals
cd cime/scripts/
./create_newcase --compset GFSv15p2 --res C96 --case ufs-mrweather-a

[2020-08-28 22:07] hertneky commented on #169
@uturuncoglu Under notes #2. I don't see any files existing in icfiles/201908/20190829. Am I missing something?

[2020-08-28 22:13] uturuncoglu commented on #169
@hertneky it must be in $UFS_INPUTDATA/ufs_inputdata/icfiles/201908/20190829. If you are trying on Cheyyene it must work fine but for other platforms you need to copy the file from following FTP link.

https://ftp.emc.ncep.noaa.gov/EIB/UFS/inputdata/201908/20190829/

This just for IC and other files will be downloaded automatically. ,

BTW, i defined following variables on Orion.

export WORK=/wor

[2020-08-28 22:21] hertneky commented on #169
@uturuncoglu I am running on Cheyenne. What should $UFS_INPUT be on Cheyenne? For v1.0, I did setenv $UFS_INPUT $CESMDATAROOT -> giving a full path of /glade/p/cesmdata/cseg/ufs_inputdata/icfiles/201908/20190829, which does not contain any files. Does $UFS_INPUT need to be changed to point somewhere else.

[2020-08-28 22:24] uturuncoglu commented on #169
@hertneky sorry, i moved them for testing and I forgot it. could you try again. sorry again.

[2020-08-28 22:43] hertneky commented on #169
@uturuncoglu that works now - thanks

[2020-08-28 23:04] hertneky commented on #174
Testing v1.1 update complete for customizing UPP on Cheyenne

Steps
- followed Ufuks steps to clone, checkout, get externals, create case for v1.1
- for UPP param file customization
    - cd to src/post/parm directory
    - make copies of original postcntrl_gfs(_f00).xml and postxconfig-NT-GFS(-F00).txt
    - modify both xmls (**removed** all cape/cin fields in both)
    - type 'make' - remakes bo

[2020-08-28 23:11] hertneky commented on #169
@uturuncoglu Testing flat file customization complete and working as visualized/intended for updated v1.1 on Cheyenne. See #174 for details.

[2020-08-31 02:16] ligiabernardet commented on #173
@laurenchilutti I believe the description of d2_bg_k* you obtained from the  FV3 team at GFDL is accurate for the code in the GFDL master. However, if you compare file dyn_core.F90 between the GFDL master and the public release (https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/blob/ufs-release/public-v1/model/dyn_core.F90), and search for d2_bg_d, you will see some differences. I believe there

[2020-08-31 02:38] bensonr commented on #173
@ligiabernardet @laurenchilutti - Since Jeff Whitaker (PSL) made the
change, then, as per community rules, he should be the one updating the
documentation.

[2020-08-31 13:24] fossell commented on #174
@hertneky - Thanks for running the tests. It sounds like everything is working as we expect and is ready go.  I don't think any other tests are necessary.

[2020-08-31 20:01] uturuncoglu commented on #174
@fossell @hertneky @ligiabernardet I think it might be nice to run full test suite on Cheyenne and maybe Orion to be sure that restart test is passing. I was running on Cheyenne before but it was giving build error. I could test it again.

[2020-08-31 20:58] uturuncoglu commented on #174
After my initial attempt to run full test suite on Cheyenne, I have only three tests that fails with build issue.

[code]

I'll trigger them manually by building model again. The good news is that ERS (exact restart test) and PET (threading test) are passed without any problem.

[2020-08-31 21:27] ligiabernardet opened #178 "Raw ICs staged on preconfigured platforms need to be updated"
On Cheyenne directories $CESMDATAROOT/ufs_inputdata/icfiles/201909/20190829 (App’s default) and 202002/20200202 have been updated to have ICs with the new name required by the App (atm.input.ic.format_of_file). I believe similar updates are necessary on the other preconfigured platforms (Hera, Jet, and Gaea).

On Hera, the directories are owned by @Rocky Dunlap. Can @rsdunlapiv  make these changes

[2020-08-31 21:35] ligiabernardet commented on #174
@Ufuk Turuncoglu - NOAA Affiliate <ufuk.turuncoglu@noaa.gov> Thanks for
working on figuring out the problem. Do you have any reason to believe this
is related to UPP output? I am asking because this is the topic of this
issue.

On Mon, Aug 31, 2020 at 2:58 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-08-31 21:37] uturuncoglu commented on #174
@ligiabernardet I think this is related with the model build specifically https://github.com/ufs-community/ufs-mrweather-app/issues/169. We could close this issue if you want.

[2020-08-31 21:40] climbfuji commented on #178
I am not aware of having such powers, but maybe I do. Unfortunately I can't find where/how `UFS_INPUT` is defined for cheyenne or gaea in the CIME config. File `cime/config/ufs/machines/config_machines.xml` says
[code]
for both platforms.

[2020-08-31 21:40] ligiabernardet commented on #177
@uturuncoglu Now that the machine xml is updated, are there any updates needed on the App? Or can this issue be closed?

[2020-08-31 21:42] climbfuji commented on #177
The instructions we got for testing are using a branch `ufs-release-v1.1` for the app. The naming convention that we agreed upon however says that we should be working on branch `release/public-v1`. The documentation updates all went into branch `release/public-v1`. I assume that ufs-release-v1.1 will be merged into `release/public-v1` and the release tag `ufs-v1.1.0` will be created from that bra

[2020-08-31 21:46] ligiabernardet commented on #177
@climbfuji Are you saying you'd like a PR to release/public-v1 before we start testing? Or test and, after successful, do the PR?

[2020-08-31 21:48] climbfuji commented on #177
We can do testing now, but then we need to redo it after updating `release/public-v1`. Either way is fine. By the way, according to https://ufs-mrweather-app.readthedocs.io/en/latest/quickstart.html#setup-the-environment, the only two platforms that have central=recommended `UFS_INPUT` directories are cheyenne and hera.

[2020-08-31 21:51] ligiabernardet commented on #178
I see. I guess a platform (Jet, Gaea) be preconfigured without having input datasets and fix files staged in centralized locations.

So, the only update needed is for Hera.

[2020-08-31 21:52] uturuncoglu opened #179 "CHGRES error when processing GRIB2 data"
@ligiabernardet @climbfuji

I am getting error on Cheyenne when i try to process the GRIB2 (0.5 deg.) data,

[code]

my CHGRES namelist file

[code]

It seems it is memory issue and we have failure for all C384 (default 144 core for CHGRES) and C768 (default 216 core for CHGRES). Do you have any idea why? It seems that CHGRES memory requirement is higher than the previous release but I am not sure

[2020-08-31 21:52] climbfuji commented on #177
@uturuncoglu I am probably doing something stupid, but I am getting the following error on my Mac:
[code]
Do you see what I am doing wrong? Thanks ...

[2020-08-31 21:54] rsdunlapiv commented on #178
@ligiabernardet
On hera we have:
`/scratch1/NCEPDEV/stmp2/CIME_UFS/ufs_inputdata/icfiles/201908/20190829/gfs_4_20190829_0000_000.grb2`
So this needs to be:
`/scratch1/NCEPDEV/stmp2/CIME_UFS/ufs_inputdata/icfiles/201908/20190829/atm.input.ic.grb2`
?

How would we support multiple input files if we rename it in the ufs_input directory?  Shouldn't the standard name `atm.input.ic.grb2` be used just in

[2020-08-31 21:55] uturuncoglu commented on #177
@climbfuji could you try with setting following?

export UFS_DRIVER=nems

[2020-08-31 21:56] uturuncoglu commented on #177
@ligiabernardet it seems that this issue is resolved. @pjpegion Could you test it again.

[2020-08-31 22:00] uturuncoglu commented on #178
@rsdunlapiv yes. that is correct. we are using following convention to keep different data formats in the same directory.

NEMSIO - atm.input.ic.nemsio and sfc.input.ic.nemsio
GRIB2 - atm.input.ic.grb2
NETCDF - atm.input.ic.nc and sfc.input.ic.nc

but, you could store only 00Z files (or only single time) in the same directory because we don't have hour information in the file and directory naming.

[2020-08-31 22:01] climbfuji commented on #177
Yes, that works. Note that this is not in the ufs mrw readthedocs (at least not for version 1.0.0). Thanks!

[2020-08-31 22:04] rsdunlapiv commented on #178
Okay, I just made this change:
[code]

[2020-08-31 22:04] climbfuji commented on #177
@ligiabernardet do we have documentation on how to download the data? I can't run `./case.build` on my mac, because the automatic downloads are no longer supported:
[code]

[2020-08-31 22:06] uturuncoglu commented on #177
@climbfuji @ligiabernardet yes, that environment variable is new and requires to support multiple UFS app using single interface and CIME version. I could come up with better solution in the future but it is requires for now and the documentation needs to reflect this change and also others such as input data naming convention, disabling automatic download for initial conditions etc.

[2020-08-31 22:55] pjpegion commented on #177
@uturuncoglu CIME and the model now work with python3,. I am now testing with python2 to make sure that still works.

[2020-09-01 02:27] ligiabernardet commented on #179
@GeorgeGayno-NOAA Have there been any changes in chgres_cube from v1.0 release to v1.1 release that would lead it t require more memory when processing GRIB2 data?  And do you know if/how the memory requirements to process GRIB2, NEMSIO, and netCDF format differ?

[2020-09-01 02:27] ligiabernardet commented on #178
OK, that should do it. Tks

[2020-09-01 02:27] #178 closed

[2020-09-01 02:28] ligiabernardet commented on #176
This work is complete and ready for testing.

[2020-09-01 02:28] #176 closed

[2020-09-01 02:29] ligiabernardet commented on #177
This work is complete and ready for further testing.

[2020-09-01 02:30] ligiabernardet commented on #174
This work is complete and ready for further testing.

[2020-09-01 02:30] #174 closed

[2020-09-01 02:31] ligiabernardet commented on #157
This work is complete and ready for further testing.

[2020-09-01 02:31] #157 closed

[2020-09-01 02:32] ligiabernardet commented on #155
This work is complete and if any problems arise we'll open a new issue.

[2020-09-01 02:32] #155 closed

[2020-09-01 02:34] ligiabernardet commented on #149
I am closing this issue since the specific work needed for the 1.1.0 release has been distributed through various issues.

[2020-09-01 02:34] #149 closed

[2020-09-01 02:48] ligiabernardet opened #180 "Planned tests and instructions for testing"
The DTC proposes that we use this [Google Spreadsheet](https://docs.google.com/spreadsheets/d/1nlSC8eOemcFMeiOFnyoi7VPzj2IbIEpWJBGiH6uL_oo/edit#gid=0
) to list the necessary pre-release tests. It has two tabs: Tests and Instructions. Please feel free to add/comment on both tabs or on this issue.
For now we are using branch  ufs-release-v1.1 for the tests. Once a few more problems are ironed out, t

[2020-09-01 04:09] panll opened #181 "cime crashed for nemsio input on Hera"
cime crashed for nemsio input on hera for the test of intel c768

hfe06:/scratch2/BMC/det/lpan/hera/test/mrw/08312020/intel_nemsio/ufs-mrweather-app/cime/scripts/ufs-mrweather-app-workflow.c768>./case.build
Building case in directory /scratch2/BMC/det/lpan/hera/test/mrw/08312020/intel_nemsio/ufs-mrweather-app/cime/scripts/ufs-mrweather-app-workflow.c768
sharedlib_only is False
model_only is False

[2020-09-01 12:29] GeorgeGayno-NOAA commented on #179
The GRIB2 option should not require more memory than before.   I can run a GRIB2 case on only one of our WCOSS nodes.  The netCDF option will require the most memory of the three.  You may be running with more MPI tasks (144 and 216) than you need.  That can sometimes lead to an error.  Try running with 24 MPI tasks.

[2020-09-01 13:58] pjpegion commented on #181
@panll That error looks like a python3 vs python2 issue.  What version of python are you using?

[2020-09-01 14:15] panll commented on #181
i am using python2 @pjpegion

[2020-09-01 14:15] panll commented on #181
python2.7.5

[2020-09-01 15:28] uturuncoglu commented on #179
@GeorgeGayno-NOAA Let me check by reducing number of processor for chgres. I'll update you soon.

[2020-09-01 16:14] ligiabernardet commented on #173
I have emailed Jeff to ask if he can contribute.

[2020-09-01 16:36] pjpegion commented on #181
hmm,  the times I saw a similar error was when I was using python3 when I need to use python2.

[2020-09-01 16:44] ligiabernardet commented on #181
@uturuncoglu Any ideas?

[2020-09-01 16:51] uturuncoglu commented on #181
@ligiabernardet I need to try on Cheyenne to see it is reproducible or not. If not, it could be hard for me to track down the issue and fix it without access to Hera. Let me try and I'll update you.

[2020-09-01 16:52] climbfuji commented on #181
hera is down today anyway

[2020-09-01 16:53] uturuncoglu commented on #181
@climbfuji okay, thanks. it gives me time to test it.

[2020-09-01 18:57] ligiabernardet commented on #177
Closing

[2020-09-01 18:57] #177 closed

[2020-09-01 19:40] ligiabernardet commented on #172
@MinsukJi-NOAA Pls remove the hash from the title.

[2020-09-01 19:54] MinsukJi-NOAA commented on #172
A release tag [ufs-v1.1.0](https://github.com/NOAA-EMC/NEMS/tree/ufs-v1.1.0) has been created in the [NEMS](https://github.com/NOAA-EMC/NEMS) branch [release/public-v1](https://github.com/NOAA-EMC/NEMS/tree/release/public-v1).

[2020-09-01 20:11] climbfuji opened #182 "Tags for release v1.1"
We need to tag the app, and its submodules/externals for release v1.1.

Some tags can't be created yet, because we are still waiting for documention updates and/or final testing.

**The following tags have been created so far, following the naming convention from MRW App release v1.0.0:**
[code]

[2020-09-01 20:16] uturuncoglu commented on #182
@climbfuji

Having EMC_post external was the decision of @ligiabernardet @arunchawla-NOAA to manage changing post flat files. It is just checked out and we are no compiling and doing anything with it.

Currently, I am using branches for CIME and UFSATM_Interface, once I merge with master and test it (hopefully this week), I'll create a tag for them. NEMS_Interface did not change (maybe slightly) a

[2020-09-01 20:17] ligiabernardet commented on #182
- Stochastics was tagged a couple weeks ago by Phil
- EMC_post is now checked out in ufs-mrweather-app to enable customization of post output. The executable will come from NCEPLIBS, only customization files/tolls will come from post repo.

[2020-09-01 20:23] climbfuji commented on #182
`stochastic_physics` in ufs-weather- model branch `release/public-v1` is the following:
[code]
@pjpegion can you help clarify? If there are changes/a new hash for stochastic physics, then we need to run the regression tests when updating it.

**EMC_post**: Ok, I checked and the hash/tag is the same in ufs-mrweather-app than it is in NCEPLIBS (bc6074f08d9b380bd9638ac269bf33c6ec52a641).

[2020-09-01 21:58] pjpegion commented on #182
@climbfuji I created the tag https://github.com/noaa-psd/stochastic_physics/tree/release/ufs-v1.1.0 a coupled of weeks ago off of master.

[2020-09-01 22:06] pjpegion opened #183 "Build failing on orion"
@climbfuji
I followed the instructions on building NCEPLIBS-external and NCEPLIBS on orion, and now I am trying to build the model, and I am getting the following error:

ifort: warning #10315: specifying -lm before files may supersede the Intel(R) math library and affect performance
/work/noaa/gsienkf/ppegion/NCEPLIBS-ufs-v1.1.0/intel-19.1.0.166/impi-2020.0.166/lib/libbacio_v2.2.0_4.a(baciof.f.o)

[2020-09-01 22:44] climbfuji commented on #183
This seems to be a mismatch between compiler versions. Which version of the Intel compiler did you use for NCEPLIBS-external + NCEPLIBS, and which for ufs-weather-model (or are you building through the app)?

[2020-09-01 22:51] pjpegion commented on #183
I'm using these to build the libraries:

Currently Loaded Modules:
  1) intel/2020   2) munge/0.5.13   3) slurm/19.05.3-2   4) impi/2020   5)
hdf5/1.10.5   6) netcdf/4.7.2   7) cmake/3.15.4

and CIME to build the model (which I see is using intel/2019 etc.), I am
using branch ufs-release-v1.1 of the ufs-mrweather-app.

On Tue, Sep 1, 2020 at 4:44 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-09-01 22:52] climbfuji commented on #182
Ok, then we need to check how this tag differs from hash 8accd3f0ac9d821fd6a9aefcd3e1e7b199458f26 and update the submodule pointer in the release/public-v1 branch of ufs-weather-model (if necessary run regression tests).

[2020-09-01 23:05] climbfuji commented on #183
Then CIME needs to be updated; we discussed that the CIME config needs to match the NCEPLIBS-external `doc/README_machine.txt` config of branch release/public-v1. That one has:
[code]
See https://github.com/NOAA-EMC/NCEPLIBS-external/blob/release/public-v1/doc/README_orion_intel.txt.

The confusion may arise from Intel's compiler versioning, where Intel 2020 is in fact 19.1.0.166 and quite differe

[2020-09-01 23:13] climbfuji commented on #182
Phil, that tag/branch `ufs-v1.1.0` is definitely wrong. This is almost the latest version of the code after my changes that made stochastic_physics independent of fv3atm. This will not compile or run with the ufs-weather-model `release/public-v1` branch. You need to go back to hash 8accd3f0ac9d821fd6a9aefcd3e1e7b199458f26, create branch `release/public-v1` from it, and update the documentation onl

[2020-09-02 03:44] uturuncoglu commented on #183
@climbfuji it was defined as intel/2020 before but before removing Orion from the model, it was set like 2018 and downgrade to 2018. Anyway, if you want to use above modules, i could update again.

[2020-09-02 04:25] uturuncoglu commented on #181
@ligiabernardet @panll @pjpegion I could reproduce the problem and fix it. It was related with the minor problem in UFSATM CIME interface and not related with the Python version. It will be available in the next update of the app. First, i need to have a PR in CIME side.

[2020-09-02 13:56] panll commented on #181
Thanks! @uturuncoglu

[2020-09-02 15:11] pjpegion commented on #182
HI Dom,  I understand now.  I did not realize when release 1.1.0 is what
just tweaks off of release 1.0.0.  I thought we were working off of
develop.
I will fix this later this morning.

On Tue, Sep 1, 2020 at 5:14 PM Dom Heinzeller <notifications@github.com>
wrote:

--
Philip Pegion
NOAA/Physical Sciences Laboratory-CIRES
(303) 497-7897
philip.pegion@noaa.gov

[2020-09-02 15:30] climbfuji commented on #182
Thanks, glad we caught this.

[2020-09-02 16:20] pjpegion commented on #182
@climbfuji I think have this sorted out now, and I have created the new tag.

[2020-09-02 16:43] climbfuji commented on #182
Thanks, I'll check it.

[2020-09-02 17:12] climbfuji commented on #182
@pjpegion Ok, I see the tag is now 8accd3f0ac9d821fd6a9aefcd3e1e7b199458f26. Also, please make sure that branch release/public-v1 corresponds to this hash/tag.

Do you want to add any documentation updates to this tag/version? If so, please (re)create branch release/public-v1 based off 8accd3f0ac9d821fd6a9aefcd3e1e7b199458f26, then make any documentation updates, then update release/public-v1 on G

[2020-09-02 17:23] pjpegion commented on #182
@climbfuji are you looking at the correct tag?  ufs-v1.0.0 points to 8accd... but ufs-v1.1.0 (the new one) points to 509f950..., which is the current hash of release/v1.    I updated the documentation to release/v1 before making the ufs-v1.1.0 tag.
The only difference between ufs-v1.0.0 and ufs-v1.1.0 are updates to documentation.

commit 509f95083893a094b65cf23c799ae53816b3f7a9
Author: Philip Peg

[2020-09-02 17:35] climbfuji commented on #182
Mea culpa, I see it know. Hash is:
[code]
I will update the submodule pointer in ufs-weather-model after lunch. Documentation changes only, no need to run regression tests.

[2020-09-02 17:39] climbfuji commented on #182
See here: https://github.com/ufs-community/ufs-weather-model/pull/195 - @junwang-noaa please merge when you have time. Thanks!

[2020-09-02 17:58] ligiabernardet opened #184 "Create new baselines"
Create new baselines on the machines for which the App regression test is setup (Cheyenne and Stampede) so that user's runs can match the baselines.

[2020-09-02 18:03] ligiabernardet commented on #183
@uturuncoglu @climbfuji My understanding is that for platforms that are not preconfigured, we need to make sure the App uses the same modules as the user built NCEPLIBS* with. So, the App needs to match https://github.com/NOAA-EMC/NCEPLIBS-external/blob/release/public-v1/doc/README_machine_compiler.txt.

[2020-09-02 18:07] ligiabernardet commented on #179
@GeorgeGayno-NOAA: @uturuncoglu has let us know that he is having trouble finding the right number of processor to run chgres with. Do you have a recommendation for the number of processors that should be used for the various App supported resolutions  C96, C192, C384, and C768? And should the number of processors vary depending on the format of the data that chgres is reading in?

[2020-09-02 18:51] climbfuji commented on #182
Merged - I updated the description of the PR with the correct hash for stochastic_physics. Thanks, @pjpegion .

[2020-09-02 19:18] GeorgeGayno-NOAA commented on #179
I don't have access to Cheyenne.   But I run some tests on Hera, Jet or Orion.  Is Cheyenne similar to those machines?

[2020-09-02 19:24] climbfuji commented on #179
Cheyenne as 2x18 cores 2.3-GHz Intel Xeon E5-2697V4 (Broadwell) processors, and 64GB of DDR4-2400 memory. I believe hera has more, but NOAA RDHPC docs isnt' working for me at the moment. Here is the Cheyenne documentation: https://www2.cisl.ucar.edu/resources/computational-systems/cheyenne

[2020-09-02 20:58] GeorgeGayno-NOAA commented on #179
I ran a test on xJet, which has 64 GB memory per node.  Input was 0.5-degree grib2 data.  It was mapped to a C768 global uniform grid with 64 atmos. levels.  It ran on two nodes with six tasks per node.  I don't know how close I was to the memory limit.  To be safe (and to reduce wall clock time a bit), you can try three nodes, six tasks per node.  The total number of tasks must be a multiple of s

[2020-09-02 21:01] uturuncoglu commented on #179
@GeorgeGayno-NOAA Thanks. That is really helpful. BTW, how many core exist in the each node?

[2020-09-02 21:04] GeorgeGayno-NOAA commented on #179
24 cores per node.

[2020-09-02 21:33] uturuncoglu commented on #179
@GeorgeGayno-NOAA I could process grib2 (0.5 deg.) C768 using 4 nodes with 6 tasks per node. I'll try same configuration with nemsio and netcdf input.

[2020-09-02 22:10] uturuncoglu commented on #179
@GeorgeGayno-NOAA It seems that same configuration fails with nemsio. I'll try to increase the node.

[2020-09-02 22:16] uturuncoglu commented on #179
@GeorgeGayno-NOAA I tried to use 6 nodes and 8 nodes with 6 tasks per node but it is still failing. If you don't mind could you test in your side?

[2020-09-02 22:20] panll commented on #179
I used 6 nodes, 24 process each node for C768 on Hera. It worked. @uturuncoglu

[2020-09-02 22:25] uturuncoglu commented on #179
@panll Thanks. I am not sure why it is not working in my case. I have 64 GB memory in each node, which is same with Hera. I'll try to increase the number of cores per node. BTW, I could process NETCDF with  8 nodes with 6 tasks per node combination.

[2020-09-02 22:33] uturuncoglu commented on #179
@panll same configuration (6 nodes, 24 process each node for C768) fails on Cheyenne.

[2020-09-02 22:35] uturuncoglu commented on #179
@panll @GeorgeGayno-NOAA 8 nodes, 24 process each node for C768 also fails. Any suggestion?

[2020-09-03 12:11] laurenchilutti commented on #173
Jeff has contributed to a new description for d2_bg_k2, and per email thread with @ligiabernardet I will be removing sections A.2 (coupler_nml), A.8 (nggps_diags_nml), and A.9 (atmos_model_nml) from the dycore documentation as they are not used in the dycore.

[2020-09-03 12:23] GeorgeGayno-NOAA commented on #179
I believe Hera has 96 Gb.

[2020-09-03 12:26] GeorgeGayno-NOAA commented on #179
I will try a nemsio test today.

[2020-09-03 13:25] climbfuji commented on #173
Sounds like great progress, thanks. Once we have that documentation in, we can tag GFDL_atmos_cubed_sphere and fv3atm and move on to finalizing ufs-weather-model.

[2020-09-03 13:46] laurenchilutti commented on #173
GFDL_atmos_cubed_sphere branch ufs-release/public-v1 now contains the documentation updates.

[2020-09-03 13:48] climbfuji commented on #173
Thanks! I will check out this version and if all works as expected update the submodule pointer in fv3atm.

[2020-09-03 13:48] bensonr commented on #173
@laurenchilutti @climbfuji @ligiabernardet - the documentation merge is complete in [NOAA-GFDL::ufs-release/public-v1](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/tree/ufs-release/public-v1).  Please double-check and create an issue in [GFDL_atmos_cubed_sphere](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere) with the desired tag name.

[2020-09-03 14:21] climbfuji commented on #173
@ligiabernardet do you want to take a look before I pull this into the release/public-v1 branch of fv3atm?

[2020-09-03 14:43] GeorgeGayno-NOAA commented on #179
I tried a C768 uniform grid, 64 atmos. levels using nemsio data as input.  On Jet (with 64 Gb per node), I was able to get it to run using 6 nodes, 6 tasks per node.

[2020-09-03 17:55] ligiabernardet commented on #173
I took a look and it all seems reasonable to me. Thank you @laurenchilutti and @bensonr . The final test will be looking at the HTML from Doxygen to make sure sure all is in order.
@MinsukJi-NOAA, @arunchawla-NOAA said you would be the person uploading it to https://noaa-emc.github.io/FV3_Dycore_ufs-v1.1.0/html/index.html. Can you upload so we can look at it before pulling the code into the releas

[2020-09-03 18:03] MinsukJi-NOAA commented on #173
Will do.

[2020-09-03 18:31] MinsukJi-NOAA commented on #173
Please take a look [here](https://noaa-emc.github.io/FV3_Dycore_ufs-v1.1.0/html/index.html)

[2020-09-03 18:51] ligiabernardet commented on #173
@laurenchilutti  @MinsukJi-NOAA There is a subsection title missing in front of A.8 in https://noaa-emc.github.io/FV3_Dycore_ufs-v1.1.0/html/group__Parameters__List.html. Also, the display is missing the UFS logo in the upper left. It says the word "logo". For reference on the logo, see the v1.0.0 doc at https://noaa-emc.github.io/FV3_Dycore_ufs-v1.0.0/html/index.html.

[2020-09-03 18:57] ligiabernardet commented on #179
@uturuncoglu Do you think it would be good to try 6 nodes, 6 tasks per node for C768 on Cheyenne?

[2020-09-03 18:58] MinsukJi-NOAA commented on #173
image folder seems to be missing. Do you just run doxygen or is there a makefile?

[2020-09-03 18:59] laurenchilutti commented on #173
@ligiabernardet section A.8 in v1.1 is the old section A.11 in v1.0 due to removing the 3 sections. And A.11 never had a subsection title.

[2020-09-03 19:28] uturuncoglu commented on #179
@ligiabernardet i was off in the morning, I am checking now.

[2020-09-03 19:59] fossell opened #185 "Update to UPP documentation"
UPP team has some updated tables for the UPP documentation (includes tables of output fields for MRW app) that could be of interest for v1.1.  Mods would only be to doc (rst) files, however would require recreating the v1.1.0 tag so Readthedocs points to the proper tag. This would mean inconsistent hashes between preinstalled UPP tags already established on supported systems and new hash on the UP

[2020-09-03 20:16] uturuncoglu commented on #179
@ligiabernardet @GeorgeGayno-NOAA I am still getting error with those configuration. The CHGRES fails with `rc=<error reading variable: Cannot access memory at address 0x0>,` error.

[2020-09-03 20:38] uturuncoglu commented on #179
i also increased the number of nodes from 6 to 8 but still failing. Any suggestion?

[2020-09-03 20:55] rsdunlapiv commented on #179
@uturuncoglu - @arunchawla-NOAA was asking if we ran chgres outside of CIME on Cheyenne.  Is this something you have tried?

[2020-09-03 20:57] uturuncoglu commented on #179
@rsdunlapiv no I did not try it but I could check it. BTW, I could process GRIB without any problem with 6x6 combination under CIME.

[2020-09-03 21:03] MinsukJi-NOAA commented on #173
UFS logo issue has been fixed.

[2020-09-03 21:10] uturuncoglu commented on #179
@rsdunlapiv I run chgres outside of the CIME with 6x6 combination that works on Jet but still fails on Cheyenne.

[2020-09-03 21:14] GeorgeGayno-NOAA commented on #179
Do you know the exact line where it is failing?

[2020-09-03 21:15] uturuncoglu commented on #179
Here is the full trace that I have

[code]

[2020-09-03 21:16] uturuncoglu commented on #179
@GeorgeGayno-NOAA i also submit job to big memory nodes which has 109 GB memory on each node. I'll run with 6x6 combination and let you know.

[2020-09-03 21:17] uturuncoglu commented on #179
@GeorgeGayno-NOAA it is still failing with same way. it seems that it is not due to memory limitation.

[2020-09-03 21:18] uturuncoglu commented on #179
@GeorgeGayno-NOAA @ligiabernardet is there any change the input_data type in chgres side for nemsio?

[2020-09-03 21:19] GeorgeGayno-NOAA commented on #179
ESMF outputs "PET" files.  What do they say?  Your trace says the failure is in program_setup.  That is very early in the processing.

[2020-09-03 21:19] uturuncoglu commented on #179
As I know we where using gaussian before for nemsio but if I look at the chgres there are two options, gaussian_nemsio and gfs_gaussian_nemsio

[2020-09-03 21:20] uturuncoglu commented on #179
It says ` - FATAL ERROR: UNRECOGNIZED INPUT DATA TYPE.` so I am setting input data type as gaussian. I think it is changed in the CHGRES when netcdf is introduced. Am I right?

[2020-09-03 21:24] ligiabernardet commented on #179
NEMSIO -> gaussian
netCDF -> gaussian_netcdf

On Thu, Sep 3, 2020 at 3:21 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-09-03 21:25] uturuncoglu commented on #179
@ligiabernardet I think that it is changed and now it is gaussian_nemsio. This is very critical information that I don't know. I have just submit the job by setting it to gaussian_nemsio and it is working.

[2020-09-03 21:29] ligiabernardet commented on #179
OK, I did not realize that either.

On Thu, Sep 3, 2020 at 3:26 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-09-03 21:29] uturuncoglu commented on #179
@ligiabernardet @arunchawla-NOAA @GeorgeGayno-NOAA @panll I think that if we implement those kind of changes that could have critical importance of the CIME interface, we need to share that information or at least discuss about it. It is just a lack of information exchange that causes lots of extra effort for everyone.

[2020-09-03 21:31] uturuncoglu commented on #179
@ligiabernardet we also need to update the documentation about it. I'll make necessary changes in the CIME side and try to run again.

[2020-09-03 21:45] panll commented on #179
I have a successful run for C768 on Cheyenne with 12 node  and 3 cpus each. Here is the directory:
/glade/scratch/lpan/09012020/ufs-mrweather-app-workflow.c768/run
@uturuncoglu @ligiabernardet

[2020-09-03 21:48] ligiabernardet commented on #179
Hallelujah!
OK, we will update the documentation wrt input_type gaussian_nemsio.

On Thu, Sep 3, 2020 at 3:45 PM panll <notifications@github.com> wrote:

[2020-09-03 21:50] uturuncoglu commented on #179
@panll Thanks. That is great. I could also run with 6 node and 6 cpus each.

[2020-09-03 21:51] panll commented on #179
Great! @uturuncoglu

[2020-09-03 21:55] ligiabernardet commented on #173
@MinsukJi-NOAA Thanks for fixing the logo.
@laurenchilutti Do you want to add a title to A.8? Or you want this section title-less? Up to you.

[2020-09-03 22:01] ligiabernardet commented on #185
My inclination is to delay this update to a future release in favor of not
having to re-tag and re-deploy NCEPLIBS..
As Kate mentioned, a decision was made to point doc to tags, not to head of
release branches. The rationale is that the top of release branches could
be receiving more updates (e.g., for v 1.1.1 or v1.2.0) and be inconsistent
with v1.1.0.

[2020-09-03 22:04] climbfuji commented on #185
I am ok either way, but if I had to choose I would follow @ligiabernardet because it is less work (for me ;-) ).

[2020-09-03 22:33] MinsukJi-NOAA commented on #172
Documentation website https://noaa-emc.github.io/NEMS_doc_ufs-v1.1.0 has been created.

[2020-09-03 22:59] ligiabernardet commented on #172
Looks great. Thanks @MinsukJi-NOAA

[2020-09-03 22:59] #172 closed

[2020-09-04 00:33] fossell commented on #185
Thanks for the input @ligiabernardet and @climbfuji.  We will wait to push this documentation update for a future release.  The information will be available for SRW release and in general UPP user version, so we can point users there as needed.

[2020-09-04 00:33] #185 closed

[2020-09-04 12:12] laurenchilutti commented on #173
@ligiabernardet I am discussing section A.8 this morning with Rusty.  I will get back to you shortly.

[2020-09-04 13:23] laurenchilutti commented on #173
@MinsukJi-NOAA @ligiabernardet i have addressed the lack of a title for section A.8. I have moved these variables to section A.1 as they are fv_core_nml variables. See the ufs-release/public/v1 branch at https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/tree/ufs-release/public-v1

[2020-09-04 14:01] MinsukJi-NOAA commented on #173
@laurenchilutti @ligiabernardet, please check the updated documentation [here](https://noaa-emc.github.io/FV3_Dycore_ufs-v1.1.0/html/index.html).

[2020-09-04 14:50] ligiabernardet commented on #173
Looks good to me.
@climbfuji Pls proceed to create the issue in the repo with the requested tag name.

[2020-09-04 14:56] ligiabernardet commented on #179
@uturuncoglu What are we still missing? Do you have a processor/node number that works for C384 on Cheyenne?

[2020-09-04 15:47] uturuncoglu commented on #179
@ligiabernardet I run full test suite and one of the highest resolution case with debug failed after producing output of couple of hours. It seems it is not related with the CHGRES and I am looking into logs. C384 is working without any problem at least for grib2. I'll make more test with other data types for both C384 and C768 and then update the app for you to test. In the current configuration

[2020-09-04 17:24] GeorgeGayno-NOAA commented on #179
Yes, when chgres was updated for GFS v16 netCDF files, the input_type names were changed.  You should use "gaussian_nemsio" for GFS v15 nemsio files and "gaussian_netcdf" for GFS v16 netcdf files.

[2020-09-04 17:38] uturuncoglu opened #186 "Help for installing NCEPLIBS on Stampede"
@ligiabernardet @climbfuji I am trying to install NCEPLIBS on TACC, Stampede but NCEPLIBS-external gives error in the wgrib step as following

[code]

In this case, I am using following steps

[code]

I also try to set NETCDF include path by adding following option (`-DNetCDF_INCLUDE_DIRS=$TACC_NETCDF_INC`)to cmake command but it is also failing with same way. The same steps was working with the v

[2020-09-04 17:42] climbfuji commented on #186
Please follow the instructions in https://github.com/NOAA-EMC/NCEPLIBS-external/blob/release/public-v1/doc/README_stampede_intel.txt and use the same modules in CIME.

[2020-09-04 17:45] panll commented on #186
i have a successful installation on stampede for nceplib-v1..1:  /work/06145/tg854445/stampede2/tools/NCEPLIBS-ufs-v1.1.0
@uturuncoglu

[2020-09-04 17:47] uturuncoglu commented on #186
@panll Thanks for your help. I am getting permission error from that directory. If it is possible, could you adjust the access rights?

[2020-09-04 17:48] uturuncoglu commented on #186
@climbfuji Currently testing those steps. I'll let you know about the progress.

[2020-09-04 19:16] climbfuji commented on #186
I tested every single of the `doc/README_*.txt` installations about three weeks ago, so hopefully they all still work!

[2020-09-04 19:40] uturuncoglu commented on #186
@climbfuji i confirm that I could install externals with the instructions that you gave me. I'll try to install NCEPLIBS now.

[2020-09-04 19:50] climbfuji commented on #173
I created PRs to update the submodule pointers and ran the regression tests, just in case. All passed.

[2020-09-04 19:51] climbfuji commented on #173
Here is the issue: https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/issues/52

[2020-09-04 20:27] uturuncoglu commented on #186
@climbfuji @panll Thanks for your great help. Now, i could run the model on Stampede. The instruction in `doc/README_*.txt` seems working.

[2020-09-04 20:27] #186 closed

[2020-09-04 20:48] #181 closed

[2020-09-04 20:50] uturuncoglu commented on #182
@ligiabernardet NEMS interface tag is created - https://github.com/ESCOMP/NEMS_interface/releases/tag/ufs-v1.1.0

[2020-09-04 21:45] uturuncoglu commented on #179
@GeorgeGayno-NOAA i am testing GNU on Cheyenne and for C768 the CHGRES is failing with following error

[code]

I have no trace at this point because I am using @climbfuji installation. This resolution is running with Intel compiler. If you test it with GNU compiler could you let me know the correct combination.

[2020-09-04 21:57] uturuncoglu commented on #179
@GeorgeGayno-NOAA additional log from C384. BTW, not all C384 test are failed.

[code]

[2020-09-08 05:14] uturuncoglu commented on #184
@ligiabernardet The app is updated (ufs-release-v1.1 branch) and we have following issues,

- I am getting problem from CHGRES in some cases with C768 resolution but those could be related with the system and sometimes when I submit again it could produce the input files for the model. You could refer following issue for them https://github.com/ufs-community/ufs-mrweather-app/issues/179

- I teste

[2020-09-08 05:17] uturuncoglu commented on #184
The failed test on Cheyenne uses 252 core for C384 and 180 core for C192. It is strange that other tests with same resolution passes without any problem, that indicates system issue.

[2020-09-08 13:59] climbfuji commented on #173
Documentation updates were merged and tag was created: https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/issues/52

[2020-09-08 13:59] #173 closed

[2020-09-08 14:31] ligiabernardet commented on #183
@uturuncoglu Has the machine xml file been updated for Orion?

[2020-09-08 15:03] uturuncoglu commented on #183
@ligiabernardet the modules files are updated but user need to set following environment variables; UFS_INPUT, UFS_INPUTDATA and UFS_SCRATCH and call setenv_nceplibs.sh script from NCEPLIBS.

[2020-09-08 15:07] climbfuji commented on #183
Thanks, @uturuncoglu - I think users always had to set these variables / source `setenv_nceplibs.sh` on configurable (= level-2) platforms.

[2020-09-08 15:14] ligiabernardet commented on #183
Great. Thanks @uturuncoglu

[2020-09-08 15:14] #183 closed

[2020-09-08 17:50] uturuncoglu commented on #184
@ligiabernardet @climbfuji Here is the instructions to run full test suite.
[code]

To compare against exiting baseline the command look like following,
[code]

To generate new baseline,
[code]

I'll make PR soon for the app.

[2020-09-08 18:00] uturuncoglu commented on #184
@climbfuji is there any NCEPLIBS installation on Orion that I could use for UFS MR app?

[2020-09-08 18:02] climbfuji commented on #184
No, orion is a configurable platform and it is up to the user to install the NCEPLIBS him/herself following the instructions in the usual place (NCEPLIBS-external, tag ufs-v1.1.0, doc/README_orion_intel.txt).

[2020-09-08 18:03] uturuncoglu commented on #184
@climbfuji Okay. Thanks

[2020-09-08 18:31] ligiabernardet commented on #184
We decided that we will NOT provide baselines for the users to compare the new runs against. There were no baselines with v1.0.0 and we'll keep it that way for ease of maintenance. Users can always create their own baselines.

[2020-09-08 18:31] #184 closed

[2020-09-08 21:33] uturuncoglu commented on #169
@ligiabernardet @climbfuji
I am getting `        /work/noaa/nems/tufuk/scratch/SMS_Lh3.C96.GFSv15p2.orion_intel.20200908_163017_0550g2/bld/atm/obj/FV3/ccpp/physics/physics/radiation_aerosols.f(2197): error #5082: Syntax error, found '-' when expecting one of: <LABEL> <END-OF-STATEMENT> ; <IDENTIFIER> TYPE MODULE ELEMENTAL IMPURE NON_RECURSIVE ...` type errors also on Orion.

[2020-09-08 21:42] climbfuji commented on #169
@uturuncoglu how exactly are you getting the code onto orion (and cheyenne)?

[2020-09-08 21:43] uturuncoglu commented on #169
@climbfuji i am just using manage externals. Most of the test cases are failing with build error.

[2020-09-08 21:46] uturuncoglu commented on #169
@climbfuji For example following test failed with build error,
`/work/noaa/nems/tufuk/scratch/SMS_Lh3_D.C96.GFSv16beta.orion_intel.20200908_163017_0550g2` and the log is in here `/work/noaa/nems/tufuk/scratch/SMS_Lh3_D.C96.GFSv16beta.orion_intel.20200908_163017_0550g2/bld/atm.bldlog.200908-163714`.

[2020-09-08 22:14] uturuncoglu commented on #169
@climbfuji FYI, only 6/19 tests are PASSED and others are failed with build error on Orion.

[2020-09-09 15:57] uturuncoglu commented on #169
@climbfuji I compared application versions 1.0 and the 1.1 to find any difference in the compile options for the radiation_aerosols.f file and both of them are compiled exactly same options. Also, I run full test suite with 1.0 also and I did not see any compile time error. The CHGRES is also failing for some cases in 1.0, which was working in the 1.0 release time (https://github.com/ufs-community

[2020-09-09 16:00] climbfuji commented on #169
I do get the build error as well when I use the CIME regression tests. The changes in the model code itself between 1.0 and 1.1 are tiny and have nothing to do with actual source code (Python 3 support for the CCPP code generator, changes in namelist templates). This smells a lot like some changes in CIME causing the compilation to fail.

[2020-09-09 16:05] uturuncoglu commented on #169
@climbfuji Okay that is fine. I am looking into CIME to find anything. I'll try to test the build by setting GMAKE_J=1 with xmlchange. The default value is 8. To see, I could reproduce the issue also with GMAKE_J=1.

[2020-09-09 17:11] panll opened #189 "failed with GFSv16beta on Hera"
Failed with GFSv16beta on Hera with NEMSIO C384, here is the error message:

hfe12:/scratch2/BMC/det/lpan/hera/test/mrw/09092020/ufs-mrweather-app/cime/scripts/ufs-mrweather-app-workflow.c384>./case.build
Building case in directory /scratch2/BMC/det/lpan/hera/test/mrw/09092020/ufs-mrweather-app/cime/scripts/ufs-mrweather-app-workflow.c384
sharedlib_only is False
model_only is False
Setting Environ

[2020-09-09 17:16] uturuncoglu commented on #189
@panll Yes, this is the know issue and Jim and I trying to find the reason. It seems that CIME interface related but we are not sure yet. I'll update when we find something. This is also linked to issue https://github.com/ufs-community/ufs-mrweather-app/issues/169

[2020-09-09 17:23] panll commented on #189
Thanks! @uturuncoglu

[2020-09-10 16:26] uturuncoglu opened #190 "Hanging on Cheyenne ..."
@climbfuji @ligiabernardet i am having trouble with the model on Cheyenne and it is hanging when it is reading static input files such as global_shdmin.0.144x0.144.grb for the resolution > C96. This was also case for the new buildlib and I think it is not related with the build. Have you ever experience same problem? This is also reported previously on https://github.com/ufs-community/ufs-mrweathe

[2020-09-10 17:17] ligiabernardet commented on #190
@uturuncoglu I have not received any reports of the model hanging. @llpcarson Any insight wrt hanging on Cheyenne?

[2020-09-10 17:25] uturuncoglu commented on #190
@ligiabernardet it is strange. I updated buildlib and I am waiting to resolve this issue. Let me know, if you see similar issue.

[2020-09-10 17:32] llpcarson commented on #190
No, I haven't seen this lately on cheyenne.  One thing to check is the
processor layout and the job-node-request.  If these don't match, sometimes
the model will hang (use 48 tasks, but submit the job with 64, for example)

Laurie

On Thu, Sep 10, 2020 at 11:17 AM ligiabernardet <notifications@github.com>
wrote:

[2020-09-10 17:34] ligiabernardet commented on #190
@ufuk We are waiting on a PR of the updated build so we can merge it onto the release/public-v1 branch and conduct tests.

[2020-09-10 17:58] uturuncoglu commented on #190
@llpcarson those options are consistent. Anyway, I'll make PR soon and you could test it. All those strange things happen in my account. Maybe there is some thing wrong in there. Let's see what you find in your tests.

[2020-09-10 18:04] uturuncoglu commented on #190
@ligiabernardet I created PR in the app level.

[2020-09-10 20:38] ligiabernardet commented on #190
@uturuncoglu Does it hang all the time or occasionally?

[2020-09-10 20:40] uturuncoglu commented on #190
@ligiabernardet in my recent test all resolution failed with same way except C96 ones.

[2020-09-10 21:54] ligiabernardet commented on #190
@uturuncoglu Here is a suggestion from @climbfuji: Are we using threading? If yes: Can we test compiling without OpenMP, or even easier, run with one OpenMP thread only, and see if this solves the problem?

[2020-09-10 21:56] ligiabernardet commented on #190
@llpcarson is running some tests on Cheyenne. Laurie, let us know what you find out.

[2020-09-10 21:57] uturuncoglu commented on #190
@climbfuji we are not using threading at least for following test

/glade/scratch/turuncu/SMS_Lh3.C192.GFSv15p2.cheyenne_intel.20200909_155451_1sg3p2

ant it still hang/fail when reading file.

@ligiabernardet thanks. I hope I am the only one that have the issue.

[2020-09-11 13:22] climbfuji commented on #182
@junwang-noaa @DusanJovic-NOAA can I ask one of you to create tag ufs-v1.1.0 for ufs-weather-model, please?
[code]

[2020-09-11 13:34] DusanJovic-NOAA commented on #182
@climbfuji ufs-weather-model tag (ufs-v1.1.0) is created - https://github.com/ufs-community/ufs-weather-model/tree/ufs-v1.1.0

[2020-09-11 13:38] climbfuji commented on #182
Great, thank you!

[2020-09-11 13:41] climbfuji commented on #182
@uturuncoglu we finished tagging the ufs-weather-model and the NCEPLIBS, see https://github.com/ufs-community/ufs-mrweather-app/issues/182#issue-690414918 . I lost track of what has been tagged already on the CIME side and what still needs to be done or is waiting for documentation updates/testing.
[code]
Can you remind me, please?

[2020-09-11 14:54] llpcarson commented on #190
Ufuk, Ligia -

I ran the default MRW case, at C96, C384 and C768 and all 3 ran:
grib2 input, threaded (4), 20190829

I can try running the CIME reg-tests next (that's what that case is,
correct?)

Laurie

On Thu, Sep 10, 2020 at 3:57 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-09-11 15:12] uturuncoglu commented on #190
@llpcarson That is great! Yes, if you run full test suite that would be great. Once you run the test suite (if you run without specifying compiler such as `--xml-compiler intel` that will run both Intel and GNU tests), please let me know the directory and I could double check the results. Thanks for your help.

[2020-09-11 15:18] uturuncoglu commented on #182
@climbfuji it is still testing phase. once we got the results. I could create tag for CIME and FV3 interface and update the app. Tag for NEMS interface is already created.

[2020-09-11 16:30] climbfuji commented on #182
Thanks, I updated the description in the issue with the NEMS_interface hash.

[2020-09-11 17:52] ligiabernardet commented on #180
Phase 2 of tests is ready to begin (there were several updates to the App which hopefully solve previous problems). The [Google Spreadsheet](https://docs.google.com/spreadsheets/d/1nlSC8eOemcFMeiOFnyoi7VPzj2IbIEpWJBGiH6uL_oo/edit#gid=349889550) has been updated as follows:

- All tests conducted so far moved to a tab called _Old Phase 1 Tests_.
- A Tab called _Phase 2 Tests_ was created with the n

[2020-09-11 17:53] ligiabernardet commented on #180
@pjpegion We are ready for more testing. Please contribute as you can. If you enter your tests in the spreadsheet, that would be great. See more details in earlier comment.

[2020-09-11 18:10] llpcarson commented on #190
Partial results to report:

All of the C96, C192 and C384 jobs have completed successfully.
Three of the C786 jobs crashed in chgres_cube (and so the forecast jobs
were killed for dependency-failure)
5 of the C768 cases are still in the batch queue waiting to run (these ran
chgres_cube successfully)

Will let you know when the C768 jobs start running...

On Fri, Sep 11, 2020 at 9:12 AM Ufuk Turunç

[2020-09-11 19:41] uturuncoglu commented on #190
@llpcarson i was having problem with C768 also on Cheyenne. Is this on Cheyenne? Probably couple of them will pass and couple of them will fail. We might need to increase the allocated resource for C768 because it is not stable at this point. What do you think @GeorgeGayno-NOAA?

[2020-09-11 19:45] GeorgeGayno-NOAA commented on #190
Is the model hanging or chgres_cube?  I am more familiar with the latter.

[2020-09-11 19:49] uturuncoglu commented on #190
@GeorgeGayno-NOAA I think CHGRES is failing in C768. we are using 6 nodes with 6 core in per node as you suggested. It is running in some case and failing in other. So, not every C768 is failing.

[2020-09-11 19:57] llpcarson commented on #190
On cheyenne:

Yes, chgres cube is failing (seg-fault) for some of the C768 cases (but not
all).

The model/forecast jobs are still waiting in the queue (the ones that had a
successful chgres_cube)

Laurie

On Fri, Sep 11, 2020 at 1:49 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-09-11 20:01] uturuncoglu commented on #190
@llpcarson you could still check the run/INPUT folder of one of the cases to see CHGRES generated files. If they are there and the model will pick them and run. I hope it won't hang. What about other resolutions? Did you see any hang issue with the model?

[2020-09-11 20:06] GeorgeGayno-NOAA commented on #190
Are the failures happening with a certain input data, like grib2 or nemsio?

[2020-09-11 20:07] uturuncoglu commented on #190
@GeorgeGayno-NOAA The default input type is GRIB2 and the test suit uses that one.

[2020-09-11 20:35] llpcarson commented on #190
Yes, the chgres_cube run worked for these cases that are waiting to run the
model.  Failed for others.  All C768.  All of the other resolutions ran
without issue (at least I think so!)

Rundir is:  /glade/scratch/carson/ufs/*
App dir is: /glade/scratch/carson/ufs/mrw.test/ufs-mrweather-app

The logfile from chgres_cube shows:
 - FATAL ERROR: READING GRIB2 FILE
 - IOSTAT IS:            0
but - it's

[2020-09-11 20:44] uturuncoglu commented on #190
@llpcarson I could not find /glade/scratch/carson/ufs/. Is it correct? Yes, the error is strange it show that the file is missing or corrupted but all the cases use same file. Did you also run GNU tests?

[2020-09-11 21:01] llpcarson commented on #190
Yes, I ran both Gnu and Intel.  Each had failure and success for
chgres_cube.  Here's one of the run-dirs with a failure:

/glade/scratch/carson/ufs/SMS_Lh3_D.C768.GFSv15p2.cheyenne_gnu.G.20200911_091828_ou9in9/run

Does the _D part refer to a debug-mode compile?  (just curious)

On Fri, Sep 11, 2020 at 2:44 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-09-11 21:17] climbfuji commented on #190
If it does, then this only applies to the model I guess, because chgres_cube is compiled as part of NCEPLIBS, which compiles in "production" mode.

I looked at your run directory:

...
 - CALL FieldScatter FOR INPUT GRID LONGITUDE.
 - CALL FieldScatter FOR INPUT GRID LATITUDE.
#0  0x2b4035126aff in ???
#1  0x2b40357ae9bb in ???
#0  0x2ab63cbdbaff in ???
#1  0x2ab63d2639bb in ???
#0  0x2ab63cbdbaff

[2020-09-11 21:22] llpcarson commented on #190
I just re-ran the reg-test for the C768 cases only, and all 8 tests ran
chgres_cube without error (forecast/model are still in the queue).  Very
frustrating!

And, unfortunately, even with a failed run directory, a re-run (with a
simple qsub script) completes without error.

Will check back later tonight to see if any of the model runs hang/finish :)

On Fri, Sep 11, 2020 at 3:00 PM Laurie Carson

[2020-09-11 21:23] uturuncoglu commented on #190
@llpcarson D is debug mode. I am not sure about the potions that are changed but if you need I could check it.

[2020-09-11 21:26] uturuncoglu commented on #190
Yes, I check your directory and it seems there is no build error but all C768 test are failed due to the failure in CHGRES.

[2020-09-11 21:28] uturuncoglu commented on #190
@llpcarson yes, in some cases if you run the model again CHGRES process without any problem. I am not sure but it could be node allocation on Cheyenne. It might be nice to check in the other platforms.

[2020-09-12 03:30] climbfuji commented on #190
I don't know if this is a red herring, but I there might be some offending entries in `cime/config/ufs/machines/config_machines.xml` that we shouldn't use (and never use for the UFS model anyway):
[code]
For Intel, we don't use mkl at all. Similarly, for GNU, we don't use blas.

I compiled `chgres_cube.exe` manually twice for GNU, using the existing NCEPLIBS, with the standard release/prod flags a

[2020-09-12 03:38] uturuncoglu commented on #190
@climbfuji thanks for your help and lots of tests. As @llpcarson mentioned before the issue is not persistent and works in some cases but fails in others. Anyway, i will remove mkl and blas options from the machine file and run full test suit on Cheyenne and update you through the issue. @jedwards4b what do you think? Can mkl and blas cause the issue?

[2020-09-12 03:44] uturuncoglu commented on #190
@climbfuji BTW, it seems that blas is not used by the CIME for GNU compiler. I could not find any entry on  machines/config_compilers.xml. @jedwards4b can you confirm? I removed loading mkl and also update machines/config_compilers.xml for Intel and comment out all mkl related entries. Testing now.

[2020-09-12 03:48] uturuncoglu commented on #190
@climbfuji BTW, how can loading those modules affect the chgres_cube. We are using pre-installed NCEPLIBS. Do you think that loading mkl could could have effect in run time for preinstalled chgres_cube?

[2020-09-12 05:26] uturuncoglu commented on #190
@climbfuji I run the full test suite with updated code (no mkl) and model still hangs. Following is the one example,

/glade/scratch/turuncu/SMS_Lh3.C192.GFSv15p2.cheyenne_intel.20200911_214506_127zo6

in this case CHGRES is run without any problem but model crashed without any error when it is trying to read `/glade/p/cesmdata/cseg/ufs_inputdata/global/fix/fix_am.v20191213/global_slmask.
 t1534.3

[2020-09-12 20:48] climbfuji commented on #190
It is possible that loading mkl does something to the environment so that a shared library is picked up from a different location. The mkl module does a whole bunch of things, among them:
[code]
If a shared library that is linked into an executable exists in those paths with the same name, it will be picked up from there.

Can you try to set ulimit -s 300000 ? Some applications - although very few

[2020-09-12 20:50] climbfuji commented on #190
I wanted to reply to this comment, too. I repeated the `chgres_cube.exe` runs several times for each test, because you said the failures were intermittent. It worked for me all the time.

[2020-09-14 14:51] climbfuji commented on #190
Three of the 19 regression tests failed for me on cheyenne.intel in my latest atttempt, one at least for chgres_cube.exe for C768. I see the following in the stacktrace:
[code]
`#7` is not the actual reason for the failure - but still a but in chgres_cube.exe:
[code]
This should be:
[code]
The actual error comes from reading a grib2 file (`sorc/chgres_cube.fd/model_grid.F90:640`):
[code]

[2020-09-14 16:20] ligiabernardet commented on #189
This is a build failure that hopefully was resolved with the last App update. I am closing this issue, please report if other problems arise.

[2020-09-14 16:20] #189 closed

[2020-09-14 17:24] pjpegion opened #192 "case.build does not work with anaconda python on hera"
On hera, I tried to run a C768 case.  My first attempt failed because I downloaded the wrong input file (grib1 not grib2).  I then dowloaded the correct file, and tried to run case.run again. But that failed with the an error about cannot modiy case, read_only. I then then tried case.setup -r, and then case.run, and got same error.  Then case.build --clean, same error.
I am now getting the cannot

[2020-09-14 17:25] llpcarson opened #193 "Python3 error: cheyenne"
@uturuncoglu - here is the error I'm getting on cheyenne when I use python3

Creating component namelists
  2020-09-14 11:07:52 atm
   Running /glade/scratch/carson/ufs/mrw.test/ufs-mrweather-app.p3/src/model/FV3/cime/cime_config/buildnml
File "/glade/scratch/carson/ufs/mrw.test/ufs-mrweather-app.p3/src/model/FV3/cime/cime_config/buildnml", line 394
    print f
          ^
SyntaxError: Missing par

[2020-09-14 17:34] uturuncoglu commented on #193
@llpcarson i fixed it it is just a debug command that I put and forget in the interface. I delete it and it will be available in the next update. Thanks for catching it.

[2020-09-14 17:38] panll opened #194 "C768 RT failed on orion"
There are several failures for C768 tests:
1) SMS_Lh3.C768r.HAFS.orion_intel and ERS_Lh11.C768r.HAFS.orion_intel.

No input file/s found locally! Need files under ufs_inputdata/regional/bcond/2019090118

2) SMS_Lh3_D.C768.GFSv16beta.orion_intel
  failed at chgres
   ERROR: Command: 'sbatch --time 12:00:00 -q batch --account gmtb  --dependency=afterok:380631 .case.test --skip-preview-namelist' fail

[2020-09-14 17:42] llpcarson commented on #193
Thanks, I'll pull this into my clone and re-test.

[2020-09-14 17:44] climbfuji commented on #194
If orion is the same as other RDHPC platforms, the maximum walltime is 8h.

[2020-09-14 17:47] ligiabernardet commented on #194
@Linlin Pan - NOAA Affiliate <linlin.pan@noaa.gov> Did you follow the
instructions in Tab "RT Instructions" in the spreadsheet that say you must
use  --xml-category prealpha_p1, p2, p3? If you do not do that, all tests
will be launched. This will cause two problems: launching of HAFS tests
(which we do not want for MRW App) and too many jobs in the queue. Please
look at the instructions for RT tes

[2020-09-14 17:53] panll commented on #194
Thanks, Ligia! I'll double check that. @ligiabernardet

[2020-09-14 17:54] uturuncoglu commented on #194
@ligiabernardet prealpha_p1, p2, p3 is only for Stampede, the other need to use prealpha only.

[2020-09-14 17:58] ligiabernardet commented on #194
OK, my bad. @panll : we updated the instructions today for all platforms (beyond Stampede): it is necessary to add  --xml-category prealpha, otherwise HAFS tests will be triggered. Sorry that the instructions did not include that last week. Pls try again including  --xml-category prealpha.

[2020-09-14 17:59] panll commented on #194
Thanks, Ligia and ufuk!  @ligiabernardet @uturuncoglu

[2020-09-14 18:00] panll commented on #194
Yes, the file testlist.xml needs to be changed for Orion @climbfuji

[2020-09-14 18:01] pjpegion commented on #192
More detailed output/error from case.build -d
[case.build.error.debug.txt](https://github.com/ufs-community/ufs-mrweather-app/files/5220144/case.build.error.debug.txt)

[2020-09-14 19:13] climbfuji commented on #180
There is no better place for this, as far as I can see, so I put it here. I copied the `ufs_inputdata` directory from hera to jet and to gaea.

On gaea:
[code]

On jet:
[code]

[2020-09-14 20:14] pjpegion commented on #192
@uturuncoglu The issue is that after my 1st failed run, I loaded anaconda3 to see what was wrong with my input file.
Since this was still loaded at compile time, it looks like CIME is using the python in anaconda3 and CIME is either not compatible with that, or there is some other conflict.

[2020-09-14 21:10] panll commented on #180
Thanks, Dom! I'll update the documentation. @climbfuji

[2020-09-14 22:15] llpcarson opened #195 "RT on cheyenne: setting stack size"
While attempting to track down intermittent crashes, I tried to set the stacksize for the RT to a fixed limit (vs unlimited).  When doing so, this causes the compile step to fail - the compilers seg-fault (both icc and ifort)!

The original code runs OK (so not a system problem, it seems)
Removing the RLIMIT_STACK section also crashes in the same way.

Details:
I changed the stacksize limit in CIM

[2020-09-14 22:21] llpcarson commented on #195
Based on this:
       RLIMIT_STACK
              The  maximum  size of the process stack, in bytes.  Upon reaching this limit, a SIGSEGV signal is generated.

I'm going to speculate that the stacksize  number is not being used correctly, effectively setting a stacksize of zero (maybe?)... hence even the compiler is seg-faulting?

I tried a single-test case and ran case.build -v --- and didn't get

[2020-09-14 22:25] llpcarson commented on #195
The correct value does get into:

env_mach_specific.xml

so - maybe my speculation is a false lead!

[2020-09-14 22:27] uturuncoglu commented on #195
You could make your changes in env_mach_specific.xml (it is in case folder) and issue `./case.setup --reset --keep env_mach_specific.xml` and try to build again.

[2020-09-14 22:37] climbfuji commented on #195
According to your comment RLIMIT_STACK is in bytes. However, the limit reported by bash via `ulimit -s` is in kbytes (example from stampede, values don't matter):
[code]

So it seems you should try 300000 - which is the value reported on cheyenne using `ulimit s` and corresponds to a little less than 300MB -  TIMES 1024 if RLIMIT_STACK is really in bytes.

[2020-09-14 22:58] llpcarson commented on #195
Using "bytes", the compile is running OK so far.  I will start a full RT shortly to see if this fixes the other intermittent errors.

[2020-09-15 04:35] uturuncoglu commented on #194
@panll @ligiabernardet I adjusted wallclock time for C768 debug tests to be consistent of max wallclock time on Orion. The max wall clock time in the tests is now 8 hours. Those changes will be available in next update but until that time src/model/FV3/cime/cime_config/testlist.xml  can be edited and 12:00:00 hours can be changed to 08:00:00.

[2020-09-15 04:36] uturuncoglu commented on #195
@llpcarson that is great.

[2020-09-15 04:37] uturuncoglu commented on #192
@pjpegion I am glad that you solved the problem. I am not sure why it happened in the first time. lets is wait for @jedwards4b comment about that.

[2020-09-15 13:16] climbfuji commented on #190
I ran the cheyenne.intel CIME regression tests with the following modifications and got exactly one failure (see below) all other 18 tests passed.
[code]

The following test failed in chgres_cube.exe with the same segmentation fault as in the previous comment: `SMS_Lh3_D.C768.GFSv16beta.cheyenne_intel`:
[code]
@GeorgeGayno-NOAA as noted in my previous comment https://github.com/ufs-community/ufs-m

[2020-09-15 14:39] panll commented on #194
Thanks, ufuk! @uturuncoglu @ligiabernardet  I redo the tests with 8 hours, all passed except one test: SMS_Lh3.C768.GFSv16beta.orion_intel. This test crashed at chgres_cube:

 - IOSTAT IS:            0
[Orion-12-43:290491:0:290491] Caught signal 11 (Segmentation fault: address not mapped to object at address (nil))
rd_inventory: stdin truncated, longer than INV_STRING_SIZE (600)
rd_inventory: stdi

[2020-09-15 15:01] ligiabernardet commented on #194
@climbfuji @uturuncoglu Do you have any suggestion as to how the environment (stack size etc.) could be modified for Orion?

[2020-09-15 15:04] ligiabernardet commented on #150
Cecelia has committed an update that resolves the warnings.

[2020-09-15 15:04] #150 closed

[2020-09-15 15:06] ligiabernardet commented on #166
The [Getting Started](https://github.com/ufs-community/ufs-mrweather-app/wiki/Getting-Started) instructions in the wiki have been updated. They are good to go, except that the release tag for v1.1.0 is not available yet. If anybody sees a problem with the instructions, please report here.

[2020-09-15 15:35] llpcarson commented on #195
After fixing the units of the stacksize (!), the tests compile OK, and have the same 2-3 failures in chgres_cube as before.

So - using a set (vs unlimited) stacksize does NOT resolve the seg-faults.  I used both 500MB and 1GB (converted to bytes), same behavior.

[2020-09-15 15:42] climbfuji commented on #195
I got one failure out of 19, too. See here: https://github.com/ufs-community/ufs-mrweather-app/issues/190#issuecomment-692707076

So this doesn't seem to be the issue, but at least none of our model runs where hanging or experiencing the grib2 reading issue. I wonder what else it could be that causes chgres_cube.exe to fail.

One thing we could try is to replace MPT with Intel MPI. @uturuncoglu wh

[2020-09-15 16:04] uturuncoglu commented on #195
@llpcarson could you share your last configuration and let me know If I need to put any mods to CIME

[2020-09-15 16:05] uturuncoglu commented on #195
@climbfuji There could be a memory leak in the chgres_cube side but it might be hard to find it. For cheyyene, do you want to support only Intel MPI. The GNU configuration is also using MPT I think.

[2020-09-15 16:12] llpcarson commented on #195
@uturuncoglu I would suggest no changes to the configs based on stacksize, since it didn't change the behavior.  If Dom's tests with impi work, then that would be a change.

[2020-09-15 18:53] llpcarson commented on #193
Fixed.

[2020-09-15 18:53] #193 closed

[2020-09-16 15:37] panll opened #196 "C768 test hanging on Jet"
The C768 test with netcdf input does not pass. The job has been in pending status for more than one day. It stuck in the model running part.

fe3:/lfs4/HFIP/hfv3gfs/lpan/test/mrw/09112020/ufs-mrweather-app/cime/scripts/ufs-mrweather-app-workflow.c768>squeue | grep Linlin
  36353819 kjet       run.ufs-mrweather-app-wo Linlin.Pan       PENDING      0:00    1:00:00    69 (Resources)
  36353820 kjet

[2020-09-16 15:46] uturuncoglu commented on #196
@panll if you check the INPUT directory and see the files that are produced by the CHGRES. It would be okay. It is just an issue related with the system. So, It seems that the queue is full.

[2020-09-16 15:52] panll commented on #196
Yes, the CHGRES part is fine, but it stuck in the model run part. @uturuncoglu

[2020-09-16 15:53] uturuncoglu commented on #196
@panll okay that is great. let's wait for the run.

[2020-09-17 16:24] uturuncoglu commented on #196
@panll do you have any update about the issue?

[2020-09-17 16:26] uturuncoglu commented on #194
@panll I think that setting stack size is not helping. it could be the same issue that is explained in here https://github.com/ufs-community/ufs-mrweather-app/issues/190.

[2020-09-17 16:27] uturuncoglu commented on #190
@climbfuji @GeorgeGayno-NOAA is there any update about the issue? There could be a memory leak for grib2 related function.

[2020-09-17 16:30] panll commented on #194
Thanks for checking that! @uturuncoglu

[2020-09-17 16:33] panll commented on #196
Model can run after long time waiting. Thanks for asking! @uturuncoglu

[2020-09-17 16:38] uturuncoglu commented on #196
@panll okay. that is great. can we close the ticket at this point?

[2020-09-17 16:40] panll commented on #196
ok, thanks!

[2020-09-17 16:40] #196 closed

[2020-09-17 17:07] ligiabernardet commented on #163
The documentation has ben changed to address the suggestion from Neil (as part of https://github.com/ufs-community/ufs-mrweather-app/pull/187).

[2020-09-17 17:14] climbfuji commented on #163
Fixed with #187.

[2020-09-17 17:14] #163 closed

[2020-09-17 17:19] ligiabernardet opened #197 "Simple instructions in wiki must be updated to reflect raw ICs now staged on Gaea and Jet"
Need to update wiki to say that all pre-configured platforms have raw ICs staged. Refer users to User's Guide as to where those are located.

[2020-09-17 17:46] GeorgeGayno-NOAA commented on #190
It is trying to read the surface pressure field from the grib2 file.  Is the grib2 file corrupt?  Is the pressure field missing? Was the inv_file created ok ("./chgres.inv")?

[2020-09-17 17:50] uturuncoglu commented on #190
@GeorgeGayno-NOAA I check the input files and try to use new ones before and it was giving error. So, it seems it is not related with the file itself. Also, we are getting similar problems from different platforms. @ligiabernardet Am I right? Also, same chgres namelist file should be ok because same script is used to generate the namelist file and we have passed C768 test cases. I have no failed c