[2020-01-23 19:27] ceceliadid opened #68 ""last_release" URLs"
@arunchawla-NOAA @rsdunlapiv @ligiabernardet @climbfuji @junwang-noaa It would be tremendously useful to define URLS for the "last_release" of code and documentation for the app, the weather model, and utilities like nceplibs, as soon as possible. The definition would get updated with each new release. This was incredibly useful to ESMF over the years from a communicatoin point of view because it

[2020-01-23 19:30] arunchawla-NOAA commented on #68
How do we do this till we have the first release?
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
Mobile : 240-564-5675
     Fax : 301-683-3703
----------------------------------------------------

[2020-01-23 19:44] ceceliadid commented on #68
I think you need to have something that looks like a candidate tag for the weather model, nceplibs, and the associated WM UG documentation by the end of this month. We need these to do to the weather model GST. Create the last_release structure and for now point it to those candidate tags. When you have the actual release, you update the last_release tag with the new values.

[2020-01-23 19:52] arunchawla-NOAA commented on #68
ok so if we create beta snapshot tags and then put them in the last release
structure then people will think this is an actual release and start using.
I am not sure if that is a smart idea. I have no problem setting up beta
tags, unless others have concerns.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Cen

[2020-01-23 20:01] uturuncoglu commented on #7
@climbfuji BTW, are you testing NCEPLIBS on Mac, if yes could you share your way to install libs. We would like to also test it in our side.

[2020-01-23 20:05] jedwards4b opened #69 "Test SMS_Lh3_D.C96.GFSv15p2.cheyenne_intel failing"
We thought that #58 was solved with an update to chgres_cube, however the same test is still
failing with 3 different tracebacks:
[code]
[code]
[code]

[2020-01-23 20:06] climbfuji commented on #7
Yes, I am testing them. I need to ask you to hold off for a few days - I am still ironing out differences and best ways, looking at issues with the post-processor and the different macOS versions (Mojave versus Catalina). If you are looking for work, we also need to have folks working on various Linux distributions: Redhat/CentOS (7 and 8), Ubuntu (which versions?), possibly others.

[2020-01-23 20:20] ceceliadid commented on #68
Well, you already have a branch called ufs_public_release so I think if people were going to get confused by what you name things in the repo they would have already.
The model and app wikis say "this repository is not yet ready for general use" and I think about a billion people have been told that the release is upcoming but not out yet. It really seems ok to do this to me and a month before the

[2020-01-23 20:22] mcgibbon commented on #62
Can you please elaborate on the fix @jedwards4b? I'm having the same issue with a different build system.

[2020-01-23 20:26] jedwards4b commented on #62
@mcgibbon I found that the noaa build was using the flag ```-fp-model consistent``` but the cime build was using ```-fp-model source``` in the compilation of the fv3core library.  Changing the cime compile to match the noaa compile solved the problem.

[2020-01-23 21:07] uturuncoglu commented on #7
We just need to understand the configuration on Mac and Linux to define those platforms in CIME as much as possible. If you have documentation about those installation, that would be great for us.

[2020-01-23 22:20] jedwards4b commented on #69
The test SMS_Lh3_D.C96.GFSv15p2.cheyenne_gnu passes - we used the same input files generated by chgres_cube from this test in the intel test and it still fails indicating that this is perhaps a model issue and not a chgres_cube issue.     This test also fails on stampede at:
module_radiation_         901  radiation_astronomy.f

[2020-01-24 02:51] junwang-noaa commented on #68
For previous FV3GFS public release, we did have a beta version coming out
and connected both internal and external developers outside release team to
run the beta version. I remember we got some useful feedback and we put
them in the final release tag. So I think we can target some users to try
the beta version, but it's better not to announce the beta version to the
public as it may cause confusi

[2020-01-24 15:02] ceceliadid commented on #68
@junwang-noaa I agree that the beta tags are just for internal and GST testing, not for public announcement. The public mostly doesn't need to think about the last_release structure, that is just a huge convenience for document and website maintenance.

[2020-01-24 18:30] uturuncoglu commented on #37
I confirm that setting DIN_LOC_IC for custom initial condition path works without any problem.

[2020-01-24 18:33] uturuncoglu commented on #43
It is pretty ready and we still need to put couple of more information to the documentation. BTW, my last push to documentation branch does not appear in the web, there might be an issue related to updating Sphinx.

[2020-01-24 18:40] uturuncoglu commented on #63
This issue is resolved in CIME side. Adding appropriate metadata information to CHGRES output could be useful feature enhancement for the future.

[2020-01-24 18:40] #63 closed

[2020-01-24 19:12] ligiabernardet commented on #43
Ufuk, It is great to hear that the code is ready for initial testing.

The Sphinx build in RTD is failing with message: "ImportError: cannot
import name 'PackageFinder' from 'pip._internal.index'.
I am triggering a manual build to see if it passes.
Also need to check that there is some problem in the revised Shinx files
that causes the error.

Proactive steps:
1. Julie, Laurie and I will now recei

[2020-01-24 19:25] rsdunlapiv commented on #67
In discussions with @ligiabernardet on the documentation, we had come to the conclusion that there can be confusion over what is meant by a "supported" platform.  With respect to CIME, we are thinking of this in two categories:
 - _supported_ means that the platform has the basic prerequisites to run whole application, but it does not mean that machine-specific files have been set up for CIME
- _p

[2020-01-24 19:26] uturuncoglu commented on #43
Okay Thanks. BTW, my user name for readthedocs.org is **turuncoglu**

[2020-01-24 19:27] rsdunlapiv commented on #66
@junwang-noaa do you know of any existing method to verify a port of the MR Weather model, e.g., between NOAA machines.  E.g., how did you verify it was running as expected when you ported it from Theia to Hera?

[2020-01-24 19:29] rsdunlapiv commented on #66
@arunchawla-NOAA more importantly, is there any "port validation" method that we need to support for the release?  Or are we only supporting that it will run and produce output and that the user will need to accept that output "as is" and will need to verify using their own mechanisms?

[2020-01-24 19:43] ligiabernardet commented on #43
Ufuk, I added you as an administrator of the MRW APP UG on RTD.  The build
failure you are experiencing is not specific to RTD. The HTML is not
building by hand on my laptop after your last code changes. I think the
changes to conf.py may be one of the reasons (not sure). One of the
culprits imay be the newly-introduced to dependency on sphinx_rtd_theme
needs to be dealt with. Try to add it to req

[2020-01-24 19:44] pjpegion commented on #66
@rsdunlapiv I am not sure what EMC does, but I am hoping at least that the results from two different systems (e.g Hera and Cheyenne) are publicly available so one can see what the expected differences are for different systems.

[2020-01-24 19:50] uturuncoglu commented on #43
Okay. Thanks. Actually it was compiling on my mac without any error. I'll add it and push it again.

[2020-01-24 20:16] uturuncoglu commented on #43
I edit requirements.txt and conf.py also but it still fails. Do you have any idea? I might implement something wrong but i am not sure. I don't have too much experience with Sphinx.

[2020-01-24 20:35] JulieSchramm commented on #43
There was a buggy version of pip 20.0 that was immediately followed by a
hotfix 20.0.1.  I wiped out the environment on readthedocs for the app
build and it seems to build now.  The info was at:
https://stackoverflow.com/questions/59846065/read-the-docs-build-fails-with-cannot-import-name-packagefinder-from-pip-in

On Fri, Jan 24, 2020 at 1:16 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-01-24 20:42] uturuncoglu commented on #43
@JulieSchramm Thanks for your help. It seems fine now.

[2020-01-24 20:45] ligiabernardet commented on #20
Phil, this looks great. I will close this issue, with the understanding that a few more changes may happen during the documentation review process.

[2020-01-24 20:45] #20 closed

[2020-01-24 20:53] junwang-noaa commented on #66
We usually conduct "butterfly test". The general idea is to create a
reference difference from two model runs, and one of them with perturbation
on the last digit of an IC field (say add 10**(-7) on wind comp u). Then
get the  differences of some typical of the forecast variables at forecast
hour 24 (surface temperature, 200mb winds, etc) . We called the difference
1 butterfly difference. Then we

[2020-01-24 20:57] climbfuji commented on #66
If this is helpful, we can create the butterfly reference on Cheyenne using Intel 18 and Intel 19 and make the diffs that Jun mentioned available.

[2020-01-24 20:59] climbfuji commented on #66
Or we can use the already available differences between Intel 19 and GNU 8.3.0 on Cheyenne.

[2020-01-24 21:04] junwang-noaa commented on #66
I think we've only done this for versions of intel compiler which are
stable versions that passes the benchmark test. I have no idea on how big
differences from different compiler (intel vs GNU 8.3.0), I am curious to
see the results of that.

On Fri, Jan 24, 2020 at 3:59 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-01-24 21:05] climbfuji commented on #66
Me too. Let me try that.

[2020-01-27 03:08] rsdunlapiv commented on #43
@pjpegion we are ready for you to do some preliminary testing of the MR Weather App using the CIME workflow.  At this point please test only the two "preconfigured" platforms, Cheyenne and Stampede2, since we do not yet have documentation for how to add a new preconfigured platform.

I would recommend specifically starting with these two sections of the Quick Start Guide:
https://ufs-mrapp.readthe

[2020-01-27 14:46] pjpegion commented on #43
@rsdunlapiv I started testing this morning. So far I managed to run a 5-day forecast.  I will go through the lists of tests and get back to you.
Only comment so far is in the quick start guide, you should mention that you have to cd to cime/scripts to create a case.

[2020-01-27 15:21] pjpegion commented on #43
@rsdunlapiv My first attempt of running one of the other smoke test case fails.  This case's run directory is /glade/scratch/pegion/SMS_D_Lh5.C96.GFSv15p2.cheyenne_intel.try/run

I compared this with my successful 5-day run following create_new case in the quick start guide, which is in /glade/scratch/pegion/test1/run, and I don't see anything that would cause the crash, but I do notice that the e

[2020-01-27 15:31] jedwards4b commented on #43
@pjpegion as noted in the [spreadsheet](https://docs.google.com/spreadsheets/d/1DnIDqZZ4toXmUmHxAs98STV19BO8TvYt1d6gkSjodrU/edit#gid=0) that test is a known failure.
As for why the size is significantly different than your case created with create_newcase, the difference is in DEBUG mode which is enabled in the test but not in the other case.
[code]

[2020-01-27 16:48] pjpegion commented on #43
@jedwards4b ok, thanks for that info.  I'm running other cases now.

[2020-01-27 18:10] uturuncoglu commented on #43
I edited the documentation and add ``cd cime/scripts`` to create a case.

[2020-01-28 06:09] ceceliadid opened #70 "Decide on a tag convention"
This is a proposal a few people discussed yesterday. Any comments or objections?

Beta tags:
ufs_v1.0.0_beta0x for tags on the weather model, mr weather app, and associated User Guides.
nceplibs_v1.0.0_beta0x for nceplibs.

This would NOT mean that the code itself will be announced as UFS v1.0.
The app would still be the MR Weather App 1.0, the Weather Model the WM 1.0.

Final tags:
ufs_v1.0.0 for

[2020-01-28 06:24] ceceliadid opened #71 "Decide on a branch naming convention"
Proposal below.

For ncep_libs, the weather model, and mr weather app, code associated with the release would live on a  branch called ufs_release_v1.0 This is already what the nceplibs release branch is called.

A branch would be created for each release. If a fix or patch is needed to a previous release it can be made on the branch for the release.

Per the versioning convention, the third place

[2020-01-28 06:32] ceceliadid opened #72 "Beta tag on the weather model and UG for use with the WM GST"
The GST requires a beta tag on the weather model and weather model UG this week, ideally by 1/29. The current head of the ufs_public_release_branch of the weather model is fine for this tag.

[2020-01-28 06:36] ceceliadid opened #73 "Beta tag on NCEPLIBS for use with the WM GST"
This is a request for a beta tag on NCEPLIBS by Feb 3 for use with the first GST. The testing here will be pretty limited, so whatever's on the head of the release branch should be fine.

[2020-01-28 06:46] ceceliadid commented on #53
@arunchawla-NOAA  This is still needed.

[2020-01-28 07:15] ceceliadid opened #74 "Review and update WM GST questionnaire"
The draft questionnaire looks like this:
https://docs.google.com/forms/d/1yEgYalN4LNOZuG9GNIRq7V9NTU1ZVtnhsUtplok-G40/edit

@jwolff-ncar please let me know if you think you might be ready with a forum URL by Feb 3 and w can replace the support email contact with that.

@ligiabernardet and @junwang-noaa let me know if there are any things you'd like the testers to look at or questions you want to a

[2020-01-28 14:42] pjpegion commented on #43
@jedwards4b @rsdunlapiv All of the cases that are labeled as running in the spread sheet pass for the intel compiler. I have 2 questions and 1 comment.
Questions:
1.  I would like to intentionally break one of the runs (by changing the timestep) and see if it gets caught.  How do I change the time-step of the model (I cannot figure where dt_atmos gets defined).
2. How do I change to testing the gn

[2020-01-28 16:34] jedwards4b commented on #43
On Tue, Jan 28, 2020 at 7:42 AM Phil Pegion <notifications@github.com>
wrote:

dt_atmos = 900 (or whatever)

then submit the job, if you want to confirm the change before you submit
run ./preview_namelists then check the run directory.

gnu
            In a test you can add it to the testname:
SMS_Lh5.C96.GFSv15p2.cheyenne_gnu

Comment

would be nice to have an authoritative list of default settin

[2020-01-28 16:40] uturuncoglu commented on #43
@pjpegion The default values are provided by @KateFriedman-NOAA and @ligiabernardet with following google docs for both CCPP v15p2 and v16beta

https://docs.google.com/document/d/1EKc2mAld5VsrNjTRgqUcTVG1ZcEIkllA-NrAKUs4DWI/edit
https://docs.google.com/document/d/1bLbVdWgEIknDQZgTuOZ6IPVEGv5jUgOrCm4GrR96oBU/edit

As @jedwards4b mentioned about it, it would be nice to have a consensus about the def

[2020-01-28 17:31] ceceliadid commented on #71
Just to clarify, this branch convention is not needed to start external testing but we do need a tag, so the tag convention would be nice to settle soon.

[2020-01-28 17:54] ligiabernardet commented on #23
The UFS WM is ready for an initial review (even though there are still placeholders). PLEASE TAKE A LOOK AND SEND US FEEDBACK.

Source code is at https://github.com/ufs-community/ufs-weather-model/blob/documentation/doc/UsersGuide and the display is at https://ufs-mr-weather-app.readthedocs.io/projects/ufs-weather-model/en/latest/index.html. Still to do:

- Add chapters on "contributing developmen

[2020-01-28 17:58] pjpegion commented on #43
@jedwards4b Thanks.  I did a test with a different time step, and the test fails as I expected.
I will now move to the gnu compiler tests.

[2020-01-28 18:02] ligiabernardet commented on #68
The release codes (beta versions and actual release versions) should be tagged. We can use use ReadTheDocs to display multiple releases, latest release, and top of development (auto-updating). You can see a prototype of that in the ReadTheDocs for the CCPP Technical documentation. On the lower right there is a button to choose the various releases (https://ccpp-techdoc.readthedocs.io/en/latest/).

[2020-01-28 18:21] ceceliadid commented on #68
That looks perfect.

[2020-01-28 18:31] ligiabernardet commented on #74
Looks good, thanks for putting this together. A few comments:

   - Should Theia be substituted with Hera?
   - Could add a question about ease of building the code.
   - We are not asking the user to make code changes (just namelist
   changes), so that question is not applicable.

On Tue, Jan 28, 2020 at 12:15 AM ceceliadid <notifications@github.com>
wrote:

[2020-01-28 18:50] uturuncoglu commented on #74
The image in the following link is not seen. It could be a broken link.

https://github.com/ufs-community/ufs-weather-model/wiki/Graduate-Student-Test%3A-Increasing-the-Number-of-Cloud-Condensation-Nuclei

Also, in the prerequisite section it is only mentioning "- Access to Cheyenne (NCAR) or Stampede2 (XSEDE) computers." but in the list there is Theia as @ligiabernardet is pointed. I think that t

[2020-01-28 18:53] #37 closed

[2020-01-28 18:59] rsdunlapiv commented on #43
@junwang-noaa and @GeorgeGayno-NOAA I am trying to complete to port of CIME to Hera.  Can you please let me know where the ECM_post executable and chgres_cube executable are located?  Are these up to date with the release branch versions?

[2020-01-28 19:21] ceceliadid commented on #74
@uturuncoglu Thank you very much for the comments! The Getting Started and GST wiki pages are not ready for review yet, just the questionnaire itself. The wiki should be ready in the next day or so. Sorry, I should have made that clearer!

[2020-01-28 19:24] GeorgeGayno-NOAA commented on #43
I don't know if the release branch will compile on Hera.  I have not tried.  chgres_cube in 'develop' will work with nemsio and grib2.  I can compile 'develop' on Hera.

[2020-01-28 19:30] rsdunlapiv commented on #43
@GeorgeGayno-NOAA It seems important to have the release versions of these tools on Hera so we can test there.  Would you mind giving it a shot?

[2020-01-29 15:21] fossell commented on #65
@uturuncoglu Thanks for clarifying, I see what you mean now.  In general I don't have concerns with this approach.  My reluctance right now is the timing of such a change.  The DTC is working hard to get some other final UPP changes into the ufs release branch in effort to ensure that the standalone community release the DTC will distribute in the coming month or so will be in sync with what is re

[2020-01-29 17:26] arunchawla-NOAA commented on #69
@pjpegion, @climbfuji @mark-a-potts @llpcarson

Can you take a look and see what is happening here?

[2020-01-29 17:29] arunchawla-NOAA commented on #66
We are just going to provide visuals from one single C96 run on a platform as a sanity check in our documentation

[2020-01-29 17:31] arunchawla-NOAA commented on #65
@uturuncoglu and @jedwards4b please let us know if this is satisfactory and this can be closed

[2020-01-29 17:31] arunchawla-NOAA commented on #60
@mark-a-potts and @kgerheiser can you close this ticket once your umbrella build is complete?

[2020-01-29 17:32] arunchawla-NOAA commented on #53
We will have this done prior to public release

[2020-01-29 17:36] arunchawla-NOAA commented on #52
@ligiabernardet once this is added to the documentation on what types of output we are supporting let us know so we can close this ticket

[2020-01-29 17:40] arunchawla-NOAA commented on #48
@climbfuji @mark-a-potts and @kgerheiser what is the status of this?

[2020-01-29 17:42] arunchawla-NOAA commented on #47
@climbfuji close this if it is done or label it post release

[2020-01-29 17:44] arunchawla-NOAA commented on #43
@kgerheiser can you build the libraries and externals tool set on HERA that Rocky can use?

[2020-01-29 17:45] climbfuji commented on #43
PLEASE. We are working on this as fast as we can, and I have been in contact with Rocky, Mark and Kyle that I am going to do this as soon as the last issues of the cmake build are fixedd.

[2020-01-29 17:46] #10 closed

[2020-01-29 17:51] kgerheiser commented on #43
Fix incoming. Hopefully it will build now.

[2020-01-29 17:57] kgerheiser commented on #48
I think this is fixed. We look for `NETCDF` and `ESMFMKFILE`

[2020-01-29 18:18] climbfuji commented on #48
Yes, the build looks for NETCDF, optionally NETCDF_FORTRAN (not sure if this is used anywhere), and ESMFMKFILE. Nothing else.

[2020-01-29 18:19] uturuncoglu commented on #65
@arunchawla-NOAA  @fossell Yes, i know the workload in EMC side and i have already implemented a workaround for this issue. So, it is not urgent. Just note that if user try to change the NCEP post namelist options that are read from stdio, the CIME workflow could fail or not get the changes.

[2020-01-29 18:19] climbfuji commented on #47
I think this will need to be post release.

[2020-01-29 18:20] rsdunlapiv commented on #66
Okay, in this case we will plan to provide anything from CIME to deal with validating a port.  It's probably something that should be addressed in a future release.

@mvertens or @uturuncoglu should be please remove the "port validation" section from the CIME quick start guide - we don't need it right now.

[2020-01-29 18:23] mvertens commented on #66
@Rocky Dunlap <dunlap@ucar.edu> - we still need a pointer or a small
section describing what this visual will be. It should be at the app level
since this is what we are using for the port.

On Wed, Jan 29, 2020 at 11:20 AM Rocky Dunlap <notifications@github.com>
wrote:

[2020-01-29 18:28] #48 closed

[2020-01-29 18:28] uturuncoglu commented on #66
@rsdunlapiv @mvertens i removed it but not pushed yet. Do you want me to continue?

[2020-01-29 18:31] Hang-Lei-NOAA commented on #47
I have merged the ufs_release_v1.0 with develop on Hera. After the access
to hera back.  All will be pushed to github and tag. Old tags have been
agreed to be removed on NCEPLIBS meeting. It will be done as well.

On Wed, Jan 29, 2020 at 1:19 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-01-29 18:33] arunchawla-NOAA commented on #47
Does this mean that you will have tags for all the libraries from the
master branch of github? The umbrella builds will then have to point to
these tags. Just want to make sure
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, M

[2020-01-29 18:34] rsdunlapiv commented on #66
@uturuncoglu yes, we should remove it.  We can reference a visual per Mariana, but this would not really be a formal port validation, so we should not have this as a formal section.

[2020-01-29 18:35] Hang-Lei-NOAA commented on #47
Yes,
but the ufs_release_v1.0 branch will be kept util the removal is agreed by
all.

On Wed, Jan 29, 2020 at 1:33 PM arun chawla <notifications@github.com>
wrote:

[2020-01-29 18:40] fossell commented on #65
@uturuncoglu Ok thanks.  And yes I understand that this will limit flexibility of users to modify namelist parameters.  But, I think for the first release it's ok if users do not have a fully customizable and flexible system, since those types of things won't be tested and officially supported.  Definitely something we want for the future though!

[2020-01-29 20:07] kgerheiser commented on #43
Fixed and I was able to build on Hera

[2020-01-29 20:09] climbfuji commented on #43
Great! I am building and installing it in an "officially supported" location for the CIME folks to test. Thanks for making this work so quickly.

[2020-01-29 20:14] rsdunlapiv commented on #43
@climbfuji greatly appreciated!

[2020-01-29 20:29] pjpegion commented on #69
I'm looking into it.

[2020-01-29 20:35] uturuncoglu commented on #69
@pjpegion Just for your information, I placed a print statement ``FV3/ccpp/physics/physics/radiation_astronomy.f`` because it was giving error as following

[code]

It seems that the operation is protected to divide to zero error but it fails anyway.  The values for ``istsun`` is changing between 0-8.

[2020-01-29 20:47] climbfuji commented on #43
FYI, I am getting an error when building UFS_UTILS (related to ESMF). Hopefully the last little piece to fix.

[2020-01-29 21:49] pjpegion commented on #69
@uturuncoglu are you getting this tracback on cheyenne or stampede? I'm getting something much more cryptic on cheyenne:
MPT:     header=header@entry=0x7ffde901cc00 "MPT ERROR: Rank 95(g:95) received signal SIGFPE(8).\n\tProcess ID: 6654, Host: r2i4n15, Program: /glade/scratch/pegion/SMS_Lh3_D.C96.GFSv15p2.cheyenne_intel.try/bld/ufs.exe\n\tMPT Version: HPE MPT 2.19  0"...) at sig.c:340"

[2020-01-29 21:52] uturuncoglu commented on #69
It is on Stampede but when I run the model again I got following. So, i think, it is not predictable.

[code]

[2020-01-29 21:54] uturuncoglu commented on #69
If you have access to Stampede, it might help to find the source of the problem.

[2020-01-29 21:56] pjpegion commented on #69
I don't have an account there, so not sure how much help I can be.  I will do what I can on cheyenne since the model fails there in debug mode.

[2020-01-29 21:58] uturuncoglu commented on #69
What about the FV3 if you compile and run it outside of the CIME? Is it failing with the same way in debug mode?

[2020-01-29 22:00] pjpegion commented on #69
I ran it outside of CIME and I get the same error. (also ran the debug executable in the directory of a successful run and it fails, which points to the model and nothing in the run setup)
 Haven't tried to compile it outside of CIME yet. I will try that next.

[2020-01-29 22:05] ceceliadid commented on #34
Kate uploaded the updated ftp materials with the default physics package change.

Dan with help from Linlin finished updating the WM Getting Started page:
https://github.com/ufs-community/ufs-weather-model/wiki/Getting-Started

and the WM GST page:
https://github.com/ufs-community/ufs-weather-model/wiki/Graduate-Student-Test%3A-Increasing-the-Number-of-Cloud-Condensation-Nuclei

There are still so

[2020-01-29 22:05] arunchawla-NOAA commented on #69
Adding @junwang-noaa  @DusanJovic-NOAA and @climbfuji so that they are aware of this issue

[2020-01-29 22:07] climbfuji commented on #69
Recommend looking at compiler options and, more likely, initial conditions. The test runs fine with the regression test input data (i.e. using rt.sh) on Cheyenne (GNU, Intel) and Hera (Intel) in PROD, REPRO and DEBUG mode.

If I find time I will take a look

[2020-01-29 22:10] climbfuji commented on #43
Ok, I got something for you to test. Question is how you would like to load/setup the environment. The NCEPLIBS are installed in
[code]
To use them, you must do the following (trying to be as close as possible to the modulefiles/hera.intel/fv3 setup):
[code]
Question: do you want me to create a loadable module that sets an environment variable `NCEPLIBS_INSTALL_DIR` or something similar? Or do you

[2020-01-29 22:13] climbfuji commented on #43
Note that the path will change once we are past the initial testing, probably to
[code]
and similar for a potential module name.

[2020-01-29 22:17] rsdunlapiv commented on #43
On Cheyenne we have one module that sets appropriate env variables - it looks like this:
[code]
However, on Stampede we set these manually in the CIME machine XML.

If you have time to create a module like the one above, I think that would be the preferred approach.  Otherwise, I can set it up manually.

[2020-01-29 22:19] climbfuji commented on #43
I'll create the module. But I will not use
[code]
The libraries have been complied with exactly one version of the Intel compiler and MPI library, and that is what needs to be used. Unknown problems lurking everywhere.

[2020-01-29 22:24] climbfuji commented on #43
Would it be possible to use NCEPLIBS_DIR instead of NCEP_LIBS? It doesn't really matter, just asking.

[2020-01-29 22:26] rsdunlapiv commented on #43
@jedwards4b and @uturuncoglu would have to say whether this would cause any issues - but I would say that now is the time to get this right, and your name seems better and more consistent with other usage.

[2020-01-29 22:30] uturuncoglu commented on #43
@climbfuji It is better to use NCEP_LIBS because we are using it inside of chgres and NCEP post template scripts.

[2020-01-29 22:31] uturuncoglu commented on #43
If we decide to use it as NCEPLIBS_DIR them we need to make mods in machine.xml file and the template scripts.

[2020-01-29 22:34] climbfuji commented on #43
@uturuncoglu I am not sure if this is good. As Rocky said, we should get this right now. For the moment, I will set both `NCEPLIBS_DIR` and `NCEP_LIBS`, but with the understanding that we will discuss this and correct what is needed within the next few days.

In addition to the `module load` section above, please try the following:
[code]
This sets:
[code]

[2020-01-29 22:39] climbfuji commented on #43
@kgerheiser @mark-a-potts I was using the "official" installations of netCDF and ESMF to build NCEPLIBS. There was one problem after the successful build, namely that the rpath for some of the shared libraries (libsz and some - but not all - of the hdf5 libraries) wasn't set. This caused `chgres_cube.exe` and `ncep-post.exe` to fail (cannot find library ...).

I fixed this "manually" using patchel

[2020-01-29 22:40] uturuncoglu commented on #43
As @rsdunlapiv said, we could make it right at this point and set it as NCEPLIBS_DIR. What do you think @jedwards4b? It could be also possible to map NCEPLIBS_DIR to NCEP_LIBS in the machine file. So, it is not a problem in CIME side.

[2020-01-29 22:44] rsdunlapiv commented on #43
I suggest we go with NCEPLIBS_DIR in the long term.  If it is too much to change the scripts now, let's just stick with NCEP_LIBS and we can fix this up on a future release of CIME.

[2020-01-29 22:47] climbfuji commented on #43
If `NCEPLIBS_DIR` is the long term way to go, then I suggest making the change for this release. But not today for testing, at some point in the next days or week. For now I leave both versions in the module.

[2020-01-29 23:11] pjpegion commented on #69
@uturuncoglu compiling outside of CIME with Debug on the model runs to completion.
@climbfuji can you tell me where in CIME the compiler flags are set?
Thanks.

[2020-01-29 23:27] jedwards4b commented on #69
@pjpegion In cime you can examine the file bld/atm.bldlog.*.gz to see the compiler flags used.
When you compile outside of cime are you using the same initial conditions as those generated in the cime case?

[2020-01-29 23:31] DusanJovic-NOAA commented on #69
If you are using Intel compiler all compiler flags are set in cmake/Intel.cmake. For gnu compiler they are set in cmake/GNU.cmake.

[2020-01-29 23:40] pjpegion commented on #69
@DusanJovic-NOAA Thanks

[2020-01-29 23:40] uturuncoglu commented on #69
It is better to clarify that the executable created outside of CIME is failing with CIME generated (using chgres) initial condition or not? We had a problem with chgres before and it is fixed in NCEPLIBS side but it might be still issue related with chgres.

[2020-01-29 23:49] pjpegion commented on #69
@uturuncoglu I can run the SMS_Lh3_D.C96.GFSv15p2.cheyenne_intel case with the model compiled outside of CIME.

[2020-01-29 23:59] ligiabernardet commented on #67
Can someone please add a column to this spreadsheet and indicate which platforms are preconfigured?

[2020-01-30 00:01] ligiabernardet commented on #56
@valbonakunkel-noaa @junwang-noaa My understanding is that this documentation is 95% ready. Are we waiting for anything? Can you please commit it to https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/tree/ufs_public_release/docs? We continue updating afterwards, Thanks!

[2020-01-30 00:15] ligiabernardet opened #75 "Finalize UFS MR Weather App Users Guide"
@mvertens @rsdunlapiv @uturuncoglu Thank you for providing a great start for the User's Guide, which can be viewed at https://ufs-mrapp.readthedocs.io/en/latest/. Several at the DTC started using it and our limited tests have been successful.  I would like to suggest a re-organization and augmentation of the material, and I have a few request for changes. We can meet to discuss, might be easier.

[2020-01-30 00:17] jedwards4b commented on #69
@DusanJovic-NOAA The cime buid does not use the flags in those files. Cime compiler flags are defined in cime/config/ufs/machines/config_compilers.xml

[2020-01-30 00:56] DusanJovic-NOAA commented on #69
@jedwards4b Thanks. I didn't know that. I wonder how those flags are passed from CIME to ufs-weather-model's cmake build.

[2020-01-30 01:03] jedwards4b commented on #69
@DusanJovic-NOAA  It's a little convoluted: A file is created in the case directory called Macros.cmake   There is also a file in FV3/cime/cime_config/configure_cime.cmake that includes that Macros file and translates the variable names as set in cime to those expected by ufs_weather_model.   That configure_cime.cmake file is copied to the src/model/cmake directory and used by the model cmake buil

[2020-01-30 01:38] jedwards4b commented on #69
I did find a difference in that cime is using the mkl library while the noaa build is not, but I turned off mkl in my sandbox and rebuilt - it still fails in the same way.

[2020-01-30 02:51] climbfuji commented on #56
We submitted a PR to ufs_public_release last week that contained scientific documentation for the dycore. Was this something else?

[2020-01-30 02:52] climbfuji commented on #67
I will add the column but the entries for many will be TBD - will depend on how far we get in the next weeks.

[2020-01-30 03:13] jedwards4b commented on #69
@DusanJovic-NOAA It may also be of interest to note that the ccpp physics package ignores any flags set by cime or by ufs-weather-model and sets it's own.

[2020-01-30 03:22] climbfuji commented on #69
Yes. This is a "known issue"/"feature". The flags have been set such that the ccpp-physics code gives b4b identical results with the previous IPD physics code (in what we called REPRO mode) or, more generally, that the ccpp-physics are compiled with exactly the same flags as the previous IPD physics code (in DEBUG, REPRO and PROD mode). If the CIME flags are different, then they are most likely in

[2020-01-30 03:27] ligiabernardet commented on #56
Thank you. I see the PR to ufs_public_release submitted last week already contains the  documentation for the variables we requested. Display is at https://noaa-emc.github.io/FV3_Dycore/html/index.html.
 In this case, do you still need this PR to the dev/emc branch https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/pull/10?

[2020-01-30 03:29] climbfuji commented on #56
At some point we will have to bring back selected commits/changes from ufs_public_release to the authoritative branches. We (in particular I) have been fairly inconsistent in either saving this for later or doing it right away.

[2020-01-30 03:36] ligiabernardet commented on #56
OK, let's consider this done.

[2020-01-30 05:02] jedwards4b commented on #69
I think I've solved the problem.  I had to remove the debug flags -ftrapuv -fpe0 .   I submit that this does not indicate that the CIME flags are incorrect, rather it indicates that there are questionable floating point values in the model and removing these flags avoids trapping them.   I'll run the full set of tests overnight and update the issue in the morning.

[2020-01-30 05:12] climbfuji commented on #69
Wohoo. I take your point, but please note that the DEBUG flags we use (see https://github.com/ufs-community/ufs-weather-model/blob/52795b83f0febae0fe030d5cb1da3e5bbafba5e8/cmake/Intel.cmake#L36 for the develop branch, and https://github.com/ufs-community/ufs-weather-model/blob/2487a7b9736b516b5c1faba6f4f88bf3e7b82053/cmake/Intel.cmake#L36 for the ufs_public_release branch) do contain "-ftrapuv -fp

[2020-01-30 05:45] mvertens commented on #75
@Ligia Bernardet - NOAA Affiliate <ligia.bernardet@noaa.gov> Thanks for the
feedback and your suggestions. Lets definitely meet to discuss. I think
that would be most helpful. Friday morning is open for me.

On Wed, Jan 29, 2020 at 5:15 PM ligiabernardet <notifications@github.com>
wrote:

[2020-01-30 12:13] jedwards4b commented on #69
@climbfuji   I was using compile_cmake.sh with REPRO=Y DEBUG=Y for comparison and I see from your link that REPRO overrides DEBUG so I wasn't getting the ftrapuv and fpe0 flags in your build. So I rebuilt with REPRO=N and your build runs with those flags so I think I'm back to square one.

[2020-01-30 13:04] jedwards4b commented on #69
But that lead to the solution because I was also setting both flags in the cime build.  So now with DEBUG on (and ftrapuv and fpe0 included) and REPRO off the tests are passing.
(In CIME the combination had a different effect than in the noaa build - in the noaa build combining the flags turned off the debug flags, but in cime the debug flags were on but ccpp was built with CMAKE_BUILD_TYPE=Repro

[2020-01-30 14:16] climbfuji commented on #69
Wow. Good job. I thought we had added a guard in compile_cmake.sh that would prevent setting both of them to true. If not, we should do that (and you the same in CIME in case the user can control that).

[2020-01-30 15:24] pjpegion commented on #69
@jedwards4b can you let me know what you changed so I can test it?
 Thanks, Phil

[2020-01-30 15:29] rsdunlapiv commented on #69
Just to check my understanding - in REPRO mode CCPP does not pass with the floating point debug checks on.  This indicates that there actually is some underlying floating point issue in that mode, and that implies that it was a preexisting problem with IPD and so it was important to reproduce the exact same behavior in CCPP for validation purposes.  Is this correct?

So, what is the future of the

[2020-01-30 15:37] climbfuji commented on #69
This is way too complicated to reply to in a GitHub issue. Bottom line is that your assumption is not correct. Mixing REPRO and DEBUG flags doesn't make any sense. You can use REPRO=N DEBUG=N (or omit entirely, because these are the defaults) to get the PROD flags, REPRO=Y DEBUG=N (again, can omit DEBUG=N) to get the REPRO flags, or REPRO=N DEBUG=Y (again, can omit REPRO-N) to get the REPRO flags.

[2020-01-30 15:44] jedwards4b commented on #69
@pjpegion I'll update the ufs_mrweather and let you know.

@rsdunlapiv what @climbfuji says is correct - but I believe that to have ccpp set it's own flags independent of the flags set for ufs_weather or cime is a problem.  We need to be able to build the entire model from a consistent set of compiler flags defined in a central location.

[2020-01-30 15:48] rsdunlapiv commented on #69
@climbfuji thanks for clarifying - I guess since it is a complex issue, the bigger picture question is what does the end user need to be aware of and what is considered a technical detail to be managed by the workflow and build teams?  In other words, does anyone really need to know about the REPRO/DEBUG combinations at the user level?  If so then we'd want to try to document the details in a unde

[2020-01-30 15:52] climbfuji commented on #69
First thing I will do is to check if there is a guard in compile_cmake.sh or not. If both DEBUG=Y and REPRO=Y are set, the script should return an error and not overwrite one or the other. I think the user needs to know about DEBUG=Y/N, but not about REPRO (this is only for testing CCPP against IPD).

[2020-01-30 15:55] rsdunlapiv commented on #69
@climbfuji glad to hear that REPRO is not user facing (I think it would be hard to explain this to a general audience).  So, REPRO will be handled internally.  I agree that DEBUG mode is a user-facing option and they should be aware of how to activate it.

[2020-01-30 16:05] rsdunlapiv commented on #43
@jedwards4b and @uturuncoglu can we provide any updates to the testing spreadsheet?
https://docs.google.com/spreadsheets/d/1DnIDqZZ4toXmUmHxAs98STV19BO8TvYt1d6gkSjodrU/edit#gid=0

[2020-01-30 16:10] DusanJovic-NOAA commented on #69
Users also do not need to know anything about two compile scripts in the tests directory. Those scripts are internal to regression test and must be left undocumented. We will be changing them as we need to support various regression test requirements. The only supported way of building ufs-weather-model is build.sh script in the top-level directory. Which is what is documented here:

https://ufs-m

[2020-01-30 16:19] jedwards4b commented on #69
@DusanJovic-NOAA The supported way to build is using the cime build system - not build.sh

[2020-01-30 16:28] rsdunlapiv commented on #7
Closing and opening a new ticket for the Mac/Linux configuration.

[2020-01-30 16:28] #7 closed

[2020-01-30 16:28] arunchawla-NOAA commented on #66
I have added a documentation tag to this issue so that we can add a visual document in the next week or so

[2020-01-30 16:30] rsdunlapiv opened #76 "Configuration needed for Mac/Linux generic systems"
The CIME team needs to information about the system configuration for generic Mac and Linux systems.

[2020-01-30 16:31] jedwards4b commented on #76
Continued from https://github.com/ufs-community/ufs-mrweather-app/issues/7

[2020-01-30 16:32] climbfuji commented on #69
Let's close the issue once the guard has been added to compile_cmake.sh.

[2020-01-30 16:32] rsdunlapiv opened #77 "Move NCEPLibs release build to shared location (not in user folders)"
On preconfigured platforms, NCEPLibs should be installed in shared/central locations (and not in user space) wherever possible.

[2020-01-30 16:33] rsdunlapiv commented on #77
@climbfuji has a place in mind for Cheyenne.

[2020-01-30 16:35] ligiabernardet commented on #52
This aspect will definitely be captured in the UG for the MR W App. The documentation is under development, currently in Google Doc https://docs.google.com/document/d/1_MhfFIc_ON-XE9rSNhlBrYm-4kpAhWV_Jxt7WoNb_QA/edit.

[2020-01-30 16:36] climbfuji commented on #77
On Cheyenne (same place where all official ufs-weather-model libraries and modules are installed):
[code]
On Hera (leveraging as much as possible from EMC's official libraries, e.g. ESMF; ignore the "scratch" in the name):
[code]

[2020-01-30 16:42] climbfuji commented on #49
The PR was merged (https://github.com/NOAA-EMC/fv3atm/pull/43), are you ok with closing this issue?

[2020-01-30 16:43] jedwards4b commented on #77
Please be clear - are these to be installed as modules?   If so what is the module use path and load command?   Is there a bin directory included with chgres_cube and post executables?

[2020-01-30 16:45] jedwards4b commented on #49
The PR covered one particular case of something that is a pervasive problem in the model.  The issue will not be resolved anytime soon.

[2020-01-30 16:47] mvertens commented on #49
@Dominikus Heinzeller - NOAA <dom.heinzeller@noaa.gov> - I think the issue
should stay there with the label of post-release that we introduced
yesterday. If we close the issue it will probably not be addressed in the
future.

On Thu, Jan 30, 2020 at 9:45 AM jedwards4b <notifications@github.com> wrote:

[2020-01-30 16:48] climbfuji commented on #77
Yes, there are modulefiles directories underneath with compiler and mpi library version in the path. Please look at the instructions I sent for hera yesterday, it will be the same for cheyenne. And the executables will be in a bin directory that will be added to the search path.

[2020-01-30 17:31] jedwards4b commented on #77
@climbfuji Looking at the current esmf module installed in    /glade/p/ral/jntp/GMTB/tools/modulefiles/   it is requiring exact version matches for netcdf, mpt and compiler - I don't think that the matches need to be exact - this will lead to added complication when it's time to update modules - and the requirements for esmf do not match what we are currently testing.

[2020-01-30 18:09] climbfuji commented on #77
We will create a new version of the libraries with the compiler, MPI and netCDF version that you are using. Those will likely change when Cheyenne comes out of the downtime/upgrade Feb 25-29.

[2020-01-30 21:24] jedwards4b opened #78 "Create the first ufs-mrweather-app beta tag"
We will create the first beta tag for this repo when we have the following tags:

- FV3_interface tag **is created**
- NEMS_interface tag **is created**
- cime
- ufs-weather-model

[2020-01-30 21:32] jedwards4b commented on #69
All tests are now passing on cheyenne with intel and gnu.   @pjpegion if you would like to test again the head of ufs-mrweather-app master (hash c21d2860) has all the externals up to date.

[2020-01-31 14:46] jedwards4b commented on #69
@pjpegion I made a mistake in updating ufs-mrweather-app, the corrected hash is 49f3b54.

[2020-01-31 15:32] Hang-Lei-NOAA commented on #47
(1) According to the latest update, the  release/public-v1 branch is
merged into develop, and then merged into master branch. New tags have been
made for all public release NCEPLIB libraries and ready to use.
(2) Since some feature branches are still in use, I have asked each
code-manager to confirm with owner and remove them as necessary as it is. I
also contacted the github official company. The

[2020-01-31 18:34] ligiabernardet opened #79 "NCDC GRIB2 datasets for initializing App"
My understanding is that will support three sources of ICs for initializing the App, always GRIB2 GFS analyses. What is the grid resolution(s) of the data we are supporting (e.g., 0.5 degree? 0.25 degree? multiple options?)

1) Canned 2019-09-09 00 case. The CIME workflow can retrieve this.
2) NOMADS (last 10 days of GFS analyses are available). The CIME workflow can retrieve this.
3) NCDC archive

[2020-01-31 18:34] ligiabernardet commented on #79
@llpcarson @LarissaReames-NOAA @uturuncoglu @arunchawla-NOAA

[2020-01-31 19:28] LarissaReames-NOAA commented on #79
The main page I used when retrieving archived data from NCEI (formerly NCDC) is :

https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-forcast-system-gfs

This has various ways listed to access the data (https, FTP, HAS, etc.). Online GFS4 (0.5 deg) data is only available back to the January 2019:

https://nomads.ncdc.noaa.gov/data/gfs4/

But data back to 2006 can be requested f

[2020-01-31 19:36] LarissaReames-NOAA commented on #79
Also, I believe the plan was to support 0.25, 0.5, and 1.0 degree.

[2020-01-31 20:31] uturuncoglu commented on #79
Yes. The data is retrieved from NOMADS server and it process gfs.t00z.atmanl.nemsio and gfs.t00z.sfcanl.nemsio files using CHGRES to create input.

If the data is not in the input folder. CIME gets the data from https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/ and process it same way with (1). Again, we are only supporting gfs.t00z.*anl.nemsio files at this point.

I think there is no spec

[2020-01-31 20:33] arunchawla-NOAA commented on #79
please wait till the library build and ufs-utils release branches are
updated for that. We plan to test grib2 data next week
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
Mobile : 240-564-5675

[2020-01-31 20:34] uturuncoglu commented on #79
@arunchawla-NOAA Sure. Just let me know, when it is ready.

[2020-01-31 23:22] ligiabernardet commented on #79
Thank you for the information. It has been captured in the App UG and later we can review it.

[2020-02-03 21:56] ligiabernardet commented on #67
Given the definition of preconfigured platform "preconfigured means that CIME has been set up already with machine-specific files, and so the app should work out-of-the-box with no porting steps required", I do not understand why the spreadsheet mentions certain OS as "in progress" wrt preconfiguring. How can MacOS Catalina ever be preconfigured? A user's Mac laptop will not be preconfigured upon

[2020-02-03 21:59] ligiabernardet commented on #56
@valbonakunkel-noaa @junwang-noaa This issue should not have been closed.
We still need the *.md files from this PR https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/pull/10 to show up in the release branch of GFDL_atmos_cubed_sphere. Can the code managers advise how to get it there? Tks

[2020-02-03 22:01] rsdunlapiv commented on #67
I agree - a MacOS laptop is never preconfigured - you always have to go through the process of installing NCEPlibs and setting up CIME on that laptop.  (Unless the configuration was so standard that CIME would always just work out of the box on MacOS - but that seems very unlikely.)

[2020-02-03 22:16] climbfuji commented on #67
Yes, we need two different categories - preconfigured and supported.

[2020-02-03 23:41] mvertens commented on #67
I think supported means a higher level of porting than preconfigured. Maybe
"generic preconfiguration" and "platform preconfiguration" would be a
possible distinction - where generic preconfiguration means the templates
are there and the user has to modify them accordingly. @Jim Edwards
<jedwards@ucar.edu> - what do you think?

On Mon, Feb 3, 2020 at 3:16 PM Dom Heinzeller <notifications@github.co

[2020-02-03 23:46] ligiabernardet commented on #50
@ceceliadid @llpcarson @KateFriedman-NOAA @arunchawla-NOAA @valbonakunkel-noaa I started a [Google Doc](https://docs.google.com/document/d/1hGhnoIMtAH5I0QeyAMNfH7RXL7zwiopjL3_Nh5cKFU8/edit#) to collect a list of documents that we may want to deprecate, along with some recommendations. Who   can help wrt removing some pages from VLab?

[2020-02-04 00:13] jedwards4b commented on #67
I think that we can create a cime port that will work on macos or linux - the user would need to create inputdata and output directories and set environment variables for them along with the set of env variables in https://github.com/NOAA-EMC/NCEPLIBS/pull/30 however as of this post I am still not able to build NCEPLIBS on a mac.

[2020-02-04 02:49] climbfuji commented on #67
I think you should be able to use the two repos I sent you earlier, the macos rpath update was made (thanks, Kyle). If you don't want to use the NCEPLIBS-external, then you need to install the dependencies by yourself. But I assume (and it would be good if someone tested it) that the problem with NetCDF from NCEPLIBS-external has something to do with my machine setup. Let me know if you need furth

[2020-02-04 15:01] jedwards4b commented on #67
@climbfuji I am not yet able to use the two repos you indicated and am having problems well before getting to the netcdf build.  The latest problem seems to be in the hdf5 build:
[code]

[2020-02-04 15:09] climbfuji commented on #67
This is macOS, right? So, the question is which way you chose to install your prerequisites: compiler, MPI library. Your error could be related to using homebrew's mpi library, which uses the default Apple gcc (which is clang with much less functionality than LLVM's clang). Continues below the list ...

1. Use homebrew to install gcc@9, then set environment variables CC=gcc-9, FC=gfortran-9, CXX=g

[2020-02-04 15:19] jedwards4b commented on #67
Yesterday I was using a second Mac, not the one I first attempted to install on and attempted to follow your instructions to the letter.   I humbly submit - if I can't do it it's not ready for public consumption.

[2020-02-04 15:22] climbfuji commented on #67
Please check if you did the last part, which was not included in my instructions (somehow missed that, because my new/test system uses Catalina and not Mojave).
[code]

[2020-02-04 15:25] KateFriedman-NOAA commented on #50
I can help with the fv3gfs VLab community pages (web & group) and likely some of the documents listed but I'll need to discuss that with Vijay and others at EMC before doing so.

Anything on the EMC website will need to be handled by @EricRogers-NOAA and Crystal Logan.

[2020-02-04 15:28] jedwards4b commented on #67
So where are these instructions documented - I've been piecing it together
from the email chain so far.
Where are the analogous instructions for Linux?

On Tue, Feb 4, 2020 at 8:22 AM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-04 15:36] climbfuji commented on #67
They are *not* documented yet because we haven't finalized the instructions. You can either choose to wait until we have tested this out entirely, or you will have to accept that you are a testing buddy who will run into trouble in order to help pointing out flaws in the process (and I very much appreciate having people to find issues in the process). Knowing that we have to add this fix to the mi

[2020-02-04 16:16] EricRogers-NOAA commented on #50
We will be happy to remove or archive any obsolete global documentation on the EMC web site, provided that the responsible experts inside EMC provide new content to replace it. Crystal is the technical web expert and I am the Federal oversight manager for her, but obviously I am not an expert on everything that runs in the NCEP Production Suite

[2020-02-04 16:18] jedwards4b commented on #67
@climbfuji I don't expect a finished set of instructions - I'm just suggesting a shared doc that lists the steps and that we can modify as we go along.  I think we need to get all of the instructions in one place.

[2020-02-04 17:20] ceceliadid commented on #50
Thanks @ligiabernardet  for putting the list together. I added an addiitonal site to the list, the EMC community site. I will contact @KateFriedman-NOAA  and @EricRogers-NOAA to take down pages that are not needed now.

[2020-02-04 17:39] climbfuji commented on #67
I think we can work directly on the place where this should go, I started putting the instructions for Catalina there:

https://github.com/NOAA-EMC/NCEPLIBS-external/wiki

Formatting can be improved, but this should get us started.

[2020-02-04 18:11] jedwards4b commented on #67
I can't edit or make comments - why not just use the google doc until we
have what we need?

On Tue, Feb 4, 2020 at 10:39 AM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-04 18:13] ceceliadid commented on #72
Hi @junwang-noaa and @arunchawla-NOAA , is there a current ETA for a tag?
Thanks -

[2020-02-04 18:17] ceceliadid commented on #73
Hi @climbfuji , any sense of the ETA for a tag?

[2020-02-04 18:27] junwang-noaa commented on #72
I am waiting for the tag name for fv3 dycore finalized.

On Tue, Feb 4, 2020 at 1:13 PM ceceliadid <notifications@github.com> wrote:

[2020-02-04 18:30] climbfuji commented on #67
Now you have write permissions.

[2020-02-04 18:42] ceceliadid commented on #33
@LarissaReames-NOAA @ligiabernardet @junwang-noaa @mvertens @rsdunlapiv @arunchawla-NOAA
After discussion at the last Thurs documentation call, the following is the proposed plan for the app wiki pages and GST:
1. The app wiki will have a Getting Started section much like the WM Getting Started section, that will lead people through a specific example run and give them some images against which th

[2020-02-04 18:50] climbfuji commented on #72
We need to merge the missing documentation updates, then we can create the tag for the dycore.

[2020-02-04 19:32] ceceliadid commented on #72
Sounds good, thanks.

[2020-02-04 20:17] rsdunlapiv commented on #33
@ceceliadid what is the relationship of the documentation on the app wiki and the documentation on readthedocs?, e.g.:
https://ufs-mrapp.readthedocs.io/en/latest/quickstart.html

Will the wiki be used for specific tests cases, such as the GST, and readthedocs for general documentation?  It would be good to understand the "rule of thumb" for this distinction so we don't have a proliferation of docu

[2020-02-04 20:23] ligiabernardet commented on #72
If necessary, the missing FV3 dycore documentation can be added later. It
is not critical for the GST, and the HTML is already posted.

On Tue, Feb 4, 2020 at 12:32 PM ceceliadid <notifications@github.com> wrote:

[2020-02-04 20:29] ceceliadid commented on #33
@rsdunlapiv Yes, the idea is that the wikis will be for a specific example that gets people running, described in a Getting Started section, GST pages, policies, and current developer information. The UG would be for more general information, and would describe all options. So there shouldn't be much overlap between the UGs and the wikis. That's the way things are set up for the WM and it seems li

[2020-02-04 21:31] ceceliadid commented on #72
Thanks @ligiabernardet if that could happen that would be great.
I know everyone is beyond busy, but is there any chance someone could put a tag on he WM as it is so we can start the external testing?
Looking at what I think is the doc update ticket, it looks like it's going to take a while longer, but maybe there's something I'm not seeing.

[2020-02-05 03:25] ligiabernardet commented on #52
@uturuncoglu Some testers are reporting that the model is outputting NEMSIO instead of NetCDF. Have you encountered that in your tests? Do we need a namelist change?

[2020-02-05 05:15] uturuncoglu commented on #52
We set it nemsio format by default but we could make it netcdf easily. The tests uses netcdf. You could also modify output format by using user_nl_ufsatm file.

[2020-02-05 15:33] climbfuji commented on #73
@ceceliadid we should have something for you later today. It will be an alpha tag, not a beta tag, to make sure that people understand that this is still in the early testing phase.

[2020-02-05 16:08] ligiabernardet commented on #52
My understanding is that the default model output will be NetCDF. At least
this is what we are saying in the documentation. I would suggest that you
change the default to NetCDF. If not, I need to know so this can be
reflected in the documentation. Tks

On Tue, Feb 4, 2020 at 10:15 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

[2020-02-05 16:13] jedwards4b commented on #52
We set default namelist parameters based on the docs in

https://docs.google.com/document/d/1EKc2mAld5VsrNjTRgqUcTVG1ZcEIkllA-NrAKUs4DWI/edit
https://docs.google.com/document/d/1bLbVdWgEIknDQZgTuOZ6IPVEGv5jUgOrCm4GrR96oBU/edit

Please update these docs if they do not reflect the desired defaults.   There was also a questioned raised about the default timestep for C96.

[2020-02-05 16:15] arunchawla-NOAA commented on #69
@jedwards4b is this ticket closed now?

[2020-02-05 16:19] arunchawla-NOAA commented on #70
This is the naming convention that we are following

https://docs.google.com/document/d/15hc7cKU9n2joiJJ-xXSPF3G70gNHLhdMqAnzj2CeP0U/edit?ts=5e331979

[2020-02-05 16:19] #70 closed

[2020-02-05 16:20] arunchawla-NOAA commented on #71
Naming convention here

https://docs.google.com/document/d/15hc7cKU9n2joiJJ-xXSPF3G70gNHLhdMqAnzj2CeP0U/edit?ts=5e331979

[2020-02-05 16:20] #71 closed

[2020-02-05 16:22] arunchawla-NOAA commented on #72
As soon as the sub component tags are there we will create the model tag

[2020-02-05 16:26] #64 closed

[2020-02-05 16:31] arunchawla-NOAA commented on #79
@ligiabernardet can we close this ?

[2020-02-05 16:33] #60 closed

[2020-02-05 16:34] ceceliadid commented on #73
That's awesome @climbfuji thanks! Understood it's alpha.

[2020-02-05 16:37] ligiabernardet commented on #79
We need to decide if CIME will be augmented to retrieve data from NCEI
archives. Per Ufuk: CIME cannot retrieve this now, but users can download
and stage the data. CIME could be augment to retrieve this. If CIME will
not be augmented, we need to understand where/how a user should stage the
data on disk so CIME can find it. And test it. The documentation is
currently incomplete in this aspect.

On

[2020-02-05 16:37] jedwards4b commented on #69
Yes

[2020-02-05 16:37] #69 closed

[2020-02-05 16:50] arunchawla-NOAA commented on #52
these are based on operational settings. These are not formal documents.
Please change output format to netcdf in cime. Thanks
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
Mobile : 240-564-5675

[2020-02-05 16:53] ceceliadid commented on #72
@arunchawla-NOAA  Is there any significant contribution you are waiting on? Just trying to get a sense of the timeline.

[2020-02-05 16:54] ligiabernardet commented on #52
@jedwards4b Regarding the 450s timestep for C96, indeed Phil said we could
use a longer timestep. Kate Friedman and I consulted with Fanglin Yang of
EMC and his recommendation was to keep the timestep as is because a longer
timestep sometimes results in instabilities. So my current understanding is
that we are going forward with 450s for C96.

On Wed, Feb 5, 2020 at 9:50 AM arun chawla <notificati

[2020-02-05 17:00] uturuncoglu commented on #52
@arunchawla-NOAA okay we will change the output format. @ligiabernardet if you make changes on those document please highlight them and we could update the defaults without checking all the namelist options.

[2020-02-05 17:10] ligiabernardet commented on #52
@arunchawla-NOAA @jedwards4b @uturuncoglu @pjpegion  I have changed variable _output_file_ the Google Docs from _nemsio_ to _netcdf_. I am not sure if variable _write_nemsioflip_ is needed or whether it matters what it is set to. I have not tested these changes.

[2020-02-05 17:12] jedwards4b commented on #52
@ligiabernardet thank you!

[2020-02-05 22:27] uturuncoglu commented on #52
The default output format is set to NetCDF. It is in the FV3 interface and once we update the app, it will be available to all the users.

[2020-02-05 23:04] ligiabernardet commented on #52
@junwang-noaa In the Google Doc with the namelist you have a comment that says that if the model outputs in NetCDF format "the post processing code needs to be updated to the version that can handle S->N scan mode.".  Can you elaborate on this? Thanks

[2020-02-05 23:11] climbfuji commented on #52
I can say that we merged a commit from Dusan that had to do with S->N scanning into EMC_post a a week or two back.

[2020-02-05 23:23] uturuncoglu commented on #52
I confirm that post is working with netcdf output but I did not look at the grid files that is produced by NCEP post. So, I you have some tool that I could use to quickly visualize the variables I could check the NCEP post output to be sure it is working without any problem.

[2020-02-06 02:29] junwang-noaa commented on #52
I checked with Wen, she said the scanning mode code change is in the public
release. So it is OK not to set write_emsioflip in model configuration file.

Jun

On Wed, Feb 5, 2020 at 6:11 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-02-06 02:32] jwolff-ncar commented on #25
@ceceliadid Is the C&O team willing to add a tab at the top of the ufscommunity.org page to point directly to the support forums: forums.ufscommunity.org (not live yet but should be any day now)?

[2020-02-06 15:55] rsdunlapiv commented on #76
This discussion is happening on:
https://github.com/ufs-community/ufs-mrweather-app/issues/67

This issue should be closed with the one above after the MacOS installation is finalized.

[2020-02-06 15:56] rsdunlapiv commented on #67
@climbfuji and @jedwards4b what is the status of the MacOS build, instructions, and CIME testing?

[2020-02-06 15:59] rsdunlapiv commented on #78
@jedwards4b are the tags in place for FV3_interface, NEMS_interface, and cime?

[2020-02-06 16:07] ligiabernardet commented on #16
@mvertens @jedwards4b  Can you please clarify the nature of this issue. Title says Add documentation to CIME. Does anything need to be added to CIME itself? Or does this refer to adding CIME-related information to the UFS MR W App UG? The later is under development at https://github.com/ufs-community/ufs-mrweather-app/tree/documentation/docs/UsersGuide with display at https://ufs-mrapp.readthedocs

[2020-02-06 16:08] rsdunlapiv commented on #79
@uturuncoglu What would be required to add the NCEI NOMADS download option to CIME?

Per @LarissaReames-NOAA :

[2020-02-06 16:44] mvertens commented on #79
This is already being supported in CIME for NEMSio files. where do we get
GRIB?

On Thu, Feb 6, 2020 at 9:08 AM Rocky Dunlap <notifications@github.com>
wrote:

[2020-02-06 16:53] uturuncoglu commented on #79
@mvertens @rsdunlapiv We need,

- a version of CHGRES that supports Grib2 as an input format. I think this part is not fully ready and tested. @arunchawla-NOAA could make comment about it.

- http or ftp link that files are stored.

- buildnml need to be extended to support the new data type. In this case, if user configures the model with a start date and NOMADS has no data for that particular da

[2020-02-06 16:55] rsdunlapiv commented on #79
@uturuncoglu does this link provided by @LarissaReames-NOAA work?
https://nomads.ncdc.noaa.gov/data/gfs4/

[2020-02-06 16:58] jedwards4b commented on #78
Tag status is noted here https://docs.google.com/document/d/15hc7cKU9n2joiJJ-xXSPF3G70gNHLhdMqAnzj2CeP0U/

[2020-02-06 16:58] ligiabernardet commented on #52
Thanks. Closing this one.

[2020-02-06 16:58] #52 closed

[2020-02-06 17:03] uturuncoglu commented on #79
It has data but it goes back to 2019 and I did not try to process it. We need an example chores_cube namelist file to test chgres standalone.

[2020-02-06 17:26] ceceliadid commented on #25
Hi Jamie, we will make the support link either one of the top tabs or a support button that is highly visible on the landing page, or both. If it is a button it would be part of a new section on the website, probably right below the scrolling header, about the release. Bhavana is out for a couple of weeks and with limited time we will need to minimize her effort. We can talk about options when she

[2020-02-07 02:11] arunchawla-NOAA commented on #73
Tag has been created

[2020-02-07 02:11] #73 closed

[2020-02-07 02:13] arunchawla-NOAA commented on #72
FV3 dycore tag was created. We should expect the beta tag to be created by tomorrow. Last set of PRs happening right now

[2020-02-07 02:14] arunchawla-NOAA commented on #56
@ligiabernardet can we close this now that you have it marked done?

[2020-02-07 02:16] arunchawla-NOAA commented on #43
@rsdunlapiv Does this issue need to remain open?

[2020-02-07 02:30] jedwards4b commented on #43
No, it is complete.

On Thu, Feb 6, 2020 at 7:16 PM arun chawla <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-07 02:33] #43 closed

[2020-02-07 02:57] climbfuji commented on #56
In Ligia's absence, I will close this issue - the fv3dycore documentation has been merged.

[2020-02-07 02:57] #56 closed

[2020-02-07 05:24] ceceliadid commented on #25
@jwolff-ncar please look at this page which shows how we could include a button for the support forum on the wikis. I think many people will be accessing support from GitHub:
https://github.com/ufs-community/ufs-weather-model/wiki
What do you think?

[2020-02-07 16:09] jwolff-ncar commented on #25
@ceceliadid That looks good -thanks for including that. I sent another inquiry this morning on when it will be live - should be any time now...

[2020-02-07 17:52] jedwards4b commented on #77
If you want this path on cheyenne in the beta01 tag of usf-mrweather-app we
need for you to build the libraries and install modules in
/glade/p/ral/jntp/GMTB/tools

On Thu, Jan 30, 2020 at 11:09 AM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-07 17:58] climbfuji commented on #77
Sure, will do. Need to converge on a compiler version for both intel and gnu, etc. Here is what the ufs-weather-model uses by default on cheyenne. This is also what the regression tests uses and for which we know it works:

INTEL
[code]
GNU
[code]

[2020-02-07 18:30] jedwards4b commented on #77
Our only difference is that we are using netcdf/4.7.1
we can back up - but it might be better if you update

On Fri, Feb 7, 2020 at 10:58 AM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-07 18:31] climbfuji commented on #77
Ok, that shouldn't make a big difference anyway. THanks!

[2020-02-07 18:39] ceceliadid commented on #25
@jwolff-ncar Sounds good. I also put a button for the mrw app support forum on that wiki. I can put a button for the build forum on the NCEPLIBS wiki if that makes sense to you and @climbfuji and anyone else who should weigh in.

[2020-02-07 22:17] climbfuji commented on #77
Actually, the default on cheyenne nowadays is netcdf/4.7.3 - I assume that's better to use than 4.7.1?

[2020-02-07 22:22] jedwards4b commented on #77
Sure

On Fri, Feb 7, 2020 at 3:17 PM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-07 22:50] jedwards4b commented on #67
I am now able to run the chgres_cube on the mac but I am getting a dynamic library load error from the model that I haven't been able to figure out:
[code]
That @rpath should be /usr/local/ufs-release-v1/lib  what is really confusing is that chgres shows this same problem with the netcdf libraries but runs anyway.

[2020-02-07 23:03] climbfuji commented on #67
Does chgres really show
[code]
?

[2020-02-08 00:40] jedwards4b commented on #67
No but chgres does show the @rpath/libnetcdf with otool -L

On Fri, Feb 7, 2020, 16:03 Dom Heinzeller <notifications@github.com> wrote:

[2020-02-08 00:46] climbfuji commented on #67
Ok, but that is what I said two days ago or so. Do otool -l (lowercase L) and search case-insensitive for RPATH and you will find that rpath is set correctly for chgres_cube.exe, but not for the ufs model application. I guess. Please correct me if I am wrong!

[2020-02-08 00:51] jedwards4b commented on #67
So I should look in the model link step for the problem?  I'll try again on
Monday.   Why is this only a problem for netcdf libraries?

On Fri, Feb 7, 2020 at 5:46 PM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-08 03:02] climbfuji commented on #67
My assumption is the following: The libraries in NETCDF-external are built as external libraries, i.e. their own `CMakeLists.txt` control whether macOS rpath functionality is used or not.

The basic question is what you are doing different or  if you are doing anything different from the ufs-weather-model `build.sh` approach. Aren't you calling `cmake` with the same top-level CMakeLists.txt from u

[2020-02-08 03:04] climbfuji commented on #77
I created those libraries and modules on Cheyenne for both Intel and GNU. I didn't finish the hera build with the current version of NCEPLIBS-external/NCEPLIBS yet. The notes are on my other laptop, but if someone is desperate trying this out over the weekend, I can post the details here tomorrow (and finish the hera build I believe).

[2020-02-08 13:17] climbfuji commented on #67
Here is the modulefile for Cheyenne with GNU:
[code]

[2020-02-08 13:18] climbfuji commented on #67
Here is the modulefile for Cheyenne with Intel
[code]

[2020-02-08 14:48] climbfuji commented on #67
Here is the modulefile for Hera with Intel
[code]

[2020-02-10 14:58] climbfuji commented on #67
@jedwards4b FYI I could reproduce the problem on macOS and I am working on it now.

[2020-02-10 15:18] kgerheiser commented on #67
Ran into this too. Not sure why `@rpath` isn't set when linking to NetCDF.

[2020-02-10 15:21] climbfuji commented on #67
It's got to do with the top-level CMakeLists.txt for the ufs-weather-model. I am close to having a clean solution for it. The reason why it comes up for netCDF only is that netcdf-c's own CMakeLists.txt in NCEPLIBS-external starts this entire business.

[2020-02-10 16:36] climbfuji commented on #67
I have not been able to do it the cmake way. I tried the following in both the ufs-weather-model top-level `CMakeLists.txt ` and in `cmake/configure_macosx.gnu.cmake` (that's where it should be):
[code]
This works: add the following line to `cmake/configure_macosx.gnu.cmake` after `NETCDF_LIBDIR` is defined.
[code]
However, I don't like this solution at all.

[2020-02-10 16:42] jedwards4b commented on #67
@climbfuji I can confirm that that solves the problem for the cime build.  I am now able to run on MacOS.

[2020-02-10 16:45] climbfuji commented on #67
Hmm. Maybe @kgerheiser has a better solution. This is beyond my primitive cmake skills.

[2020-02-10 16:49] kgerheiser commented on #67
I have an idea. I think it might be because of how the model links NetCDF.

Doing this doesn't help:
[code]

That just makes sure that when running `make install` it appropriately changes the rpath to the install location, but UFS has no install step and even in the build directory the rpath isn't correct.

[2020-02-10 16:51] climbfuji commented on #67
Ah - so maybe using
[code]
could help?

[2020-02-10 17:03] climbfuji commented on #67
Ok, this seems to work. Thanks, @kgerheiser !

[2020-02-10 18:13] jedwards4b commented on #67
@climbfuji  where did you add that call?   I just want to confirm that it also works with CIME.

[2020-02-10 18:14] climbfuji commented on #67
So, this didn't work after all. Only the -Wl,-rpath works. I am still looking for a better solution.

[2020-02-10 18:17] jedwards4b commented on #67
In that case I think we just stick with  -Wl,-rpath and move on.

[2020-02-10 18:32] climbfuji commented on #67
Yes, I also put it on the backburner.

[2020-02-10 18:39] uturuncoglu commented on #79
I could able to process grib2 data with chgres and now I'll make required changes in the CIME side to make it automatic and test the model.

@KateFriedman-NOAA If you don't mind could you put UFS_UTILS/parm/varmap_tables/GFSphys_var_map.txt file to the FTP.

[2020-02-10 18:59] KateFriedman-NOAA commented on #79
@uturuncoglu Sure, I just need to know which UFS_UTILS tag/branch to grab that file from. @GeorgeGayno-NOAA Can you point me to the UFS_UTILS copy for the release? Thanks!

[2020-02-10 19:11] GeorgeGayno-NOAA commented on #79
The GFSphys_var_map.txt file is part of the release branch: https://github.com/NOAA-EMC/UFS_UTILS/tree/release/public-v1/parm/varmap_tables

[2020-02-10 19:19] KateFriedman-NOAA commented on #79
Thanks @GeorgeGayno-NOAA ! @uturuncoglu You can now find that parm file here:

https://ftp.emc.ncep.noaa.gov/EIB/UFS/parm/GFSphys_var_map.txt

[2020-02-10 20:48] #76 closed

[2020-02-10 21:00] jedwards4b opened #84 "latest code runtime failures on cheyenne"
When using the ufs-mrweather-app hash de1ffe all tests are failing at runtime.
I tried replacing the output of chgres_cube, with that from an earlier version for which the model ran correctly.   That also failed.   Then I tried changing back to my local NCEPlibs install - because I built NCEPlibs with a newer version of the compiler I had to change that as well which then required me to also chang

[2020-02-10 21:38] climbfuji commented on #84
I need to know please at which point the model fails and with which error message ... thank you.

[2020-02-10 21:57] climbfuji commented on #84
I just completed the canned test case (aka simple-test-case, 24h fcst) on Cheyenne with the NCEPLIBS-external/NCEPLIBS installed as modules last week:
[code]
The modulesfiles for both GNU and Intel were missing the ESMFMKFILE entries, I added those.

This is how I compiled the latest release/public-v1 code using `build.sh`:
[code]
This build uses the information in `cmake/configure_cheyenne.intel.

[2020-02-10 22:10] jedwards4b commented on #84
That was the problem, apparently the esmf_libs/8.0.0 esmf-8.0.0-ncdfio-mpi-g was incompatible with the NCEPlibs build - it's working after you fixed the ESMFMKFILE entry and I removed the other module.

[2020-02-10 22:14] climbfuji commented on #84
Hooroay!

[2020-02-10 22:15] #84 closed

[2020-02-10 22:23] climbfuji commented on #67
This is addressed in https://github.com/ufs-community/ufs-weather-model/pull/54 (not yet merged).

[2020-02-10 22:34] rsdunlapiv commented on #79
Here is an update on CIME support for automatic downloading of initial conditions for chgres:

- We initially were automatically downloading _nemsio_ format but we are planning to disable that approach and instead only automatically download _grib2_ format.  The _nemsio_ files are very large, so it makes sense to only download _grib2_ automatically.  @uturuncoglu is working on this functionality.

[2020-02-10 22:48] ceceliadid commented on #72
Hi @llpcarson is there a ufs-v1.0.0.beta01 tag on the weather model UG? If so, what URL should be used to access it? If not, do you know who might be able to do this?
Including @climbfuji and @junwang-noaa in case they know anything about it.

[2020-02-10 22:58] llpcarson commented on #72
No, not specifically for the UG.  It currently exists in a branch called
"documentation".  I thought we were going to merge this into the release
branch at some point, where it would share the same tagging info.   I don't
think we can tag it with this name, though, since there's already a tag in
this repo for the code release branch.

Would it be worthwhile to have an independent tag at this point

[2020-02-10 23:00] ceceliadid commented on #34
Hi @climbfuji and @jedwards4b, I've started putting a link to the NCEPLIBS wiki on the standard nav bar we've been using for the ufs-community wikis, see for example https://github.com/ufs-community/ufs-weather-model/wiki on the right nav bar at the bottom.

I'm going to go ahead and put a similar custom nav bar on the NCEPLIBS wiki, so that it's better integrated into the family of ufs wikis. Eve

[2020-02-10 23:05] ceceliadid commented on #34
Well, it looks like I cannot do this because I don't have permissions to edit the NCEPLIBS wiki. Could that be provided? I will not be changing any content.

[2020-02-10 23:19] ceceliadid commented on #72
Hi @llpcarson , yes, to start the GST we asked for a tag on the WM UG. I don't think it matters what the specific name of the tag is, it could be something like ufs-v1.0.0.beta01doc if that is okay with @arunchawla-NOAA and others.
That way the UG will not be changing as people are looking at it.

[2020-02-10 23:28] climbfuji commented on #34
Do you also need nceplibs-external permissions? Would be good if someone with an eye on consistency in instructions and layout had the option to work on this.

[2020-02-10 23:29] llpcarson commented on #72
OK - I was able to push a tag to the repo, and configured ReadTheDocs:

https://ufs-mr-weather-app.readthedocs.io/projects/ufs-weather-model/en/ufs-v1.0.0.beta01doc/

Laurie

On Mon, Feb 10, 2020 at 4:19 PM ceceliadid <notifications@github.com> wrote:

[2020-02-10 23:36] ceceliadid commented on #34
Maybe. Do you want that NCEPLIBS-external wiki to be the main place that models and apps would point to for building library dependencies, or the NCEPLIBS wiki?

[2020-02-10 23:39] ceceliadid commented on #72
That is super awesome, thank you! I am going to modify the WM pages and close this ticket!

[2020-02-10 23:39] #72 closed

[2020-02-11 00:10] arunchawla-NOAA commented on #34
It will have to be both, the NCEPLIBS super project is building the
libraries and the codes that NCEP has repos for, pre proc, upp etc

The NCEPLIBS-external is building external libraries that have been
released and we are using. Here, NETCDF, HDF5, ESMF8 etc.

Developers may need to build both.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implem

[2020-02-11 00:21] climbfuji commented on #34
I am trying to get my head around how to organize it best. But probably like this

- setup instructions for systems (how to install compilers etc before even trying to build NCEPLIBS-external) will be on the NCEPLIBS-external wiki
    - these setup instructions contain basic examples of how to build NCEPLIBS-external and NCEPLIBS, but refer to the corresponding pages on the NCEPLIBS-external / NCE

[2020-02-11 00:25] arunchawla-NOAA commented on #34
Dom if you can give Cecelia access to the wikis then she can help you (if
that is ok with you Cecelia) organize this in a clear and succinct way that
would be very clear to the external community.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research C

[2020-02-11 00:29] ceceliadid commented on #34
I can give it a shot.

[2020-02-11 01:27] ceceliadid commented on #74
This was done and can be closed.

[2020-02-11 01:27] #74 closed

[2020-02-11 01:48] ceceliadid commented on #34
fwiw I did go through and modify the wiki nav on models and apps to point to to both NCEPLIBS and NCEPLIBS-external. Happy to draft some intro material esp. for NCEPLIBS, add click buttons to get to the build user forum, add nav, generally try to organize as Dom outlined, etc.

[2020-02-11 02:58] climbfuji commented on #34
Done. Thanks for helping!

[2020-02-11 14:51] ceceliadid commented on #34
Thanks! I finished a first pass through and probably will not get back to it until tomorrow, please feel free to change anything. Thinking about three main things - 1) Getting information that applies to both nceplibs and nceplibs-external and an overview in one place. Currently that's nceplibs but I can move it to nceplibs-external if that makes more sense for some reason. Is there a preference o

[2020-02-11 15:10] jwolff-ncar commented on #25
@ceceliadid Link folks to the forum from multiple locations makes a lot of sense to me. Thanks for setting that up.

[2020-02-11 15:24] arunchawla-NOAA commented on #79
My recommendation is to disable the automatic download of grib2 data. While this is an attractive feature it does force you to rely on two things

1. The data feed being available on said website and
2. If the website for any reason is blocked at the user end then this will show up as a CIME failure

It may be better to provide detailed documentation on where data can be obtained from and let the

[2020-02-11 16:14] ceceliadid commented on #67
I put the description of pre-configured and supported platforms in one place on the ufs top-level wiki, here:
https://github.com/ufs-community/ufs/wiki/Pre-Configured-and-Supported-Platforms
and have pointed all the wikis to this place instead of repeating the info.
If there are updates or the definitions need improving I would suggest doing it here.

[2020-02-11 16:41] climbfuji commented on #67
Thanks, we need to update this list at some point to match what we discussed yesterday ...

[2020-02-11 16:54] ceceliadid commented on #67
I couldn't make that call so I don't know what the changes were - will need help with that.

[2020-02-11 16:59] climbfuji commented on #67
See here: https://docs.google.com/spreadsheets/d/122uasMhD8aF_s6jUpy7t_Io5JSNGYOmBddtT6kh0dSQ/edit#gid=0 - note the definition of the tiers in the yellow boxes at the bottom. Note also that a system can only be a preconfigured platform if the libraries are installed in a shared space, not a user directory. This disqualifies stampede unless the sysadmins are willing to make this move.

[2020-02-11 17:12] ceceliadid commented on #67
I see the point for the general community. Since we have a Stampede allocation specifically for GST tests for the release, can we install the required libs in that user directory and consider it preconfigured for GST folks?

[2020-02-11 17:16] rsdunlapiv commented on #67
@ceceliadid for the description of pre-configured and supported, it's not just that NCEPLibs and NCEPLibs-external are either pre-installed or expected to work.  The model itself is expected to compile and work and the workflow is expected to work as well.

[2020-02-11 20:16] jwolff-ncar commented on #25
The support forum is now live!
https://forums.ufscommunity.org/

Users must create a login to be able to post or answer questions. A few moderators will be given elevated permissions to move/tag questions as needed (I will work with a subset of people to set that up).

There will be a feedback page on the site soon (later today if not already). This will be monitored so feel free to post suggestio

[2020-02-12 01:32] arunchawla-NOAA commented on #79
@rsdunlapiv @jedwards4b @GeorgeGayno-NOAA @LarissaReames-NOAA

I checked out the different ways to get data from here

https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-forcast-system-gfs

The only complete set was through their HAS system (I was getting 0.5 deg grib2 fields for dorian test case) and that is an interactive approach. Their NOMADS server has holes in the data se

[2020-02-12 01:34] arunchawla-NOAA commented on #77
@rsdunlapiv and @jedwards4b Is this still an issue? I think we have defined pre configured vs supported platforms and are progressing according to the spreadsheet that @climbfuji created

[2020-02-12 01:36] arunchawla-NOAA commented on #78
@jedwards4b and @rsdunlapiv all the other tags have been created. Only the app and CIME (if it has not been created yet are left)

[2020-02-12 01:44] arunchawla-NOAA commented on #67
@ceceliadid @rsdunlapiv @climbfuji based on our discussions these were the 4 levels of testing

Tier 1 : Pre configured -- Libraries installed in a central place, model builds and CIME works end to end

Tier 2: Supported -- Libraries build, model builds and CIME works end to end, just libraries not stored in a central space

Tier 3: -- Libraries build, model builds, testing done only with the simp

[2020-02-12 02:05] jedwards4b commented on #77
No - I think this is resolved.

[2020-02-12 02:32] climbfuji commented on #77
I agree.

[2020-02-12 15:37] ceceliadid commented on #25
This is great! All the wiki buttons are pointed to the correct forums now.

[2020-02-12 16:37] ceceliadid commented on #67
@arunchawla-NOAA @rsdunlapiv @climbfuji Thanks. There is a consistency issue here that Ligia has raised before. The criteria you are using for the Tier 1/Tier 2... ladder is different than the criteria that is in current documents.

Tier 1/Tier 2 etc. is already defined by a regression test policy that has documents at the UFS, app, and model level - see for example at the UFS level:  https://gith

[2020-02-12 19:57] #77 closed

[2020-02-12 21:03] climbfuji opened #85 "Issues/suggested improvements when running CIME on macOS (or on other systems)"
This is a list of issues/suggested improvements that I came across when running CIME on macOS.

1. Currently, `ncep_post` is being copied into the same directory where the UFS model exe is placed, while `chgres_cube.exe` is not. I would vote for creating symlinks for both in that directory, so that it is more transparent where the executables are coming from (copies don't tell you anything, and us

[2020-02-12 21:13] jedwards4b commented on #85
With Respect to 7 and 8 please see #52 where we have already discussed changing the default namelist options - in particular note that the defaults are documented here
https://docs.google.com/document/d/1EKc2mAld5VsrNjTRgqUcTVG1ZcEIkllA-NrAKUs4DWI/edit
https://docs.google.com/document/d/1bLbVdWgEIknDQZgTuOZ6IPVEGv5jUgOrCm4GrR96oBU/edit
and that we have already discussed and rejected changing the t

[2020-02-12 21:19] climbfuji commented on #85
Thanks for sharing those documents. Consider 8 as done, I just wanted to confirm that this was intended. I didn't see anything discussing the forecast length there. Should we just tell the user to change it before executing case.submit?

[2020-02-12 21:35] uturuncoglu commented on #85
@climbfuji
(1) is done and will be available in next push

[2020-02-12 21:59] climbfuji commented on #85
Thanks! pre and model run fine, but I am afraid the post script is incompatible with macOS. So far I found four parts in the auto-generated `.case.gfs_post` script that do not work. It will take me a long time to write this down, I am wondering if there is a better way. Maybe I could share my screen with you on google hangout?

[2020-02-12 22:05] uturuncoglu commented on #85
Sure just send me the link and we could look at together.

[2020-02-12 23:23] ceceliadid commented on #34
@arunchawla-NOAA  @climbfuji @rsdunlapiv  Think I am pretty much done with the nceplibs & nceplibs-external wikis and the supported platforms page. The gaps that are left someone with actual knowledge needs to fill in. Would still recommend moving the few sections that are very version-dependent to the READMEs. Not really sure I should try to do that.

The supported platforms page is now here.
htt

[2020-02-13 00:06] jedwards4b opened #86 "8 day forecast starting 2019-08-29"
Here is the complete output: /glade/scratch/jedwards/ufstest/run I don't have enough experience with this model to know if it's any good or not - @arunchawla-NOAA who should look at it?

[2020-02-13 00:53] jedwards4b opened #87 "Cheyenne intel debug tests failing"
After changing the initial conditions from nemsio 2019-09-09 to grib2 2019-08-29 we are
getting failures in the model run with DEBUG enabled at C192 and C384 with both physics packages.
Traceback:
[code]

[2020-02-13 00:56] arunchawla-NOAA commented on #86
First congratulations in getting that done. If rocky can help move to Hera we will see how best to visualize it then share that script. Hopefully that helps us set the baseline. How long did it take you to run it ?

Sent from my iPhone

[2020-02-13 01:02] jedwards4b commented on #86
It only took about 30 minutes.  @rsdunlapiv can you copy this directory to hera?

[2020-02-13 01:18] arunchawla-NOAA commented on #87
@jedwards4b when using the grib2 data set you have to set NSST flag to false. Did you do that? @BinLiu-NOAA can you share the Namelist file that you used for the model run for the C96 configuration?

[2020-02-13 01:19] arunchawla-NOAA commented on #78
@jedwards4b now that we have started running tests are we ready to create tags and close this ticket?

[2020-02-13 01:20] ceceliadid opened #88 "Gitflow description of UFS development"
@arunchawla-NOAA This is a relatively minor thing, but it would be good to make sure that the Gitflow discussion here, intended to apply to UFS overall, is something people actually want to say about UFS development:
https://github.com/ufs-community/ufs/wiki/Development-Processes#Developing-with-Gitflow
It could probably use a look over.

[2020-02-13 01:22] jedwards4b commented on #87
I don't see any variable anywhere called NSST @uturuncoglu any ideas?

[2020-02-13 01:24] ceceliadid commented on #25
Hi @jwolff-ncar I noticed that some of the forums don't have any messages on them at all yet. Do you think it would be good to make sure that each one has at least a welcome message? People might hesitate to be the very first one to post.

[2020-02-13 01:26] jedwards4b commented on #87
There is a variable convert_nst for chgres - it's false. Is that the one you mean?

[2020-02-13 01:28] jedwards4b commented on #78
I think that we are very close - there are some new problems cropping up with the change of initial conditions, but I hope to close this tomorrow.

[2020-02-13 01:29] arunchawla-NOAA commented on #88
OK will look at it. The code management paradigm has shifted a bit from
this initial idea so good to go over
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
Mobile : 240-564-5675
     Fax : 301-68

[2020-02-13 01:34] arunchawla-NOAA commented on #11
@climbfuji and @rsdunlapiv can we close this ticket since I think you opened a similar issue in CIME enhancement ticket

[2020-02-13 01:37] BinLiu-NOAA commented on #87
@jedwards4b According to Xu Li,  to turn off NSST in the forecast job, you need to change
       nstf_name      = 2,0,0,0,0
into
       nstf_name      = 0,0,0,0,0
in the input.nml.

Of course, for the chgres_cube's namelist file (fort.41), you also need to set
convert_nst=.false.

Bin

[2020-02-13 01:37] arunchawla-NOAA commented on #34
@ceceliadid can we close this ticket since the instructions should be good for the GST? I like your labels for testing much better than the tier labels we had

[2020-02-13 01:41] arunchawla-NOAA commented on #86
@jedwards4b given the NSST setting issue, maybe we need to rerun this case. But first lets ensure that the regression tests pass

[2020-02-13 02:33] jedwards4b commented on #87
nstf_name = 2, 1, 1, 0, 5
should I set
nstf_name = 0,0,0,0,0
or
nstf_name = 0,1,1,0,5

On Wed, Feb 12, 2020 at 6:37 PM Bin Liu <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-13 02:53] ceceliadid commented on #34
@arunchawla-NOAA Sorry but I don't think this ticket should be closed until the nceplibs and nceplibs-external documentation is in decent shape, it needs quite a bit of help still. I wouldn't point anybody to it yet. The platform support page also needs info from the testing spreadsheet added to it, and I don't understand yet what the setup for Stampede2 is going to be - if we can have nceplibs an

[2020-02-13 02:54] BinLiu-NOAA commented on #87
@jedwards4b
I would try
nstf_name = 0,0,0,0,0

The following may provide the same result though.
nstf_name = 0,1,1,0,5

[2020-02-13 03:05] mvertens commented on #34
@ceceliadid @jedwards4b - Jim as a directory on stampede that multiple
projects are using and that can be used for the GST. Apart from the fact
that it is under Jim's name - all other aspects on stampede correspond to a
pre-configured system. We did not want to label it as preconfigured since
its under a given persons directory name (although has all the permissions
set up as if this was not the c

[2020-02-13 03:12] climbfuji commented on #11
Sure, make sense, and we are converging. Closing this ticket.

[2020-02-13 03:12] #11 closed

[2020-02-13 03:22] ceceliadid commented on #34
@mvertens @jedwards4b That's excellent, would appreciate the details!

[2020-02-13 11:13] arunchawla-NOAA commented on #34
The origin of this ticket was for the WM GST. Since the WM GST is not
installing the libraries I suggest we close this ticket and open another
one to finalize NCEPLIBS and NCEPLIBS-EXternal documentation in time for
the public release. The build team is still tweaking the external build
based on issues they are finding with Gaea.
---------------------------------------------------------------
Arun

[2020-02-13 14:57] ceceliadid commented on #34
@arunchawla-NOAA I am planning on having someone try installing the libraries for the WM GST, and have a person from AOML waiting who wants to try that. I was just not waiting for that to get started, since we also have people who can use the pre-configured platforms. I think it would be a good idea to do a short round through the documentation now and get that basically usable, and include this i

[2020-02-13 15:00] arunchawla-NOAA commented on #34
OK, do you know which platform they want to build the libs? I will put
aside this afternoon to review some of the documentation. I am hoping the
NCEPLIBS-EXternal documentation will be in god form when Dom gets the Gaea
wrinkles figured out.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather &

[2020-02-13 15:04] climbfuji commented on #34
nceplibs-external documentation is ok in my opinion; what is missing is the nceplibs documentation itself.

Cecelia did a great job on the NCEPLIBS-external wiki, there is only one problem I think: it is difficult to find the actual installation instructions down on the first page. Users are distracted by all the general UFS "supported platform" stuff on the right panel. I think the installation s

[2020-02-13 15:20] ceceliadid commented on #34
@climbfuji thank you!

[2020-02-13 15:21] rsdunlapiv commented on #86
I started the copy to Hera:
`/scratch1/NCEPDEV/nems/Rocky.Dunlap/ufs8day.tar.gz`
It looks like it will take another hour to complete the transfer.

[2020-02-13 15:34] jedwards4b commented on #87
I tried nstf_name = 0,0,0,0,0
that results in an error:
0: ==============
0: final results
0: ==============
0: dbgx --fixratio: F F F F
29: dbgx --scale snwdph from sheleg         334  0.000000000000000E+000
29:  0.377504399924366
61: enter get_nggps_ic is=  25 ie=  48 js=  73 je=  96 isd=  22 ied=  51
jsd=  70 jed=  9961:MPT ERROR: Rank 61(g:61) received signal SIGSEGV(11).
61: Process ID: 47300

[2020-02-13 16:17] pjpegion commented on #86
I'm trying to run the dorian test case on cheyenne with the gnu compliler. and I'm running into issues.
First of all, the workflow is looking for data in /glade/p/cesmdata/cseg/ufs_inputdata/icfiles/gfsanl/gfs.20190829/00 but the data is really in
/glade/p/cesmdata/cseg/ufs_inputdata/icfiles/gfsanl/201908/20190829/

When I changed the path in src/model/FV3/cime/cime_config/buildnml I now get the f

[2020-02-13 16:49] rsdunlapiv commented on #86
@arunchawla-NOAA the transfer has completed:
`/scratch1/NCEPDEV/nems/Rocky.Dunlap/ufs8day.tar.gz`

[2020-02-13 16:57] arunchawla-NOAA commented on #67
The platforms status spreadsheet has been rejigged to reflect the plans.

[2020-02-13 17:01] arunchawla-NOAA commented on #67
@ceceliadid I am updating the wiki documentation for the supported platforms and the documentation links for the RDHPCS platforms require access that people may not have

[2020-02-13 17:08] uturuncoglu commented on #86
@pjpegion this is already fixed. there was typo problem in the file. Could you update the CIME to the latest of remotes/origin/ufs_release_v1.0 branch. This will fix the problem.

[2020-02-13 17:37] jedwards4b opened #89 "Cheyenne 8-day Forecast failing"
Continued from email discussion.
I am now using the data from the file gfs_4_20190829_0000_000.grb2
I have made the following changes from the default namelist:
[code]
And the model is blowing up
[code]

[2020-02-13 17:39] jedwards4b commented on #87
I moved this to #89

[2020-02-13 17:44] jedwards4b commented on #89
I tried nstf_name = 0,1,1,0,5 - this also crashes in the same way.
I went back to nstf = 2,1,1,0,5 and the model runs to completion.

[2020-02-13 17:47] jedwards4b commented on #86
@pjpegion we are in the process of debugging this case now, we are not ready for you to run it unless you want to help figure out the problem.   Thanks,

[2020-02-13 17:48] jedwards4b commented on #89
Closing this - we have multiple open already - sorry.

[2020-02-13 17:48] #89 closed

[2020-02-13 17:48] jedwards4b commented on #86
Continued from email discussion.
I am now using the data from the file gfs_4_20190829_0000_000.grb2
I have made the following changes from the default namelist:
[code]
And the model is blowing up
[code]

[2020-02-13 17:49] jedwards4b commented on #86
I tried nstf_name = 0,1,1,0,5 - this also crashes in the same way.
I went back to nstf = 2,1,1,0,5 and the model runs to completion.

[2020-02-13 18:07] jedwards4b commented on #86
@arunchawla-NOAA Can we get the post chgres_cube files for this case and try running from that so that we can determine if the problem is there?

[2020-02-13 18:07] jedwards4b commented on #86
@BinLiu-NOAA What do you suggest next.

[2020-02-13 18:30] BinLiu-NOAA commented on #86
@jedwards4b I am not sure why in your test, nstf_name = 0,1,1,0,5 or nstf_name = 0,0,0,0,0 could not work. But, if nstf = 2,1,1,0,5 worked, you probably want to double check if the NSST related output fields are correct. I would suggest you checking with @GeorgeGayno-NOAA and xu.li@noaa.gov at EMC to see if chgres_cube and the NSST component of ufs-weather-model are working properly.

Also, to be

[2020-02-13 18:38] uturuncoglu commented on #86
@BinLiu-NOAA We used grib2 input in this case. We don't have NEMSIO files for same date (dorian case) because the NOMADS server has only last 10 days. If you know the public place that we could get NEMSIO files and use them to run the model, we could try. If you or @GeorgeGayno-NOAA have recent run (dorian case) that uses chores, grib2 combination and works with this options, please share the name

[2020-02-13 18:52] BinLiu-NOAA commented on #86
@jedwards4b For your reference, I posted below for the namelist files for my chgres_cube and forecast job for my C96 grib2 test. They are on Hera, together with the chgres_cube and forecast results, if you happen to have access there. Meanwhile, just for clarification, I was using early versions of UFS_UTILS's chgres and the ufs-weather-model (more specifically the HAFS application). But, I don't

[2020-02-13 18:56] uturuncoglu commented on #86
@BinLiu-NOAA Thanks for the namelist files. I'll check them. In the meantime, i think it is better to test with the version that we are using because there could be an issue related with CHGRES or the model stability.

- The model - ufs-v1.0.0.beta01
- NCEPLIBS - 1.0.0alpha01

It could be easy test to use CHGRES from 1.0.0alpha01 and try to generate input files and run the model.

[2020-02-13 18:58] uturuncoglu commented on #86
BTW, your CHGRES namelist has lots of options and i think most of them are in default value. Right? Anyway, we could try to use your namelist to see what happens.

[2020-02-13 19:01] uturuncoglu commented on #86
Is this process grib2? How we could access the input data? Is it in a public place? You are also setting tracers and tracers_input and I think those are not required for grib2 input.

[2020-02-13 19:38] pjpegion commented on #86
@rsdunlapiv Thanks,  it works now
@jedwards4b My run with the gnu compiler is complete. I will compare my results with yours.

[2020-02-13 19:46] pjpegion commented on #86
@jedwards4b my run was with the gfs analysis files not the new "canned winds" file that Kate Friedman supplied.  Do you still have the results of your run that started this thread?

[2020-02-13 20:21] BinLiu-NOAA commented on #86
@uturuncoglu, please use your own versions of namelist files. I posted mine just for your reference (because you asked). Again, as I mentioned, my tests were based on early versions of UFS_UTILS's chgres_cube and ufs-weather-model.

[2020-02-13 20:51] jedwards4b commented on #86
@rsdunlapiv Can you tar the directory /scratch1/NCEPDEV/hwrf/scrub/Bin.Liu/ufs_utils_grib2/HAFS_uniform_forecast_g2new_C96_2019082900_05L/  on hera and transfer to cheyenne:

To confirm please make sure the file gfs.t00z.pgrb2.1p00.f000 is there.

We also need
/scratch1/NCEPDEV/hwrf/scrub/Bin.Liu/ufs_utils_grib2/HAFS_uniform_chgres_g2new_C96_2019082900_05L.work/INPUT

Thanks

[2020-02-13 22:18] uturuncoglu commented on #86
@BinLiu-NOAA JFYI, i compared your input.nml with CIME generated one and I found following differences,

[code]

In this case the values indicated by () are the CIME ones. So, we have lots of differences. We were using following documents to set defaults for mr-wearther model

v16beta - https://docs.google.com/document/d/1bLbVdWgEIknDQZgTuOZ6IPVEGv5jUgOrCm4GrR96oBU/edit
v15p2 - https://docs.google

[2020-02-13 22:21] rsdunlapiv commented on #86
@BinLiu-NOAA is this a configuration that is only expected to work for the HAFS (hurricane) configuration?  The focus of the release is global medium-range weather, so if HAFS has a lot of application specific changes, it may not be suitable for the release at this time.

[2020-02-13 22:42] arunchawla-NOAA commented on #86
@junwang-noaa and @KateFriedman-NOAA can you help here. The namelists that @jedwards4b has based on the documentation provided is different from the one that @BinLiu-NOAA is running.

Can we identifty what those differences signify? We want to understand why the runs are blowing up

[2020-02-13 22:46] jedwards4b commented on #86
The problem seems to be strongly linked to turning OFF NSST.

[2020-02-13 22:55] arunchawla-NOAA commented on #86
@jedwards4b just for clarification, do the runs work when you use the namelists from @BinLiu-NOAA ?

[2020-02-13 22:57] jedwards4b commented on #86
The namelists from @BinLiu-NOAA are from a different version of both the model and the chgres there appear to be namelist variables defined that we don't have and so we can't just copy the namelist.  We tried to pick out all the differences that we could find and run with that - the model died in exactly the same way.

[2020-02-13 23:04] arunchawla-NOAA commented on #86
OK we will get together tomorrow at EMC and get back to you

[2020-02-14 14:01] jedwards4b commented on #86
This file gfs.t00z.pgrb2.1p00.f000 is the input used by the @BinLiu-NOAA case.   It doesn't have the same name as the file on the ftp site gfs_4_20190829_0000_000.grb2.   We haven't been able to find the file on hera to confirm whether it is or is not the same file.

[2020-02-14 14:39] arunchawla-NOAA commented on #86
Jim

That was an older run that Bin did. He is repeating the run(s) with the
file that Kate has posted on the ftp site. chgres has worked he is turning
to the model run now.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 2

[2020-02-14 17:42] jedwards4b commented on #86
@BinLiu-NOAA @arunchawla-NOAA I've been looking at this with a debugger - the variable qrain in routine sfc_nct_run is passed in from variable GFS_Data()%Sfcprop%qrain which does not appear to be associated or allocated.   It's the assignment to this variable that is failing.

[2020-02-14 17:47] jedwards4b commented on #86
And this is the problem: in GFS_typedefs.F90 the allocation of qrain happens within a
 if (Model%nstf_name(1) > 0) then
conditional.

[2020-02-14 17:54] climbfuji commented on #86
Is qrain going to be used at all in sfc_nst_run? If it is not, then one fix would be to remove the explicit dimensions from the variable declaration (i.e. the intent statement) and make it an assumed-size array (i.e. use ":" instead of "im").

*But* this isn't a great way to do this. If sfc_nst is not used (because nstf_name(1)==0) then  the calls to it shouldn't be in the suite definition file. M

[2020-02-14 17:59] jedwards4b commented on #86
I took the alternative approach and commented out the if block in GFS_typedefs.F90 - it looks like I'll be able to complete the 8 day forecast with that change.

[2020-02-14 18:06] arunchawla-NOAA commented on #86
@climbfuji we had switched nsst option off because that information was not being created by grib2 files. However, that is creating more problems. We are taking a close look to see how the results look. If they are fine then we will leave the NSST option on. We will have some internal discussions and get back to you

[2020-02-14 18:11] jedwards4b commented on #86
So you should already have my results with nsst on - on hera in file /scratch1/NCEPDEV/nems/Rocky.Dunlap/ufs8day.tar.gz

[2020-02-14 18:12] junwang-noaa commented on #86
@climbfuji I think CCPP needs to provide a different suite file for not running nst. The GFS_typedefs is correct, if no nstf_name(1)=0, then nst is not called, and all the nst related fields should not be allocated.

[2020-02-14 18:13] junwang-noaa commented on #86
qrain is a variable used by sfc_nst

[2020-02-14 18:17] arunchawla-NOAA commented on #86
Even though no nsst data is available in cold start, some nsst like functionality is happening based on results that @GeorgeGayno-NOAA showed us. This does not work with IPD, but for some reason with CCPP it is working. We need to discuss with @climbfuji

[2020-02-14 18:42] jedwards4b commented on #86
I have also completed 8 days with nstf_name(1)=0 but with the commented out the if block in GFS_typedefs.F90.  Those results are on cheyenne in /glade/scratch/jedwards/SMS_Ld8.C96.GFSv15p2.cheyenne_intel.20200214_110758_es2nmt/run

[2020-02-14 19:31] llpcarson commented on #75
DTC contributed some re-organization and updates; CIME group is continuing to update as other components are finalized.  Status changed to "in progress".

[2020-02-14 19:44] llpcarson commented on #17
Draft provided in GoogleDoc for review

[2020-02-14 22:18] arunchawla-NOAA commented on #86
So here is the summary of a long discussion between EMC, NCAR and DTC

1. The flags that CIME team is using are correct with a few minor tweaks
     a) When using NEMSIO use nstf_name = 2,0,0,0,0 as this will use NSST fields from the data stored in NEMSIO
   b) When using grib2 use nstf_name = 2,1,0,0,0 as this will spin up NSST

2. If we do not want to use NSST then we have to set nstf_name=0,0,0

[2020-02-14 22:24] arunchawla-NOAA commented on #87
We have reached some idea on how we can proceed with grib2 data and NSST

To use it we have to use nstf_name=2,1,0,0,0,

However this approach still gives us an error in debug mode for grids higher resolution than C96. EMC will try to reproduce the error. We surmise the issue is because the ocean surface temperature is becoming too cold [Note this is an artifact of interpolations in grib2 data and

[2020-02-16 01:20] jedwards4b commented on #86
I have created PRs https://github.com/NOAA-EMC/fv3atm/pull/67
and https://github.com/ESCOMP/FV3GFS_interface/pull/5
to resolve this issue given that the 8 day output is acceptable.

[2020-02-16 01:21] jedwards4b commented on #87
This issue is resolved PRs NOAA-EMC/fv3atm#67
and ESCOMP/FV3GFS_interface#5
to resolve this issue given that the 8 day output is acceptable.

[2020-02-16 03:59] junwang-noaa commented on #86
@jedwards4b Why do we need PRs NOAA-EMC/fv3atm#67? I thought we are resolving the issue using method 1) in Arun's email.

[2020-02-16 15:37] jedwards4b commented on #86
I offer PR #67 as an alternative or perhaps additional choice.   I think
that we'll make a decision based on the output of the two runs.

On Sat, Feb 15, 2020 at 8:59 PM junwang-noaa <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-17 06:18] rsdunlapiv commented on #87
@arunchawla-NOAA I moved @jedwards4b  NSST and non-NSST runs to Hera for review:
[code]

[2020-02-18 15:24] jwolff-ncar commented on #25
Each forum has a post that directs users to use the "New Topic" button to post a new thread. @ceceliadid Let me know if you do not think that is sufficient. I have not seen any other questions posted. Has the forum site been well communicated to those doing testing? How can I further help with that?

[2020-02-18 15:32] jwolff-ncar commented on #25
I wanted to be sure you all knew that the support forum is now live: https://forums.ufscommunity.org/. Please have a look.

We need to determine a list of SMEs that will be responsible for monitoring the forums. I have started a document that I would be most appreciative if others could have a look at and start filling in names. (https://docs.google.com/document/d/1GUwFpUIYZzxnUwyGmvqjf6-Ek_BWnvZI

[2020-02-18 23:46] llpcarson commented on #17
@LarissaReames-NOAA @GeorgeGayno-NOAA Can you provide an update on your draft documentation?  Do you have a timeline to put it into RST?  Thanks!

[2020-02-18 23:47] llpcarson commented on #18
@fossell Hi Kate - can you provide a quick update on the UPP documentation for the UFS MRW release?  Is there a draft ready for review, or a link to the current version?  Thanks!

[2020-02-18 23:51] llpcarson commented on #75
@rsdunlapiv @uturuncoglu Could you add a quick status for this documentation - are your contributions ready for review, or is there more content to add?  Thanks!

[2020-02-19 01:34] arunchawla-NOAA commented on #17
Laurie

We are finalizing the google document and then will be asking @Valbona
Kunkel - NOAA Affiliate <valbona.kunkel@noaa.gov> to help us move it to RST
form. Should begin happening this week.
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Cou

[2020-02-19 04:54] ceceliadid commented on #25
Hi @jwolff-ncar I do have a few people working on the WM GST on Cheyenne so you may see some questions. I think the WM forum buttons are pretty obvious on the pages they're using and I also mentioned the forum on the questionnaire. Folks currently working on it have until 2/28 to finish the test so nothing may come through for a while. If I can get some testing started on the non-configured platfo

[2020-02-19 15:10] fossell commented on #18
@llpcarson A decent draft has been prepared by @hertneky and she will be pushing it to the release/public-v8 branch of EMC_post today.  Draft as it stands now can be found at [this link](https://ufs-public-release.readthedocs.io/en/release-public-v4/index.html), but note this will change once merged to newly established branch name (public-v8).  We have not created the "latest" link at this point.

[2020-02-19 16:44] uturuncoglu commented on #75
It is mostly ready but I need to modify couple of section (especially Inputs and Outputs section) because we did couple of changes related with input types (nemsio -> grib2). I'll do it today or tomorrow.

[2020-02-20 16:32] climbfuji commented on #85
Folks, any updates on making the post script macOS compliant? The ncep_post crash has been fixed. Thanks ...

[2020-02-20 20:08] JulieSchramm opened #90 ""fv3gfs_interface": reference "ufs-v1.0.0.beta07" does not appear to be a valid tag"
I think there is a typo either in the tag name or Externals.cfg, depending on how many zeros you want.

[2020-02-21 15:00] jedwards4b commented on #90
I forgot to push the tag - this is corrected now.  https://github.com/ESCOMP/FV3GFS_interface/releases/tag/ufs-v1.0.0.beta07

[2020-02-21 15:00] #90 closed

[2020-02-21 15:54] jedwards4b opened #92 "chgres on cheyenne for grib input hanging at C384 and C796"
This is happening with the dorian input data 2019-08-29 .  I have also tried another date 2020-01-02 with the same result.  I am using the chgres in
module use /glade/p/ral/jntp/GMTB/tools/modulefiles/intel-19.0.5/mpt-2.19
module load NCEPlibs/1.0.0beta02
and in
module use /glade/p/ral/jntp/GMTB/tools/modulefiles/gnu-8.3.0/mpt-2.19
module load NCEPlibs/1.0.0beta02

[2020-02-21 20:01] pjpegion opened #93 "Port to CU summit issues"
I am trying to follow the CIME porting directions to build and run an University of Colorado's Summit platform.  Following the directions, I have build NCEPLIBS-external and NCEPLIBS.
I ran into a issues configuring CIME, and also the model crashes during initialization.

1- I created a config_machines.xml, but it is not clear what to put in NODENAME_REGEX,  I has to hard code this to the node I a

[2020-02-21 20:34] GeorgeGayno-NOAA commented on #92
According to the log file, where is it hanging?

[2020-02-21 20:36] uturuncoglu commented on #92
On Stampede2, C384 is working but C768 is failing with following trace,

CALL FieldCreate FOR TARGET TERRAIN.
CALL FieldCreate FOR TARGET SURFACE PRESSURE BEFORE ADJUSTMENT.
CALL FieldRegridStore FOR ATMOSPHERIC FIELDS.
forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC                Routine            Line        Source
chgres_cube.exe    00000000008EA5CD  Unknown

[2020-02-21 20:38] GeorgeGayno-NOAA commented on #92
It may be running out of memory.  Can you run across more nodes?

[2020-02-21 20:39] climbfuji commented on #92
Can you send me the location of your run directory on cheyenne, please? I can take a look. At first glance it seems this isn't an issue with the chgres build (because C384 works), but I'll have to look closer. Thanks!

[2020-02-21 20:39] uturuncoglu commented on #92
It is failing on Cheyenne like following

 - DEFINE INPUT GRID OBJECT FOR INPUT GRIB2 DATA.
 - OPEN AND INVENTORY GRIB2 FILE:
 /glade/p/cesmdata/cseg/ufs_inputdata/icfiles/201908/20190829/gfs_4_20190829_000
 0_000.grb2
 - DEFINE INPUT GRID OBJECT FOR INPUT GRIB2 DATA.
 - OPEN AND INVENTORY GRIB2 FILE:
 /glade/p/cesmdata/cseg/ufs_inputdata/icfiles/201908/20190829/gfs_4_20190829_000
 0_000.grb2
 - F

[2020-02-21 20:40] uturuncoglu commented on #92
@climbfuji

**on Stampede2:**
/scratch/01118/tg803972/SMS_Lh3.C768.GFSv15p2.stampede2-skx_intel.G.20200220_151254_03nf9g

**on Cheyenne:**
/glade/scratch/jedwards/SMS_Lh3.C768.GFSv15p2.cheyenne_intel.GC.20200220_160700_k8hb8w/run

[2020-02-21 21:36] climbfuji commented on #92
The following works just fine on Cheyenne:
[code]
Please have a look in my directory `/glade/scratch/heinzell/chgres_crash_c768_jim/`, you'll find the output files there.

[2020-02-21 21:50] climbfuji commented on #92
Update: the same setup crashes when using a standard node with 64GB memory (45GB usable). The large-memory nodes have 128GB of memory (109GB usable). See https://www2.cisl.ucar.edu/resources/computational-systems/cheyenne/running-jobs/submitting-jobs-pbs

[2020-02-21 21:58] jedwards4b commented on #92
I can confirm that running chgres on a large memory node works - but I also checked that it doesn't work on a regular memory node.  I'm looking in to how we can submit successfully without having to request large memory nodes (trying 18 tasks per node instead of 36)

[2020-02-21 22:33] jedwards4b commented on #92
This seems to be a non-scalable memory issue - increasing the number of nodes and decreasing the number of tasks per node does not appear to help.   Meanwhile I have confirmed that when running with nemsio data and the same configuration we don't have this issue.

[2020-02-21 22:34] climbfuji commented on #92
The bigmem nodes are usually available fairly quickly, especially if you choose the premium queue. Since the job runs only for two minutes or so, these additional expenses should be ok.

[2020-02-21 22:35] llpcarson commented on #92
A related issue - when the chgres task hung, and eventually timed out, the
forecast task was deleted, but the "post" task is still in the queue with a
Hold status.  Any way to also delete this job from the batch queue?

Laurie

On Fri, Feb 21, 2020 at 2:58 PM jedwards4b <notifications@github.com> wrote:

[2020-02-21 22:38] jedwards4b commented on #92
@llpcarson this seems to be system dependent some will delete the job right away, on others it hangs around for awhile, but this has not caused any problems otherwise.

@climbfuji We can do this for cheyenne but it seems like a potential problem for the community.

[2020-02-21 23:04] jedwards4b commented on #92
@climbfuji - even when I use high memory nodes if I use more than a single node chgres hangs.

[2020-02-21 23:07] climbfuji commented on #92
This is outside my territory, I hope the chgres developers can say more to this.

[2020-02-22 13:35] arunchawla-NOAA commented on #92
@GeorgeGayno-NOAA any idea why this is happening?

[2020-02-22 13:42] arunchawla-NOAA commented on #93
Phil what date are you trying to run? Is this out of the box Dorian case? Will you be able to stage the initial conditions created by CHGRES on Theia so @GeorgeGayno-NOAA can take a look?

@GeorgeGayno-NOAA according to  the ufs.log.txt file that Phil posted ice_wat and graupel are getting initialized with really large values

[2020-02-22 16:07] GeorgeGayno-NOAA commented on #93
Are these large values in the coldstart files from chgres?  Looking at ufs.log.txt, I see large values at the start of processing.   But farther down the log file, I see these fields appear to be reset to zero.

[2020-02-22 16:08] jedwards4b commented on #93
Regular expression do work in the regex field.  You can find a number of examples in config/cesm/machines.

[2020-02-22 16:14] GeorgeGayno-NOAA commented on #92
An error reading the grib2 file should not be related to the model resolution.  And it should not be a memory issue.  Was the grib2 file accidentally deleted?

[2020-02-22 16:40] arunchawla-NOAA commented on #88
I have updated this. Reaching out to code managers to review and make changes as they see fit

@junwang-noaa
@DusanJovic-NOAA
@pjpegion
@kgerheiser
@Hang-Lei-NOAA
@climbfuji

[2020-02-22 16:44] #79 closed

[2020-02-22 16:45] arunchawla-NOAA commented on #55
@ligiabernardet, @llpcarson and @rsdunlapiv . Has this been addressed? Can this be closed?

[2020-02-22 16:47] arunchawla-NOAA commented on #78
@rsdunlapiv and @jedwards4b can we close this now that we have tags? I know we are still addressing some issues in testing periods but the tags are there, right?

[2020-02-22 16:50] arunchawla-NOAA commented on #67
@climbfuji @pjpegion @mark-a-potts

Can you review this wiki

https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-Compilers

and let me know if we can close this ticket? Do we want to add names for Tier 3 / Tier 4 platforms or leave it out for now

[2020-02-22 16:51] #47 closed

[2020-02-22 18:30] ceceliadid commented on #67
Before closing please add information on what people are expected to do on configurable platforms. Is there a blessed user directory installation of nceplibs/nceplibs-external that they're supposed to use? Hopefully they're not expected to install libs themselves on Stampede2 and orion.

[2020-02-22 18:43] jedwards4b commented on #67
On all tier 1 and 2 systems support libraries should be installed and
integrated with cime.  Users don't really need to know the details of where
the are.

On Sat, Feb 22, 2020, 11:30 ceceliadid <notifications@github.com> wrote:

[2020-02-22 18:43] jedwards4b commented on #78
Yes

On Sat, Feb 22, 2020, 09:47 arun chawla <notifications@github.com> wrote:

[2020-02-22 18:58] arunchawla-NOAA commented on #67
Tier 1 yes, but Tier 2 the issue is we do not have a central place to put the libraries. But CIME testing is integrated and it should work right out of the box (with the exception of having to identify where the libraries are).

Nevertheless it will be worthwhile for some independent testers to try and install the libraries as well as CIME. We are already seeing that with the test teams and this c

[2020-02-22 21:24] ceceliadid commented on #67
Once again, we have UFS applications that are not going to be using CIME and need to use installations of nceplibs and nceplibs-external on Stampede2 and Orion. We need to be clear about what to do in that case.

[2020-02-22 21:47] jedwards4b commented on #67
At least on stampede the nceplibs (although in a user directory) should be
available for all to use.

On Sat, Feb 22, 2020 at 2:24 PM ceceliadid <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-22 22:06] ceceliadid opened #94 "All release materials need to be updated to reflect the updated definitions of support levels."
@llpcarson Noticing that the WM User's Guide is using the Tier 1 / Tier 2 terminology in some places (e.g. the compiling without an app section). This should be changed to the support levels on this page:
 https://github.com/ufs-community/ufs/wiki/Supported-Platforms-and-Compilers

[2020-02-22 22:07] arunchawla-NOAA commented on #67
Cecilia

The NCEPLIBS external and NCEPLIBS wiki have step by step installation instructions. The model build has instructions on what paths need to be set. Are we missing something ?

Sent from my iPhone

[2020-02-22 22:15] ceceliadid commented on #67
Thanks @jedwards4b I know that's what you said on a recent call but I think Linlin got confused when she was trying to run the WM GST on Stampede2 and didn't know if she needed to build the libraries. It may just be a documentation thing. So what the WM UG says is that:

"You can either manually set those environment variables in your shell, or if you are on one of the supported platforms (Tier 1)

[2020-02-22 22:25] ceceliadid commented on #67
@arunchawla-NOAA I don't think we want people especially GST folks to have to go through building nceplibs-external/nceplibs on Stampede2 and Orion if they don't have to. We should check that loading modules works as Jim and the WM UG says it will on these "configurable" platforms.

[2020-02-22 22:30] arunchawla-NOAA commented on #67
Orion is still an unstable platform. I would keep it at level 2, I. e. Libraries are not built and available. Technically the tier 1 platforms are Cheyenne and the NOAA RDHPCS machines

Sent from my iPhone

[2020-02-22 22:34] ceceliadid commented on #67
@arunchawla-NOAA I don't care as much about Orion right now but would like to get Stampede2 sorted out. That platform is level 2 by definition since its libs are not in a central location. But we still need to know what users are supposed to do on it. I would think once Orion is stable it can follow the precedent set by Stampede2 in terms of module loading.

[2020-02-22 22:39] arunchawla-NOAA commented on #67
Module loading would only be for tier 1 platforms. For now they can point to already existing libraries on stampede, right ?

Sent from my iPhone

[2020-02-22 22:40] jedwards4b commented on #67
@ceceliadid  I think that you need to make it clear that when using cime on stampede you don't need to load any modules or environment variables - they are defined in cimes config_machine.xml file for that platform.

[2020-02-22 22:45] jedwards4b commented on #92
@GeorgeGayno-NOAA:  no the file is fine, we confirmed this a number of times.   It's clearly a memory issue because if you run on a single high-memory node it works, but on a single standard memory node it does not and is killed by the systems memory monitor tool.   What confuses me is that when you run across multiple nodes  it does not work regardless of whether those nodes are high-memory or no

[2020-02-22 22:47] ceceliadid opened #95 "Doc issue reported by first student tester"
From the first GST response - this is in the WM UG:
"I encountered a problem when I directly copied and paste the following command, export CCPP_SUITES=’FV3_GFS_v15p2,FV3_GFS_v16beta’, in the page of Compiling the Code without an Application. I have to manually modify the quotation mark again to aviod the parsing error in python. I used the terminal application in Mac OS."

[2020-02-22 22:50] ceceliadid commented on #67
@jedwards4b I am trying to get instructions on how to access the nceplibs-external and nceplibs installations on Stampede2 for folks who are NOT using cime.

[2020-02-22 23:02] arunchawla-NOAA commented on #67
Cecelia

On stampede2 the libraries are located here

/work/01118/tg803972/stampede2/UFS/NCEP_LIBS_ALL.1.0.0.beta01

If you set the relevant paths in build script then they should work. This
is not a permanent location  but should work. You should check that
everything is there
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Roo

[2020-02-22 23:32] ceceliadid commented on #67
Thanks @arunchawla-NOAA  I think the WM UG needs to be a lot clearer about this than it currently is about where to find these libraries and how to set the path for the platform - I don't know how anyone would figure this out on their own for Stampede2. So far I haven't been editing the WM UG -  @llpcarson would you be the person taking care of this?

So basically the user needs to go through all

[2020-02-23 00:29] ceceliadid commented on #67
@arunchawla-NOAA I guess the question is if the libs are all at the top dir of the path, so you don't have to reference any subdirectories or anything, and do something like:
/work/01118/tg803972/stampede2/UFS/NCEP_LIBS_ALL.1.0.0.beta01/ESMF/

[2020-02-23 13:30] arunchawla-NOAA opened #96 "Review the module files for Public Release"
We need to do a review of the module files for the Public Release. These should reflect the work done with the builds. Should only the module files for supported platforms be there?

[2020-02-23 13:39] arunchawla-NOAA commented on #67
For the folks not using CIME environment variables have to be set in the
build. These variables do not assume any layout on where the libraries are
built and kept (that is useful to have as in some places they may not be in
a vertical layout). When the developers install libraries then a shell
script is created that they can then source to set the paths and run the
build. For preinstalled librarie

[2020-02-23 19:30] ceceliadid commented on #67
Thanks @arunchawla-NOAA
The question is whether below is correct for the build.sh on stampede2 when people are not using CIME.

export NEMSIO_INC=/work/01118/tg803972/stampede2/UFS/NCEP_LIBS_ALL.1.0.0.beta01

export NEMSIO_LIB=/work/01118/tg803972/stampede2/UFS/NCEP_LIBS_ALL.1.0.0.beta01/libnemsio.a

export BACIO_LIB4=/work/01118/tg803972/stampede2/UFS/NCEP_LIBS_ALL.1.0.0.beta01/libbacio.a

export

[2020-02-23 19:34] pjpegion commented on #93
@arunchawla-NOAA and @GeorgeGayno-NOAA
I believe I'm running to Dorian case.  I put the initial conditions on hera in /scratch2/BMC/gsienkf/Philip.Pegion/ufs-data/summit  I also put the ics I generated a coupled weeks ago from cheyenne in /scratch2/BMC/gsienkf/Philip.Pegion/ufs-data/cheyenne

I look a look at the gfs_data files, and they look fine to me.  I haven't looked at the sfc_* files yet.

[2020-02-23 20:10] pjpegion commented on #93
@jedwards4b what is the trick?  I am saying that when I put in regular expressions, I get an error.  I also cannot follow the logic in figuring out the NODENAME_REGX,  for example   cheyenne is listed as "<NODENAME_REGEX>.*.?cheyenne\d?.ucar.edu</NODENAME_REGEX>", but when I do a hostname, I only get cheyenne, and hostname -f gives me cheyenne4.ib0.cheyenne.ucar.edu. Conversely,  on my linux clust

[2020-02-23 20:59] jedwards4b commented on #93
Hostname -f is close to what is used.  The exact command is socket.getfqdn()

On cheyenne the login nodes are named login\d.cheyenne\d.ucar.edu but the
hostname command gives the ib network name which is different.  Name
matching is imperfect thus we also have a --machine option.

On Sun, Feb 23, 2020, 13:10 Phil Pegion <notifications@github.com> wrote:

[2020-02-23 21:46] pjpegion commented on #93
@jedwards4b thanks for the clarification.
@arunchawla-NOAA and @GeorgeGayno-NOAA I have the model running now.  It was because I was still trying to run nsst with the grib2 input.  This should be fixed when I get the latest version of CIME.

[2020-02-23 21:46] #93 closed

[2020-02-24 02:09] junwang-noaa commented on #96
I looked at the ufs-mrweather-app code and did not find where chgres or post are checked out, they are not in the Externals.cfg, also ufs-mrweather-app wiki does not have any information on that. So we only need to review the module files in the ufs-weather-model? I am curious if the CIME uses unified module files for ufs-weather-model, chgres and post, or load separate module  files for each one.

[2020-02-24 03:21] #78 closed

[2020-02-24 03:37] uturuncoglu commented on #96
We are not checking out nceplibs and those are provided as external module files. All the information is in Externals.cfg

[2020-02-24 03:44] rsdunlapiv commented on #96
@junwang-noaa yes on platforms like Hera and Cheyenne, a unified module file sets up the nceplibs environment variables, and those are used to determine the location of chgres and post executables.

[2020-02-24 03:50] junwang-noaa commented on #96
Rocky,

So where does CIME code check out chgres and ncep_post? I did not see them
in:

https://github.com/ufs-community/ufs-mrweather-app/blob/master/Externals.cfg

Is there any document on how the unified  module file is used by model,
chgres and post?

On Sun, Feb 23, 2020 at 10:44 PM Rocky Dunlap <notifications@github.com>
wrote:

[2020-02-24 03:55] rsdunlapiv commented on #96
@junwang-noaa CIME does not check out chgres and ncep_post - they are already installed.  Note the module loaded in the CIME config_machines.xml:

https://github.com/ESMCI/cime/blob/ufs_release_v1.0/config/ufs/machines/config_machines.xml#L299

It does:
[code]
You will see the chgres and ncep_post are built with the nceplibs in the location specified by the module.  Easiest thing is probably for y

[2020-02-24 04:14] junwang-noaa commented on #96
OK, I saw in CIME code, the nceplibs module ( https://github.com/ESMCI/cime/blob/ufs_release_v1.0/config/ufs/machines/config_machines.xml#L299 ) has following:

setenv NEMSIO_LIB   ${NCEPLIBS_DIR}/lib/libnemsio_v2.2.3.a
setenv BACIO_LIB4   ${NCEPLIBS_DIR}/lib/libbacio_v2.1.0_4.a
setenv SP_LIBd      ${NCEPLIBS_DIR}/lib/libsp_v2.0.2_d.a
setenv W3EMC_LIBd   ${NCEPLIBS_DIR}/lib/libw3emc_v2.2.0_d.a
set

[2020-02-24 04:21] rsdunlapiv commented on #96
@junwang-noaa for this release we are okay with these different versions - the build team did a lot of work to make sure that you can build the whole stack with a few commands, so everything is together in one place with a unified module.  Of course, this is different than the current practice on NOAA machines and for NCO.  Longer term, I suspect that we will want these to somehow converge as much

[2020-02-24 14:26] climbfuji commented on #67
Support levels are getting mixed up here, and this causes confusion. Per definition, level 2 support  = configurable platform means everything is tested and known to work, including the entire workflow.

**Users have to install NCEPLIBS (and if necessary also parts of NCEPLIBS-external) by themselves, unless the stubborn HPC admins agree to create a shared common, user-independent space and elevat

[2020-02-24 14:29] DusanJovic-NOAA commented on #88
I am not sure about other repositories but in ufs_weather_model and fv3atm we do not use Gitflow development process, we use Forking Workflow.

[2020-02-24 14:34] climbfuji commented on #67
No! On level 2 platforms users need to install the library by themselves. CIME will look for the relevant environment variables like for macOS. Nothing else.

[2020-02-24 14:42] arunchawla-NOAA commented on #67
I agree with Dom. Support level 2 was decided to be where people have to install their own set of libraries. This has been discussed let us not keep bringing this back.

Right now the level 1 platforms are Cheyenne, Gaea, Hera and Jet. This is where the final release tag libraries will be installed and there will be module files for them.

There is no bandwidth to do more given the timeline, so pl

[2020-02-24 14:44] Hang-Lei-NOAA commented on #88
Both gitflow and forking are not conflicting.
As the global_workflow, we use both. Repo management is based on gitflow.
developer management is based on forking workflow.

On Mon, Feb 24, 2020 at 9:29 AM Dusan Jovic <notifications@github.com>
wrote:

[2020-02-24 14:53] climbfuji commented on #67
Thanks, Arun. I can create the step-by-step instructions for stampede and orion, I have accounts on both systems. For stampede I'd need to know which modules were used until now (compiler version, MPI version, netCDF version). Thanks very much in advance!

[2020-02-24 14:55] arunchawla-NOAA commented on #88
Label is not important. Process is. Are we ok with the process as written ? Remember these are general guidelines the exact procedures are determined by the individual code managers.

Sent from my iPhone

[2020-02-24 14:55] jedwards4b commented on #67
Okay.    I guess I didn't have a clear understanding of what you meant by level 2.    I will update Stampede to expect users to set environment variables.   The currently used modules on stampede are here: https://github.com/ESMCI/cime/blob/ufs_release_v1.0/config/ufs/machines/config_machines.xml#L348

[2020-02-24 14:58] climbfuji commented on #67
Thanks Jim, I will use those with the upcoming beta03 tag of NCEPLIBS on stampede.

[2020-02-24 14:58] Hang-Lei-NOAA commented on #88
I am ok with this.

[2020-02-24 15:04] jedwards4b commented on #67
Users are now required to set the following environment variables on stamepede
before they can run cime:
DIN_LOC_ROOT - location of input data
NCEPLIBS_DIR - location of installed NCEPLIBS
ESMFMKFILE - location of esmf.mk

[2020-02-24 15:19] pjpegion commented on #88
@arunchawla-NOAA This description looks good to me.

[2020-02-24 15:30] climbfuji commented on #88
This reads good to me, too. Thanks for writing it up.

[2020-02-24 15:35] climbfuji opened #97 "CIME cannot overwrite existing bld dir"
[code]

[2020-02-24 15:36] jedwards4b commented on #96
If there is a newer install of NCEPLIBS module on hera we can update to the latest.

[2020-02-24 16:10] climbfuji opened #98 "CIME ignoring number of tasks in machine config & inconsistencies in what variables are used"
1. I created a "linux" machine config identical to "macos" (copy and paste):
[code]
The entries `MAX_TASKS_PER_NODE` and `MAX_MPITASKS_PER_NODE` are ignored, ufs.exe is launched with 108 MPI tasks and `layout=4,4` in `input.nml`. The same settings work on macOS and run ufs.exe with 8 MPI tasks and `layout=1,1` in `input.nml`. The same settings need to work for both machines - if something needs to

[2020-02-24 16:13] climbfuji commented on #98
Follow-up: it seems to me that having just one node and
[code]
should suffice to limit the number of tasks to 8 on the generic "linux" target.

[2020-02-24 16:22] climbfuji commented on #96
Update on this topic. I updated the module files for cheyenne + intel and gnu and for hera + intel, e.g.
[code]
On Hera, all tests in `rt.conf` pass against the existing baseline. On Cheyenne, they fail for both GNU and Intel for all tests. Looking at the results, all `dynf???.nc` and `phyf???.nc` are identical, only the files `RESTART/*.nc` are different. `ncdump` shows no difference of those. `h

[2020-02-24 16:37] llpcarson commented on #92
Jim - Just FYI, my "post" job is still in the queue on cheyenne in a "H"
state, after the chgres job timed out (and the dependent forecast job was
appropriately killed).  So, this second-level dependency doesn't seem to be
handled when the first job crashes (or hangs and is killed).

Laurie

On Fri, Feb 21, 2020 at 3:38 PM jedwards4b <notifications@github.com> wrote:

[2020-02-24 16:39] jedwards4b commented on #92
@llpcarson it's a cheyenne "feature" - it has no adverse affect on subsequent usage of the system.

[2020-02-24 17:09] climbfuji commented on #96
Currently the latest installed version is beta02 - as described in the various documents (Test plan, Supported platforms). beta03 will come later today or tomorrow.

[2020-02-24 17:16] ceceliadid commented on #67
@arunchawla-NOAA  @climbfuji @jedwards4b Wow, it was not my understanding at all that all the graduate students using the allocation we got on Stampede for the GST are going to have to install the libraries themselves, rather than using an installation of the libs that will work. Stampede2 was originally supposed to be a fully supported platform and when it wsa demoted I was assured users would st

[2020-02-24 17:20] ceceliadid commented on #67
@climbfuji I can still ask some GST folks to build the libs, I just don't want it to be the default for them.

[2020-02-24 17:21] climbfuji commented on #67
The GST as a temporary step is not the problem (for me at least). But the UFS release when it goes out the door on March 6 must require users to build the libraries by themselves on configured but not supported platforms.

[2020-02-24 17:40] ceceliadid commented on #67
This is the current definition of level 2 support:
Configurable platforms are platforms where all of the required libraries for building community releases of UFS models and applications are expected to install successfully, but are not available in a central place (it may be a user directory). Applications and models are expected to build and run once the required libraries are built or located.

[2020-02-24 17:53] jedwards4b commented on #67
@ceceliadid  how about if we document the environment variables that need to be set and provide suggested values for them (that should work) with some wording about these not being official install paths?  That way the user doesn't need to build these libraries or download the inputdata unless they choose to do so.

[2020-02-24 19:20] ligiabernardet commented on #75
Hello @uturuncoglu Can you please give us an update on the App User's Guide? Have you been able to make the changes you mentioned? We have a few other changes to make, and would like to do those on top of yours. Tks

[2020-02-24 19:24] ligiabernardet commented on #55
Yes. It has been addressed in the App User's Guide.

[2020-02-24 19:24] #55 closed

[2020-02-24 19:46] ligiabernardet commented on #19
@arunchawla has let us know that they have put together the parts that will go into the main documentation. Clean up will happen this week and then we will do a PR back to the NEMS repo. This documentation will live with the NEMS repo and all figures and old materials have been removed.

[2020-02-24 20:01] climbfuji commented on #98
I found the culprit: `src/model/FV3/cime/cime_config/config_pes.xml`
[code]
This information should not be hardcoded in there in my opinion. The CIME machine config in `config/ufs/machines/config_machines.xml` must be used to inform the decision on how many tasks are used for running the model, hence there must be a way to determine the maximum number of tasks available (from the values that are t

[2020-02-24 20:33] climbfuji commented on #97
Seems this was a one-off, sorry for that.

[2020-02-24 20:33] #97 closed

[2020-02-24 22:01] ceceliadid commented on #67
@jedwards4b That seems okay to me, but it seems like a more general policy question that others will have to answer.

I tried building the WM on Stampede2 without CIME with the paths that Arun provided (from a few comments back) and it bails out quickly with CMake Error at cmake/FindESMF.cmake:12 (file):
file STRINGS file
"/work/01118/tg803972/stampede2/UFS/NCEP_LIBS_ALL.1.0.0.beta01/esmf.mk" cann

[2020-02-24 22:05] jedwards4b commented on #67
@ceceliadid
ESMFMKFILE should be set to /work/01118/tg803972/stampede2/UFS/NCEPLIBS-external/build/install/lib64/esmf.mk

[2020-02-24 22:26] ceceliadid commented on #67
@jedwards4b Thanks but that still gives me:
ESMFMKFILE:   /work/01118/tg803972/stampede2/UFS/NCEPLIBS-external/build/install/lib64/esmf.mk
CMake Error at cmake/FindESMF.cmake:12 (file):
  file STRINGS file
  "/work/01118/tg803972/stampede2/UFS/NCEPLIBS-external/build/install/lib64/esmf.mk"
  cannot be read.

[2020-02-24 22:28] climbfuji commented on #98
The current framework doesn't allow us to implement this flexibility/conditional checking. An additional exception for the generic "linux" built target will be added to `src/model/FV3/cime/cime_config/config_pes.xml` so that the default is 8 as for macOS. The MRWeatherApp Users' Guide contains information for changing the number of MPI tasks and the processor layout.

[2020-02-24 22:28] #98 closed

[2020-02-24 22:34] climbfuji commented on #67
Same problem here. This is why I am insisting on project spaces and not user directories. Instructions for compiling the libraries on stampede will be available shortly, straightforward and quick.

[code]

[2020-02-24 22:41] uturuncoglu commented on #67
I am not sure way you can't access because Jim is not in my group and he could access. Anyway, you could also install externals also using following information.

[code]

[2020-02-24 22:44] jedwards4b commented on #67
@ceceliadid Sorry - those directories and files are world readable, I don't understand why you can 't read them.  But I guess we've validated Dom's viewpoint.

[2020-02-24 22:46] climbfuji commented on #67
What the sysadmins did on gaea a while ago is that they made the very top-level directories readable to the respective groups only. Nobody realized that. If that's not the case, maybe they put ACL restrictions on one of the directories in the path?

[2020-02-24 22:49] climbfuji commented on #67
See here for the PR containing the setup instructions for Stampede with Intel: https://github.com/NOAA-EMC/NCEPLIBS-external/pull/29

[2020-02-24 22:54] ceceliadid commented on #67
I can see all the dirs in work/01118/tg803972/stampede2 just not read into any of them. Anyway @climbfuji I guess I'm coming around to needing to build libs for now. Thanks for the instructions I'll give it a shot.

[2020-02-24 23:27] climbfuji commented on #67
Follow-up question: does this also affect the files in DIN_LOC_ROOT? On the generic platforms, the data is downloaded using the `./check_input_data --download` command in lack of a shared `DIN_LOC_ROOT` location.

[2020-02-24 23:59] jedwards4b commented on #67
I have no way of knowing - can you try and let me know?
DIN_LOC_ROOT=/work/01118/tg803972/stampede2/UFS/ufs_inputdata

On Mon, Feb 24, 2020 at 4:27 PM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-25 14:15] climbfuji commented on #67
[code]
so I fear we need to use the download script there as well ... or get it from HPSS / Niagara?

[2020-02-25 15:54] climbfuji commented on #67
Ok, so right now this is not working on orion, because it wants me to set DIN_LOC_ROOT. I assume the "transition" to using the download script is not complete (also, the hashes in manage externals have not been updated to include the generic linux pieces for the two cime repositories - sidenote).

[code]

[2020-02-25 15:57] jedwards4b commented on #67
@climbfuji DIN_LOC_ROOT is where the data is *OR* where the download will put the data if it isn't already there, there is no separate script.

[2020-02-25 16:03] climbfuji commented on #67
Sure, but I don't need to set this on macos or generic linux. I assume that all supported but not preconfigured platforms would be treated the same way? Only preconfigured platforms would have the data in a central location, predefined as DIN_LOC_ROOT?

[2020-02-25 16:09] jedwards4b commented on #67
The issue is that we have some inconsistency - on macos and linux we are defining
```<DIN_LOC_ROOT>$ENV{UFS_INPUT}/ufs-inputdata</DIN_LOC_ROOT>```

So we should probably define it the same way on stampede and Orian

[2020-02-25 16:15] climbfuji commented on #67
Yes, I think that would be great. Thanks for adjusting the stampede configuration so quickly yesterday. I am currently working on orion. Tomorrow I'll do gaea (down for maintenance today).

[2020-02-25 18:34] jedwards4b commented on #86
@arunchawla-NOAA You were going to provide an ncl script to verify the dorian test case.

[2020-02-25 21:15] ceceliadid commented on #67
@arunchawla-NOAA @jedwards4b @climbfuji I changed the text for level 2 support to this, which I think is more accurate:

Configurable platforms are platforms where all of the required libraries for building community releases of UFS models and applications are expected to install successfully, but are not available in a central place. Applications and models are expected to build and run once the

[2020-02-25 21:16] climbfuji commented on #67
This sounds good to me, thanks!

[2020-02-25 21:18] jedwards4b commented on #67
Looks good - cheyenne is built with intel/19.0.5 not 18.

On Tue, Feb 25, 2020 at 2:15 PM ceceliadid <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-25 21:28] ceceliadid commented on #67
Thanks, made that change and will close.

[2020-02-25 21:28] #67 closed

[2020-02-25 21:59] ceceliadid commented on #23
@ligiabernardet @llpcarson There are a number of issues that are still present in the WM UG. The focus here is on the pages about the build.

I don't think section 6.1 "Prerequisite libraries" makes sense under "Contributing Development." I think it should be moved into a section that includes 7, Compiling the Code without an Application.

It looks like section 6.1 and section 7 both need to be up

[2020-02-25 22:08] ceceliadid commented on #23
Sorry, one more thing - it looks like Section 5 should either be filled in or removed.

[2020-02-25 22:24] ceceliadid commented on #23
And the WM UG should be clear about which tag of NCEPLIBS and NCEPLIBS-external should be used with the v1.0.0 version of the WM.

[2020-02-25 22:25] climbfuji commented on #23
This will be version 1.0.0 of both - we will make this match.

[2020-02-25 23:01] JulieSchramm opened #101 "Error running case.setup on hera"
Following the instructions in the Quickstart chapter:

git clone -b ufs-v1.0.0.alpha02 https://github.com/ufs-community/ufs-mrweather-app.git \ my_ufs_sandbox
cd my_ufs_sandbox/
./manage_externals/checkout_externals
 cd cime/scripts/
./create_newcase --case /scratch1/BMC/gmtb/$USER/cases/ufs-mrweather-app-workflow.c96 -- \ compset GFSv15p2 --res C96 --workflow ufs-mrweather --project gmtb
cd /scra

[2020-02-26 00:06] arunchawla-NOAA commented on #101
@JulieSchramm do you have write access to /scratch1/NCEPDEV/nems ?

[2020-02-26 00:08] rsdunlapiv commented on #101
@JulieSchramm You should please edit cime/config/ufs/machines/config_machines.xml and change CIME_OUTPUT_ROOT under the "Hera" entry to point to a folder that exists and where you have write access.  Then please *re-create* the case and give it a try.

[2020-02-26 00:09] arunchawla-NOAA commented on #92
@jedwards4b @mark-a-potts can you check if we can use the grib2 fields to run a high resolution case on other platforms like Stampede or Hera ? @GeorgeGayno-NOAA does not have access to Cheyenne so we are a bit at odds as to why this is happening

[2020-02-26 00:09] rsdunlapiv commented on #101
@arunchawla-NOAA maybe there is a known scratch place on Hera that will work for ALL users?  If so, we could change the default.  Should it be under stmp?

[2020-02-26 00:09] #88 closed

[2020-02-26 00:11] arunchawla-NOAA commented on #87
We are closing this issue as no nsst option is running fine and we have not been able to reproduce this error in other platforms

[2020-02-26 00:11] #87 closed

[2020-02-26 00:13] arunchawla-NOAA commented on #86
we have sample ncl scripts for review. We want to check in other systems

[2020-02-26 00:16] arunchawla-NOAA commented on #101
stmp space should work, but we need some people to try. Since we have access it is hard to know what is working and what is not

[2020-02-26 00:20] rsdunlapiv commented on #101
@JulieSchramm can you please try setting it to stmp space?

[2020-02-26 00:23] jedwards4b commented on #92
Ufuk and I are looking at stampede, but I think that the issue may have something to do with the non-standard mpi library on cheyenne (mpt).  I plan to look into that when cheyenne is returned to service.

[2020-02-26 04:30] ligiabernardet commented on #23
@ceceliadid Your proposed updates are okay with me. I want to go ahead and remove Section 5; we may fill it for later releases. We would be glad to make the proposed updates, but since you offered, please go ahead and propose the changes. That chapter was written by @DusanJovic-NOAA, so he may want to review it as well. Or just let us know and we can make the changes.
Also, Laurie has setup a Goog

[2020-02-26 04:35] ligiabernardet commented on #17
Status update: The Google Doc has been translated to .rst by @valbonakunkel-noaa. I have added the files that enable the compilation with Sphinx (https://github.com/valbonakunkel-noaa/UFS_UTILS/pull/1). The resulting HTML is here: https://prototype-chgres-cube.readthedocs.io/en/latest/. Content still needs to be updated. @GeorgeGayno-NOAA Can you please take a look? Also, documentation needs to be

[2020-02-26 04:43] ligiabernardet commented on #50
@KateFriedman-NOAA Have you been able to discuss with Vijay and others at EMC about whether we can take down outdated VLab documentation listed in this [Google Doc]([url](https://docs.google.com/document/d/1hGhnoIMtAH5I0QeyAMNfH7RXL7zwiopjL3_Nh5cKFU8/edit#))?
@EricRogers-NOAA @ceceliadid Do you have any update on the possibility of updating some of the EMC pages? Or should we schedule this as a po

[2020-02-26 13:06] KateFriedman-NOAA commented on #50
@ligiabernardet Yes, I cleaned up the fv3gfs community pages on VLab and took the now-outdated documentation off the front pages. That info is now on pages for past releases.

Please see these pages now:

https://vlab.ncep.noaa.gov/web/fv3gfs/home
https://vlab.ncep.noaa.gov/group/fv3gfs

[2020-02-26 13:39] GeorgeGayno-NOAA commented on #92
I tested chgres on Hera using the head of 'develop' (I don't know how to compile the public release branch on Hera).  It worked for C768/L65 using both 0.25 and 0.5-degree grib2 data.  I used two nodes, six tasks per node.  If someone can compile the release branch for me, I can repeat my tests.

[2020-02-26 14:45] climbfuji commented on #92
@GeorgeGayno-NOAA the public release version of chgres is here:
[code]
These are the instructions to load/use:
[code]
Thanks for testing this!

[2020-02-26 15:31] JulieSchramm commented on #101
@rsdunlapiv If I set

<CIME_OUTPUT_ROOT>/scratch1/BMC/gmtb/$USER</CIME_OUTPUT_ROOT>

the case.setup step works.  From what I can tell on Hera, there is no common scratch or stmp space where all users have write permission.  The disk space seems to be divided up by projects.
With this mod,

./case.build works
./case.submit works

and the ufs-mrweather-app is running.

[2020-02-26 15:36] jedwards4b commented on #101
Are you saying that not all hera users have a directory
/scratch1/BMC/gmtb/$USER?
Is there a systemwide $SCRATCH definition set to a users scratch space?

If there is no common scratch space then I would set
<CIME_OUTPUT_ROOT>$ENV{SCRATCH}</CIME_OUTPUT_ROOT>
which will require each user to define $SCRATCH in thier environment.

On Wed, Feb 26, 2020 at 8:31 AM JulieSchramm <notifications@github.com

[2020-02-26 15:39] rsdunlapiv commented on #101
@jedwards4b is there any error checking in place in case $SCRATCH is not set?  Would the user get a message saying it needs to be set?

[2020-02-26 15:40] JulieSchramm commented on #101
@jedwards4b Yes, BMC is a larger group that I am in, then gmtb is the project/account that I have access to.  I am pretty sure there is no common $SCRATCH area on Hera.

@climbfuji Can you verify?

[2020-02-26 15:42] climbfuji commented on #101
scratch space on hera is on a user-and-project basis. Users get scratch space underneath the projects they are members of. You cannot assume that any directory you are specifying will work for all. What you can do is have the user set an environment variable that defines $SCRATCH and use this in the CIME config.

[2020-02-26 15:43] climbfuji commented on #101
Same on jet and gaea, by the way.

[2020-02-26 15:43] rsdunlapiv commented on #101
Makes sense, but just want to make sure that there is a nice error message if the user fails to do this.  It is something that is easy to miss.

[2020-02-26 15:44] climbfuji commented on #101
At least EMC and other NOAA users are used to this - we always need to set/correct the scratch directory and also the project name for the scheduler.

[2020-02-26 15:50] jedwards4b commented on #101
Yes - if any environment variable is expected but cannot be resolved you do
get a nice error message, for examples try running on the macos, linux, or
stampede systems.   Here is an example from stampede:

 ./create_newcase --case foo --compset GFSv15p2 --res C96
Compset longname is FCST_ufsatm%v15p2_SLND_SICE_SOCN_SROF_SGLC_SWAV
Compset specification file is
/home1/02503/edwardsj/ufs-mrweather-ap

[2020-02-26 15:54] JulieSchramm commented on #101
Yes, your error message is nicer.  Your variable was "undefined", mine was defined but erroneous :)

[2020-02-26 15:56] rsdunlapiv commented on #101
Okay, that is great.  In that case I really like the $SCRATCH option, and we need to add that to the quick start guide.

- Should it be $UFS_SCRATCH or just $SCRATCH?
- In the docs, how do we indicate for which platforms this setting is required?  E.g., it's not needed on Cheyenne because of the global scratch space, but will be needed on NOAA machines.

[2020-02-26 15:56] EricRogers-NOAA commented on #50
Will this one be updated?

https://vlab.ncep.noaa.gov/web/gfs/home

Eric

On 2/26/20 8:06 AM, Kate Friedman wrote:

[2020-02-26 15:58] rsdunlapiv commented on #50
@KateFriedman-NOAA and @ligiabernardet is the term "FV3GFS" still meaningful (from the links Kate sent?)  Or is it UFS Atmosphere?

[2020-02-26 15:59] climbfuji commented on #95
I will leave this to the documentation pros to fix.

[2020-02-26 16:12] GeorgeGayno-NOAA commented on #92
I was able to get your compiled public release chgres to run on Hera.  C768/L65 using both 0.25-a and 0.5-degree grib2 data.  Two nodes, six tasks per node.  Here is the script I used:  /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/chgres.grib2/run.public.rlease.ksh.  Here is the namelist I used: /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/chgres.grib2/config.C768.nml.

[2020-02-26 16:24] jedwards4b commented on #101
Since we called it UFS_SCRATCH on macos and linux definitions it makes
sense to do the same here.

On Wed, Feb 26, 2020 at 8:56 AM Rocky Dunlap <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-26 16:25] jedwards4b commented on #92
I think that this may be a cheyenne specific issue, perhaps we should table this until that system is back in service.

[2020-02-26 16:42] arunchawla-NOAA commented on #50
ufs weather model and ufs mrweather app

Let us stick to that
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone : 301-683-3740
Mobile : 240-564-5675
     Fax : 301-683-3703
----------------------------------------

[2020-02-26 16:58] JulieSchramm commented on #95
export CCPP_SUITES=’FV3_GFS_v15p2,FV3_GFS_v16beta’ works from the command line for

laramie/cheyenne bash
laramie/cheyenne csh (setenv CCPP_SUITES ’FV3_GFS_v15p2,FV3_GFS_v16beta’)
MacOS bash
Hera tcsh (setenv CCPP_SUITES ’FV3_GFS_v15p2,FV3_GFS_v16beta’)

Where is the python being used?

[2020-02-26 17:17] ceceliadid commented on #95
I don't know, I just asked her offline. It works fine as cut and paste for me.

[2020-02-26 17:49] ceceliadid commented on #23
@ligiabernardet Okay. I will put together a new section that includes both 6.1 and 7. I would suggest putting it right after section 2. If you think there's reason for it to go later, it could also be just before Contributing Development. I'll do it in a google doc , I would rather not do the PR.

[2020-02-26 18:37] KateFriedman-NOAA commented on #50
Forgot about the GFS page, I'll update it too.

Kate Friedman (formerly Howard)
NOAA/NWS/NCEP/EMC Engineering and Implementation Branch

On Wed, Feb 26, 2020 at 10:56 AM EricRogers-NOAA <notifications@github.com>
wrote:

[2020-02-26 19:59] ligiabernardet commented on #23
To me it seems better for the new section to go before "Contributing
Development".
Let me know how far you get and I can do the PR.
Ligia

On Wed, Feb 26, 2020 at 10:49 AM ceceliadid <notifications@github.com>
wrote:

[2020-02-26 20:07] arunchawla-NOAA commented on #19
@ligiabernardet and @llpcarson. NEMS documentation was cleaned up and a PR to the NEMS public release branch was made by @minsukji-NOAA. The link is here

https://noaa-emc.github.io/NEMS_doc/index.html

[2020-02-26 20:53] climbfuji opened #102 "Hardcoded values for MPI wrappers in CIME."
CIME hardcodes the MPI wrappers in `src/model/FV3/cime/cime_config/buildlib`:
[code]
These values must come from the definitions of MPICC, MPICXX, MPIF90 in config_machines.xml. I believe the choice of MPILIBS defines those and the machine config can overwrite it.

The default values for impi should also be corrected to mpiicc, mpiifort, mpiicpc.

See also discussion here: https://github.com/ESMCI

[2020-02-26 20:53] climbfuji commented on #102
This must be fixed asap, since porting to machines like gaea isn't possible.

[2020-02-26 21:10] climbfuji commented on #102
Looking further, I don't see any logic in the cime code that sets default values for the mpi wrappers based on the mpilibs chosen. Hardcoding mpi wrapper names as part of compiler definitions is insufficient. cray-intel wants cc, CC, ftn for the mpi wrappers, cheyenne wants mpicc, mpif90, mpicxx, and the standard for impi is mpiicc, mpiicpc, mpiifort (which we use on the NOAA platforms).

[2020-02-26 21:19] uturuncoglu commented on #102
Probably @jedwards4b will say more about it because he has more experience in the build system but the **COMPILER** variable could give a hint about the used compiler and based on the returned information the compilers can be changed.

[2020-02-26 21:22] climbfuji commented on #102
Ok, that could be a workaround. Define default values for the mpi wrappers for a compiler, and then allow the machine config to change it. Not ideal, because the default values should be MPI library dependent. But even this I can't get working. I added
[code]
to the gaea machine config, and when I print out the entire `os.environ` in buildlib, this doesn't show up.

[2020-02-26 21:30] jedwards4b commented on #102
Those should not be hard coded - give me a bit of time to fix it.

[2020-02-26 21:36] arunchawla-NOAA commented on #101
@JulieSchramm is this working now? Do you want to close this ticket?

[2020-02-26 21:51] climbfuji commented on #102
Thanks, greatly appreciated. I couldn't figure out in this short time how to pass the gaea env var to buildlib.

[2020-02-26 22:04] ceceliadid commented on #23
Okay, here it is:
https://docs.google.com/document/d/16nISxaAj_jnXTK2xu9HwOkV7E2N4-TXCMfeQIZuqLWk/edit?usp=sharing

I'd feel better if @kgerheiser or @mark-a-potts or @climbfuji or @DusanJovic-NOAA
could review it.

[2020-02-26 22:11] jedwards4b commented on #102
@climbfuji Please try with the jpe/fixcmake branch of https://github.com/ESCOMP/FV3GFS_interface

[2020-02-26 22:19] JulieSchramm commented on #101
So should a user on Hera set the UFS_SCRATCH variable?  If so, how? In the documentation, this variable is only briefly mentioned in an introductory paragraph in the quickstart section:

On some systems users may also need to set environment variables to identify model input and scratch directories - these are $UFS_INPUT and $UFS_SCRATCH.

[2020-02-26 22:27] jedwards4b commented on #101
UFS_SCRATCH should be set to a directory where the user has write permission and sufficient space to stage model output data.

[2020-02-26 22:30] climbfuji commented on #102
It's picking the right compilers now, but they are not in the path. I do have the following modules loaded - as far as I know at least:
[code]
From the build log:
[code]
So it knows NETCDF_DIR from loading NCEPlibs/1.0.0.beta03 which sets NETCDF. But somehow it doesn't know the path to cc. Will add `/opt/cray/pe/craype/2.5.5/bin` to the PATH env var in the gaea config and try again.

[2020-02-26 22:31] jedwards4b commented on #102
I just pushed a fix.

[2020-02-26 22:39] climbfuji commented on #102
Stripping of whitespaces helps, at least it got past the ccpp_prebuild.py step and is now compiling (or hanging indefinitely, cannot say).

[2020-02-26 22:46] climbfuji commented on #102
It built. I got a million of repeats of the following error messages:
[code]
Note that `no-prec-dif` is a typo, this should be `-no-prec-div`. However, `-no-prec-sqrt` seems to be correct, but for some reason it is still complaining. We should check if this is also the case on hera. Not sure what to do about the ifort warning.

[2020-02-26 22:49] climbfuji commented on #102
I think it is time to mirror the DIN_LOC_ROOT from one of the other preconfigured platforms and put the data in a shared location (I have one ready on gaea). Downloading anything to gaea is a pain, almost everything is blocked.

[2020-02-26 22:50] #101 closed

[2020-02-26 23:00] jedwards4b commented on #102
I have fixed the issue with -no-prec-div

[2020-02-26 23:09] climbfuji commented on #102
This is in the other cime repo, right?

[2020-02-26 23:10] jedwards4b commented on #102
I put the compiler and cmake fixes in the latest mrweather-app master.

On Wed, Feb 26, 2020 at 3:49 PM Dom Heinzeller <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-26 23:11] climbfuji commented on #102
Ok, thanks.

[2020-02-26 23:14] ceceliadid commented on #25
Hi @jwolff-ncar we have a first look at the Support tab, here:
http://ufs-dev.rap.ucar.edu/
That's the dev site for the Portal.

We'll go live with the Portal change next week when the release comes out. (The other changes on the page are still very much a work in progress.)

Do you think it's okay to close this ticket?

[2020-02-26 23:19] jedwards4b commented on #102
@climbfuji can we close this one?

[2020-02-26 23:20] climbfuji commented on #102
I will. There seem to be a few more issues to sort out, but not related to hardcoded MPI wrapper names. Thanks for your help!

[2020-02-26 23:20] #102 closed

[2020-02-26 23:22] jedwards4b commented on #85
@climbfuji my understanding is that this is fixed, can we close this one?

[2020-02-26 23:24] climbfuji commented on #85
Yes, this is all good!

[2020-02-26 23:24] #85 closed

[2020-02-27 10:24] arunchawla-NOAA commented on #96
@climbfuji @junwang-noaa @DusanJovic-NOAA the module files in the ufs-weather-model/modulefiles directory has been updated by Dom for Cheyenne, hera and gaea. Does jet also need to be updated? We should remove the ones referring to phase 1 and phase 2. What about the other ones? Do we only keep module files for the supported platforms?

[2020-02-27 10:28] arunchawla-NOAA commented on #34
@ceceliadid are the issues brought up here addressed? Can this ticket be closed now?

[2020-02-27 10:31] arunchawla-NOAA commented on #33
@ceceliadid what do we want to do with this issue? We do not have enough time for GST for weather app. We can review during documentation sprint if anything is needed

[2020-02-27 10:38] arunchawla-NOAA commented on #53
We have identified this as a gap in the to do document for the document code sprint

[2020-02-27 10:39] arunchawla-NOAA commented on #32
@ceceliadid did this get done? Can we close this issue?

[2020-02-27 10:41] arunchawla-NOAA commented on #25
@jwolff-ncar have the issues with subscribing to the portal been taken care of? And yes can this ticket be closed?

[2020-02-27 10:42] arunchawla-NOAA commented on #19
@ligiabernardet and @llpcarson with the first pass of NEMS documentation complete we will close this issue now. You should be able to link to that documentation

[2020-02-27 10:42] #19 closed

[2020-02-27 10:44] arunchawla-NOAA commented on #16
@rsdunlapiv and @jedwards4b where are we with this issue?

[2020-02-27 13:15] climbfuji commented on #96
If we want to be consistent, we remove the modulefiles and cmake/make configuration files for platforms that are not preconfigured or supported. BUT: we cannot have modulefiles for supported platforms that do not have alternative NCEPLIBS installations (e.g. production NCEPLIBS), because we do not have a central location for the libraries. These modulefiles and cmake/make config files are only use

[2020-02-27 14:15] ceceliadid commented on #34
@arunchawla-NOAA These probably shouldn't be closed until we have final tags that we can point to. There are inconsistent instructions now on the wikis because the tags are various betas. Do you know when we will get v1.0.0 final and latest_release tags?

[2020-02-27 14:15] ceceliadid commented on #34
@arunchawla-NOAA These probably shouldn't be closed until we have final tags that we can point to. There are inconsistent instructions now on the wikis because the tags are various betas. Do you know when we will get v1.0.0 final and latest_release tags?

[2020-02-27 14:17] ceceliadid commented on #33
@arunchawla-NOAA I'm going to do it today and we can look at it tomorrow. I wanted to get the WM and build squared away first and did.

[2020-02-27 14:21] ceceliadid commented on #32
@arunchawla-NOAA It can be closed. Not enough time to do anything but the minimum.

[2020-02-27 14:23] #32 closed

[2020-02-27 14:24] junwang-noaa commented on #96
Dom,

I thought we do have a central location for the libraries, at least on jet,
gaea, hera besides wcoss.

On Thu, Feb 27, 2020 at 8:15 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-02-27 15:00] ceceliadid commented on #68
@arunchawla-NOAA Is there a plan for when these latest_release tags would be going on the code and documentation?

[2020-02-27 15:03] ceceliadid commented on #53
@arunchawla-NOAA can we please leave this open? I don't think we should close these tickets until they're actually done.

[2020-02-27 15:06] ceceliadid opened #105 "Plan to put final tags on and make sure tags and links are correct in all documentation"
We need a plan to put the final tags on (v1.0.0 and latest_release) and review to make sure the NCEPLIBS, WM, and app documentation has the correct links throughout.

[2020-02-27 15:13] ceceliadid commented on #105
For example, currently I see the app UG pointing to all the "latest" versions of documentation, which needs to be changed.

[2020-02-27 15:30] climbfuji commented on #96
Yes, hera, jet, gaea, cheyenne have the nceplibs umbrella libraries in central locations. wcoss has the production libraries in central locations. stampede, orion and other suspects don't have. Shall we just update the jet modulefile and not worry about the rest for the moment?

When we do that, we should also change the submodule pointer for NEMS (documentation) and regtest on hera (cheyenne is d

[2020-02-27 16:01] jwolff-ncar commented on #25
Thanks @ceceliadid for adding the support tab and link to the forum. Looks good!

Just to be clear: there is no problem registering for the forum, which allows you to post/respond to questions on the forum. Everyone should do this! The subscription feature to "watch" a particular forum and receive an email message when something new is posted is what is not working as hoped. It functions in Drupal

[2020-02-27 16:07] ligiabernardet commented on #105
Yes, this is in my radar. But we need the final tags to be created first.
Need a status update of that.

On Thu, Feb 27, 2020 at 8:13 AM ceceliadid <notifications@github.com> wrote:

[2020-02-27 16:44] junwang-noaa commented on #96
Dom,

I think we just need to update the jet modulefile on jet. Do we still need
to make changes in NEMS if we are using cmake build (without using
NEMSAppBuild or NEMSCompsetRun)?

On Thu, Feb 27, 2020 at 10:34 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-02-27 16:59] ceceliadid opened #106 "Need a list of known bugs"

[2020-02-27 17:28] ligiabernardet opened #107 "Non-developers conduct usability tests"
It would be good to have non-developers exercise some common use-case scenarios to make sure a) it can be done; b) it can be done by those that are not the experts; c) the documentation is adequate. Some examples of common use cases are:

- All resolutions 
- Format: NEMSIO and GRIB2
- Source of GRIB2: dates in ftp bundle, dates from NOMADS, GRIB2 available somewhere else for period Jan2 018 to Fe

[2020-02-27 17:44] rsdunlapiv commented on #107
@ligiabernardet would it be possible to begin assigning these different configurations to any people who have been identified to help with testing - and list those assignments on the spreadsheet?

[2020-02-27 17:56] pjpegion commented on #107
@ligiabernardet and @rsdunlapiv I am working for a willing tester in my group to do these tests on hera. And I will reach out to some other people to divide the work.

[2020-02-27 17:56] ceceliadid commented on #95
This is what she said -

The build.sh would execute the following python code
./FV3/ccpp/framework/scripts/ccpp_prebuild.py
it uses this flag
--suites=${CCPP_SUITES}
I think in the python code it tends to parse the CCPP_SUITES for what suite to be compiled.
If the environment variable has the unrecognized punctuation, I guess python would encounter problem to read it.
That’s what I think.

Thanks,

[2020-02-27 18:14] pjpegion opened #108 "testing on hera"
I am following the workflow quickstart on hera and I am running into a problem building the model.

I created my case and ran case.setup with no problem, but when I run case.build here is the error:

Building case in directory /scratch2/BMC/gsienkf/Philip.Pegion/ufs-tests/ufs-mrweather-app-workflow.c96
sharedlib_only is False
model_only is False
Generating component namelists as part of build
Crea

[2020-02-27 18:17] pjpegion commented on #108
It seems to be a modules conflict. I did a module purge, and now it is building.

[2020-02-27 18:24] climbfuji commented on #108
We should add a module purge on hera, jet and cheyenne as first thing to do. Not on gaea, that doesn't work. But other people have reported the same issue.

[2020-02-27 18:47] ceceliadid opened #109 "Create area for release notes for app (and wm?)"
There should be an area, maybe on the wiki, for release notes, so people can see a summary of capabilities delivered and when the next release comes out, what capabilities were added. The known bugs/limitations listing could also be in this area.

[2020-02-27 18:55] ceceliadid opened #110 "Portal review for release"
The release team leads should probably take a look at how the release will be presented on the UFS Portal and make sure all relevant info is accurate and easy to find.

[2020-02-27 20:10] pjpegion commented on #108
I see on hera that CIME_OUTPUT_ROOT is set to scratch1/NCEPDEV/nems/$USER. How do I override this so the run going into a directory that I can write to?

[2020-02-28 18:41] pjpegion commented on #108
@rsdunlapiv I just tried to run the restart test (ERS_Lh11.C96.GFSv16beta) on hera and it failed with this error:

/bin/sh: /home/Rocky.Dunlap/bin/cprnc: Permission denied

[2020-02-28 18:44] climbfuji commented on #108
... no user directories anywhere on preconfigured platforms ...

[2020-02-28 19:06] pjpegion commented on #108
@climbfuji i suspect it was because I was running with yesterday's version of cime.  I am testing with today's update.

[2020-02-28 19:22] pjpegion commented on #108
@climbfuji now that I updated,  I have a new error.

[Philip.Pegion@hfe03 scripts]$ ./create_test ERS_Lh11.C96.GFSv16beta --workflow ufs-mrweather_wo_post --test-id try2 --project gsienkf
Testnames: ['ERS_Lh11.C96.GFSv16beta.hera_intel']
Creating test directory /scratch2/BMC/gsienkf/Philip.Pegion/ufs-tests2/ERS_Lh11.C96.GFSv16beta.hera_intel.try2
RUNNING TESTS:
  ERS_Lh11.C96.GFSv16beta.hera_intel

[2020-02-28 19:35] rsdunlapiv commented on #108
@WesCoomber can you please help?

[2020-02-28 19:36] rsdunlapiv commented on #108
@pjpegion "cprnc" is the tool used by CIME to compare netcdf files during testing.  If the tool location is not listed, it should be built automatically.  That build is what failed, so hopefully @WesCoomber or @jedwards4b  can look at the build failure.

[2020-02-28 19:38] WesCoomber commented on #108
@rsdunlapiv I got your notification and I will take a look.

[2020-02-28 19:39] jgfouca commented on #108
@rsdunlapiv , can you go to your case directory and do the following:
[code]

[2020-02-28 19:39] rsdunlapiv commented on #108
That would be @pjpegion.

[2020-02-28 19:40] jedwards4b commented on #108
this is fixed in the head of cime - update to hash 8ec13598

[2020-02-28 19:41] jgfouca commented on #108
@rsdunlapiv , ah sorry. Retry the latest cime as JimE suggested. If that doesn't work, follow the instructions I gave and report back to us.

[2020-02-28 19:42] jedwards4b commented on #108
@jgfouca the problem was that the CIME_MODEL=ufs didn't build any shared libraries so it didn't build cprnc - i've changed the logic in build.py a little to fix this.

[2020-02-28 19:47] jgfouca commented on #108
@jedwards4b , thanks

[2020-02-28 19:48] pjpegion commented on #108
@jedwards4b thanks,  testing again.

[2020-02-28 19:52] WesCoomber commented on #108
@jedwards4b thank you--much appreciated.

[2020-02-28 19:52] pjpegion commented on #108
@jedwards4b same problem.  and I confirmed I got your fix:
[Philip.Pegion@hfe03 cime]$ git log
commit 8ec13598100ff6dcd8ab4e26664e3f2c80b4381f (HEAD, origin/ufs_release_v1.0)
Author: Jim Edwards <jedwards@ucar.edu>
Date:   Fri Feb 28 09:34:04 2020 -0700

    build cprnc if needed

[2020-02-28 19:56] jedwards4b commented on #108
@pjpegion  Is the error you are getting:
[code]
Is there a libnetcdff.a or libnetcdff.so in $NETCDF/lib?

[2020-02-28 19:58] pjpegion commented on #108
@jedwards4b
At the command line yes.  I have not tried to load the modules by hand that are in config_machines.xml yet

Philip.Pegion@hfe03 cime]$ ls $NETCDF/lib
libh5bzip2.la  libnetcdf.a	 libnetcdf_c++4.la  libnetcdf_c++4.so.1      libnetcdff.a   libnetcdff.so    libnetcdff.so.6.2.1  libnetcdf.settings  libnetcdf.so.15	   pkgconfig
libh5bzip2.so  libnetcdf_c++4.a  libnetcdf_c++4.so  libnetcdf_c+

[2020-02-28 20:02] jedwards4b commented on #108
@pjpegion here is a trick - from the case directory do
source .env_mach_specific.sh   (or .env_mach_specific.csh  if you use csh or tcsh)
then try ls $NETCDF/lib again.

[2020-02-28 20:05] pjpegion commented on #108
@jedwards4b that seems ok:

[Philip.Pegion@hfe03 ERS_Lh11.C96.GFSv16beta.hera_intel.try2]$ source .env_mach_specific.csh
[Philip.Pegion@hfe03 ERS_Lh11.C96.GFSv16beta.hera_intel.try2]$ echo $NETCDF
/apps/netcdf/4.7.0/intel/18.0.5.274
[Philip.Pegion@hfe03 ERS_Lh11.C96.GFSv16beta.hera_intel.try2]$ ls $NETCDF/lib
libh5bzip2.la  libnetcdf.a	 libnetcdf_c++4.la  libnetcdf_c++4.so.1      libnetcdff.a   li

[2020-02-28 20:08] jedwards4b commented on #108
How about
[code]

[2020-02-28 20:10] pjpegion commented on #108
[Philip.Pegion@hfe03 ERS_Lh11.C96.GFSv16beta.hera_intel.try2]$ which nf-config
/apps/netcdf/4.7.0/intel/18.0.5.274/bin/nf-config

[2020-02-28 20:11] jedwards4b commented on #108
That all seems right, please attach the cprnc.bldlog file

[2020-02-28 20:18] pjpegion commented on #108
[cprnc.bldlog.200228-194921.txt](https://github.com/ufs-community/ufs-mrweather-app/files/4268964/cprnc.bldlog.200228-194921.txt)

[2020-02-28 20:21] jedwards4b commented on #108
Are you trying to rebuild the same case?  It could just be a cmake cache issue, remove the bld directory and try again.

[2020-02-28 20:25] jedwards4b commented on #108
@pjpegion I think I see the problem, it should be using intel compiler, but its finding gnu

[2020-02-28 20:26] pjpegion commented on #108
same problem.

[2020-02-28 20:29] pjpegion commented on #108
@jedwards4b  I am completely starting over by cloning the entire repo in a different directory and will go through the creat_test steps again.

[2020-02-28 20:33] jedwards4b commented on #108
@pjpegion can you post the file bld/intel/cprnc/Macros.cmake

[2020-02-28 20:40] pjpegion commented on #108
[cprnc.bldlog.200228-194921.txt](https://github.com/ufs-community/ufs-mrweather-app/files/4269007/cprnc.bldlog.200228-194921.txt)

[2020-02-28 20:49] pjpegion commented on #108
@jedwards4b just realized
[Macros.cmake.txt](https://github.com/ufs-community/ufs-mrweather-app/files/4269043/Macros.cmake.txt)
 I attached wrong file

[2020-02-28 21:08] jedwards4b commented on #108
@pjpegion Okay, I think I've found the problem.  Please put this file in
cime/tools/cprnc/CMakelists.txt
and then try again.
[CMakeLists.txt](https://github.com/ufs-community/ufs-mrweather-app/files/4269101/CMakeLists.txt)

[2020-02-28 21:14] pjpegion commented on #108
Still give same error.  I'm heading out for the weekend. I will continue
testing on Monday.
Phil

On Fri, Feb 28, 2020 at 2:08 PM jedwards4b <notifications@github.com> wrote:

--
Philip Pegion
NOAA/ESRL/PSD-CIRES
(303) 497-7897
philip.pegion@noaa.gov

[2020-02-28 21:15] jedwards4b commented on #108
okay - have a nice weekend

[2020-02-28 21:35] jedwards4b opened #113 "hera build of cprnc not working"
https://github.com/ESMCI/cime/issues/3425

[2020-02-28 21:48] jedwards4b commented on #108
continues here:
https://github.com/ufs-community/ufs-mrweather-app/issues/113

[2020-03-01 03:03] ceceliadid commented on #86
@jedwards4b Which directories/files do you need to get from https://ftp.emc.ncep.noaa.gov/EIB/UFS/
as input files for the Dorian case?

[2020-03-01 13:36] jedwards4b commented on #86
@ceceliadid just this one:  https://ftp.emc.ncep.noaa.gov/EIB/UFS/inputdata/201908/20190829/gfs_4_20190829_0000_000.grb2

If you want the complete list of fix files that's a lot more complicated to provide.

[2020-03-01 16:36] ceceliadid commented on #86
@jedwards4b Great, thanks. Yup, I need the fix files too to set up the dorian example on Stampede. It would be really nice for the non-pre-configured platforms to have another tarball in the ftp directory like the simple-test-case. Are you using the same fix files that are in that simple-test-case directory? Or pulling them out of global/fix?

[2020-03-01 18:50] jedwards4b commented on #86
I'm not sure that I understand - if a user defines the required environment
variables and sets up a case the required files will be downloaded to the
platform- why would you want a tarball?

On Sun, Mar 1, 2020 at 9:36 AM ceceliadid <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-01 19:29] jedwards4b commented on #113
I think that I have a fix for this but need a tester with access to hera.

[2020-03-01 20:05] ceceliadid commented on #86
Okay, so if I'm on Stampede, CIME will go and get the fix files it needs from the EMC ftp site.  I didn't understand that. During what CIME step (e.g. setup, build) are the .input_data_list files supposed to be created, and when is check_input_data called (assuming that's what gets the files)?  Going into ./case.build the Buildconf directory has nothing in it for me - does that suggest an error?

[2020-03-01 20:22] jedwards4b commented on #86
So good point - the files you need are listed in
Buildconf/ufsatm.input_data_list

check_input_data is called by case.submit
you can also call it by hand if you wish: ./check_input_data --download

On Sun, Mar 1, 2020 at 1:05 PM ceceliadid <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-01 22:04] ceceliadid commented on #86
On Stampede should I be setting the --machine argument for create_newcase to linux? It looks like that's what the instructions say to do. But I get ERROR: No machine linux found

[2020-03-01 22:23] ceceliadid commented on #86
Nevermind, I realized I probably have to go to the conf_machines.xml file and deal with porting CIME to a new machine to get the example to work on Stampede.

The documentation in 5.2 should probably say set machine to "centos7-linux" instead of linux if that's going to be the name of the more generic linux platform.

I see that there is a stampede2-skx entry in conf_machines.xml, with lots of har

[2020-03-01 23:05] jedwards4b commented on #86
NO you don't need the --machine argument on stampede - the code is already
ported.
All you should need is to set UFS_INPUT and UFS_SCRATCH and to source the
script in NCEPlibs

On Sun, Mar 1, 2020 at 3:23 PM ceceliadid <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-02 06:27] ceceliadid commented on #86
@jedwards4b @climbfuji That doesn't work, I think because of the same permissions issue we ran into before. It looks like the case.setup goes to the config_machines.xml file with all the hardcoded paths in it. It is setting locations like DIN_LOC_ROOT following the values in the Stampede section, so DIN_LOC_ROOT is set to: /work/01118/tg803972/stampede2/UFS/ufs_inputdata

That's the same UFS direc

[2020-03-02 13:19] jedwards4b commented on #86
Do you have the latest ufs-mrweather-app ?   How are you setting
UFS_SCRATCH and UFS_INPUT?
cime should be in hash 035f22da1, as you can see here
<https://github.com/ESMCI/cime/blob/ufs_release_v1.0/config/ufs/machines/config_machines.xml#L340>,
cime should look wherever you've set UFS_INPUT for input data.

On Sun, Mar 1, 2020 at 11:27 PM ceceliadid <notifications@github.com> wrote:

--
Jim Edwar

[2020-03-02 14:43] ceceliadid commented on #86
Thank you for answering so many questions over the weekend!
I'm using the command in the quick start:
git clone -b ufs-v1.0.0.alpha02 https://github.com/ufs-community/ufs-mrweather-app.git my_ufs_sandbox

I guess I should be leaving off the tag?
git clone https://github.com/ufs-community/ufs-mrweather-app.git my_ufs_sandbox

For UFS_SCRATCH and UFS_INPUT I exported them as in the quickstart.

[2020-03-02 14:54] jedwards4b commented on #86
Yes leave off the tag.

On Mon, Mar 2, 2020 at 7:43 AM ceceliadid <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-02 15:48] ceceliadid opened #115 "old app tag being tested if using app quick start as a testing guide"
Hi @ligiabernardet  and @llpcarson , I found when I was using the quick start that the git clone command that it starts with points you to an old tag of the app:git clone -b ufs-v1.0.0.alpha02 https://github.com/ufs-community/ufs-mrweather-app.git my_ufs_sandbox

That meant I was missing pretty major recent changes that prevented me from building on Stampede. To get the latest app code the quick s

[2020-03-02 16:02] ligiabernardet commented on #115
Thanks for pointing this out. I have updated the MRW App UG to change the cloning instruction accordingly.

[2020-03-02 16:15] ligiabernardet opened #117 "Various wrt chgres_cube documentation"
@arunchawla-NOAA @GeorgeGayno-NOAA @valbonakunkel-noaa @llpcarson

a) Throughout the documentation text, we are sometime referring to "chgres" and sometimes to "chgres_cube". I would like to standardize this. Should we always use chgres_cube?

b) The ReadTheDocs project that will be used to display the chgres_cube documentation is connected to repository https://github.com/NOAA-EMC/UFS_UTILS. Do y

[2020-03-02 16:27] jedwards4b commented on #86
On cheyenne - I ran test SMS_Ld2.C96.GFSv15p2.cheyenne_intel --workflow ufs-mrweather
and plotted the 48 hour results for comparison against ftp.emc.ncep.noaa.gov/EIB/UFS/visualization_example/Dorian_C96_noNSST

I think that the ncl script needs more documentation -
I needed to make a subdirectory plots and run with

edit the script and set MaxLen=17
[code]

[2020-03-02 16:29] ceceliadid commented on #86
I can build now on Stampede.  I was just about to put in the 48 hour run.
I would like to test the plotting script once you have it.

[2020-03-02 16:29] ligiabernardet commented on #86
We are working on the documentation here at DTC. Coming soon.

On Mon, Mar 2, 2020 at 9:27 AM jedwards4b <notifications@github.com> wrote:

[2020-03-02 16:30] jedwards4b commented on #113
@pjpegion Are you available to try this again?

[2020-03-02 16:30] ligiabernardet commented on #86
The script is available in the ftp site and I am sure you can successfully
run it. But we will add a bit more documentation to it to reduce struggles.

On Mon, Mar 2, 2020 at 9:29 AM ceceliadid <notifications@github.com> wrote:

[2020-03-02 16:37] ceceliadid commented on #115
Thank you! I see the change and will close this.

[2020-03-02 16:37] #115 closed

[2020-03-02 16:59] pjpegion commented on #113
@jedwards4b I cloned a new instance of ufs-mrweather-app pointed Externals.cfg to your branch (hash e156445) of your fork of cime (https://github.com/jedwards4b/cime.git), ran ./manage_externals/checkout_externals.  And when I run create_test, I still get the same error.
I also was careful to delete my old test directories.

[2020-03-02 17:00] llpcarson commented on #115
Cecelia - this was actually updated a week or more ago ---- but it requires
the user (me and you!) to refresh our browser cache to see it, an
unfortunate gotcha!  Each chapter is a new browser page, needs to be
refreshed individually.

On Mon, Mar 2, 2020 at 9:37 AM ceceliadid <notifications@github.com> wrote:

[2020-03-02 17:19] ceceliadid commented on #115
Interesting, though I don't think that has been my experience. On the call Friday I'm pretty sure I was seeing changes as they were being made and I saw a change this morning without refreshing my browser cache. Probably worth some more experimentation...

[2020-03-02 17:23] arunchawla-NOAA commented on #117
Ligia

We will be adding additional documentation for the other tools in time.

[2020-03-02 17:25] llpcarson commented on #115
It doesn't seem consistent, but I was looking at the HTML and the
.rst files this morning --- and thought there must be a readthedocs-build
error, but no, so not quite sure.  Refresh seems to clear up the issue,
though.

On Mon, Mar 2, 2020 at 10:19 AM ceceliadid <notifications@github.com> wrote:

[2020-03-02 17:25] arunchawla-NOAA commented on #117
chgres_cube is used to distinguish from original chgres and denotes it working with the FV3 code. @GeorgeGayno-NOAA do you want to refer to it by this name for life?

[2020-03-02 17:34] jedwards4b commented on #113
@pjpegion sorry - try the latest ufs-mrweather-app

[2020-03-02 17:40] GeorgeGayno-NOAA commented on #117
On Friday, I thought I updated the google doc to only use 'chgres_cube'.

For now, I would use 'chgres_cube'.  That is consistent with the directory and executable names.  I admit it is not a great name.  We should probably come up with something better for the next public release.

[2020-03-02 17:44] llpcarson commented on #115
I think the readthedocs is not triggering a new build on commits... I just
pushed an update to documentation and no new readthedocs build.  That's why
I cloned the updated repo, but the pages were still old (so I thought they
were cached)?

On Mon, Mar 2, 2020 at 10:24 AM Laurie Carson <carson@ucar.edu> wrote:

[2020-03-02 17:49] pjpegion commented on #113
Same error, but I now see this in the CMakeError.log file:

The Fortran compiler identification could not be found in "/scratch2/BMC/gsienkf/Philip.Pegion/ufs-test5/ERS_Lh11.C96.GFSv16beta.hera_intel.try5/bld/intel/cprnc/CMakeFiles/3.16.3/CompilerIdFortran/CMakeFortranCompilerId.optrpt" and I have attached that file.
[CMakeFortranCompilerId.optrpt.txt](https://github.com/ufs-community/ufs-mrweathe

[2020-03-02 17:55] ligiabernardet commented on #115
There was a problem with the MRW App GitHub notifications to RTD that I
introduced yesterday when re-creating the RTD project to comply with our
newly decided name for the RTD project. This should be fixed now.

On Mon, Mar 2, 2020 at 10:44 AM Laurie Carson <notifications@github.com>
wrote:

[2020-03-02 17:56] jedwards4b commented on #113
@pjpegion @rsdunlapiv  just tried this and it worked fine - are you sure you are up to date?
cime hash is 035f22da1

please attach the cprnc.bldlog

[2020-03-02 18:14] pjpegion commented on #113
I am using:
commit 035f22da16016afcde3c1c2af8e95800606b93d7 (HEAD, origin/ufs_release_v1.0)
Author: Jim Edwards <jedwards@ucar.edu>
Date:   Sun Mar 1 14:20:42 2020 -0700

    make paths consistant, remove cprnc and log is attached.  I do see this error in there:
-- Configuring incomplete, errors occurred!
[cprnc.bldlog.200302-174535.txt](https://github.com/ufs-community/ufs-mrweather-app/files/427

[2020-03-02 18:33] jedwards4b commented on #113
Please try once more with cime hash 6c4b7875a

[2020-03-02 18:50] pjpegion commented on #113
same error,  I'm using commit 6c4b7875a79ba0ec24d0f7255271ebc6f309051f

CMakeError.log :  The Fortran compiler identification could not be found in "/scratch2/BMC/gsienkf/Philip.Pegion/ufs-test5/ERS_Lh11.C96.GFSv16beta.hera_intel.try5/bld/intel/cprnc/CMakeFiles/3.16.3/CompilerIdFortran/CMakeFortranCompilerId.optrpt"

I have attached the cmake output log, and a snapshot of my environment.
[CMakeOut

[2020-03-02 19:40] ligiabernardet commented on #117
@GeorgeGayno-NOAA You said "I would use 'chgres_cube'." I noticed that in the documentation you have in GitHub the program is referred to as CHGRES_CUBE. Elsewhere, .g., in the MR Weather App documentation, it is in lower case (chgres_cube). I would like to standardize this. Is it okay if we use lower case throughout the documentation?
I created a PR to the UFS_UTILS repo (https://github.com/NOAA-

[2020-03-02 20:13] GeorgeGayno-NOAA commented on #117
Lower case is fine.

[2020-03-02 20:22] pjpegion commented on #113
@rsdunlapiv I'm curious about your environment and node you compiled on.

[2020-03-02 20:27] rsdunlapiv commented on #113
@pjpegion - @jedwards4b and I just resolved the issue on Hera and the ufs-mrweather-app was updated.  (It turns out I was using the CIME master branch before, which I should not have been.)  The cprnc build issue should now be resolved with fresh checkout of the app.

[2020-03-02 20:28] llpcarson commented on #113
Good to hear, I was just going to add my notes - I was able to build and run on hera, using the ufs_release_v1.0 of CIME.

[2020-03-02 20:31] pjpegion commented on #113
@rsdunlapiv trying to get the latest to test, but github keeps on timing out. I will try again soon.

[2020-03-02 20:47] pjpegion commented on #113
@jedwards4b and @rsdunlapiv working now.  Thank you for all your help.

[2020-03-02 20:47] #113 closed

[2020-03-02 22:19] ligiabernardet commented on #117
The chgres_cube documentations is now available in ReadTheDocs at https://ufs-utils.readthedocs.io/en/latest/.
@GeorgeGayno-NOAA Please go to the UFS_UTILS repo -> settings -> and add this webhook: https://readthedocs.org/api/v2/webhook/ufs-utils/113718/
After this is done, we should expect to see auto-updates.
I will submit a follow up PR to change chgrs_cube to lower case. We now can all review

[2020-03-03 13:44] GeorgeGayno-NOAA commented on #117
Just added the webhook.

[2020-03-03 17:26] ligiabernardet commented on #117
Final User's Guide is now available at https://ufs-utils.readthedocs.io/en/latest/.

[2020-03-03 17:26] #117 closed

[2020-03-03 17:27] ligiabernardet commented on #95
Since none of us could reproduce this error, I am not sure how to fix it.

[2020-03-04 01:12] arunchawla-NOAA commented on #108
I am closing this as the ticket was continued in #113 and that has been closed and resolved

[2020-03-04 01:12] #108 closed

[2020-03-04 01:14] arunchawla-NOAA commented on #66
Sample plots are on ftp site. They will be our port validation. Closing ticket

[2020-03-04 01:14] #66 closed

[2020-03-04 01:15] arunchawla-NOAA commented on #17
documentation complete

[2020-03-04 01:15] #17 closed

[2020-03-04 01:15] arunchawla-NOAA commented on #18
documentation complete

[2020-03-04 01:15] #18 closed

[2020-03-04 01:17] #25 closed

[2020-03-04 01:19] arunchawla-NOAA commented on #50
@KateFriedman-NOAA @EricRogers-NOAA @ceceliadid @ligiabernardet

Are we done with this scrub?

[2020-03-04 01:22] arunchawla-NOAA commented on #92
@jedwards4b Did we try this again on Cheyenne now that it is back? Otherwise can we mark it as a known issue and close this ticket?

[2020-03-04 01:25] arunchawla-NOAA commented on #86
@jedwards4b this issue seems to have morphed into a testing status update mechanism. Since the original issue has been resolved suggest closing this issue

[2020-03-04 01:27] arunchawla-NOAA commented on #16
@rsdunlapiv and @jedwards4b can we close this issue?

[2020-03-04 01:35] jedwards4b commented on #92
Yes, I think that's what we need to do.

On Tue, Mar 3, 2020 at 6:22 PM arun chawla <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-03-04 01:36] jedwards4b commented on #86
Yes I ran on cheyenne and was able to reproduce the plots from the ftp site

[2020-03-04 01:36] #86 closed

[2020-03-04 01:39] arunchawla-NOAA commented on #109
who is taking this on? @ceceliadid @mvertens @lbnance @rsdunlapiv ?

[2020-03-04 01:49] arunchawla-NOAA commented on #110
@ceceliadid the timeline for the release on the portal still states Feb 28th. It is now March 11th.

[2020-03-04 02:18] ceceliadid commented on #110
Yes - I will get it updated.

[2020-03-04 02:25] ceceliadid commented on #110
Here is the dev portal site where we are making changes for the release - new highlights, link to support, new section for getting involved, other parts of the site like the FAQ updated. Still changing pretty rapidly, people are working on it this week. This would go live the day of the release:
http://ufs-dev.rap.ucar.edu/

[2020-03-04 03:40] ceceliadid commented on #109
I created a page here: https://github.com/ufs-community/ufs-mrweather-app/wiki/All-Releases:-Release-Notes-and-Known-Bugs
Probably need a call to fill in the known bugs.

[2020-03-04 13:16] KateFriedman-NOAA commented on #50
I cleaned the VLab pages for FV3GFS and GFS to remove (or relabel) out-dated info.

[2020-03-04 13:41] arunchawla-NOAA commented on #50
@ceceliadid and @ligiabernardet can you confirm this is completed to satisfaction and there are no left over stragglers ? If all is good can you then close this issue?

[2020-03-04 13:45] arunchawla-NOAA commented on #22
@ligiabernardet  Since CCPP is marked complete and tagged. Can we close this?

[2020-03-04 15:04] ceceliadid commented on #50
There are a few pages I want to take down today and then I will close.

[2020-03-04 15:07] ceceliadid opened #123 "Update release description for latest changes"
@arunchawla-NOAA @ligiabernardet @rsdunlapiv @lbnance

I think there have been some changes that need to get updated in the release description, for the physics suites available and output formats.

My understanding is that there will be 4 supported physics and no lat-lon outputs.

Could you please make those changes in the release description and review the final overall:
https://docs.google.com/

[2020-03-04 15:43] ligiabernardet commented on #22
We cannot close this.
CCPP Tch Doc still needs minor updates.
FYI It is a separate repo called ccpp-doc (not ccpp-physics or
ccpp-framework). This separate repo is not part of the Weather Model, so it
will not slow down the tag creation.

On Wed, Mar 4, 2020 at 6:45 AM arun chawla <notifications@github.com> wrote:

[2020-03-04 16:06] ligiabernardet commented on #123
I cannot edit this document. Can others open it?

On Wed, Mar 4, 2020 at 8:07 AM ceceliadid <notifications@github.com> wrote:

[2020-03-04 16:11] JulieSchramm commented on #123
I cannot open this file.

On Wed, Mar 4, 2020 at 9:06 AM ligiabernardet <notifications@github.com>
wrote: